examples/eb24c92ce5621760/flows.json
[
    {
        "id": "eb24c92ce5621760",
        "type": "tab",
        "label": "[catch] catch all in group except those handler elsewhere",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ea70f167d125afc",
        "type": "group",
        "z": "eb24c92ce5621760",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a703aaba38a383b9",
            "3bf38b22cdb0fa95",
            "98023732b523561f",
            "e846b7ff5f8f635f",
            "b4a34cf82fc8630d",
            "0fb3435653486c14"
        ],
        "x": 347.85716247558594,
        "y": 426.8214364051819,
        "w": 956.1428375244141,
        "h": 271.46425199508667
    },
    {
        "id": "a703aaba38a383b9",
        "type": "function",
        "z": "eb24c92ce5621760",
        "g": "5ea70f167d125afc",
        "name": "function 22",
        "func": "node.wrnd(\"dd\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 952.4285736083984,
        "y": 657.2856884002686,
        "wires": [
            []
        ]
    },
    {
        "id": "3bf38b22cdb0fa95",
        "type": "inject",
        "z": "eb24c92ce5621760",
        "g": "5ea70f167d125afc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 545.2857666015625,
        "y": 657.2856884002686,
        "wires": [
            [
                "a703aaba38a383b9"
            ]
        ]
    },
    {
        "id": "98023732b523561f",
        "type": "catch",
        "z": "eb24c92ce5621760",
        "g": "5ea70f167d125afc",
        "name": "",
        "scope": [
            "a703aaba38a383b9"
        ],
        "uncaught": false,
        "x": 952.4285736083984,
        "y": 604.4285936355591,
        "wires": [
            [
                "0fb3435653486c14"
            ]
        ]
    },
    {
        "id": "e846b7ff5f8f635f",
        "type": "catch",
        "z": "eb24c92ce5621760",
        "g": "5ea70f167d125afc",
        "name": "catch all in group except those already dealt with",
        "scope": "group",
        "uncaught": true,
        "x": 553.8571624755859,
        "y": 467.8214364051819,
        "wires": [
            [
                "b4a34cf82fc8630d"
            ]
        ]
    },
    {
        "id": "b4a34cf82fc8630d",
        "type": "ut-assert-failure",
        "z": "eb24c92ce5621760",
        "g": "5ea70f167d125afc",
        "name": "",
        "x": 936,
        "y": 467.8214364051819,
        "wires": []
    },
    {
        "id": "0fb3435653486c14",
        "type": "ut-assert-success",
        "z": "eb24c92ce5621760",
        "g": "5ea70f167d125afc",
        "name": "",
        "msglimit": "==",
        "count": 1,
        "x": 1188,
        "y": 467.8214364051819,
        "wires": []
    }
]