testflows/866410b56fa42447/flows.json
[{"id":"866410b56fa42447","type":"tab","label":"[batch] basic behaviour","disabled":false,"info":"## Batch Node\n\nBatch node does not batch message by default but rather mark messages so that the join node can do the batching of messages.\n\nBatch node sets a `parts.id` value to the first message the creates the batch. If the message id is always the same, this id will always be the same.\n\nThis test is set to pending because it simply takes too long to execute, see this [flow](https://flows.red-erik.org/f/9a1bdfdcd7b2be8e) for an comparison with Node-RED.\n\nNot sure why Erlang takes so much longer here, but I suspect it has something to do with [storage](https://erlangforums.com/t/efficient-storage-using-lists/4988).\n\n## Update\n\nNodes have been optimised and test is now doable. Thanks to many tips from the forum, now using ETS tables to buffer the messages.\n\n","env":[{"name":"ERED_TIMEOUT","value":"3","type":"num"},{"name":"ERED_PENDING","value":"false","type":"bool"},{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"}]},{"id":"61f1197fb98ebd3c","type":"group","z":"866410b56fa42447","name":"no parts attribute, batch generates batches that can be joined on","style":{"label":true},"nodes":["986e40576cf9935b","cc64390ba8e44396","73a7055de17cd629","974f6f2212ac282c","2a7824eca6408720","54684723874cb02f","38fef2dd2843a5a5","2dbc28861d64eb14","9ba518bc07d89b62","8d5fdcaef83d9642","0e3346ef191e609f","d21df6901888d4b9","8f2f4cfa45741e9c","972df2546ba2d710","f67d1b9b67c854ed","c659b75abf5957bc","88278461d2ea5dbb"],"x":182,"y":260.5,"w":1923,"h":416.5},{"id":"5e6c5aa86609cf42","type":"group","z":"866410b56fa42447","name":"alter the _msgid, should have unique batch ids","style":{"label":true},"nodes":["14e41327e545aa0f","c96b74e7b2e444e7","eb702158cef45052","0212d493b576b603","7a3d06297b4a646a","b8ddcdd4a8e87be0","e0af4a718cfc9a5f","36f0b894d17f6154","667b4a7193d8bad9","a827069bc428d574","d7df45932b66afbf","5c907f1892bcaa98","9e4a4db9b3abaa45","507f8b163e2d4206","2ac42a7769e6bc46","42fa47fca93ec456","3a244f883215fea1","1c763c0173312eff","a54fa34904142da7","25e5ca7d34200391","00d031e1e45a32df"],"x":164,"y":814,"w":1883,"h":574},{"id":"986e40576cf9935b","type":"inject","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":278,"y":576.75,"wires":[["cc64390ba8e44396"]]},{"id":"cc64390ba8e44396","type":"change","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"counter","tot":"msg"},{"p":"counter","pt":"msg","t":"set","to":"$$.counter + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":544,"y":576.75,"wires":[["73a7055de17cd629","974f6f2212ac282c"]]},{"id":"73a7055de17cd629","type":"batch","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"count","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"honourParts":false,"topics":[],"x":814,"y":576.75,"wires":[["2a7824eca6408720","8d5fdcaef83d9642","d21df6901888d4b9"]]},{"id":"974f6f2212ac282c","type":"switch","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"limit to 10_000 messages","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":544,"y":380,"wires":[["cc64390ba8e44396"]]},{"id":"2a7824eca6408720","type":"join","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1025,"y":576.75,"wires":[["54684723874cb02f","2dbc28861d64eb14"]]},{"id":"54684723874cb02f","type":"join","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"1000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1262,"y":576.75,"wires":[["38fef2dd2843a5a5","c659b75abf5957bc"]]},{"id":"38fef2dd2843a5a5","type":"ut-assert-success","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","count":1,"x":1540,"y":576.75,"wires":[]},{"id":"2dbc28861d64eb14","type":"join","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"1001","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1262,"y":495,"wires":[["9ba518bc07d89b62"]]},{"id":"9ba518bc07d89b62","type":"ut-assert-failure","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","x":1540,"y":495,"wires":[]},{"id":"8d5fdcaef83d9642","type":"join","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10001","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1045,"y":418,"wires":[["0e3346ef191e609f"]]},{"id":"0e3346ef191e609f","type":"ut-assert-failure","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","x":1272,"y":418,"wires":[]},{"id":"d21df6901888d4b9","type":"join","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1045,"y":362.5,"wires":[["8f2f4cfa45741e9c","972df2546ba2d710"]]},{"id":"8f2f4cfa45741e9c","type":"ut-assert-success","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","count":1,"x":1272,"y":362.5,"wires":[]},{"id":"972df2546ba2d710","type":"change","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"distinct parts.id","rules":[{"p":"payload","pt":"msg","t":"set","to":"$map( $$.payload, function ($v) { $v.parts.id })","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"$distinct($$.payload)","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"$count($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1282,"y":301.5,"wires":[["f67d1b9b67c854ed"]]},{"id":"f67d1b9b67c854ed","type":"ut-assert-values","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"should be one since message id always same = 1","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"1","tot":"num"}],"x":1660,"y":301.5,"wires":[[]]},{"id":"14e41327e545aa0f","type":"inject","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":1269.25,"wires":[["c96b74e7b2e444e7"]]},{"id":"c96b74e7b2e444e7","type":"change","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"alter _msgid","rules":[{"p":"payload","pt":"msg","t":"set","to":"counter","tot":"msg"},{"p":"counter","pt":"msg","t":"set","to":"$$.counter + 1","tot":"jsonata"},{"p":"'_msgid'","pt":"msg","t":"set","to":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":526,"y":1269.25,"wires":[["eb702158cef45052","0212d493b576b603","42fa47fca93ec456"]]},{"id":"eb702158cef45052","type":"batch","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","mode":"count","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"honourParts":false,"topics":[],"x":796,"y":1269.25,"wires":[["7a3d06297b4a646a","a827069bc428d574","5c907f1892bcaa98"]]},{"id":"0212d493b576b603","type":"switch","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"limit to 10_000 messages","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":526,"y":932.5,"wires":[["c96b74e7b2e444e7"]]},{"id":"7a3d06297b4a646a","type":"join","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1004,"y":1269.25,"wires":[["b8ddcdd4a8e87be0","36f0b894d17f6154"]]},{"id":"b8ddcdd4a8e87be0","type":"join","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"1000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1241,"y":1269.25,"wires":[["e0af4a718cfc9a5f","25e5ca7d34200391"]]},{"id":"e0af4a718cfc9a5f","type":"ut-assert-success","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","count":1,"x":1519,"y":1269.25,"wires":[]},{"id":"36f0b894d17f6154","type":"join","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"1001","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1241,"y":1216.5,"wires":[["667b4a7193d8bad9"]]},{"id":"667b4a7193d8bad9","type":"ut-assert-failure","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","x":1519,"y":1216.5,"wires":[]},{"id":"a827069bc428d574","type":"join","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10001","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1024,"y":1136.5,"wires":[["d7df45932b66afbf"]]},{"id":"d7df45932b66afbf","type":"ut-assert-failure","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","x":1251,"y":1136.5,"wires":[]},{"id":"5c907f1892bcaa98","type":"join","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1024,"y":1081,"wires":[["9e4a4db9b3abaa45","507f8b163e2d4206"]]},{"id":"9e4a4db9b3abaa45","type":"ut-assert-success","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","count":1,"x":1251,"y":1081,"wires":[]},{"id":"507f8b163e2d4206","type":"change","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"distinct parts.id","rules":[{"p":"payload","pt":"msg","t":"set","to":"$map( $$.payload, function ($v) { $v.parts.id })","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"$distinct($$.payload)","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"$count($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1261,"y":1020,"wires":[["2ac42a7769e6bc46"]]},{"id":"2ac42a7769e6bc46","type":"ut-assert-values","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"should be 1000 since message id changed","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"1000","tot":"num"}],"x":1619,"y":1020,"wires":[[]]},{"id":"42fa47fca93ec456","type":"join","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1024,"y":916,"wires":[["3a244f883215fea1","1c763c0173312eff"]]},{"id":"3a244f883215fea1","type":"ut-assert-success","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"","count":1,"x":1251,"y":916,"wires":[]},{"id":"1c763c0173312eff","type":"change","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"distinct _msgid","rules":[{"p":"payload","pt":"msg","t":"set","to":"$map( $$.payload, function ($v) { $v.'_msgid' })","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"$distinct($$.payload)","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"$count($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1261,"y":855,"wires":[["a54fa34904142da7"]]},{"id":"a54fa34904142da7","type":"ut-assert-values","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"should 1000 unique msg ids","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"10000","tot":"num"}],"x":1569,"y":855,"wires":[[]]},{"id":"25e5ca7d34200391","type":"change","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"distinct _msgid","rules":[{"p":"payload","pt":"msg","t":"set","to":"$map( $$.payload, function ($v) { $v.'_msgid' })","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"$distinct($$.payload)","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"$count($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1526,"y":1347,"wires":[["00d031e1e45a32df"]]},{"id":"00d031e1e45a32df","type":"ut-assert-values","z":"866410b56fa42447","g":"5e6c5aa86609cf42","name":"should be 1000 since message id unique","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"1000","tot":"num"}],"x":1861,"y":1347,"wires":[[]]},{"id":"c659b75abf5957bc","type":"change","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"distinct _msgid","rules":[{"p":"payload","pt":"msg","t":"set","to":"$map( $$.payload, function ($v) { $v.'_msgid' })","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"$distinct($$.payload)","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"$count($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1551,"y":636,"wires":[["88278461d2ea5dbb"]]},{"id":"88278461d2ea5dbb","type":"ut-assert-values","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"should be one since message id always same = 1","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"1","tot":"num"}],"x":1889,"y":636,"wires":[[]]}]