testflows/f8727464c799eb22/flows.json
[{"id":"f8727464c799eb22","type":"tab","label":"[complete] switch node isn't compatible with complete","disabled":false,"info":"Switch node does not send any messages to the complete node.\n\nThis makes sense because the Switch node isn't doing any computation, it's just directing traffic.\n\nIt does not alter the data that is flowing through it hence it does not \"computation\" on the messages hence it is never complete with them.\n\n","env":[]},{"id":"8c4721c8309a31d0","type":"complete","z":"f8727464c799eb22","name":"","scope":["31b717405dd22c9f"],"uncaught":false,"x":500,"y":481,"wires":[["7cede323cd022b57"]]},{"id":"31b717405dd22c9f","type":"switch","z":"f8727464c799eb22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"a","vt":"str"},{"t":"eq","v":"b","vt":"str"},{"t":"eq","v":"c","vt":"str"},{"t":"eq","v":"d","vt":"str"},{"t":"eq","v":"e","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":496,"y":344,"wires":[[],["6deeb92d0e88ee3e"],[],["1661b3c069cd8ef7"],[]]},{"id":"c70817af315bc1c9","type":"inject","z":"f8727464c799eb22","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"h","payloadType":"str","x":176,"y":338,"wires":[["31b717405dd22c9f"]]},{"id":"e7d12bf436726628","type":"inject","z":"f8727464c799eb22","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"b","payloadType":"str","x":176,"y":401,"wires":[["31b717405dd22c9f"]]},{"id":"c170de2b1d863b6b","type":"inject","z":"f8727464c799eb22","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"d","payloadType":"str","x":176,"y":275,"wires":[["31b717405dd22c9f"]]},{"id":"7cede323cd022b57","type":"ut-assert-failure","z":"f8727464c799eb22","name":"","x":851,"y":548.5,"wires":[]},{"id":"6deeb92d0e88ee3e","type":"ut-assert-success","z":"f8727464c799eb22","name":"","count":1,"x":732,"y":256.5,"wires":[]},{"id":"1661b3c069cd8ef7","type":"ut-assert-success","z":"f8727464c799eb22","name":"","count":1,"x":761,"y":389,"wires":[]}]