testflows/ed621e03921c13de/flows.json
[{"id":"ed621e03921c13de","type":"tab","label":"[catch] uncaught catch - part 2 - work","disabled":false,"info":"Catch only  specific nodes - this isn't yet implemented.","env":[{"name":"ERED_PENDING","type":"bool","value":"true"}]},{"id":"d3d5a3f6073d9090","type":"inject","z":"ed621e03921c13de","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":93,"y":260,"wires":[["c4395e0c6f9f2e73"]]},{"id":"c4395e0c6f9f2e73","type":"file in","z":"ed621e03921c13de","name":"","filename":"this file does not exist","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":564,"y":811,"wires":[[]]},{"id":"11e4f0cb191b6ef3","type":"catch","z":"ed621e03921c13de","name":"","scope":["d3d5a3f6073d9090","081d7d36a710c31c","0919ae9a13ea970d","777ac7431215d3a2","a33109731cd76165","fda2e737f37d5c87"],"uncaught":false,"x":528,"y":695,"wires":[["b57803fa80af71ef"]]},{"id":"0919ae9a13ea970d","type":"catch","z":"ed621e03921c13de","name":"","scope":null,"uncaught":true,"x":353,"y":241,"wires":[["1d4a60d7fc213679"]]},{"id":"a33109731cd76165","type":"catch","z":"ed621e03921c13de","d":true,"name":"","scope":["c4395e0c6f9f2e73"],"uncaught":false,"x":430,"y":441,"wires":[["7e951f777d3342ee"]]},{"id":"1d4a60d7fc213679","type":"ut-assert-success","z":"ed621e03921c13de","name":"","count":1,"x":636,"y":310,"wires":[]},{"id":"b57803fa80af71ef","type":"ut-assert-failure","z":"ed621e03921c13de","name":"","x":929,"y":693,"wires":[]},{"id":"7e951f777d3342ee","type":"ut-assert-failure","z":"ed621e03921c13de","name":"","x":693,"y":505,"wires":[]}]