examples/894f6e38bfd1aca6/flows.json
[{"id":"894f6e38bfd1aca6","type":"tab","label":"[join] remove parts once matched","disabled":false,"info":"## Join removes parts\n\nJoin removes parts once all have been received.\n\nThis allows for the collection of recursive splits.","env":[]},{"id":"c2e8025aae4fe671","type":"group","z":"894f6e38bfd1aca6","name":"simplest example of parts being removed","style":{"label":true},"nodes":["2fea93448a02affc","2a3c4dbc1c2c2c3c","f2d135a3db2b42f9","de6a25765e1ec130"],"x":481,"y":233,"w":1044,"h":82},{"id":"fbc3ba8903799710","type":"group","z":"894f6e38bfd1aca6","name":"more complicated example with nested parts","style":{"label":true},"nodes":["446ca4f75b07389c","b084d6e6b8bd3b88","f1abbd5f4b686270","2a27f3a64d43e6b1","476aef78cc149130","347e74ebef0dd338","dde3aea431f9e3bd","a8193284f2a77220","0aeb29ae6b397a72"],"x":479,"y":347,"w":1187,"h":449.5},{"id":"fa637a80e3364786","type":"group","z":"894f6e38bfd1aca6","name":"simplest example of parts being removed","style":{"label":true},"nodes":["aa46a7bb55ab23e4","2fa886647d685efd","68c5653b99d54819","e62366b9c12eb35f","4992b526cfd8b007","865f08bc914b64ec","75db0b0fb51a737b","779e26eb707a6b0a"],"x":484,"y":842,"w":1189,"h":239},{"id":"446ca4f75b07389c","type":"inject","z":"894f6e38bfd1aca6","g":"fbc3ba8903799710","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[[[[[1,2,3],[4,5,6],[7,8,9]]]]]","payloadType":"json","x":575,"y":388,"wires":[["b084d6e6b8bd3b88"]]},{"id":"b084d6e6b8bd3b88","type":"split","z":"894f6e38bfd1aca6","g":"fbc3ba8903799710","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":855,"y":388,"wires":[["f1abbd5f4b686270"]]},{"id":"f1abbd5f4b686270","type":"switch","z":"894f6e38bfd1aca6","g":"fbc3ba8903799710","name":"","property":"$type($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"array","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":854,"y":543.5,"wires":[["b084d6e6b8bd3b88"],["2a27f3a64d43e6b1","476aef78cc149130","347e74ebef0dd338"]]},{"id":"2a27f3a64d43e6b1","type":"ut-assert-success","z":"894f6e38bfd1aca6","g":"fbc3ba8903799710","name":"","count":"9","x":1198,"y":670.5,"wires":[]},{"id":"476aef78cc149130","type":"ut-assert-values","z":"894f6e38bfd1aca6","g":"fbc3ba8903799710","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"parts.count","pt":"msg","to":"3","tot":"num"},{"t":"eql","p":"parts.parts.parts.parts.parts.count","pt":"msg","to":"1","tot":"num"}],"x":1198,"y":755.5,"wires":[[]]},{"id":"347e74ebef0dd338","type":"join","z":"894f6e38bfd1aca6","g":"fbc3ba8903799710","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1160,"y":449,"wires":[["dde3aea431f9e3bd"]]},{"id":"dde3aea431f9e3bd","type":"switch","z":"894f6e38bfd1aca6","g":"fbc3ba8903799710","name":"","property":"parts","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1295,"y":534,"wires":[["347e74ebef0dd338"],["a8193284f2a77220","0aeb29ae6b397a72"]]},{"id":"a8193284f2a77220","type":"ut-assert-values","z":"894f6e38bfd1aca6","g":"fbc3ba8903799710","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[[[[[1,2,3],[4,5,6],[7,8,9]]]]]","tot":"json"},{"t":"notset","p":"parts","pt":"msg"}],"x":1536,"y":540,"wires":[[]]},{"id":"2fea93448a02affc","type":"inject","z":"894f6e38bfd1aca6","g":"c2e8025aae4fe671","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5]","payloadType":"json","x":587,"y":274,"wires":[["2a3c4dbc1c2c2c3c"]]},{"id":"2a3c4dbc1c2c2c3c","type":"split","z":"894f6e38bfd1aca6","g":"c2e8025aae4fe671","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":861,"y":274,"wires":[["f2d135a3db2b42f9"]]},{"id":"f2d135a3db2b42f9","type":"join","z":"894f6e38bfd1aca6","g":"c2e8025aae4fe671","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1125,"y":274,"wires":[["de6a25765e1ec130"]]},{"id":"de6a25765e1ec130","type":"ut-assert-values","z":"894f6e38bfd1aca6","g":"c2e8025aae4fe671","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[1,2,3,4,5]","tot":"json"},{"t":"notset","p":"parts","pt":"msg"}],"x":1419,"y":274,"wires":[[]]},{"id":"aa46a7bb55ab23e4","type":"inject","z":"894f6e38bfd1aca6","g":"fa637a80e3364786","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,[2,2,2],3,4,5]","payloadType":"json","x":610,"y":1040,"wires":[["2fa886647d685efd"]]},{"id":"2fa886647d685efd","type":"split","z":"894f6e38bfd1aca6","g":"fa637a80e3364786","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":864,"y":1040,"wires":[["4992b526cfd8b007"]]},{"id":"68c5653b99d54819","type":"join","z":"894f6e38bfd1aca6","g":"fa637a80e3364786","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1128,"y":1040,"wires":[["e62366b9c12eb35f","779e26eb707a6b0a"]]},{"id":"e62366b9c12eb35f","type":"ut-assert-values","z":"894f6e38bfd1aca6","g":"fa637a80e3364786","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[2,2,2]","tot":"json"},{"t":"set","p":"parts","pt":"msg"}],"x":1436.6666666666665,"y":985,"wires":[[]]},{"id":"4992b526cfd8b007","type":"split","z":"894f6e38bfd1aca6","g":"fa637a80e3364786","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":999,"y":970,"wires":[["68c5653b99d54819","865f08bc914b64ec","75db0b0fb51a737b"]]},{"id":"865f08bc914b64ec","type":"ut-assert-values","z":"894f6e38bfd1aca6","g":"fa637a80e3364786","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"2","tot":"json"},{"t":"set","p":"parts","pt":"msg"}],"x":1326.3333333333333,"y":934,"wires":[[]]},{"id":"75db0b0fb51a737b","type":"ut-assert-success","z":"894f6e38bfd1aca6","g":"fa637a80e3364786","name":"","count":"3","x":1216,"y":883,"wires":[]},{"id":"779e26eb707a6b0a","type":"ut-assert-success","z":"894f6e38bfd1aca6","g":"fa637a80e3364786","name":"important: 1 only","count":"1","x":1557,"y":1036,"wires":[]},{"id":"0aeb29ae6b397a72","type":"ut-assert-success","z":"894f6e38bfd1aca6","g":"fbc3ba8903799710","name":"important: 1 only","count":"1","x":1550,"y":593,"wires":[]}]