testflows/0cf953379329cb8d/flows.json
[{"id":"0cf953379329cb8d","type":"tab","label":"[eventhandler] static handler: multiple instances","disabled":false,"info":"## Multiple static event handlers\n\nEnsure that multiple handlers processes can be started using the same module buy different module ids using different initial arguments.","env":[]},{"id":"beba33137ffa729f","type":"ut-assert-values","z":"0cf953379329cb8d","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"one","tot":"str"}],"x":1000,"y":665.3333333333334,"wires":[[]]},{"id":"3b6578c936c180e2","type":"inject","z":"0cf953379329cb8d","name":"","props":[{"p":"event","v":"send_initial_value","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":490,"y":463,"wires":[["d596f3182855a907"]]},{"id":"f0f0b4f6772b2d34","type":"erlmodule","z":"0cf953379329cb8d","name":"","module_name":"echo_event_handler_0cf953379329cb8d","code":"-module(echo_event_handler_0cf953379329cb8d).\n\n%%\n%% APIs https://www.erlang.org/doc/apps/stdlib/gen_event.html\n%%\n\n-behaviour(gen_event).\n\n-export([\n    init/1,\n    handle_event/2,\n    handle_call/2,\n    handle_info/2,\n    terminate/2,\n    code_change/3\n]).\n\n-import(ered_nodes, [\n    send_msg_to_connected_nodes/2\n]).\n\ninit(Args) ->\n    {ok, Args}.\n\nhandle_event({<<\"send_initial_value\">>, Msg, EventHandlerNodeDef}, State) ->\n    Msg2 = Msg#{ \n        <<\"payload\">> => State\n    },\n\n    send_msg_to_connected_nodes(EventHandlerNodeDef, Msg2),\n\n    {ok, State};\n\nhandle_event(_Event, State) ->\n    {ok, State}.\n\nhandle_call(_Request, State) ->\n    {ok, ok, State}.\n\nhandle_info(_Info, State) ->\n    {ok, State}.\n\nterminate(_Reason, _State) ->\n    ok.\n\ncode_change(_OldVsn, State, _Extra) ->\n    {ok, State}.\n\n","x":800,"y":468,"wires":[]},{"id":"d596f3182855a907","type":"erleventhandler","z":"0cf953379329cb8d","name":"","handlers":[{"nodeid":"f0f0b4f6772b2d34","moduleterm":"one","arg":"one"},{"nodeid":"f0f0b4f6772b2d34","moduleterm":"two","arg":"two"},{"nodeid":"f0f0b4f6772b2d34","moduleterm":"three","arg":"three"}],"x":743,"y":550,"wires":[["618738a14f482f46","beba33137ffa729f","8a9204869f133737","7bf5b8cd0c69fffa"]]},{"id":"618738a14f482f46","type":"ut-assert-success","z":"0cf953379329cb8d","name":"","count":"3","x":990,"y":601,"wires":[]},{"id":"8a9204869f133737","type":"ut-assert-values","z":"0cf953379329cb8d","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"two","tot":"str"}],"x":1000,"y":729.6666666666667,"wires":[[]]},{"id":"7bf5b8cd0c69fffa","type":"ut-assert-values","z":"0cf953379329cb8d","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"three","tot":"str"}],"x":1000,"y":794,"wires":[[]]}]