testflows/597ee2a683d9908f/flows.json
[{"disabled":false,"env":[{"name":"ERED_PENDING","type":"bool","value":"false"}],"id":"597ee2a683d9908f","info":"In this case the json node raises and exception and does not propogate the message further.\n\nError message isn't defined so use a bit of imagination to make it sound useful!","label":"[json] raise exception if content not valid","type":"tab"},{"h":308.5,"id":"4dbd0f7712eb9163","name":"with catch node","nodes":["9129e7b9383dead9","a1f180d31364499f","0e7c595d0385aab1","88ab83684f23950e","c712bcadacd8b244","289b1e68bc0aa351"],"style":{"label":true},"type":"group","w":1055,"x":197,"y":220,"z":"597ee2a683d9908f"},{"h":318,"id":"af6d16c1fc56ad30","name":"with catch node","nodes":["9e57eb53f1559cef","9219ceac570a5289","ce0f8e5ab2646ac9","3f3d3c96c3ac12d1"],"style":{"label":true},"type":"group","w":936,"x":195,"y":613.5,"z":"597ee2a683d9908f"},{"crontab":"","g":"4dbd0f7712eb9163","id":"9129e7b9383dead9","name":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["a1f180d31364499f"]],"x":303,"y":261,"z":"597ee2a683d9908f"},{"action":"","g":"4dbd0f7712eb9163","id":"a1f180d31364499f","name":"","pretty":true,"property":"payload","type":"json","wires":[[]],"x":605,"y":487.5,"z":"597ee2a683d9908f"},{"g":"4dbd0f7712eb9163","id":"0e7c595d0385aab1","name":"","scope":["a1f180d31364499f"],"type":"catch","uncaught":false,"wires":[["88ab83684f23950e"]],"x":593,"y":270,"z":"597ee2a683d9908f"},{"count":1,"g":"4dbd0f7712eb9163","id":"88ab83684f23950e","name":"","type":"ut-assert-success","wires":[],"x":923,"y":270,"z":"597ee2a683d9908f"},{"crontab":"","g":"af6d16c1fc56ad30","id":"9e57eb53f1559cef","name":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["9219ceac570a5289"]],"x":301,"y":664,"z":"597ee2a683d9908f"},{"action":"","g":"af6d16c1fc56ad30","id":"9219ceac570a5289","name":"","pretty":true,"property":"payload","type":"json","wires":[[]],"x":603,"y":890.5,"z":"597ee2a683d9908f"},{"g":"af6d16c1fc56ad30","id":"ce0f8e5ab2646ac9","inverse":false,"msgtype":"error","name":"","nodeid":"9219ceac570a5289","scope":["9219ceac570a5289"],"type":"ut-assert-debug","wires":[["3f3d3c96c3ac12d1"]],"x":668,"y":791.5,"z":"597ee2a683d9908f"},{"g":"4dbd0f7712eb9163","id":"c712bcadacd8b244","inverse":true,"msgtype":"error","name":"","nodeid":"a1f180d31364499f","scope":["a1f180d31364499f"],"type":"ut-assert-debug","wires":[["289b1e68bc0aa351"]],"x":757,"y":385,"z":"597ee2a683d9908f"},{"g":"4dbd0f7712eb9163","id":"289b1e68bc0aa351","name":"","type":"ut-assert-failure","wires":[],"x":1156,"y":384,"z":"597ee2a683d9908f"},{"g":"af6d16c1fc56ad30","id":"3f3d3c96c3ac12d1","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"debug.nodeid","pt":"msg","t":"eql","to":"9219ceac570a5289","tot":"str"},{"p":"payload['level']","pt":"msg","t":"eql","to":"20","tot":"num"},{"p":"payload.msg.error_msg","pt":"msg","t":"mth","to":"Exception: error:function_clause Stack","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":1025,"y":654.5,"z":"597ee2a683d9908f"}]