testflows/9ff2e8ab21d922c5/flows.json
[{"id":"9ff2e8ab21d922c5","type":"tab","label":"[inject] trigger once - default value","disabled":false,"info":"## Inject \"trigger after ...\"\n\nDefaults to 0.1 seconds.\n\n","env":[{"name":"ERED_TIMEOUT","value":"1","type":"num"}]},{"id":"9103c4b5accf4d7d","type":"inject","z":"9ff2e8ab21d922c5","name":"defaults to 0.1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"0.1 is default","payloadType":"str","x":424,"y":191,"wires":[["12fdfc9a514c33ba","751dbedad0c2ab54"]]},{"id":"12fdfc9a514c33ba","type":"ut-assert-values","z":"9ff2e8ab21d922c5","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"0.1 is default","tot":"str"}],"x":719,"y":191,"wires":[[]]},{"id":"751dbedad0c2ab54","type":"ut-assert-success","z":"9ff2e8ab21d922c5","name":"triggered once by test and once by trigger after - two messages expected","count":"2","x":861,"y":270,"wires":[]}]