examples/538d2f4704cd2eca/flows.json
[{"id":"538d2f4704cd2eca","type":"tab","label":"[catch] ensure source is inside error map","disabled":false,"info":"## Catch error structure\n\nshould generate the correct error structure","env":[]},{"id":"446138f92dfeaddf","type":"catch","z":"538d2f4704cd2eca","name":"","scope":null,"uncaught":false,"x":430,"y":572,"wires":[["93afc65131e7548d"]]},{"id":"aaf2a0256c95d0ea","type":"inject","z":"538d2f4704cd2eca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":566,"wires":[["e50c2d918dad4ed1"]]},{"id":"e50c2d918dad4ed1","type":"file in","z":"538d2f4704cd2eca","name":"this is the name","filename":"dfsafsdf","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":426,"y":662,"wires":[[]]},{"id":"93afc65131e7548d","type":"ut-assert-values","z":"538d2f4704cd2eca","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"set","p":"error","pt":"msg"},{"t":"eql","p":"error.source.name","pt":"msg","to":"this is the name","tot":"str"},{"t":"eql","p":"error.source.id","pt":"msg","to":"e50c2d918dad4ed1","tot":"str"}],"x":721,"y":408.5,"wires":[[]]}]