testflows/ae38b2dbd23d1681/flows.json
[{"id":"ae38b2dbd23d1681","type":"tab","label":"[range] basic examples","disabled":false,"info":"## Range Node\n\nThis includes a bug in the implementation of scaling to the target range, see [forum post](https://discourse.nodered.org/t/range-node-out-of-bounds/98865).\n\nTests marked with red fail on Node-RED because of buggy behaviour. At time of writing with version 4.0.5.","env":[{"name":"NODE_RED_DIVERGENT","value":"true","type":"bool"}]},{"id":"98697e6fcdc0f7d7","type":"group","z":"ae38b2dbd23d1681","name":"scale, no limit","style":{"label":true},"nodes":["cef006a1f43b25b8","3494a5c7556f2330","469aed2fe1799ebb"],"x":114,"y":166.5,"w":700,"h":82},{"id":"b0793c39ce087cb2","type":"group","z":"ae38b2dbd23d1681","name":"scale and limit","style":{"label":true},"nodes":["078d17fcc17dca66","f0cc9c0a6f373156","1a29c17f3dd9f632","59f9d54ef85b1665","9858e86a29e10142","e6e4a3141c576271"],"x":111,"y":264.7777777777778,"w":823,"h":132.22222222222217},{"id":"bb99e81c6d330202","type":"group","z":"ae38b2dbd23d1681","name":"wrap","style":{"label":true},"nodes":["714e9ea72b4e41b7","359dcc10bf376573","6812f4ded1a629a7","3416817ab118f3f7","facabdf07593e76a","6a098975d0b25ad5","9ff1d3478f51b4d4","fb2829d673860202","2eafe2fb3d378ff5"],"x":117,"y":433.05555555555554,"w":697,"h":194.16666666666663},{"id":"87cefc93f65c8b85","type":"group","z":"ae38b2dbd23d1681","name":"drop with and without rounding!","style":{"label":true},"nodes":["a6685f4415463573","88bba9891ac905e7","dadff702687bdd40","9ab835bfad363b64","41ba0a4b42d2fb9a","0cec61bbae81e7ec","33b8b39cc762e9cf","52cbfc74a1f93b5e","7ee505e1ca9f3ddc"],"x":117,"y":662.5,"w":617,"h":215.5},{"id":"b4012d193105c803","type":"group","z":"ae38b2dbd23d1681","name":"scale and limit, round up","style":{"label":true},"nodes":["3539bb8a192eea98","e7e41ebbb934b50f","f4e4e02f811e3a04","cb14fb599ca6fd4a","8030c756c30b62c7","bca59610571f6f27","9d47e88afa90b312","a9b9805029fecc58","eb733ddd81f3ed5a"],"x":992,"y":356.16664377848315,"w":936,"h":199.3333943684895},{"id":"de109cf147d13755","type":"group","z":"ae38b2dbd23d1681","name":"wrap","style":{"label":true},"nodes":["4f7125a3d18b6bb8","524e5bc79acf4098","6d7885dcc15ce082","2d64bdd2c2fceb8f","5dc915948aca6f92","ae14fd317376f7b0"],"x":992,"y":606.9999974568686,"w":936,"h":143.66666666666652},{"id":"c334738c4962be62","type":"group","z":"ae38b2dbd23d1681","name":"round up to the nearest integer","style":{"label":true},"nodes":["1369cac017806ca4","d83528c976cd08d8","e28921ae5e4ab419","037c27850947a188","1f27bd21d0217b88","4fd8f4b2b397d347"],"x":992,"y":151.66666412353516,"w":936,"h":159},{"id":"24b79bef6cc54998","type":"group","z":"ae38b2dbd23d1681","name":"behaviour when using from values greater than to values","style":{"label":true},"nodes":["081f4faa5886b7e5","724a386dba48d091","476abd1b7a8f62fc","9135dfcf227bb0b9","4afb20631c30f911","dc4c9e35011fd886"],"x":78,"y":954,"w":875,"h":760},{"id":"b23faccd2e9ac345","type":"group","z":"ae38b2dbd23d1681","name":"drop where value is within range will just scale","style":{"label":true},"nodes":["d7dfd5ef1baf2c29","12b66745306842dd","3e35bb8972a9e6b1","5d26455e5cebfe37","771396748ef3d59e","67bd8c93ee143de2","90b99d6d4be3227d","1f260bd540023af6","4074e320d09197a5"],"x":992,"y":811.5,"w":936,"h":215},{"id":"c1a8ca9680941361","type":"group","z":"ae38b2dbd23d1681","name":"scale correctly within non-trivial ranges","style":{"label":true},"nodes":["b89d6b30f1d7091e","eb538c635f95f1cf","1249745bdfa89f55","40e72aed4357245f","86e0b104a9a49a47","8fc72ecf575e8ca7","1ca20368199ed437","30ca4c9d307bbb8a","c27e4eb4f44d82e7","01dff6c7f930efda","caac98e8ffe743fd","8db80db6aa0d00d1","7de4b6743734759b","ce00b79a17940999","78ec86bdce5a0fb6","fb11830b4fde2e61","87543f5315725a60","258eab6145c90e4d","1930a5d53a80409d","04d8330e5fca6230","e84d565d5ad8314c","cc8812ec8721a783","ee820eff4ed85f43","d5a54948b245cb58","7c0864a61713bd00","ca9a78450f2f4883","d61fc1a81b4c5add","4db85bac7c1eef2c","e24230fd716cf7ec","25839a3df6a753da","a617669c6c0f436d","6169d7201ffffe35","44e7b6a1569ef327"],"x":992,"y":1066,"w":936,"h":712},{"id":"5e36274b8a1603b8","type":"group","z":"ae38b2dbd23d1681","name":"no payload, pass on message","style":{"label":true},"nodes":["efb9f75e5dd845b9","1d328e7ac830edde","3da54c655cdbcc59","c232c564ad629652","2e30cbbd368bf846","bb6b153233875ba7","6f87c567bd671704","c13e65e07e7c74d3","1cba2d25747abcf4"],"x":128,"y":1805,"w":696,"h":230},{"id":"7d71420e042e54cd","type":"group","z":"ae38b2dbd23d1681","name":"out of bounds - should be 1","style":{"fill":"#ffbfbf","fill-opacity":"0.27","label":true},"nodes":["fe955924780815a5","7438519f20033109","c88b51800fccb5eb"],"x":999.5,"y":2136.166664123535,"w":926,"h":82},{"id":"db3b335ac5b8127b","type":"group","z":"ae38b2dbd23d1681","name":"out of bounds - should be -1","style":{"fill":"#ffbfbf","fill-opacity":"0.26","label":true},"nodes":["b53b9f69cdb8a9f6","7a493dd6b4c75678","6628be4ef4bf259c"],"x":1001,"y":1821.5,"w":926,"h":82},{"id":"5343cb685acfd37d","type":"group","z":"ae38b2dbd23d1681","name":"out of bounds - should be -100","style":{"fill":"#ffbfbf","fill-opacity":"0.27","label":true},"nodes":["b81a6a783a8dab4a","e86f5a7c79f0eae6","49e00a02f1de0ecb"],"x":1001,"y":1922.6666463216143,"w":946,"h":82},{"id":"e2bce7fd39dbeda5","type":"group","z":"ae38b2dbd23d1681","name":"out of bounds - should be 100","style":{"fill":"#ffbfbf","fill-opacity":"0.26","label":true},"nodes":["9b95f8806d032b1a","9867b9610c1786d5","4fbf1055ffadffe5"],"x":999.5,"y":2035.0000178019209,"w":926,"h":82},{"id":"e481daad02ea8d36","type":"group","z":"ae38b2dbd23d1681","name":"out of bounds - no response","style":{"fill":"#ffbfbf","fill-opacity":"0.26","label":true},"nodes":["92f555c0d00cf258","0207f27433d59cab","e2629620a7ffe4a6"],"x":1000,"y":2259,"w":849,"h":82},{"id":"9135dfcf227bb0b9","type":"group","z":"ae38b2dbd23d1681","g":"24b79bef6cc54998","name":"drop value when input range is 100 to 0","style":{"fill":"#ffbfbf","fill-opacity":"0.54","label":true},"nodes":["b90eba4c1315e276","6cdc01b47f3d7618","cf1b459ac2f2a131"],"x":131,"y":1606,"w":657,"h":82},{"id":"4afb20631c30f911","type":"group","z":"ae38b2dbd23d1681","g":"24b79bef6cc54998","name":"wrap","style":{"label":true},"nodes":["7edddb3a19ac5fbc","ffa4f18dc9691aa1","87a37177d8d50730","6d37ddf3e81ea7c8","91f27a3b8784b67a","fa3707286c094a4b","c654c8667e23d2a3","d553c251cba66b78","b3e842d5c24405ac"],"x":131,"y":1392.5,"w":769,"h":192},{"id":"dc4c9e35011fd886","type":"group","z":"ae38b2dbd23d1681","g":"24b79bef6cc54998","name":"limit to target range","style":{"label":true},"nodes":["2e143803c645bf25","9ad70de0df8039aa","1b9da815289895f6","2eefc736152abf21","34f9aca4365459b8","7fc436fa6dba5345","035315efc39951d3","5ebdad060c708bec"],"x":104,"y":1019,"w":722,"h":352},{"id":"035315efc39951d3","type":"group","z":"ae38b2dbd23d1681","g":"dc4c9e35011fd886","name":"","style":{"fill":"#ffbfbf","fill-opacity":"0.43","label":true},"nodes":["d6a0709234363831","08f37768e41a0069","cd15b6b6a5f36a7c"],"x":131,"y":1045,"w":669,"h":82},{"id":"5ebdad060c708bec","type":"group","z":"ae38b2dbd23d1681","g":"dc4c9e35011fd886","name":"","style":{"fill":"#ffbfbf","fill-opacity":"0.47","label":true},"nodes":["0f1e99a1a36a687c","8bf51ee14b06f1e8","0da21e16c4e3eacf"],"x":130,"y":1263,"w":669,"h":82},{"id":"cef006a1f43b25b8","type":"range","z":"ae38b2dbd23d1681","g":"98697e6fcdc0f7d7","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":457,"y":207.5,"wires":[["469aed2fe1799ebb"]]},{"id":"3494a5c7556f2330","type":"inject","z":"ae38b2dbd23d1681","g":"98697e6fcdc0f7d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":210,"y":207.5,"wires":[["cef006a1f43b25b8"]]},{"id":"469aed2fe1799ebb","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"98697e6fcdc0f7d7","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"120","tot":"num"}],"x":678,"y":207.5,"wires":[[]]},{"id":"078d17fcc17dca66","type":"range","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"clamp","round":false,"property":"payload","name":"","x":451,"y":305.7777777777778,"wires":[["1a29c17f3dd9f632"]]},{"id":"f0cc9c0a6f373156","type":"inject","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":207,"y":305.7777777777778,"wires":[["078d17fcc17dca66"]]},{"id":"1a29c17f3dd9f632","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"100","tot":"num"}],"x":678,"y":305.7777777777778,"wires":[[]]},{"id":"714e9ea72b4e41b7","type":"range","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":460,"y":474.05555555555554,"wires":[["6812f4ded1a629a7"]]},{"id":"359dcc10bf376573","type":"inject","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":213,"y":474.05555555555554,"wires":[["714e9ea72b4e41b7"]]},{"id":"6812f4ded1a629a7","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"20","tot":"num"}],"x":678,"y":474.05555555555554,"wires":[[]]},{"id":"a6685f4415463573","type":"range","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":false,"property":"payload","name":"","x":460,"y":703.5,"wires":[["dadff702687bdd40"]]},{"id":"88bba9891ac905e7","type":"inject","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":213,"y":703.5,"wires":[["a6685f4415463573"]]},{"id":"dadff702687bdd40","type":"ut-assert-failure","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","x":638,"y":703.5,"wires":[]},{"id":"3539bb8a192eea98","type":"range","z":"ae38b2dbd23d1681","g":"b4012d193105c803","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1435,"y":397.16664377848315,"wires":[["f4e4e02f811e3a04"]]},{"id":"e7e41ebbb934b50f","type":"inject","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-12.5","payloadType":"num","x":1088,"y":397.16664377848315,"wires":[["3539bb8a192eea98"]]},{"id":"f4e4e02f811e3a04","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"0","tot":"num"}],"x":1792,"y":397.16664377848315,"wires":[[]]},{"id":"4f7125a3d18b6bb8","type":"range","z":"ae38b2dbd23d1681","g":"de109cf147d13755","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"roll","round":true,"property":"payload","name":"","x":1435,"y":647.9999974568686,"wires":[["6d7885dcc15ce082"]]},{"id":"524e5bc79acf4098","type":"inject","z":"ae38b2dbd23d1681","g":"de109cf147d13755","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":1088,"y":647.9999974568686,"wires":[["4f7125a3d18b6bb8"]]},{"id":"6d7885dcc15ce082","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"de109cf147d13755","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"26","tot":"num"}],"x":1792,"y":647.9999974568686,"wires":[[]]},{"id":"1369cac017806ca4","type":"range","z":"ae38b2dbd23d1681","g":"c334738c4962be62","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":192.66666412353516,"wires":[["e28921ae5e4ab419"]]},{"id":"d83528c976cd08d8","type":"inject","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12.5","payloadType":"num","x":1088,"y":192.66666412353516,"wires":[["1369cac017806ca4"]]},{"id":"e28921ae5e4ab419","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"132","tot":"num"}],"x":1792,"y":192.66666412353516,"wires":[[]]},{"id":"037c27850947a188","type":"range","z":"ae38b2dbd23d1681","g":"c334738c4962be62","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":269.66666412353516,"wires":[["4fd8f4b2b397d347"]]},{"id":"1f27bd21d0217b88","type":"inject","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13.1","payloadType":"num","x":1088,"y":269.66666412353516,"wires":[["037c27850947a188"]]},{"id":"4fd8f4b2b397d347","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"139","tot":"num"}],"x":1792,"y":269.66666412353516,"wires":[[]]},{"id":"9ab835bfad363b64","type":"range","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":true,"property":"payload","name":"","x":460,"y":764,"wires":[["0cec61bbae81e7ec"]]},{"id":"41ba0a4b42d2fb9a","type":"inject","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":213,"y":764,"wires":[["9ab835bfad363b64"]]},{"id":"0cec61bbae81e7ec","type":"ut-assert-failure","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","x":638,"y":764,"wires":[]},{"id":"9b95f8806d032b1a","type":"inject","z":"ae38b2dbd23d1681","g":"e2bce7fd39dbeda5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13.1","payloadType":"num","x":1095.5,"y":2076.000017801921,"wires":[["9867b9610c1786d5"]]},{"id":"9867b9610c1786d5","type":"range","z":"ae38b2dbd23d1681","g":"e2bce7fd39dbeda5","minin":"0","maxin":"9.5","minout":"0.5","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1432.5,"y":2076.000017801921,"wires":[["4fbf1055ffadffe5"]]},{"id":"4fbf1055ffadffe5","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"e2bce7fd39dbeda5","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"100","tot":"num"}],"x":1789.5,"y":2076.000017801921,"wires":[[]]},{"id":"cb14fb599ca6fd4a","type":"inject","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8.7","payloadType":"num","x":1088,"y":448.50001780192065,"wires":[["8030c756c30b62c7"]]},{"id":"8030c756c30b62c7","type":"range","z":"ae38b2dbd23d1681","g":"b4012d193105c803","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1435,"y":448.50001780192065,"wires":[["bca59610571f6f27"]]},{"id":"bca59610571f6f27","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"92","tot":"num"}],"x":1792,"y":448.50001780192065,"wires":[[]]},{"id":"9d47e88afa90b312","type":"inject","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-13.1","payloadType":"num","x":1088,"y":514.5000381469727,"wires":[["a9b9805029fecc58"]]},{"id":"a9b9805029fecc58","type":"range","z":"ae38b2dbd23d1681","g":"b4012d193105c803","minin":"0","maxin":"9.5","minout":"0.5","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1425,"y":514.5000381469727,"wires":[["eb733ddd81f3ed5a"]]},{"id":"eb733ddd81f3ed5a","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"1","tot":"num"}],"x":1792,"y":514.5000381469727,"wires":[[]]},{"id":"3416817ab118f3f7","type":"inject","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12.5","payloadType":"num","x":213,"y":528.2222222222222,"wires":[["facabdf07593e76a"]]},{"id":"facabdf07593e76a","type":"range","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":460,"y":528.2222222222222,"wires":[["6a098975d0b25ad5"]]},{"id":"6a098975d0b25ad5","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"25","tot":"num"}],"x":678,"y":528.2222222222222,"wires":[[]]},{"id":"33b8b39cc762e9cf","type":"inject","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-12","payloadType":"num","x":213,"y":837,"wires":[["52cbfc74a1f93b5e"]]},{"id":"52cbfc74a1f93b5e","type":"range","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":true,"property":"payload","name":"","x":460,"y":837,"wires":[["7ee505e1ca9f3ddc"]]},{"id":"7ee505e1ca9f3ddc","type":"ut-assert-failure","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","x":638,"y":837,"wires":[]},{"id":"9ff1d3478f51b4d4","type":"inject","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-12","payloadType":"num","x":213,"y":586.2222222222222,"wires":[["fb2829d673860202"]]},{"id":"fb2829d673860202","type":"range","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":460,"y":586.2222222222222,"wires":[["2eafe2fb3d378ff5"]]},{"id":"2eafe2fb3d378ff5","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"80","tot":"num"}],"x":678,"y":586.2222222222222,"wires":[[]]},{"id":"2d64bdd2c2fceb8f","type":"inject","z":"ae38b2dbd23d1681","g":"de109cf147d13755","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-11.3","payloadType":"num","x":1088,"y":709.6666641235352,"wires":[["5dc915948aca6f92"]]},{"id":"5dc915948aca6f92","type":"range","z":"ae38b2dbd23d1681","g":"de109cf147d13755","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"roll","round":true,"property":"payload","name":"","x":1435,"y":709.6666641235352,"wires":[["ae14fd317376f7b0"]]},{"id":"ae14fd317376f7b0","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"de109cf147d13755","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"81","tot":"num"}],"x":1792,"y":709.6666641235352,"wires":[[]]},{"id":"fe955924780815a5","type":"range","z":"ae38b2dbd23d1681","g":"7d71420e042e54cd","minin":"0","maxin":"9.5","minout":"0.3","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1432.5,"y":2177.166664123535,"wires":[["c88b51800fccb5eb"]]},{"id":"7438519f20033109","type":"inject","z":"ae38b2dbd23d1681","g":"7d71420e042e54cd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-13.1","payloadType":"num","x":1095.5,"y":2177.166664123535,"wires":[["fe955924780815a5"]]},{"id":"c88b51800fccb5eb","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"7d71420e042e54cd","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"1","tot":"num"}],"x":1789.5,"y":2177.166664123535,"wires":[[]]},{"id":"081f4faa5886b7e5","type":"range","z":"ae38b2dbd23d1681","g":"24b79bef6cc54998","minin":"100","maxin":"0","minout":"0","maxout":"-100","action":"scale","round":false,"property":"payload","name":"","x":461,"y":995,"wires":[["476abd1b7a8f62fc"]]},{"id":"724a386dba48d091","type":"inject","z":"ae38b2dbd23d1681","g":"24b79bef6cc54998","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"num","x":177,"y":995,"wires":[["081f4faa5886b7e5"]]},{"id":"d6a0709234363831","type":"range","z":"ae38b2dbd23d1681","g":"035315efc39951d3","minin":"100","maxin":"0","minout":"0","maxout":"-100","action":"clamp","round":false,"property":"payload","name":"","x":426,"y":1086,"wires":[["cd15b6b6a5f36a7c"]]},{"id":"08f37768e41a0069","type":"inject","z":"ae38b2dbd23d1681","g":"035315efc39951d3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"num","x":227,"y":1086,"wires":[["d6a0709234363831"]]},{"id":"b90eba4c1315e276","type":"range","z":"ae38b2dbd23d1681","g":"9135dfcf227bb0b9","minin":"100","maxin":"0","minout":"0","maxout":"-100","action":"drop","round":false,"property":"payload","name":"","x":426,"y":1647,"wires":[["cf1b459ac2f2a131"]]},{"id":"6cdc01b47f3d7618","type":"inject","z":"ae38b2dbd23d1681","g":"9135dfcf227bb0b9","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"num","x":227,"y":1647,"wires":[["b90eba4c1315e276"]]},{"id":"476abd1b7a8f62fc","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"24b79bef6cc54998","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-60","tot":"num"}],"x":817,"y":995,"wires":[[]]},{"id":"cd15b6b6a5f36a7c","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"035315efc39951d3","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-60","tot":"num"}],"x":664,"y":1086,"wires":[[]]},{"id":"7edddb3a19ac5fbc","type":"range","z":"ae38b2dbd23d1681","g":"4afb20631c30f911","minin":"100","maxin":"0","minout":"0","maxout":"-100","action":"roll","round":false,"property":"payload","name":"","x":426,"y":1433.5,"wires":[["87a37177d8d50730"]]},{"id":"ffa4f18dc9691aa1","type":"inject","z":"ae38b2dbd23d1681","g":"4afb20631c30f911","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"num","x":227,"y":1433.5,"wires":[["7edddb3a19ac5fbc"]]},{"id":"87a37177d8d50730","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"4afb20631c30f911","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-60","tot":"num"}],"x":664,"y":1433.5,"wires":[[]]},{"id":"6d37ddf3e81ea7c8","type":"range","z":"ae38b2dbd23d1681","g":"4afb20631c30f911","minin":"100","maxin":"0","minout":"0","maxout":"-100","action":"roll","round":false,"property":"payload","name":"","x":426,"y":1488.5,"wires":[["fa3707286c094a4b"]]},{"id":"91f27a3b8784b67a","type":"inject","z":"ae38b2dbd23d1681","g":"4afb20631c30f911","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-40","payloadType":"num","x":227,"y":1488.5,"wires":[["6d37ddf3e81ea7c8"]]},{"id":"fa3707286c094a4b","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"4afb20631c30f911","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-40","tot":"num"}],"x":664,"y":1488.5,"wires":[[]]},{"id":"2e143803c645bf25","type":"range","z":"ae38b2dbd23d1681","g":"dc4c9e35011fd886","minin":"100","maxin":"0","minout":"0","maxout":"-100","action":"clamp","round":false,"property":"payload","name":"","x":426,"y":1158,"wires":[["1b9da815289895f6"]]},{"id":"9ad70de0df8039aa","type":"inject","z":"ae38b2dbd23d1681","g":"dc4c9e35011fd886","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-40","payloadType":"num","x":227,"y":1158,"wires":[["2e143803c645bf25"]]},{"id":"1b9da815289895f6","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"dc4c9e35011fd886","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-100","tot":"num"}],"x":674,"y":1158,"wires":[[]]},{"id":"2eefc736152abf21","type":"range","z":"ae38b2dbd23d1681","g":"dc4c9e35011fd886","minin":"100","maxin":"0","minout":"0","maxout":"-100","action":"clamp","round":false,"property":"payload","name":"","x":426,"y":1220,"wires":[["7fc436fa6dba5345"]]},{"id":"34f9aca4365459b8","type":"inject","z":"ae38b2dbd23d1681","g":"dc4c9e35011fd886","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-20","payloadType":"num","x":227,"y":1220,"wires":[["2eefc736152abf21"]]},{"id":"7fc436fa6dba5345","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"dc4c9e35011fd886","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-100","tot":"num"}],"x":674,"y":1220,"wires":[[]]},{"id":"0f1e99a1a36a687c","type":"range","z":"ae38b2dbd23d1681","g":"5ebdad060c708bec","minin":"100","maxin":"0","minout":"0","maxout":"-100","action":"clamp","round":false,"property":"payload","name":"","x":425,"y":1304,"wires":[["0da21e16c4e3eacf"]]},{"id":"8bf51ee14b06f1e8","type":"inject","z":"ae38b2dbd23d1681","g":"5ebdad060c708bec","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":226,"y":1304,"wires":[["0f1e99a1a36a687c"]]},{"id":"0da21e16c4e3eacf","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"5ebdad060c708bec","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-80","tot":"num"}],"x":663,"y":1304,"wires":[[]]},{"id":"d7dfd5ef1baf2c29","type":"range","z":"ae38b2dbd23d1681","g":"b23faccd2e9ac345","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":false,"property":"payload","name":"","x":1435,"y":852.5,"wires":[["90b99d6d4be3227d"]]},{"id":"12b66745306842dd","type":"inject","z":"ae38b2dbd23d1681","g":"b23faccd2e9ac345","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8.3112431","payloadType":"num","x":1098,"y":852.5,"wires":[["d7dfd5ef1baf2c29"]]},{"id":"3e35bb8972a9e6b1","type":"range","z":"ae38b2dbd23d1681","g":"b23faccd2e9ac345","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":true,"property":"payload","name":"","x":1435,"y":919,"wires":[["1f260bd540023af6"]]},{"id":"5d26455e5cebfe37","type":"inject","z":"ae38b2dbd23d1681","g":"b23faccd2e9ac345","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6.66","payloadType":"num","x":1088,"y":919,"wires":[["3e35bb8972a9e6b1"]]},{"id":"771396748ef3d59e","type":"inject","z":"ae38b2dbd23d1681","g":"b23faccd2e9ac345","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4.33123","payloadType":"num","x":1098,"y":985.5,"wires":[["67bd8c93ee143de2"]]},{"id":"67bd8c93ee143de2","type":"range","z":"ae38b2dbd23d1681","g":"b23faccd2e9ac345","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":true,"property":"payload","name":"","x":1435,"y":985.5,"wires":[["4074e320d09197a5"]]},{"id":"90b99d6d4be3227d","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b23faccd2e9ac345","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"83.11243100000002","tot":"num"}],"x":1732,"y":852.5,"wires":[[]]},{"id":"1f260bd540023af6","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b23faccd2e9ac345","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"67","tot":"num"}],"x":1792,"y":919,"wires":[[]]},{"id":"4074e320d09197a5","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b23faccd2e9ac345","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"43","tot":"num"}],"x":1792,"y":985.5,"wires":[[]]},{"id":"b89d6b30f1d7091e","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1107,"wires":[["1249745bdfa89f55"]]},{"id":"eb538c635f95f1cf","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":1088,"y":1107,"wires":[["b89d6b30f1d7091e"]]},{"id":"1249745bdfa89f55","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"96","tot":"num"}],"x":1792,"y":1107,"wires":[[]]},{"id":"40e72aed4357245f","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1170,"wires":[["8fc72ecf575e8ca7"]]},{"id":"86e0b104a9a49a47","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13","payloadType":"num","x":1088,"y":1170,"wires":[["40e72aed4357245f"]]},{"id":"8fc72ecf575e8ca7","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"98","tot":"num"}],"x":1792,"y":1170,"wires":[[]]},{"id":"1ca20368199ed437","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1233,"wires":[["c27e4eb4f44d82e7"]]},{"id":"30ca4c9d307bbb8a","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":1088,"y":1233,"wires":[["1ca20368199ed437"]]},{"id":"c27e4eb4f44d82e7","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"99","tot":"num"}],"x":1792,"y":1233,"wires":[[]]},{"id":"01dff6c7f930efda","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1296,"wires":[["8db80db6aa0d00d1"]]},{"id":"caac98e8ffe743fd","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-12","payloadType":"num","x":1088,"y":1296,"wires":[["01dff6c7f930efda"]]},{"id":"8db80db6aa0d00d1","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"60","tot":"num"}],"x":1792,"y":1296,"wires":[[]]},{"id":"7de4b6743734759b","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1359,"wires":[["78ec86bdce5a0fb6"]]},{"id":"ce00b79a17940999","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-13","payloadType":"num","x":1088,"y":1359,"wires":[["7de4b6743734759b"]]},{"id":"78ec86bdce5a0fb6","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"59","tot":"num"}],"x":1792,"y":1359,"wires":[[]]},{"id":"fb11830b4fde2e61","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1422,"wires":[["258eab6145c90e4d"]]},{"id":"87543f5315725a60","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"120","payloadType":"num","x":1088,"y":1422,"wires":[["fb11830b4fde2e61"]]},{"id":"258eab6145c90e4d","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"258","tot":"num"}],"x":1792,"y":1422,"wires":[[]]},{"id":"1930a5d53a80409d","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1485,"wires":[["e84d565d5ad8314c"]]},{"id":"04d8330e5fca6230","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-120","payloadType":"num","x":1088,"y":1485,"wires":[["1930a5d53a80409d"]]},{"id":"e84d565d5ad8314c","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-102","tot":"num"}],"x":1782,"y":1485,"wires":[[]]},{"id":"cc8812ec8721a783","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1548,"wires":[["d5a54948b245cb58"]]},{"id":"ee820eff4ed85f43","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":1088,"y":1548,"wires":[["cc8812ec8721a783"]]},{"id":"d5a54948b245cb58","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"83","tot":"num"}],"x":1792,"y":1548,"wires":[[]]},{"id":"7c0864a61713bd00","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1611,"wires":[["d61fc1a81b4c5add"]]},{"id":"ca9a78450f2f4883","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":1088,"y":1611,"wires":[["7c0864a61713bd00"]]},{"id":"d61fc1a81b4c5add","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"81","tot":"num"}],"x":1792,"y":1611,"wires":[[]]},{"id":"4db85bac7c1eef2c","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1674,"wires":[["25839a3df6a753da"]]},{"id":"e24230fd716cf7ec","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":1088,"y":1674,"wires":[["4db85bac7c1eef2c"]]},{"id":"25839a3df6a753da","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"90","tot":"num"}],"x":1792,"y":1674,"wires":[[]]},{"id":"a617669c6c0f436d","type":"range","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","minin":"0","maxin":"10","minout":"78","maxout":"93","action":"scale","round":true,"property":"payload","name":"","x":1435,"y":1737,"wires":[["44e7b6a1569ef327"]]},{"id":"6169d7201ffffe35","type":"inject","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9","payloadType":"num","x":1088,"y":1737,"wires":[["a617669c6c0f436d"]]},{"id":"44e7b6a1569ef327","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c1a8ca9680941361","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"92","tot":"num"}],"x":1792,"y":1737,"wires":[[]]},{"id":"efb9f75e5dd845b9","type":"range","z":"ae38b2dbd23d1681","g":"5e36274b8a1603b8","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":471,"y":1846,"wires":[["3da54c655cdbcc59"]]},{"id":"1d328e7ac830edde","type":"inject","z":"ae38b2dbd23d1681","g":"5e36274b8a1603b8","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"no payload","x":244,"y":1846,"wires":[["efb9f75e5dd845b9","c232c564ad629652","2e30cbbd368bf846","bb6b153233875ba7"]]},{"id":"3da54c655cdbcc59","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"5e36274b8a1603b8","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"notset"},{"p":"topic","pt":"msg","t":"eql","to":"no payload","tot":"str"}],"x":718,"y":1846,"wires":[[]]},{"id":"c232c564ad629652","type":"range","z":"ae38b2dbd23d1681","g":"5e36274b8a1603b8","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"clamp","round":false,"property":"payload","name":"","x":471,"y":1895.3333333333333,"wires":[["6f87c567bd671704"]]},{"id":"2e30cbbd368bf846","type":"range","z":"ae38b2dbd23d1681","g":"5e36274b8a1603b8","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":471,"y":1944.6666666666665,"wires":[["c13e65e07e7c74d3"]]},{"id":"bb6b153233875ba7","type":"range","z":"ae38b2dbd23d1681","g":"5e36274b8a1603b8","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":false,"property":"payload","name":"","x":471,"y":1994,"wires":[["1cba2d25747abcf4"]]},{"id":"6f87c567bd671704","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"5e36274b8a1603b8","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"notset"},{"p":"topic","pt":"msg","t":"eql","to":"no payload","tot":"str"}],"x":718,"y":1895.3333333333333,"wires":[[]]},{"id":"c13e65e07e7c74d3","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"5e36274b8a1603b8","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"notset"},{"p":"topic","pt":"msg","t":"eql","to":"no payload","tot":"str"}],"x":718,"y":1944.6666666666665,"wires":[[]]},{"id":"1cba2d25747abcf4","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"5e36274b8a1603b8","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"notset"},{"p":"topic","pt":"msg","t":"eql","to":"no payload","tot":"str"}],"x":718,"y":1994,"wires":[[]]},{"id":"d553c251cba66b78","type":"range","z":"ae38b2dbd23d1681","g":"4afb20631c30f911","minin":"0.4","maxin":"9.5","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":426,"y":1543.5,"wires":[["c654c8667e23d2a3"]]},{"id":"b3e842d5c24405ac","type":"inject","z":"ae38b2dbd23d1681","g":"4afb20631c30f911","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"16.66","payloadType":"num","x":227,"y":1543.5,"wires":[["d553c251cba66b78"]]},{"id":"c654c8667e23d2a3","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"4afb20631c30f911","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"78.6813186813187","tot":"num"}],"x":714,"y":1543.5,"wires":[[]]},{"id":"cf1b459ac2f2a131","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"9135dfcf227bb0b9","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-60","tot":"num"}],"x":652,"y":1647,"wires":[[]]},{"id":"b53b9f69cdb8a9f6","type":"inject","z":"ae38b2dbd23d1681","g":"db3b335ac5b8127b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13.1","payloadType":"num","x":1097,"y":1862.5,"wires":[["7a493dd6b4c75678"]]},{"id":"7a493dd6b4c75678","type":"range","z":"ae38b2dbd23d1681","g":"db3b335ac5b8127b","minin":"0","maxin":"9.5","minout":"-100.6","maxout":"-0.7","action":"clamp","round":true,"property":"payload","name":"","x":1434,"y":1862.5,"wires":[["6628be4ef4bf259c"]]},{"id":"6628be4ef4bf259c","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"db3b335ac5b8127b","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-1","tot":"num"}],"x":1791,"y":1862.5,"wires":[[]]},{"id":"b81a6a783a8dab4a","type":"range","z":"ae38b2dbd23d1681","g":"5343cb685acfd37d","minin":"0","maxin":"9.5","minout":"-100.6","maxout":"-0.7","action":"clamp","round":true,"property":"payload","name":"","x":1434,"y":1963.6666463216143,"wires":[["49e00a02f1de0ecb"]]},{"id":"e86f5a7c79f0eae6","type":"inject","z":"ae38b2dbd23d1681","g":"5343cb685acfd37d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-13.1","payloadType":"num","x":1097,"y":1963.6666463216143,"wires":[["b81a6a783a8dab4a"]]},{"id":"49e00a02f1de0ecb","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"5343cb685acfd37d","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-100","tot":"num"}],"x":1801,"y":1963.6666463216143,"wires":[[]]},{"id":"92f555c0d00cf258","type":"inject","z":"ae38b2dbd23d1681","g":"e481daad02ea8d36","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":1096,"y":2300,"wires":[["0207f27433d59cab"]]},{"id":"0207f27433d59cab","type":"range","z":"ae38b2dbd23d1681","g":"e481daad02ea8d36","minin":"0","maxin":"9.5","minout":"0.3","maxout":"0.9","action":"clamp","round":true,"property":"payload","name":"","x":1423,"y":2300,"wires":[["e2629620a7ffe4a6"]]},{"id":"9858e86a29e10142","type":"inject","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":207,"y":356,"wires":[["e6e4a3141c576271"]]},{"id":"e6e4a3141c576271","type":"range","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","minin":"0","maxin":"9.5","minout":"0.3","maxout":"0.9","action":"clamp","round":false,"property":"payload","name":"","x":451,"y":356,"wires":[["59f9d54ef85b1665"]]},{"id":"59f9d54ef85b1665","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"0.5526315789473684","tot":"num"}],"x":738,"y":356,"wires":[[]]},{"id":"e2629620a7ffe4a6","type":"ut-assert-failure","z":"ae38b2dbd23d1681","g":"e481daad02ea8d36","name":"","x":1753,"y":2300,"wires":[]}]