testflows/b50f775ae3b74d38/flows.json
[{"id":"b50f775ae3b74d38","type":"tab","label":"[.jsonata] testing the modulo operator","disabled":false,"info":"## Modulo, remainder, percent operator.\n\nAn operator by any other names still does the same.\n\n","env":[]},{"id":"17085241f0427be7","type":"group","z":"b50f775ae3b74d38","name":"assert values supports JSONata","style":{"label":true},"nodes":["47ba05387d443c84","2a4a8e39bde73518"],"x":588,"y":106,"w":368,"h":178.5},{"id":"140a158ee35ef834","type":"group","z":"b50f775ae3b74d38","name":"exception on invalid JSONata","style":{"label":true},"nodes":["85a0afc63ffe9bad","1bbc3f590aadb7b3","d20e7e6b41a045f6","038282beb41dac48"],"x":57,"y":128.5,"w":423,"h":142.5},{"id":"1f204e8d9f8d89e4","type":"group","z":"b50f775ae3b74d38","name":"update payload using remainder and send exactly 100 messages","style":{"label":true},"nodes":["dd3ef429997bcbb0","25c72860557fc670","2f3e735d2a5d0962","38870a057fa6e2e1","b140526482787f46","8c41ac0f798065be","66f4f0e1bed33a15","f135b13756f6921e","5834324ed620f733","ad7bc54866bb3f3b","eb57740503461ade"],"x":86,"y":347,"w":873,"h":542.7196174561977},{"id":"f135b13756f6921e","type":"junction","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","x":708.5510015487671,"y":818.7755060195923,"wires":[["eb57740503461ade"]]},{"id":"5834324ed620f733","type":"junction","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","x":214.80564180016518,"y":863.7196174561977,"wires":[["25c72860557fc670"]]},{"id":"eb57740503461ade","type":"junction","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","x":772.2676175236702,"y":863.7196174561977,"wires":[["5834324ed620f733"]]},{"id":"85a0afc63ffe9bad","type":"inject","z":"b50f775ae3b74d38","g":"140a158ee35ef834","name":"","props":[{"p":"value","v":"34","vt":"jsonata"},{"p":"bound","v":"7","vt":"num"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$$.payload % $$.bound","payloadType":"jsonata","x":153,"y":230,"wires":[["038282beb41dac48"]]},{"id":"1bbc3f590aadb7b3","type":"catch","z":"b50f775ae3b74d38","g":"140a158ee35ef834","name":"","scope":["85a0afc63ffe9bad"],"uncaught":false,"x":149,"y":169.5,"wires":[["d20e7e6b41a045f6"]]},{"id":"47ba05387d443c84","type":"inject","z":"b50f775ae3b74d38","g":"17085241f0427be7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"hello \" & \" world\"","payloadType":"jsonata","x":684,"y":147,"wires":[["2a4a8e39bde73518"]]},{"id":"2a4a8e39bde73518","type":"ut-assert-values","z":"b50f775ae3b74d38","g":"17085241f0427be7","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"\"hello \" & \" world\"","tot":"jsonata"},{"p":"payload","pt":"msg","t":"eql","to":"hello  world","tot":"str"}],"x":850,"y":243.5,"wires":[[]]},{"id":"dd3ef429997bcbb0","type":"inject","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","props":[{"p":"payload"},{"p":"rounds","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":182,"y":388,"wires":[["25c72860557fc670"]]},{"id":"25c72860557fc670","type":"switch","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","property":"rounds","propertyType":"msg","rules":[{"t":"gte","v":"10","vt":"num"},{"t":"lt","v":"10","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":540,"wires":[["8c41ac0f798065be"],["2f3e735d2a5d0962","66f4f0e1bed33a15"]]},{"id":"2f3e735d2a5d0962","type":"change","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"update payload using remainder operator","rules":[{"p":"payload","pt":"msg","t":"set","to":"($$.payload + 1) % 10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":473,"y":692,"wires":[["38870a057fa6e2e1"]]},{"id":"38870a057fa6e2e1","type":"switch","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":363,"y":813,"wires":[["b140526482787f46"],["f135b13756f6921e"]]},{"id":"b140526482787f46","type":"change","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"update rounds counter","rules":[{"p":"rounds","pt":"msg","t":"set","to":"$$.rounds + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":542,"y":780,"wires":[["f135b13756f6921e","ad7bc54866bb3f3b"]]},{"id":"8c41ac0f798065be","type":"ut-assert-success","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","count":1,"x":574,"y":464,"wires":[]},{"id":"66f4f0e1bed33a15","type":"ut-assert-success","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","count":"100","x":578,"y":546.5,"wires":[]},{"id":"ad7bc54866bb3f3b","type":"ut-assert-success","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","count":"10","x":853,"y":780,"wires":[]},{"id":"d20e7e6b41a045f6","type":"ut-assert-failure","z":"b50f775ae3b74d38","g":"140a158ee35ef834","name":"","x":324,"y":169.5,"wires":[]},{"id":"038282beb41dac48","type":"ut-assert-values","z":"b50f775ae3b74d38","g":"140a158ee35ef834","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"payload","pt":"msg"}],"x":354,"y":230,"wires":[[]]}]