testflows/2c59ef974b2523ba/flows.json
[{"id":"2c59ef974b2523ba","type":"tab","label":"[split] nested parts","disabled":false,"info":"## Support nested parts\n\n","env":[]},{"id":"386e5bd6e3350e8f","type":"inject","z":"2c59ef974b2523ba","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[[[[[1,2,3],[4,5,6],[7,8,9]]]]]","payloadType":"json","x":417,"y":516.5,"wires":[["eff055d4ee2c6cf6"]]},{"id":"eff055d4ee2c6cf6","type":"split","z":"2c59ef974b2523ba","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":697,"y":516.5,"wires":[["c6081cb025dcb50e"]]},{"id":"c6081cb025dcb50e","type":"switch","z":"2c59ef974b2523ba","name":"","property":"$type($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"array","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":696,"y":672,"wires":[["eff055d4ee2c6cf6"],["92dd48188b13a2c1","bff41394b04d1b6b"]]},{"id":"92dd48188b13a2c1","type":"ut-assert-success","z":"2c59ef974b2523ba","name":"","count":"9","x":1022,"y":679,"wires":[]},{"id":"bff41394b04d1b6b","type":"ut-assert-values","z":"2c59ef974b2523ba","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"parts.count","pt":"msg","to":"3","tot":"num"},{"t":"eql","p":"parts.parts.parts.parts.parts.count","pt":"msg","to":"1","tot":"num"}],"x":1022,"y":764,"wires":[[]]}]