testflows/9a1bdfdcd7b2be8e/flows.json
[{"id":"9a1bdfdcd7b2be8e","type":"tab","label":"[batch] performance","disabled":false,"info":"## How good is the performance?\n\nErlang-Red takes far too long to execute this flow, Node-RED does it in a blink of an eye.\n\nErlang-Red:\n\n![img](https://cdn.openmindmap.org/content/1755505291975_erlang-red-storage-2.gif)\n\nNode-RED:\n\n![img](https://cdn.openmindmap.org/content/1755505303780_node-red-storage-3.gif)\n\n## Update\n\nBut then thanks to a [bunch of tips](https://erlangforums.com/t/efficient-storage-using-lists/4988/4?u=gorenje) on the Erlang forum, the performance is now faster than NodeJS - the test **had** a timeout of seven seconds and Erlang-Red, when this test is run in isolation, completes succesfully, i.e., before the timeout is triggered.\n\nI increased the timeout to 12 seconds for this test because when the test is run in parallel with all the other tests, second seconds was to short.","env":[{"name":"ERED_PENDING","value":"false","type":"bool"},{"name":"ERED_TIMEOUT","value":"10","type":"num"}]},{"id":"9fa2f7cd15b8caa4","type":"inject","z":"9a1bdfdcd7b2be8e","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":238,"y":824.625,"wires":[["5d6f380c9b798e96"]]},{"id":"5d6f380c9b798e96","type":"change","z":"9a1bdfdcd7b2be8e","name":"update counter","rules":[{"p":"payload","pt":"msg","t":"set","to":"counter","tot":"msg"},{"p":"counter","pt":"msg","t":"set","to":"$$.counter + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":507.57142639160156,"y":824.625,"wires":[["b395b59279a76913","673877639403db17","c28798952b709e59","1cd9ebfa855b0988","253ec065bde0ba1d","da6daafe03f78750","ee041834ffb850d3","44119b9a99eeba3e","88f84bf53f6b569e","bbebd9213dccf92a","c1482cf818bea94d","6d0d2c2f59d634a0"]]},{"id":"b395b59279a76913","type":"batch","z":"9a1bdfdcd7b2be8e","name":"","mode":"count","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"honourParts":false,"topics":[],"x":774,"y":824.625,"wires":[["49dec3dfd467998f","ac7daa1eaea284d4","260808b81de24f71"]]},{"id":"673877639403db17","type":"switch","z":"9a1bdfdcd7b2be8e","name":"limit to 100_000 messages","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"100000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":507.57142639160156,"y":249.7857437133789,"wires":[["5d6f380c9b798e96"]]},{"id":"49dec3dfd467998f","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":955,"y":824.625,"wires":[["cc3bdaac63f522e2"]]},{"id":"ac7daa1eaea284d4","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":975,"y":723,"wires":[["85b5855397541559","c855e4999399491a"]]},{"id":"c28798952b709e59","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":975,"y":666.8888888888887,"wires":[["f7ce1a0b6472cea0","6d2f1993fc02f0ce"]]},{"id":"85b5855397541559","type":"debug","z":"9a1bdfdcd7b2be8e","name":"debug 17","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"full","statusVal":"","statusType":"counter","x":1215,"y":723,"wires":[]},{"id":"f7ce1a0b6472cea0","type":"debug","z":"9a1bdfdcd7b2be8e","name":"debug 18","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"full","statusVal":"","statusType":"counter","x":1215,"y":666.8888888888887,"wires":[]},{"id":"1cd9ebfa855b0988","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"9000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":965,"y":610.7777777777778,"wires":[["71817617bd0becca","5373c2624f138c27"]]},{"id":"71817617bd0becca","type":"debug","z":"9a1bdfdcd7b2be8e","name":"debug 19","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"full","statusVal":"","statusType":"counter","x":1215,"y":610.7777777777778,"wires":[]},{"id":"253ec065bde0ba1d","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"8000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":965,"y":554.6666666666665,"wires":[["62bac0367e5a82b2","6d17a2b39511dea8"]]},{"id":"62bac0367e5a82b2","type":"debug","z":"9a1bdfdcd7b2be8e","name":"debug 20","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"full","statusVal":"","statusType":"counter","x":1215,"y":554.6666666666665,"wires":[]},{"id":"da6daafe03f78750","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"7000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":965,"y":498.55555555555566,"wires":[["c0b1bc7e5a9919cc","e96eca9d8fc6985d"]]},{"id":"c0b1bc7e5a9919cc","type":"debug","z":"9a1bdfdcd7b2be8e","name":"debug 21","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"full","statusVal":"","statusType":"counter","x":1215,"y":498.55555555555543,"wires":[]},{"id":"ee041834ffb850d3","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"6000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":965,"y":442.44444444444434,"wires":[["ca41d3ab44370757","41a2337fbe6158d5"]]},{"id":"ca41d3ab44370757","type":"debug","z":"9a1bdfdcd7b2be8e","name":"debug 22","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"full","statusVal":"","statusType":"counter","x":1215,"y":442.44444444444434,"wires":[]},{"id":"44119b9a99eeba3e","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"5000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":965,"y":386.3333333333335,"wires":[["f8057c8bfd9060cc","506b0ea0bc35b731"]]},{"id":"f8057c8bfd9060cc","type":"debug","z":"9a1bdfdcd7b2be8e","name":"debug 23","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"full","statusVal":"","statusType":"counter","x":1215,"y":386.33333333333326,"wires":[]},{"id":"88f84bf53f6b569e","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"4000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":965,"y":330.2222222222222,"wires":[["adde2c168ca48a93","11ecf67575de031c"]]},{"id":"adde2c168ca48a93","type":"debug","z":"9a1bdfdcd7b2be8e","name":"debug 24","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"full","statusVal":"","statusType":"counter","x":1215,"y":330.2222222222222,"wires":[]},{"id":"bbebd9213dccf92a","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"3000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":965,"y":274.1111111111111,"wires":[["5b0325d8599a10c3","848347bd1d0f4dfc"]]},{"id":"5b0325d8599a10c3","type":"debug","z":"9a1bdfdcd7b2be8e","name":"debug 25","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"full","statusVal":"","statusType":"counter","x":1215,"y":274.1111111111111,"wires":[]},{"id":"c1482cf818bea94d","type":"join","z":"9a1bdfdcd7b2be8e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":965,"y":218,"wires":[["458d3a58c37d477f","8c611b95b68a81da"]]},{"id":"458d3a58c37d477f","type":"debug","z":"9a1bdfdcd7b2be8e","name":"debug 26","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"full","statusVal":"","statusType":"counter","x":1215,"y":218,"wires":[]},{"id":"c855e4999399491a","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"10","x":1428.5715713500977,"y":784.7619192335341,"wires":[]},{"id":"6d2f1993fc02f0ce","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"10","x":1428.5715713500977,"y":714.5502851274277,"wires":[]},{"id":"8c611b95b68a81da","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"50","x":1428.5715713500977,"y":152.857212278578,"wires":[]},{"id":"848347bd1d0f4dfc","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"33","x":1428.5715713500977,"y":223.06884638468424,"wires":[]},{"id":"11ecf67575de031c","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"25","x":1428.5715713500977,"y":293.28048049079047,"wires":[]},{"id":"506b0ea0bc35b731","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"20","x":1428.5715713500977,"y":363.4921145968967,"wires":[]},{"id":"41a2337fbe6158d5","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"16","x":1428.5715713500977,"y":433.70374870300293,"wires":[]},{"id":"e96eca9d8fc6985d","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"14","x":1428.5715713500977,"y":503.91538280910913,"wires":[]},{"id":"6d17a2b39511dea8","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"12","x":1428.5715713500977,"y":574.1270169152153,"wires":[]},{"id":"5373c2624f138c27","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"11","x":1428.5715713500977,"y":644.3386510213215,"wires":[]},{"id":"6d0d2c2f59d634a0","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"100001","x":792.8571624755859,"y":901.4285888671875,"wires":[]},{"id":"260808b81de24f71","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"100000","x":1110.7143669128418,"y":901.4285888671875,"wires":[]},{"id":"cc3bdaac63f522e2","type":"ut-assert-success","z":"9a1bdfdcd7b2be8e","name":"","count":"10000","x":1418.5715713500977,"y":901.4285888671875,"wires":[]}]