testflows/f946aafaebb1398d/flows.json
[{"disabled":false,"env":[],"id":"f946aafaebb1398d","info":"","label":"[change] debug message if no catch node","type":"tab"},{"crontab":"","id":"2226d9591c2f20b6","name":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["e257b7eb63f26b55"]],"x":225,"y":360.25,"z":"f946aafaebb1398d"},{"action":"","from":"","id":"e257b7eb63f26b55","name":"","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"$fromMillis()","tot":"jsonata"}],"to":"","type":"change","wires":[["253ca6fab4318ecd"]],"x":497.5,"y":360.25,"z":"f946aafaebb1398d"},{"id":"253ca6fab4318ecd","name":"","type":"ut-assert-failure","wires":[],"x":780,"y":360.25,"z":"f946aafaebb1398d"},{"id":"0d6934d9ecec1350","inverse":false,"msgtype":"error","name":"","nodeid":"e257b7eb63f26b55","scope":["e257b7eb63f26b55"],"type":"ut-assert-debug","wires":[["22901bfced10026b"]],"x":623,"y":467.5,"z":"f946aafaebb1398d"},{"id":"22901bfced10026b","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"payload['level']","pt":"msg","t":"eql","to":"20","tot":"num"},{"p":"payload.msg.error_msg","pt":"msg","t":"eql","to":"jsonata unsupported function: {fromMillis,[]}","tot":"str"},{"p":"payload.id","pt":"msg","t":"eql","to":"e257b7eb63f26b55","tot":"str"},{"p":"debug.type","pt":"msg","t":"eql","to":"error","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":1019,"y":467.5,"z":"f946aafaebb1398d"}]