testflows/30a121650c89fce3/flows.json
[{"id":"30a121650c89fce3","type":"tab","label":"[module] Using with Statemachine","disabled":false,"info":"## Using module code with statemachines\n\nDemonstrates the use of module nodes with the statemachine node.\n\n## Details\n\nImplements the following state machine:\n\n```mermaid\n%% Generated by the Flow2UML Node @ https://flowhub.org/flow2uml\n%% change direction to LR for Node-RED left-to-right UML\nflowchart TB\ne391be61858495a9@{ shape: \"circle\", label: \"start\" } --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" } -- \"AAR\" --> 7497b5cde23db3d6@{ shape: \"rounded\", label: \"pending\" }\n7497b5cde23db3d6@{ shape: \"rounded\", label: \"pending\" } -- \"AAA Result : AUTHORISATION_REJECTED\" --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n7497b5cde23db3d6@{ shape: \"rounded\", label: \"pending\" } -- \"AAA Result : SUCCESS\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"open\" } -- \"RAR\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"open\" } -- \"AAA Result-Code=SUCCESS#124;MULTI_ROUND_AUTH\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"open\" } -- \"ASR\" --> 4324a228efde6037@{ shape: \"rounded\", label: \"disconnected\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"open\" } -- \"AAA Result : AUTHORISATION_REJECTED\" --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n4324a228efde6037@{ shape: \"rounded\", label: \"disconnected\" } -- \"STA\" --> 81adf2e8a4251297@{ shape: \"dbl-circ\", label: \"done\" }\n```\n","env":[{"name":"ERED_ONLY","value":"true","type":"bool"}]},{"id":"c8f34e0352bfc88c","type":"erlmodule","z":"30a121650c89fce3","name":"","module_name":"diameter_statem_authorisation","code":"-module(diameter_statem_authorisation).\n\n%%\n%%  APIs: https://www.erlang.org/doc/apps/stdlib/gen_statem.html\n%%\n\n-behaviour(gen_statem).\n\n-export([\n    start/0,\n    init/1,\n    callback_mode/0,\n    handle_event/4,\n    code_change/4,\n    terminate/3,\n    stop/0\n]).\n\n%% WARNING: state_functions are not supported by statemachine node.\n%% callback_mode() -> state_functions.\ncallback_mode() -> handle_event_function.\n\n-define(KEEP_STATE(ReplyWith),\n    {keep_state, Data, [{reply, From, ReplyWith}]}\n).\n\nstart() ->\n    gen_statem:start({local, ?MODULE}, ?MODULE, [], []).\n\nstop() ->\n    gen_statem:stop(?MODULE).\nterminate(_Reason, _State, _Data) ->\n    void.\ncode_change(_Vsn, State, Data, _Extra) ->\n    {ok, State, Data}.\n\n%% Initial state and data\ninit([]) ->\n    State = idle, \n    Data = 0,\n    {ok,State,Data}.\n\n%%% handle event function\n\nhandle_event(\n  {call, From},\n  <<\"AAR\">>,\n  idle,\n  Data\n) ->\n    {next_state, pending, Data, [{reply, From, ok}]};\n\nhandle_event(\n  {call, From},\n  {<<\"AAA\">>, <<\"success\">>},\n  pending,\n  Data\n) ->\n    {next_state, open, Data, [{reply, From, ok}]};\n\nhandle_event(\n  {call, From},\n  {<<\"AAA\">>, <<\"authorisation_rejected\">>},\n  pending,\n  Data\n) ->\n    {next_state, idle, Data, [{reply, From, ok}]};\n\nhandle_event(\n  {call, From},\n  {<<\"AAA\">>, <<\"authorization_rejected\">>},\n  pending,\n  Data\n) ->\n    {next_state, idle, Data, [{reply, From, ok}]};\n\n\n%% Fall through\nhandle_event(\n  {call, From},\n  _Action,\n  _CurrState,\n  Data\n) ->\n    ?KEEP_STATE(ignored);\n\n\n%%% Absolute fall through\nhandle_event(EventType, Stiff, State, Data) ->\n    io:format(\"TEST : ~p ~p ~p ~p~n\",[EventType, Stiff, State, Data]),\n    {keep_state, Data}.\n","x":1033,"y":355,"wires":[]},{"id":"57adb046ca1b49fc","type":"erlstatemachine","z":"30a121650c89fce3","name":"","scope":["c8f34e0352bfc88c"],"emit_on_state_change":false,"x":1097,"y":479,"wires":[["97bf4552cae798b7"]]},{"id":"12a9b126fde76957","type":"inject","z":"30a121650c89fce3","name":"AAR","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":643,"y":410,"wires":[["57adb046ca1b49fc"]]},{"id":"97bf4552cae798b7","type":"debug","z":"30a121650c89fce3","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1384,"y":465,"wires":[]},{"id":"a02b7cbed4562f38","type":"inject","z":"30a121650c89fce3","name":"AAA - Authorisation Refjected","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AUTHORISATION_REJECTED","payloadType":"str","x":651,"y":552,"wires":[["57adb046ca1b49fc"]]},{"id":"8cb6058b34bc0264","type":"inject","z":"30a121650c89fce3","name":"AAA - Mutli Round trip authorisation","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MULTI_ROUND_AUTH","payloadType":"str","x":646,"y":618,"wires":[["57adb046ca1b49fc"]]},{"id":"32893caa4524d6b4","type":"inject","z":"30a121650c89fce3","name":"AAA - Authorisation Successful","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SUCCESS","payloadType":"str","x":658.5,"y":693,"wires":[["57adb046ca1b49fc"]]}]