testflows/545871d31c3f5f3f/flows.json
[{"id":"545871d31c3f5f3f","type":"tab","label":"[filter] ignore initial value per topic","disabled":false,"info":"## Filter - ignore initial value per topic\n\nmode `rbei` on a per-topic basis\n\n","env":[]},{"id":"3c4e67584d19c012","type":"group","z":"545871d31c3f5f3f","name":"per topic don't send the initial value","style":{"label":true},"nodes":["ff44d76ddb8618c5","a4519d9ec264bb3a","9d63a911e312a048","a5527e6132c646e9","f215556409247811","9ded603d948ed650","c2af3753cbf5e774","60ad92906796867b","e0f5a70eea23ab99","262dcc8e95664099","6b0e88f98ae54a28"],"x":72.28570556640625,"y":93.85714721679688,"w":1398,"h":384.57144927978516},{"id":"6b0e88f98ae54a28","type":"group","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"repeat ten times to send the same payload/topic combination","style":{"label":true},"nodes":["1f14a5b8101a4912","9693c86b1d2a8820","b4a72eed516bcca8","149c09ce5a468b50","1c32306789fcfa66"],"x":236.85712432861328,"y":296.3571472167969,"w":661.428581237793,"h":156.07144927978516},{"id":"ff44d76ddb8618c5","type":"rbe","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"","func":"rbei","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":1091.2857055664062,"y":247.71429697672522,"wires":[["a5527e6132c646e9","f215556409247811","9ded603d948ed650","262dcc8e95664099"]]},{"id":"a4519d9ec264bb3a","type":"inject","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"payload = 1 / topic = one","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"one","payload":"1","payloadType":"num","x":228.28570556640625,"y":247.71429697672522,"wires":[["ff44d76ddb8618c5","1f14a5b8101a4912"]]},{"id":"9d63a911e312a048","type":"inject","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"payload = 1 / topic = two","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"two","payload":"1","payloadType":"num","x":245.28570556640625,"y":191.28572209676105,"wires":[["ff44d76ddb8618c5","1f14a5b8101a4912"]]},{"id":"1f14a5b8101a4912","type":"change","z":"545871d31c3f5f3f","g":"6b0e88f98ae54a28","name":"payload = 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":579.2857055664062,"y":337.3571472167969,"wires":[["9693c86b1d2a8820"]]},{"id":"9693c86b1d2a8820","type":"delay","z":"545871d31c3f5f3f","g":"6b0e88f98ae54a28","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":802.2857055664062,"y":337.3571472167969,"wires":[["ff44d76ddb8618c5","c2af3753cbf5e774","e0f5a70eea23ab99","b4a72eed516bcca8"]]},{"id":"a5527e6132c646e9","type":"ut-assert-success","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"","count":"3","x":1364.2857055664062,"y":165.85714721679688,"wires":[]},{"id":"f215556409247811","type":"ut-assert-values","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"2","tot":"num"},{"t":"eql","p":"topic","pt":"msg","to":"one","tot":"str"}],"x":1364.2857055664062,"y":247.71429697672522,"wires":[[]]},{"id":"9ded603d948ed650","type":"ut-assert-values","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"2","tot":"num"},{"t":"eql","p":"topic","pt":"msg","to":"two","tot":"str"}],"x":1364.2857055664062,"y":329.5714467366536,"wires":[[]]},{"id":"c2af3753cbf5e774","type":"ut-assert-success","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"","count":"12","x":1091.2857055664062,"y":337.3571472167969,"wires":[]},{"id":"60ad92906796867b","type":"inject","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"payload = 1 / topic = undefined","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":282.28570556640625,"y":134.85714721679688,"wires":[["ff44d76ddb8618c5","1f14a5b8101a4912"]]},{"id":"e0f5a70eea23ab99","type":"ut-assert-values","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"2","tot":"num"}],"x":1091.2857055664062,"y":411.42859649658203,"wires":[[]]},{"id":"262dcc8e95664099","type":"ut-assert-values","z":"545871d31c3f5f3f","g":"3c4e67584d19c012","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"2","tot":"num"},{"t":"notset","p":"topic","pt":"msg"}],"x":1364.2857055664062,"y":411.42859649658203,"wires":[[]]},{"id":"b4a72eed516bcca8","type":"function","z":"545871d31c3f5f3f","g":"6b0e88f98ae54a28","name":"set message counter","func":"%% _mc_incoming is an internal counter of messages received \n%% by any node during its lifetime. this counter is for this\n%% function node and defacto counts the number of times the\n%% message looped passed this function node.\n\n#{ '_mc_incoming' := Incoming } = NodeDef,\nMsg#{ <<\"msg_count\">> => Incoming }\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":767.1428375244141,"y":411.42859649658203,"wires":[["149c09ce5a468b50"]]},{"id":"149c09ce5a468b50","type":"switch","z":"545871d31c3f5f3f","g":"6b0e88f98ae54a28","name":"","property":"msg_count","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":312.8571243286133,"y":411.42859649658203,"wires":[["1f14a5b8101a4912","1c32306789fcfa66"]]},{"id":"1c32306789fcfa66","type":"ut-assert-success","z":"545871d31c3f5f3f","g":"6b0e88f98ae54a28","name":"","count":"9","x":540,"y":411.42859649658203,"wires":[]}]