testflows/2cba7a58be90660c/flows.json
[{"id":"2cba7a58be90660c","type":"tab","label":"[split] using strings and buffers","disabled":false,"info":"## Split in Erlang\n\nBecause Erlang does not really differentiate between strings, buffers and lists, the split node in Erlang-Red has a secret configuration options.\n\n## Setup\n\nStep one is to convert an binary type to list type ==> <a class=\"ahl-node-only\" data-ids=\"cb6f49f329c11a66\">convert binary to list</a>\n\nSplit on fixed length of 17 --> <a class=\"ahl-node-only\" data-ids=\"4542ecb2f153d732\">split fixed length of 17</a>. The configuration sets an array fixed length of 17.\n\nIf this array fixed length is set to zero (0), then the character escape takes precendents and we split on newline --> <a class=\"ahl-node-only\" data-ids=\"68a5c97734d10661\">split by newline</a>","env":[{"name":"ERED_ONLY","type":"bool","value":"true"}]},{"id":"a0d5a33cd2d2bcc7","type":"template","z":"2cba7a58be90660c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"01b074cfa6ae8818\n02b18fc0ed9de178\n048a36525238b2e7\n05a47f94321ed67e\n069552b2eb6bce48\n08183069b5f8ef9c\n084fb0fc954b7156\n090eb2d5d71fd45f\n09aab59a2455cf15\n0b299a3175fc0df1\n0c35d269ca7178c6\n0c61e2d737ba7a38\n0cb8971e5f88ed1e\n0cc95e44532c14ec\n0e54563ba63b1501\n12572f9ac11e1786\n13e6f82c8b9d1ff9\n1566e453a88578a9\n15c2fad089960984\n1658196c31549916\n16b0bc0cdb0c5807\n16b254125478329a\n182731f54d855071\n1a196bce3e57f5c1\n1ac53952c6ec6ef6\n1bac0a78e0a36ec0\n1c1d2cb981cf9f01\n1c559e3b05c03dbd\n1d3326a724ecbea0\n1db9c9a1b92e0263\n1eb35963b752eca9\n1fd621a674360b5d\n2037454a5ee0d6c3\n211405fa9e8a6f9b\n213803d61ecfde3a\n218350f2e240a15d\n24f35eaa8656755f\n264a27b9ee0e4245\n27804627fb8f56bd\n2990f23c277c4133\n2a12af161b544aa1\n2a2c508260b96236\n2a95a7b40a798878\n2c1c291ec8466bfb\n2c5903c9e50d0648\n2d51a745ca17dc05\n30465efe017cc9b0\n30c79fc42a5c35eb\n33227a66e95912d8\n338c5b411f4edfe8\n34d211e37618313c\n36846ad6698e1bc0\n368c348d25dfc2fe\n38616d22e1569aa5\n38f712d367cecffa\n39115a0590bf9df0\n3afa3b2ec00a5e3d\n3bba732ae17b01a9\n3be6bc074c7647bd\n3d6a5582d9779194\n3e9e526b992d4c48\n3ea113b4ec3b6e5e\n3ed472eab9503b4f\n3edda6bd788f88c2\n43e8af136f4d0fbe\n442b3bf0d630e21d\n44f12f6e4a455084\n45209c67f865ce73\n459322e0f8e0b785\n4657dbc0aa4a97bb\n47514a335b4cd67e\n486c1412721bb241\n48d9fdcde317974e\n499288ab4007ac6a\n49c0a3ed69d61f56\n4d9e38557d6fbd2d\n50d5679818477b66\n51870a76d1aaf67a\n538be5947c639b32\n5433b57035d597f9\n55f105cfd894b06c\n55f7fbe90e5befa8\n562c518969666f24\n5672fa442b2b881d\n57d44c342a1f00e2\n597ee2a683d9908f\n59aa8a866d8d7a70\n59da63b5adb460db\n5a06352874fa379d\n5c8974f17ca70789\n5cd133958df17529\n5cf6aec7d688fce4\n5d4908af3d4f95e5\n5e07acf2da13b504\n5f6929bb3374b782\n61847d719e50f83f\n6316ee59f55d37bf\n63ca9baf860d1d8f\n641ddaab2819c61d\n64445798b59d2630\n678153b1daa0529a\n684b9066e98b9722\n698b83b8aeb5d5b6\n6a9ffd45c418497b\n6abf7d72177d415f\n6b22ce2a482c2d6d\n6d46e3fe1f2245b8\n6ec0c8870821dd63\n6f0dcbf18234c5e2\n6ff45e2a0ce77393\n700c94899fdd3334\n70218d3772c38d89\n70fb2a061a2b073d\n71f65246c742cfc9\n73c6ec3469166a53\n7444a788860dd588\n7581c2be261f9c17\n777bee1d06741240\n77854a5ea962257b\n789a7d7140b6d7a4\n789db0c14f72267f\n79d0839cd7b4061d\n7b77600dcf78933f\n7dae2b1a7881c607\n7e1d04570c6bdff9\n7ecfd18f58fc6510\n7fea9696f6186962\n8180ae5891c673de\n83c5e1824f32abec\n8421f37b6c40e1ec\n84a5a362cafe703f\n866410b56fa42447\n8a627c9bfe3b4aff\n8bc7412d6a4869c6\n8d041d29e8fbe087\n8f1ed58b183fe5d3\n90c1ce90f8af227f\n92054e0dd22f14c6\n93c6e969dcf84e70\n9463eba0ab843567\n96b4a92ae47b9885\n96f6f83dcab507e5\n9746601768c3b3b6\n987cd33b9cda8529\n988f27b9abdde6e9\n9a1bdfdcd7b2be8e\n9b1023c95a2613cc\n9c51a179141515b2\n9d11bfc3a6d88535\n9d3f5506aa810b22\n9e03cf744fc6f35f\n9e7ccc97f80d9afb\n9f0d6c3ad7798a77\n9f7351d7a7304584\na123cd431f1967cd\na1b70e98f22a1eb0\na4c9cabf4b335488\na6dc7002d0a8640e\na862ae412a70ded1\na916165378c446e3\naf57984ed3302e3e\nb07b511dc8bb8339\nb1430ea37ba7cc19\nb1501de32c769cf2\nb2a67e301fabab0e\nb3f365d0b7d1f97d\nb4951675b6a39a5d\nb50f775ae3b74d38\nb5fbcdbffb568569\nb6d4e4592b27a344\nb70a7ce34819e4d5\nb723353a316fa50e\nb7ebaf91f4d66ab3\nb8269a6664b5cd20\nb85795a24882502b\nb864b3e3510cd120\nb8e2ad1371ddb546\nb98d0b05a760ad79\nb9cd19107a5145c4\nba3d72801a820b0f\nbbb1fc2d47c3cd5f\nbdbe94d065f3b3a6\nbfced61e72c69715\nbff27e059752cb60\nc1370220fd37968e\nc163c627bd2a37c7\nc274a07715a87ca4\nc28048d859db3773\nc381b5135cc947cd\nc4690c0a085d6ef5\nc4b44f0eb78bc401\nc4c29c2fd5665ed9\nc562c43e69bcf0af\nc5f513bc380bc30a\nc6ee6e89a51c98fc\nc843dacf753a19d8\ncaccb020fce3f485\ncb538fcaaab76178\ncd44a688eb2ab3cf\nce2f98273da05245\nce75d24712238223\nced70c769db825eb\ncfa8595b2e2b8269\ncffa610c817beb43\nd17062b01c4a9435\nd17fb2553fe8013a\nd4ce58359ff6ff96\nd5424657b497d5af\nd595c53abba88f72\nd6c796491294233e\nd86dba2bb81b4770\nd97b4eeb4ce93f0b\ndbc618ad5f0210bb\ndc897f402c53697f\ndd3a287f4b66745a\ndef45a46c8f4da72\ndef56742e02f6a75\ne1ced3b16782f7c8\ne447b0048a5983b5\ne7184b7ca4f07907\nea246f68766c8630\nea246f68766c8632\neb447048178f6e16\nec921769b3c24fb6\ned621e03921c13de\need68dbcecd1431f\nef61f644d5436dbe\nf1e71f2ccb34fd6e\nf2f61ec9fc46a468\nf346d45c81f595e5\nf47f7da6ad1183ed\nf4c4a57e77439a1b\nf5bdafa844f6d280\nf5f82ca50317fda7\nf8727464c799eb22\nf946aafaebb1398d\nf94db507552f4934\nfae1d837c1508d1f\nfb50bac16667fc54\nfbd5864f413917b8\n","output":"str","x":460,"y":526,"wires":[["cb6f49f329c11a66"]]},{"id":"dcb13153cf2b28f5","type":"inject","z":"2cba7a58be90660c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":365,"y":348,"wires":[["a0d5a33cd2d2bcc7"]]},{"id":"4542ecb2f153d732","type":"split","z":"2cba7a58be90660c","name":"split fixed length of 17","splt":"\\n","spltType":"str","arraySplt":"17","arraySpltType":"len","stream":false,"addname":"","property":"payload","x":880,"y":624,"wires":[["02ad8a344c2e8df7"]]},{"id":"cb6f49f329c11a66","type":"change","z":"2cba7a58be90660c","name":"convert binary to list","rules":[{"p":"payload","pt":"msg","t":"set","to":"$toList($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":628,"y":689.5,"wires":[["4542ecb2f153d732","68a5c97734d10661"]]},{"id":"68a5c97734d10661","type":"split","z":"2cba7a58be90660c","name":"split by newline","splt":"\\n","spltType":"str","arraySplt":"0","arraySpltType":"len","stream":false,"addname":"","property":"payload","x":1074,"y":689.5,"wires":[["534b76099c3c1620"]]},{"id":"534b76099c3c1620","type":"change","z":"2cba7a58be90660c","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$toString($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1157.5,"y":555,"wires":[["f8d4cacca1b10d6d"]]},{"id":"02ad8a344c2e8df7","type":"change","z":"2cba7a58be90660c","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$toString($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":906,"y":518,"wires":[["cfa57b9fd2ee7320"]]},{"id":"cfa57b9fd2ee7320","type":"ut-assert-success","z":"2cba7a58be90660c","name":"","count":"240","x":1007,"y":406,"wires":[]},{"id":"f8d4cacca1b10d6d","type":"ut-assert-success","z":"2cba7a58be90660c","name":"","count":"241","x":1301,"y":406,"wires":[]}]