testflows/c4690c0a085d6ef5/flows.json
[
    {
        "id": "c4690c0a085d6ef5",
        "type": "tab",
        "label": "[json] parse example json content",
        "disabled": false,
        "info": "## Parsing flow json file\n\nparse a json string into an object.\n\nread a file containing JSON, pass that off to a JSON node to convert that to list of maps (in this case).\n\nthen count the number of elements in the list and compare that number with 8!\n\nThe json happens to be a test flow json, so after this test, the json node can successfully parse a node red flow json file!\n\nIt's turtles all the way down.\n\n",
        "env": [
            {
                "name": "ERED_KEEPRUNNING",
                "value": "false",
                "type": "bool"
            }
        ]
    },
    {
        "id": "453848d471cdd83d",
        "type": "inject",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 253,
        "y": 466,
        "wires": [
            [
                "3b388ddeac0e89f5"
            ]
        ]
    },
    {
        "id": "7778fb3372eda641",
        "type": "json",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 591,
        "y": 466,
        "wires": [
            [
                "c1724fc6ab23c0c4"
            ]
        ]
    },
    {
        "id": "4ae89e9e828d9ebc",
        "type": "ut-assert-values",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "rules": [
            {
                "t": "eql",
                "p": "first",
                "pt": "msg",
                "to": "{\"disabled\":false,\"env\":[],\"id\":\"9e7ccc97f80d9afb\",\"info\":\"A file name can also be dynamic and be taken from the msg object passed to the file in node.\",\"label\":\"[file in] will accept file name from msg obj\",\"type\":\"tab\"}",
                "tot": "json"
            }
        ],
        "x": 1051,
        "y": 546.5,
        "wires": [
            []
        ]
    },
    {
        "id": "c1724fc6ab23c0c4",
        "type": "change",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "first",
                "pt": "msg",
                "to": "$$.payload[0]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$count($$.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 792,
        "y": 466,
        "wires": [
            [
                "b1a7846c21cceac0",
                "4ae89e9e828d9ebc"
            ]
        ]
    },
    {
        "id": "b1a7846c21cceac0",
        "type": "ut-assert-values",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "x": 1061,
        "y": 466,
        "wires": [
            []
        ]
    },
    {
        "id": "3b388ddeac0e89f5",
        "type": "template",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "[\n    {\n        \"id\": \"9e7ccc97f80d9afb\",\n        \"type\": \"tab\",\n        \"label\": \"[file in] will accept file name from msg obj\",\n        \"disabled\": false,\n        \"info\": \"A file name can also be dynamic and be taken from the msg object passed to the file in node.\",\n        \"env\": []\n    },\n    {\n        \"id\": \"3de9bd2926669640\",\n        \"type\": \"inject\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"props\": [\n            {\n                \"p\": \"filename\",\n                \"v\": \"priv/testdata/helloworld.txt\",\n                \"vt\": \"str\"\n            }\n        ],\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"onceDelay\": 0.1,\n        \"topic\": \"\",\n        \"x\": 128,\n        \"y\": 400,\n        \"wires\": [\n            [\n                \"e89d0c894d08b485\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"e89d0c894d08b485\",\n        \"type\": \"file in\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"filename\": \"filename\",\n        \"filenameType\": \"msg\",\n        \"format\": \"utf8\",\n        \"chunk\": false,\n        \"sendError\": false,\n        \"encoding\": \"none\",\n        \"allProps\": false,\n        \"x\": 325,\n        \"y\": 498.5,\n        \"wires\": [\n            [\n                \"e0f13216032f1fe6\",\n                \"e36810e4203e8306\",\n                \"05c8dee92f3f6768\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"e0f13216032f1fe6\",\n        \"type\": \"ut-assert-values\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"rules\": [\n            {\n                \"t\": \"mth\",\n                \"p\": \"payload\",\n                \"pt\": \"msg\",\n                \"to\": \"hello world\",\n                \"tot\": \"str\"\n            }\n        ],\n        \"x\": 577,\n        \"y\": 396,\n        \"wires\": [\n            []\n        ]\n    },\n    {\n        \"id\": \"e36810e4203e8306\",\n        \"type\": \"debug\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"debug 1\",\n        \"active\": true,\n        \"tosidebar\": true,\n        \"console\": false,\n        \"tostatus\": false,\n        \"complete\": \"false\",\n        \"statusVal\": \"\",\n        \"statusType\": \"auto\",\n        \"x\": 542,\n        \"y\": 611,\n        \"wires\": []\n    },\n    {\n        \"id\": \"2b511c22a8ddb371\",\n        \"type\": \"ut-assert-debug\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"nodeid\": \"e89d0c894d08b485\",\n        \"msgtype\": \"normal\",\n        \"inverse\": true,\n        \"x\": 232,\n        \"y\": 544.5,\n        \"wires\": []\n    },\n    {\n        \"id\": \"05c8dee92f3f6768\",\n        \"type\": \"ut-assert-success\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"x\": 629,\n        \"y\": 496.5,\n        \"wires\": []\n    },\n    {\n        \"id\": \"3d9780925fed909b\",\n        \"type\": \"ut-assert-debug\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"nodeid\": \"e36810e4203e8306\",\n        \"msgtype\": \"normal\",\n        \"inverse\": false,\n        \"x\": 661,\n        \"y\": 653,\n        \"wires\": []\n    }\n]",
        "output": "str",
        "x": 419.5,
        "y": 466,
        "wires": [
            [
                "7778fb3372eda641"
            ]
        ]
    }
]