testflows/93c6e969dcf84e70/flows.json
[{"id":"93c6e969dcf84e70","type":"tab","label":"[.core] ensure that message ids don't change","disabled":false,"info":"_msgid is set on the msg object when it is initially generated and it should not be altered.\n\nThis test should be added to as new nodes are developed.","env":[{"name":"ERED_TIMEOUT","value":"3","type":"num"}]},{"id":"a51f7bde26951218","type":"junction","z":"93c6e969dcf84e70","x":860.2857131958008,"y":223.3571228981018,"wires":[["ffe0def7dae08a6e"]]},{"id":"32dfa16e89e49029","type":"inject","z":"93c6e969dcf84e70","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140.14287185668945,"y":223.3571228981018,"wires":[["fbb81bdc18ea8f25"]]},{"id":"fbb81bdc18ea8f25","type":"change","z":"93c6e969dcf84e70","name":"","rules":[{"p":"originalmsgid","pt":"msg","t":"set","to":"'_msgid'","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":566.2857131958008,"y":223.3571228981018,"wires":[["c0f8ea9bc57750aa","5f5a58d565596eae","2128ec60ae59b23a","a51f7bde26951218","d5402783f4a7f363"]]},{"id":"ffe0def7dae08a6e","type":"ut-assert-values","z":"93c6e969dcf84e70","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"'_msgid'","pt":"msg","t":"eql","to":"originalmsgid","tot":"msg"}],"x":1206.2857131958008,"y":345.07140827178955,"wires":[[]]},{"id":"2128ec60ae59b23a","type":"delay","z":"93c6e969dcf84e70","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860.2857131958008,"y":431.57140827178955,"wires":[["ffe0def7dae08a6e"]]},{"id":"c0f8ea9bc57750aa","type":"delay","z":"93c6e969dcf84e70","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860.2857131958008,"y":302.57140827178955,"wires":[["ffe0def7dae08a6e"]]},{"id":"5f5a58d565596eae","type":"change","z":"93c6e969dcf84e70","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860.2857131958008,"y":132.57140827178955,"wires":[["ffe0def7dae08a6e"]]},{"id":"d5402783f4a7f363","type":"ut-assert-values","z":"93c6e969dcf84e70","name":"","rules":[{"p":"'_msgid'","pt":"msg","t":"set"}],"x":860.2857131958008,"y":524.5714082717896,"wires":[["ffe0def7dae08a6e"]]}]