examples/e2a801d2b3e2143f/flows.json
[{"id":"e2a801d2b3e2143f","type":"tab","label":"[exec] add payload and append arguments","disabled":false,"info":"","env":[]},{"id":"472945c2450be0f9","type":"inject","z":"e2a801d2b3e2143f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"this payload should be added to command","payloadType":"str","x":346,"y":471.5,"wires":[["213173f778c09e55"]]},{"id":"213173f778c09e55","type":"exec","z":"e2a801d2b3e2143f","command":"echo","addpay":"payload","append":"append these options","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":555,"y":471.5,"wires":[["e55de3916e19dc55"],["163b130d8dec4edc"],["1aa04abcac0c59de"]]},{"id":"e55de3916e19dc55","type":"ut-assert-values","z":"e2a801d2b3e2143f","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"this payload should be added to command append these options\\n","tot":"str"}],"x":789,"y":357,"wires":[[]]},{"id":"163b130d8dec4edc","type":"ut-assert-failure","z":"e2a801d2b3e2143f","name":"","x":837,"y":471.5,"wires":[]},{"id":"1aa04abcac0c59de","type":"ut-assert-values","z":"e2a801d2b3e2143f","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload.code","pt":"msg","to":"0","tot":"num"}],"x":875,"y":601,"wires":[[]]}]