testflows/0cc95e44532c14ec/flows.json
[{"disabled":false,"env":[],"id":"0cc95e44532c14ec","info":"Ensure that unsupported functions don't crash the process and are instead pushed out to the debug log.","label":"[inject] unsupported JSONata function","type":"tab"},{"h":240.5,"id":"95c19d8bc208f282","name":"exception is raised and captured, no message is generated by inject node","nodes":["1bf09e3d2cebe0d7","8a7407c5a476617f","3e849ab6c6bee761","d02e47bf421d74ac","5dd119b3c4a92c78","4b6cf03dc32f937e"],"style":{"label":true},"type":"group","w":830,"x":123,"y":166,"z":"0cc95e44532c14ec"},{"h":143,"id":"442ef567ebbd92af","name":"exception is raised but not captured, debug message. Also no message is generated by the inject node.","nodes":["650d8bbc3d9dc0c2","ad5087bbf2439079","478138fefcd2b049","3acf1a7f7c4a7f92"],"style":{"label":true},"type":"group","w":871,"x":115,"y":474.5,"z":"0cc95e44532c14ec"},{"crontab":"","g":"95c19d8bc208f282","id":"1bf09e3d2cebe0d7","name":"","once":false,"onceDelay":0.1,"props":[{"p":"topic","v":"1 - $fromMillis()","vt":"jsonata"}],"repeat":"","topic":"","type":"inject","wires":[["8a7407c5a476617f"]],"x":219,"y":365,"z":"0cc95e44532c14ec"},{"g":"95c19d8bc208f282","id":"8a7407c5a476617f","name":"","type":"ut-assert-failure","wires":[],"x":621,"y":365.5,"z":"0cc95e44532c14ec"},{"g":"95c19d8bc208f282","id":"3e849ab6c6bee761","name":"","scope":["1bf09e3d2cebe0d7"],"type":"catch","uncaught":false,"wires":[["d02e47bf421d74ac"]],"x":218,"y":316,"z":"0cc95e44532c14ec"},{"count":1,"g":"95c19d8bc208f282","id":"d02e47bf421d74ac","name":"","type":"ut-assert-success","wires":[],"x":494,"y":210.5,"z":"0cc95e44532c14ec"},{"crontab":"","g":"442ef567ebbd92af","id":"650d8bbc3d9dc0c2","name":"","once":false,"onceDelay":0.1,"props":[{"p":"topic","v":"1 - $fromMillis()","vt":"jsonata"}],"repeat":"","topic":"","type":"inject","wires":[["ad5087bbf2439079"]],"x":211,"y":515.5,"z":"0cc95e44532c14ec"},{"g":"442ef567ebbd92af","id":"ad5087bbf2439079","name":"","type":"ut-assert-failure","wires":[],"x":729,"y":516,"z":"0cc95e44532c14ec"},{"g":"442ef567ebbd92af","id":"478138fefcd2b049","inverse":false,"msgtype":"error","name":"","nodeid":"650d8bbc3d9dc0c2","scope":["650d8bbc3d9dc0c2"],"type":"ut-assert-debug","wires":[["3acf1a7f7c4a7f92"]],"x":464,"y":576.5,"z":"0cc95e44532c14ec"},{"g":"95c19d8bc208f282","id":"5dd119b3c4a92c78","inverse":true,"msgtype":"normal","name":"","nodeid":"1bf09e3d2cebe0d7","scope":["1bf09e3d2cebe0d7"],"type":"ut-assert-debug","wires":[["4b6cf03dc32f937e"]],"x":595,"y":285.5,"z":"0cc95e44532c14ec"},{"g":"95c19d8bc208f282","id":"4b6cf03dc32f937e","name":"","type":"ut-assert-failure","wires":[],"x":857,"y":207,"z":"0cc95e44532c14ec"},{"g":"442ef567ebbd92af","id":"3acf1a7f7c4a7f92","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"payload.name","pt":"msg","t":"eql","to":"inject","tot":"str"},{"p":"payload['level']","pt":"msg","t":"eql","to":"20","tot":"num"},{"p":"payload.format","pt":"msg","t":"eql","to":"object","tot":"str"},{"p":"payload.id","pt":"msg","t":"eql","to":"650d8bbc3d9dc0c2","tot":"str"},{"p":"debug.nodeid","pt":"msg","t":"eql","to":"650d8bbc3d9dc0c2","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":880,"y":576.5,"z":"0cc95e44532c14ec"}]