testflows/71f65246c742cfc9/flows.json
[{"disabled":false,"env":[{"name":"ERED_PENDING","type":"bool","value":"false"}],"id":"71f65246c742cfc9","info":"","label":"[catch] multiple nodes in one flow is possible","type":"tab"},{"id":"6e5fd52c5bf786e8","name":"","scope":null,"type":"catch","uncaught":false,"wires":[["13c95e26362f7633"]],"x":437.5,"y":477.42857599258423,"z":"71f65246c742cfc9"},{"crontab":"","id":"9fd8b8c40553c7df","name":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["959114782f87a8cf"]],"x":134,"y":327,"z":"71f65246c742cfc9"},{"allProps":false,"chunk":false,"encoding":"none","filename":"this file does not exist","filenameType":"str","format":"utf8","id":"959114782f87a8cf","name":"","sendError":false,"type":"file in","wires":[[]],"x":554,"y":682,"z":"71f65246c742cfc9"},{"id":"ecae3cb564a621c7","name":"","scope":null,"type":"catch","uncaught":false,"wires":[["3a91fefe55adda78"]],"x":524,"y":586.8571519851685,"z":"71f65246c742cfc9"},{"id":"4ddc3d91dc6709f5","name":"","scope":null,"type":"catch","uncaught":false,"wires":[["8ccf419283508bf0"]],"x":351,"y":368,"z":"71f65246c742cfc9"},{"id":"f1fbb8bc93f12f3d","inverse":true,"msgtype":"normal","name":"","nodeid":"959114782f87a8cf","scope":["959114782f87a8cf"],"type":"ut-assert-debug","wires":[["9e1da40f50320b44"]],"x":670,"y":733,"z":"71f65246c742cfc9"},{"count":1,"id":"3a91fefe55adda78","name":"","type":"ut-assert-success","wires":[],"x":950.0000610351562,"y":586.8571519851685,"z":"71f65246c742cfc9"},{"count":1,"id":"13c95e26362f7633","name":"","type":"ut-assert-success","wires":[],"x":950.0000610351562,"y":477.42857599258423,"z":"71f65246c742cfc9"},{"count":1,"id":"8ccf419283508bf0","name":"","type":"ut-assert-success","wires":[],"x":950.0000610351562,"y":368,"z":"71f65246c742cfc9"},{"id":"9e1da40f50320b44","name":"","type":"ut-assert-failure","wires":[],"x":950.0000610351562,"y":733,"z":"71f65246c742cfc9"}]