examples/f2f61ec9fc46a468/flows.json
[
    {
        "id": "f2f61ec9fc46a468",
        "type": "tab",
        "label": "[function] support timeout setting",
        "disabled": false,
        "info": "## Function timeout support\n\nNon-negative timeout values in seconds.\n\nNegative and zero are intrepreted as being Infinite timeout.\n",
        "env": [
            {
                "name": "ERED_PENDING",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "ERED_TIMEOUT",
                "value": "7",
                "type": "num"
            },
            {
                "name": "NRED_TIMEOUT",
                "value": "7",
                "type": "num"
            }
        ]
    },
    {
        "id": "a2c9f90d9ea31a1f",
        "type": "group",
        "z": "f2f61ec9fc46a468",
        "name": "disabled Node-RED Javascript code",
        "style": {
            "label": true
        },
        "nodes": [
            "1eee0e64c24bc099",
            "2a05ee46ab296dc9"
        ],
        "x": 165,
        "y": 1523,
        "w": 494,
        "h": 540
    },
    {
        "id": "e25627231644112e",
        "type": "group",
        "z": "f2f61ec9fc46a468",
        "name": "timeout exception caught by catch",
        "style": {
            "label": true
        },
        "nodes": [
            "5b347e54a92d9ff9",
            "3e76245fbd5691b3",
            "0e89114541b7fb2b",
            "b5a8d6dddb17942c",
            "7839bdfb8c79023a"
        ],
        "x": 161,
        "y": 135.5,
        "w": 918.5,
        "h": 145
    },
    {
        "id": "0b1ae6a07c7f9ee1",
        "type": "group",
        "z": "f2f61ec9fc46a468",
        "name": "all good, function completed before timeout - no exception, no debug",
        "style": {
            "label": true
        },
        "nodes": [
            "fd67b21de5786024",
            "33112fdcb207fc20",
            "76a7f5738f160266",
            "3695a84826fa554c",
            "f2ea106b01f1a4c9"
        ],
        "x": 159.5,
        "y": 302.5,
        "w": 949.5,
        "h": 150
    },
    {
        "id": "fb9fdb40b651e3d8",
        "type": "group",
        "z": "f2f61ec9fc46a468",
        "name": "all good, function completed before timeout - no exception, no debug",
        "style": {
            "label": true
        },
        "nodes": [
            "616ceb4757f22365",
            "58d552991d0fc84b",
            "9fabb5b3c93de925",
            "0bae6e41684e87d5",
            "375eb051e1d7e54c"
        ],
        "x": 160,
        "y": 475.5,
        "w": 949.5,
        "h": 150
    },
    {
        "id": "1eee0e64c24bc099",
        "type": "group",
        "z": "f2f61ec9fc46a468",
        "g": "a2c9f90d9ea31a1f",
        "name": "timeout of zero is infinity timeout",
        "style": {
            "label": true
        },
        "nodes": [
            "a2cf94ef446d743d",
            "3363a0e7454b99ef",
            "5504c9690eeecdc5"
        ],
        "x": 200,
        "y": 1549,
        "w": 433,
        "h": 202
    },
    {
        "id": "2a05ee46ab296dc9",
        "type": "group",
        "z": "f2f61ec9fc46a468",
        "g": "a2c9f90d9ea31a1f",
        "name": "timeout of one",
        "style": {
            "label": true
        },
        "nodes": [
            "ee68ff84422283b9",
            "71b45ad7258db27d",
            "25a223e8463ca4fb"
        ],
        "x": 191,
        "y": 1835,
        "w": 422,
        "h": 202
    },
    {
        "id": "5b347e54a92d9ff9",
        "type": "function",
        "z": "f2f61ec9fc46a468",
        "g": "e25627231644112e",
        "name": "one second timeout, 3 second sleep",
        "func": "var startTime = Date.now()\n\nwhile((startTime + 3000) > Date.now()) {\n    for( var idx = 0 ; idx < 100000; idx++){\n        idx+=1\n    }\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 577,
        "y": 176.5,
        "wires": [
            [
                "0e89114541b7fb2b"
            ]
        ]
    },
    {
        "id": "3e76245fbd5691b3",
        "type": "inject",
        "z": "f2f61ec9fc46a468",
        "g": "e25627231644112e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 267,
        "y": 176.5,
        "wires": [
            [
                "5b347e54a92d9ff9"
            ]
        ]
    },
    {
        "id": "a2cf94ef446d743d",
        "type": "function",
        "z": "f2f61ec9fc46a468",
        "g": "1eee0e64c24bc099",
        "name": "function 39",
        "func": "var idx = 0\nwhile ( idx < 10_000_000_000 ) {\n    idx++\n}\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 526,
        "y": 1590,
        "wires": [
            []
        ]
    },
    {
        "id": "3363a0e7454b99ef",
        "type": "inject",
        "z": "f2f61ec9fc46a468",
        "d": true,
        "g": "1eee0e64c24bc099",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 306,
        "y": 1710,
        "wires": [
            [
                "a2cf94ef446d743d"
            ]
        ]
    },
    {
        "id": "5504c9690eeecdc5",
        "type": "catch",
        "z": "f2f61ec9fc46a468",
        "g": "1eee0e64c24bc099",
        "name": "",
        "scope": [
            "a2cf94ef446d743d"
        ],
        "uncaught": false,
        "x": 557,
        "y": 1661,
        "wires": [
            []
        ]
    },
    {
        "id": "ee68ff84422283b9",
        "type": "function",
        "z": "f2f61ec9fc46a468",
        "g": "2a05ee46ab296dc9",
        "name": "function 40",
        "func": "while(1==1){};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 517,
        "y": 1876,
        "wires": [
            []
        ]
    },
    {
        "id": "71b45ad7258db27d",
        "type": "inject",
        "z": "f2f61ec9fc46a468",
        "d": true,
        "g": "2a05ee46ab296dc9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 297,
        "y": 1996,
        "wires": [
            [
                "ee68ff84422283b9"
            ]
        ]
    },
    {
        "id": "25a223e8463ca4fb",
        "type": "catch",
        "z": "f2f61ec9fc46a468",
        "g": "2a05ee46ab296dc9",
        "name": "",
        "scope": [
            "ee68ff84422283b9"
        ],
        "uncaught": false,
        "x": 534,
        "y": 1927,
        "wires": [
            []
        ]
    },
    {
        "id": "0e89114541b7fb2b",
        "type": "ut-assert-failure",
        "z": "f2f61ec9fc46a468",
        "g": "e25627231644112e",
        "name": "",
        "x": 937,
        "y": 176.5,
        "wires": []
    },
    {
        "id": "fd67b21de5786024",
        "type": "function",
        "z": "f2f61ec9fc46a468",
        "g": "0b1ae6a07c7f9ee1",
        "name": "three second timeout, one second sleep",
        "func": "var startTime = Date.now()\n\nwhile((startTime + 1000) > Date.now()) {\n    for( var idx = 0 ; idx < 100000; idx++){\n        idx+=1\n    }\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": "3",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 572.5,
        "y": 411.5,
        "wires": [
            [
                "76a7f5738f160266"
            ]
        ]
    },
    {
        "id": "33112fdcb207fc20",
        "type": "inject",
        "z": "f2f61ec9fc46a468",
        "g": "0b1ae6a07c7f9ee1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 265.5,
        "y": 411.5,
        "wires": [
            [
                "fd67b21de5786024"
            ]
        ]
    },
    {
        "id": "76a7f5738f160266",
        "type": "ut-assert-success",
        "z": "f2f61ec9fc46a468",
        "g": "0b1ae6a07c7f9ee1",
        "name": "",
        "count": 1,
        "x": 1013,
        "y": 411.5,
        "wires": []
    },
    {
        "id": "3695a84826fa554c",
        "type": "catch",
        "z": "f2f61ec9fc46a468",
        "g": "0b1ae6a07c7f9ee1",
        "name": "",
        "scope": [
            "fd67b21de5786024"
        ],
        "uncaught": false,
        "x": 465,
        "y": 344,
        "wires": [
            [
                "f2ea106b01f1a4c9"
            ]
        ]
    },
    {
        "id": "f2ea106b01f1a4c9",
        "type": "ut-assert-failure",
        "z": "f2f61ec9fc46a468",
        "g": "0b1ae6a07c7f9ee1",
        "name": "",
        "x": 1013,
        "y": 343.5,
        "wires": []
    },
    {
        "id": "616ceb4757f22365",
        "type": "function",
        "z": "f2f61ec9fc46a468",
        "g": "fb9fdb40b651e3d8",
        "name": "zero second timeout, three second sleep",
        "func": "var startTime = Date.now()\n\nwhile((startTime + 3000) > Date.now()) {\n    for( var idx = 0 ; idx < 100000; idx++){\n        idx+=1\n    }\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": "0",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 573,
        "y": 584.5,
        "wires": [
            [
                "9fabb5b3c93de925"
            ]
        ]
    },
    {
        "id": "58d552991d0fc84b",
        "type": "inject",
        "z": "f2f61ec9fc46a468",
        "g": "fb9fdb40b651e3d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 266,
        "y": 584.5,
        "wires": [
            [
                "616ceb4757f22365"
            ]
        ]
    },
    {
        "id": "9fabb5b3c93de925",
        "type": "ut-assert-success",
        "z": "f2f61ec9fc46a468",
        "g": "fb9fdb40b651e3d8",
        "name": "",
        "count": 1,
        "x": 1013.5,
        "y": 584.5,
        "wires": []
    },
    {
        "id": "0bae6e41684e87d5",
        "type": "catch",
        "z": "f2f61ec9fc46a468",
        "g": "fb9fdb40b651e3d8",
        "name": "",
        "scope": [
            "616ceb4757f22365"
        ],
        "uncaught": false,
        "x": 465.5,
        "y": 517,
        "wires": [
            [
                "375eb051e1d7e54c"
            ]
        ]
    },
    {
        "id": "375eb051e1d7e54c",
        "type": "ut-assert-failure",
        "z": "f2f61ec9fc46a468",
        "g": "fb9fdb40b651e3d8",
        "name": "",
        "x": 1013.5,
        "y": 516.5,
        "wires": []
    },
    {
        "id": "b5a8d6dddb17942c",
        "type": "ut-assert-values",
        "z": "f2f61ec9fc46a468",
        "g": "e25627231644112e",
        "name": "",
        "ignore_failure_if_succeed": false,
        "rules": [
            {
                "t": "eql",
                "p": "error.source.id",
                "pt": "msg",
                "to": "5b347e54a92d9ff9",
                "tot": "str"
            },
            {
                "t": "eql",
                "p": "error.source.type",
                "pt": "msg",
                "to": "function",
                "tot": "str"
            },
            {
                "t": "eql",
                "p": "error.source.count",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "eql",
                "p": "error.message",
                "pt": "msg",
                "to": "Error: Script execution timed out after 1000ms",
                "tot": "str"
            }
        ],
        "x": 973.5,
        "y": 239.5,
        "wires": [
            []
        ]
    },
    {
        "id": "7839bdfb8c79023a",
        "type": "catch",
        "z": "f2f61ec9fc46a468",
        "g": "e25627231644112e",
        "name": "",
        "scope": [
            "5b347e54a92d9ff9"
        ],
        "uncaught": false,
        "x": 477,
        "y": 238,
        "wires": [
            [
                "b5a8d6dddb17942c"
            ]
        ]
    }
]