testflows/bf1f5dd7dfa9efe3/flows.json
[{"id":"bf1f5dd7dfa9efe3","type":"tab","label":"[eventhandler] multiple dynamic event handlers","disabled":false,"info":"## Multiple dynamic event handlers\n\nEnsure that it is possible to create multiple event handlers from the same module but using different module id and that done dynamically with different initial arguments.","env":[]},{"id":"a1ee6aaad95d7471","type":"erlmodule","z":"bf1f5dd7dfa9efe3","name":"","module_name":"echo_event_handler_bf1f5dd7dfa9efe3","code":"-module(echo_event_handler_bf1f5dd7dfa9efe3).\n\n%%\n%% APIs https://www.erlang.org/doc/apps/stdlib/gen_event.html\n%%\n\n-behaviour(gen_event).\n\n-export([\n    init/1,\n    handle_event/2,\n    handle_call/2,\n    handle_info/2,\n    terminate/2,\n    code_change/3\n]).\n\n-import(ered_nodes, [\n    send_msg_to_connected_nodes/2\n]).\n\ninit(Args) ->\n    {ok, Args}.\n\nhandle_event({<<\"send_initial_value\">>, Msg, EventHandlerNodeDef}, State) ->\n    Msg2 = Msg#{ \n        <<\"payload\">> => State\n    },\n\n    send_msg_to_connected_nodes(EventHandlerNodeDef, Msg2),\n\n    {ok, State};\n\nhandle_event(_Event, State) ->\n    {ok, State}.\n\nhandle_call(_Request, State) ->\n    {ok, ok, State}.\n\nhandle_info(_Info, State) ->\n    {ok, State}.\n\nterminate(_Reason, _State) ->\n    ok.\n\ncode_change(_OldVsn, State, _Extra) ->\n    {ok, State}.\n\n","x":955,"y":304,"wires":[]},{"id":"43e0d98e3fa90760","type":"erleventhandler","z":"bf1f5dd7dfa9efe3","name":"","handlers":[{"nodeid":"","moduleterm":"","arg":""}],"x":958,"y":422.5,"wires":[["58270c3017a83a8a"]]},{"id":"29079dfb73cb86f2","type":"inject","z":"bf1f5dd7dfa9efe3","name":"install the 'one' handler","props":[{"p":"module_name","v":"echo_event_handler_bf1f5dd7dfa9efe3","vt":"str"},{"p":"module_id","v":"one","vt":"str"},{"p":"module_arg","v":"one","vt":"str"},{"p":"action","v":"add_handler","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":581,"y":422.5,"wires":[["43e0d98e3fa90760"]]},{"id":"58270c3017a83a8a","type":"switch","z":"bf1f5dd7dfa9efe3","name":"added handler?","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"add_handler","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":742,"y":732,"wires":[["f6bc8d169228e68f"],["9659de4cd85923d1","bb64543fd19a69ca","65ad7e76d8305584","cdaa3f71fb016544"]]},{"id":"f6bc8d169228e68f","type":"switch","z":"bf1f5dd7dfa9efe3","name":"which handler was added?","property":"module_id","propertyType":"msg","rules":[{"t":"eq","v":"one","vt":"str"},{"t":"eq","v":"two","vt":"str"},{"t":"eq","v":"three","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1011,"y":669,"wires":[["53b95c617d9ae4b2"],["1a5c55e5688bda85"],["870269c8cb55f2c1"]]},{"id":"53b95c617d9ae4b2","type":"change","z":"bf1f5dd7dfa9efe3","name":"install the 'two' handler","rules":[{"t":"set","p":"module_id","pt":"msg","to":"two","tot":"str"},{"t":"set","p":"module_arg","pt":"msg","to":"two","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1356,"y":505,"wires":[["43e0d98e3fa90760"]]},{"id":"1a5c55e5688bda85","type":"change","z":"bf1f5dd7dfa9efe3","name":"install the 'three' handler","rules":[{"t":"set","p":"module_id","pt":"msg","to":"three","tot":"str"},{"t":"set","p":"module_arg","pt":"msg","to":"three","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1356,"y":557,"wires":[["43e0d98e3fa90760"]]},{"id":"870269c8cb55f2c1","type":"change","z":"bf1f5dd7dfa9efe3","name":"retrieve the initial values ","rules":[{"t":"delete","p":"module_name","pt":"msg"},{"t":"delete","p":"module_id","pt":"msg"},{"t":"delete","p":"module_arg","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"action","pt":"msg"},{"t":"set","p":"event","pt":"msg","to":"send_initial_value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1356,"y":609,"wires":[["43e0d98e3fa90760"]]},{"id":"bb64543fd19a69ca","type":"ut-assert-values","z":"bf1f5dd7dfa9efe3","name":"payload = one","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"one","tot":"str"}],"x":1026,"y":809.5,"wires":[[]]},{"id":"9659de4cd85923d1","type":"ut-assert-success","z":"bf1f5dd7dfa9efe3","name":"","count":"3","x":1096,"y":738.5,"wires":[]},{"id":"65ad7e76d8305584","type":"ut-assert-values","z":"bf1f5dd7dfa9efe3","name":"payload = two","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"two","tot":"str"}],"x":1026,"y":869.75,"wires":[[]]},{"id":"cdaa3f71fb016544","type":"ut-assert-values","z":"bf1f5dd7dfa9efe3","name":"payload = three","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"three","tot":"str"}],"x":1026,"y":930,"wires":[[]]}]