testflows/6a9ffd45c418497b/flows.json
[{"disabled":false,"env":[{"name":"ERED_PENDING","type":"bool","value":"false"}],"id":"6a9ffd45c418497b","info":"## Catch node catch file exception\n\nfile in node will throw an exception to the catch node if one is defined within the same flow. \n\nIt's up to the catch node to handle it or not.\n\nthe <a class=\"ahl-node-only\" data-ids=\"39cedd1c01be1c7b\">file node</a> generates no debug output because its exception is being caught by the catch node.\n\nthis test demonstrates the node red feature that exceptions are either logged to debug by the node or caught by a catch node and then handled - no debug is generated if an exception is caught.","label":"[catch] file not found exception","type":"tab"},{"id":"f7c29103767c99f3","name":"","scope":null,"type":"catch","uncaught":false,"wires":[["204b7e59f9082e1a","9ce5ce298a392efd"]],"x":416,"y":480,"z":"6a9ffd45c418497b"},{"crontab":"","id":"5bd504d67ed2edb8","name":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["39cedd1c01be1c7b","b08246b1ef39a353"]],"x":169,"y":367,"z":"6a9ffd45c418497b"},{"allProps":false,"chunk":false,"encoding":"none","filename":"dfsafsdf","filenameType":"str","format":"utf8","id":"39cedd1c01be1c7b","name":"this is the name","sendError":false,"type":"file in","wires":[[]],"x":433,"y":623,"z":"6a9ffd45c418497b"},{"count":1,"id":"204b7e59f9082e1a","name":"","type":"ut-assert-success","wires":[],"x":742,"y":480,"z":"6a9ffd45c418497b"},{"id":"9ce5ce298a392efd","name":"","rules":[{"p":"error","pt":"msg","t":"set"},{"p":"error.source.name","pt":"msg","t":"eql","to":"this is the name","tot":"str"},{"p":"error.source.id","pt":"msg","t":"eql","to":"39cedd1c01be1c7b","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":705,"y":344.5,"z":"6a9ffd45c418497b"},{"id":"b08246b1ef39a353","name":"","rules":[{"p":"error","pt":"msg","t":"notset"}],"type":"ut-assert-values","wires":[[]],"x":415,"y":294,"z":"6a9ffd45c418497b"},{"id":"d7106702312ceca4","inverse":true,"msgtype":"normal","name":"","nodeid":"39cedd1c01be1c7b","scope":["39cedd1c01be1c7b"],"type":"ut-assert-debug","wires":[["9e59956ab9079b1c"]],"x":572,"y":698.5,"z":"6a9ffd45c418497b"},{"id":"9e59956ab9079b1c","name":"","type":"ut-assert-failure","wires":[],"x":986,"y":698.5,"z":"6a9ffd45c418497b"}]