testflows/3be6bc074c7647bd/flows.json
[{"id":"3be6bc074c7647bd","type":"tab","label":"[http] multiple endpoints don't all get the request","disabled":false,"info":"If there are multiple endpoints that are completely same, then ordering of definition takes precedents.\n\nAn endpoint is the same when method and path are the same.\n\nSince we don't know which order the endpoints are defined by ErlangRED, we collect together all their outputs and join to form an array of size 1.\n\nIf multiple messages are generated then the join 2 will trigger and hence cause a failure.\n\nOne request, one message and one response, regardless of the number of endpoints.","env":[{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"},{"name":"ERED_TIMEOUT","value":"5","type":"num"}]},{"id":"6f3510804fc3bee4","type":"junction","z":"3be6bc074c7647bd","x":795.0816414356232,"y":280.75,"wires":[["632ce57e1e3a5325","5208ae0ad47c65ba"]]},{"id":"8fc6e3d06952961c","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/t3be6bc074c7647bd/example06/data","method":"get","upload":false,"swaggerDoc":"","x":345,"y":280.75,"wires":[["6f3510804fc3bee4"]]},{"id":"5208ae0ad47c65ba","type":"ut-assert-success","z":"3be6bc074c7647bd","name":"","count":1,"x":1036,"y":280.75,"wires":[]},{"id":"699c2aea3ddbdbaa","type":"inject","z":"3be6bc074c7647bd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":645,"y":1116,"wires":[["2a450c41c1b18bc4"]]},{"id":"2a450c41c1b18bc4","type":"http request","z":"3be6bc074c7647bd","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/t3be6bc074c7647bd/example06/data","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":922,"y":1045,"wires":[["14438173ea65a0da","3da4d3a3903f38ae"]]},{"id":"14438173ea65a0da","type":"ut-assert-success","z":"3be6bc074c7647bd","name":"","count":1,"x":1216,"y":1046,"wires":[]},{"id":"f1505d2f3d4bd3c1","type":"http response","z":"3be6bc074c7647bd","name":"","statusCode":"200","headers":{},"x":1012,"y":485,"wires":[]},{"id":"632ce57e1e3a5325","type":"change","z":"3be6bc074c7647bd","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":989,"y":422,"wires":[["f1505d2f3d4bd3c1"]]},{"id":"3da4d3a3903f38ae","type":"ut-assert-values","z":"3be6bc074c7647bd","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"ok","tot":"str"}],"x":1236,"y":952.5,"wires":[[]]},{"id":"6075c92606ad6bc3","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/t3be6bc074c7647bd/example06/data","method":"get","upload":false,"swaggerDoc":"","x":303,"y":350,"wires":[["6f3510804fc3bee4"]]},{"id":"3fe808e4d905d92c","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/t3be6bc074c7647bd/example06/data","method":"get","upload":false,"swaggerDoc":"","x":349,"y":420,"wires":[["6f3510804fc3bee4"]]},{"id":"a5c3c0556921b32e","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/t3be6bc074c7647bd/example06/data","method":"get","upload":false,"swaggerDoc":"","x":413,"y":491,"wires":[["6f3510804fc3bee4"]]},{"id":"4fe04ea22f685e60","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/t3be6bc074c7647bd/example06/data","method":"get","upload":false,"swaggerDoc":"","x":477,"y":552,"wires":[["6f3510804fc3bee4"]]},{"id":"a8e3f4cfbf278d63","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/t3be6bc074c7647bd/example06/data","method":"get","upload":false,"swaggerDoc":"","x":548,"y":614,"wires":[["6f3510804fc3bee4"]]},{"id":"890bf6f79888e762","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/t3be6bc074c7647bd/example06/data","method":"get","upload":false,"swaggerDoc":"","x":572,"y":684,"wires":[["6f3510804fc3bee4"]]},{"id":"9766fef2f5da140d","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/t3be6bc074c7647bd/example06/data","method":"get","upload":false,"swaggerDoc":"","x":624,"y":737,"wires":[["6f3510804fc3bee4"]]},{"id":"6e058edf3b2d3d2e","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/t3be6bc074c7647bd/example06/data","method":"get","upload":false,"swaggerDoc":"","x":419,"y":219,"wires":[["6f3510804fc3bee4"]]}]