examples/7fea9696f6186962/flows.json
[
    {
        "id": "7fea9696f6186962",
        "type": "tab",
        "label": "[complete] avoid recursion - test case 2",
        "disabled": false,
        "info": "so complete nodes can also listen to each other can cause loops that way.\n\nHere two of the complete nodes are listening to each other - the third is looking on.\n\nIn this example, \n\n- complete node 1 is listening to complete node 2\n- complete node 2 is listening to complete node 1 --> the endless loop\n- complete node 3 is only listening to the inject and debug nodes.\n\nThis causes an Maximum Stack Exceeded exception and fails.",
        "env": [
            {
                "name": "ERED_PENDING",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "NRED_PENDING",
                "value": "true",
                "type": "bool"
            }
        ]
    },
    {
        "id": "458cfb74ed0c6a8e",
        "type": "inject",
        "z": "7fea9696f6186962",
        "name": "inject node",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 667,
        "wires": [
            [
                "2202f587f001e95e"
            ]
        ]
    },
    {
        "id": "26a92e7e4a2e4ac9",
        "type": "complete",
        "z": "7fea9696f6186962",
        "name": "complete node 1",
        "scope": [
            "458cfb74ed0c6a8e",
            "2202f587f001e95e",
            "7cadebf6ddc445ec"
        ],
        "uncaught": false,
        "x": 359,
        "y": 413.5,
        "wires": [
            []
        ]
    },
    {
        "id": "2202f587f001e95e",
        "type": "debug",
        "z": "7fea9696f6186962",
        "name": "debug 395",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1505,
        "y": 667,
        "wires": []
    },
    {
        "id": "dfdc073a9572613a",
        "type": "complete",
        "z": "7fea9696f6186962",
        "name": "complete node 3",
        "scope": [
            "458cfb74ed0c6a8e",
            "2202f587f001e95e"
        ],
        "uncaught": false,
        "x": 359,
        "y": 325,
        "wires": [
            []
        ]
    },
    {
        "id": "7cadebf6ddc445ec",
        "type": "complete",
        "z": "7fea9696f6186962",
        "name": "complete node 2",
        "scope": [
            "458cfb74ed0c6a8e",
            "26a92e7e4a2e4ac9",
            "2202f587f001e95e"
        ],
        "uncaught": false,
        "x": 359,
        "y": 369.25,
        "wires": [
            []
        ]
    },
    {
        "id": "390a53e96a08fa47",
        "type": "catch",
        "z": "7fea9696f6186962",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 596,
        "y": 168,
        "wires": [
            [
                "d4a67e2bc99bed52"
            ]
        ]
    },
    {
        "id": "d4a67e2bc99bed52",
        "type": "ut-assert-success",
        "z": "7fea9696f6186962",
        "name": "",
        "count": 1,
        "x": 1026,
        "y": 168,
        "wires": []
    }
]