testflows/77854a5ea962257b/flows.json
[{"id":"77854a5ea962257b","type":"tab","label":"[join] useparts without count value","disabled":false,"info":"## Join use parts but has no count value\n\nJoin node has very nuanced behaviour depended on the combination of its configuration.\n\nHere we are testing the `useparts` option which is set but there is no count set. This means that messages are only sent if a message with `complete = true` is sent to the join node.\n\nBut this complete message can have:\n\n- no `parts` attribute\n- a `parts` attribute that has the same parts id\n- a `parts` attribute that has a different parts id than those messages already collected\n- a parts attribute with no `parts.id` value.\n\nThese are the four cases tested here.\n\n## Setup\n\nThe message loop sends ten message with a `parts.id` set, ten messages with parts attribute set but containing no id value and finally ten messages without a parts attribute set.\n","env":[{"name":"ERED_NOT_EUNIT","value":"false","type":"bool"},{"name":"ERED_TIMEOUT","value":"4","type":"num"}]},{"id":"f517d073619b7365","type":"junction","z":"77854a5ea962257b","x":64.88016104698181,"y":510.6828227043152,"wires":[["5a7cb5da66d7a47e"]]},{"id":"53eb98bb1918f2c2","type":"junction","z":"77854a5ea962257b","x":1100.1112245321274,"y":507,"wires":[["635c3cfc0402722c","2a9947b5b13b3b5c","8fedc1ecfed0d4f2","2acfeca21e41be3f"]]},{"id":"6f5a1fe1ab3b6041","type":"junction","z":"77854a5ea962257b","x":1048.2064254879951,"y":703.5,"wires":[["635c3cfc0402722c","2a9947b5b13b3b5c","8fedc1ecfed0d4f2","2acfeca21e41be3f"]]},{"id":"b5cae31bb9e62846","type":"junction","z":"77854a5ea962257b","x":996.3016264438629,"y":805.25,"wires":[["635c3cfc0402722c","2a9947b5b13b3b5c","8fedc1ecfed0d4f2","2acfeca21e41be3f"]]},{"id":"cc9056d664d75811","type":"junction","z":"77854a5ea962257b","x":300.999996304512,"y":1049.2856985330582,"wires":[["d04d28de577f193e","fe12a4378c4656c9","68febb814225e84b","bd78dad839b4c4d0","4f543b7ed2334e17"]]},{"id":"635c3cfc0402722c","type":"join","z":"77854a5ea962257b","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":907,"wires":[["88eaeba18c75ef94"]]},{"id":"c8a142ae32bf0bb4","type":"inject","z":"77854a5ea962257b","name":"start here","props":[{"p":"payload"},{"p":"total","v":"10","vt":"num"},{"p":"count","v":"0","vt":"num"},{"p":"partsid","v":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":111,"y":213,"wires":[["baccd88f05ecefd3"]]},{"id":"baccd88f05ecefd3","type":"change","z":"77854a5ea962257b","name":"set parts with common parts id","rules":[{"p":"parts","pt":"msg","t":"set","to":"{ \"index\": $$.count, \"id\": $$.partsid }","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"20 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":507,"wires":[["f517d073619b7365","53eb98bb1918f2c2"]]},{"id":"5a7cb5da66d7a47e","type":"switch","z":"77854a5ea962257b","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"$$.total","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":148,"y":900,"wires":[["1629a250fa90853d"],["98e613361525fc9a"]]},{"id":"1629a250fa90853d","type":"change","z":"77854a5ea962257b","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$random()","tot":"jsonata"},{"p":"count","pt":"msg","t":"set","to":"$$.count + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":301.2221984863281,"y":703.5,"wires":[["baccd88f05ecefd3","f173f0166854eacb","af9464355517e059"]]},{"id":"fe12a4378c4656c9","type":"change","z":"77854a5ea962257b","name":"complete with no parts attribute","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":907,"wires":[["635c3cfc0402722c"]]},{"id":"2a9947b5b13b3b5c","type":"join","z":"77854a5ea962257b","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":975.6166585286459,"wires":[["f715ee2cbc4691cd"]]},{"id":"d04d28de577f193e","type":"change","z":"77854a5ea962257b","name":"complete with parts containing the same parts id ","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.id","pt":"msg","t":"set","to":"partsid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":975.6166585286459,"wires":[["2a9947b5b13b3b5c"]]},{"id":"8fedc1ecfed0d4f2","type":"join","z":"77854a5ea962257b","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":1044.2333170572917,"wires":[["e9e752f95335f943"]]},{"id":"68febb814225e84b","type":"change","z":"77854a5ea962257b","name":"complete with parts id that is different to the parts id used for messages","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"partsid","pt":"msg","t":"set","to":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","tot":"jsonata"},{"p":"parts.id","pt":"msg","t":"set","to":"partsid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1044.2333170572917,"wires":[["8fedc1ecfed0d4f2"]]},{"id":"f173f0166854eacb","type":"change","z":"77854a5ea962257b","name":"set parts without id","rules":[{"p":"parts","pt":"msg","t":"set","to":"{ \"index\": $$.count }","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"60 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":805.25,"wires":[["b5cae31bb9e62846"]]},{"id":"2acfeca21e41be3f","type":"join","z":"77854a5ea962257b","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":1112.8499755859375,"wires":[["b2cc84591a3f1f48"]]},{"id":"bd78dad839b4c4d0","type":"change","z":"77854a5ea962257b","name":"complete with a parts attribute that contains no id","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.id","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1112.8499755859375,"wires":[["2acfeca21e41be3f"]]},{"id":"af9464355517e059","type":"change","z":"77854a5ea962257b","name":"remove parts attribute on message","rules":[{"p":"parts","pt":"msg","t":"delete"},{"p":"payload","pt":"msg","t":"set","to":"40 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":703.5,"wires":[["6f5a1fe1ab3b6041"]]},{"id":"88eaeba18c75ef94","type":"change","z":"77854a5ea962257b","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$sort($map($$.payload, function($v) { $v.payload }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1544,"y":941.9999796549479,"wires":[["f97dd70c9b14e715"]]},{"id":"f715ee2cbc4691cd","type":"change","z":"77854a5ea962257b","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$sort($map($$.payload, function($v) { $v.payload }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1544,"y":988.6166381835938,"wires":[["f98a111f8930c2bd"]]},{"id":"e9e752f95335f943","type":"change","z":"77854a5ea962257b","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$sort($map($$.payload, function($v) { $v.payload }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1544,"y":1035.2332967122397,"wires":[["c155adfc8c6ed689"]]},{"id":"b2cc84591a3f1f48","type":"change","z":"77854a5ea962257b","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$sort($map($$.payload, function($v) { $v.payload }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1544,"y":1081.8499552408853,"wires":[["457f5b159e8a4167"]]},{"id":"f97dd70c9b14e715","type":"ut-assert-values","z":"77854a5ea962257b","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[30,41,42,43,44,45,46,47,48,49,50,61,62,63,64,65,66,67,68,69,70]","tot":"json"},{"t":"notset","p":"parts","pt":"msg"}],"x":1811.9999771118164,"y":859.1111340522766,"wires":[[]]},{"id":"f98a111f8930c2bd","type":"ut-assert-values","z":"77854a5ea962257b","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[20,21,22,23,24,25,26,27,28,29,30,30]","tot":"json"},{"t":"notset","p":"parts","pt":"msg"}],"x":1811.9999771118164,"y":958.6166639328003,"wires":[[]]},{"id":"c155adfc8c6ed689","type":"ut-assert-values","z":"77854a5ea962257b","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[30]","tot":"json"},{"t":"notset","p":"parts","pt":"msg"}],"x":1811.9999771118164,"y":1058.122193813324,"wires":[[]]},{"id":"457f5b159e8a4167","type":"ut-assert-values","z":"77854a5ea962257b","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[30,41,42,43,44,45,46,47,48,49,50,61,62,63,64,65,66,67,68,69,70]","tot":"json"},{"t":"notset","p":"parts","pt":"msg"}],"x":1811.9999771118164,"y":1157.6277236938477,"wires":[[]]},{"id":"4f543b7ed2334e17","type":"ut-assert-values","z":"77854a5ea962257b","name":"payload is 30","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"30","tot":"num"}],"x":560,"y":1222.222255706787,"wires":[[]]},{"id":"98e613361525fc9a","type":"delay","z":"77854a5ea962257b","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":255,"y":974,"wires":[["cc9056d664d75811"]]}]