testflows/bff27e059752cb60/flows.json
[{"disabled":false,"env":[{"name":"ERED_PENDING","type":"bool","value":"true"}],"id":"bff27e059752cb60","info":"## Combining tcp in and state machines\n\nHaving thrown together a set of TCP nodes, I wanted to create a telnet server to demonstrate simple interactions with clients. That sort of happened in the [telnet server flow](https://flows.red-erik.org/f/2a95a7b40a798878).\n\nNext step was to create a session management to give the client the feeling that they were unique. I then realised that multiple concurrent connections could be made using the telnet flow.\n\nBecause I wanted to do this step by step, I decided to create a flow that would ensure that only one client is connected at any one time. That makes creating a unique interaction per client simpler - I thought. For the single connection at any one time solution, I wanted to utilise the [state-machine node](https://github.com/gorenje/erlang-red/blob/1a0e15add512d3e2eb892fb70f9d30db30a60be3/src/nodes/ered_node_erlstatemachine.erl).\n\n## How does a state machine work?\n\nErlang has message queues and each message is atomically handled by a process, i.e., there is no concurrent handling of messages by a single process. Regardless of how the message is sent to the process - via cast, call or info. Since Erlang-Red builds on top of that, it also guarantees that messages are handled in order and atomically by *nodes*.\n\nThe <a class=\"ahl-node-only\" data-ids=\"6ed338acd5d4f020\">state machine node</a> uses the `gen_statem` behaviour to model a state-machine based on the module defined in the <a class=\"ahl-node-only\" data-ids=\"2fb1c9e4acd00e7c\">ensure_single_connection module node</a>. The module defines two states: `connected` and `disconnected` and stores the tcp connection session id as single value.\n\n## How does the tcp in node work?\n\n<a class=\"ahl-node-only\" data-ids=\"b42afac9028901f4\">Tcp in node</a> sends out messages per connection per data packet. For string based connections, a message is generated each time the client hits enter. Newline symbol becomes the trigger.\n\nEach client, i.e., connection to the tcp server, is assigned a unique **session id** that is attached to each message generated by that client, i.e., connection.\n\nFinally each message generated by the tcp in node also has a **status** value to indicate whether a connection is new, is sending data or has been closed. Possible [values](https://github.com/gorenje/erlang-red/blob/1a0e15add512d3e2eb892fb70f9d30db30a60be3/src/nodes/ered_node_tcp_in.erl#L106-L114) for the status are `initiated`, `connected` and `closed`.\n\nA typical message from a tcp in node has the format (in Erlang code representing a key-value store):\n\n```erlang\n<<\"_session\">> => #{\n    <<\"type\">>   => <<\"tcp\">>,\n    <<\"id\">>     => SessionId,\n    <<\"status\">> => Status\n},\n<<\"ip\">>      => InterfaceIp,\n<<\"topic\">>   => maps:get(<<\"topic\">>, NodeDef),\n<<\"payload\">> => Payload\n```\n\nThe topic value is assigned to the tcp in node so that all messages, for all clients, have the same topic value but that does not interest us here.\n\n(BTW this message format is conform to Node-REDs tcp in node except for the `_session.status` value, Node-RED does not define a status.)\n\n## State machine and tcp in messages\n\nEach state machine node expects an `action` value and optionally a `payload` value set on the messages it receives. \n\nWhat the <a class=\"ahl-node-only\" data-ids=\"269ef88b6e5dfe87\">change node</a> does is set the `payload` to the session id, i.e. `msg.payload = msg._session.id` and the action to the status, i.e., `msg.action = msg._session.status`.\n\nFor each message the state machine receives, it computes a response of either `ok` or `not_allowed`. Not allowed connections are disconnect by <a class=\"ahl-node-only\" data-ids=\"d6116b5c531ce565\">setting</a> `msg.reset = true` and sending the message to the <a class=\"ahl-node-only\" data-ids=\"ce3d569a01e36814\">tcp out</a> node. \n\n## What happens when tcp out closes a connection?\n\nThe <a class=\"ahl-node-only\" data-ids=\"b42afac9028901f4\">tcp in</a> node generates the `closed` status message for the connection and the state machine can reset its state to `disconnected` - if its the connection being maintained.\n\nThe state machine has two states and a session id. The session id is the identifier for the single connection that is allowed. Once the state machine is disconnected, the session id is reset to `none` but only if the corresponding connection for the session id was closed. \n\nThe next connection will then be set as the new single connection stored by the state machine. Visualising the state transitions:\n\n| state | message status | session ids | new state | outcome |\n| ----- | -------------- | ---------- | --------- | ------- |\n| disconnected | closed | - | disconnected | ok |\n| disconnected | initiated | - | connected | ok |\n| disconnected | connected | - | disconnected | not_allowed|\n| connected | initiated | don't match | connected | not_allowed |\n| connected | initiated | match | connected | ok |\n| connected | connected | match | connected | ok |\n| connected | connected | don't match | connected | not_allowed |\n| connected | closed | match | disconnected | ok |\n| connected | closed | don't match | connected | ok |\n| \\<state> | * | * | \\<state> | not_allowed |\n\n**NOTE**: \n\n- When moving from state `disconnected` to `connected`, the session id of the connection is stored. \n- Also when moving from state `connected` to `disconnected`, the session id is set to `none`. \n- Any unforeseen combinations are `not_allowed` and leads to the connection being closed. \n- All outcomes to closed connections is ok since there is no need to close them again! \n- The outcome `not_allowed` implicitly closes the connection but that may not be the case, the `not_allowed` outcome is an indication of the state machine: *this transition is not allowed*, what the flow does is not for the state machine to decide.\n\n## Why does this work?\n\nThis works because the tcp out node and the tcp in node have a common pool of connections they are administrating. When the tcp out node is sent a reset request, it uses the session ID to retrieve the correct connection. It closes that connection which then triggers a closed message being generated by the tcp in node. The tcp in and tcp out nodes do not communicate directly.\n\nThe state-machine works since it receives one message at a time. And this can cause issues in the <a class=\"ahl-group-only\" data-ids=\"54e4c3fae17a3580\">disconnect connections in parallel</a> flow. What is happening is that a data packet passed out by the tcp in node is cloned and passed to the state-machine and the <a class=\"ahl-group-only\" data-ids=\"8ccba23ce4a6d1ec\">handle communication with a connection</a> flow. This means that *every connection* is sent to the communication flow and can actually communicate with the server.\n\nBut because the <a class=\"ahl-group-only\" data-ids=\"1d162492dd79abb3\">enforce a single connection</a> flow is so \"reliable\" and \"fast\", a connection is closed *before* the user/client can type anything. **BUT** if the state machine fails, then *all* connections are handled by the server. On the other hand, the state machine process runs concurrently to the communication flow, that makes it faster for the client to interact with the server - not having to interact with the state machine for each data packet sent.\n\nHere is a classic trade off between security and performance. I am literally not expecting so much traffic that the state-machine process would not slow down or fail, so for my use case this first attempt is probably fine. \n\nHowever this might not be the case once spammers, crackers, blackhats and other nefarious computer users discover my open port and suddenly everything goes west.\n\n## Serialisation to the rescue\n\nTo fix this, I created the <a class=\"ahl-group-only\" data-ids=\"1029acfc1e365877\">disconnect connections in serial</a> flow that ensures that *every* data packet generated by the tcp in node goes through the state-machine, no questions asked, no quarter given.\n\n*(I literally copied and pasted the first flow and just reconnected two nodes, changed the port to 2525 and added an option to a <a class=\"ahl-node-only\" data-ids=\"a60cbdd34ec7d4fc\">switch node</a> - how simple is that? It literally took me longer to write this sentence!)*\n\nGreat so now I can be certain that all connections are checked *before* they are allowed to communicate with the server. But now I have a different problem ...\n\n## What happens if the state-machine process dies?\n\nErlang being process oriented and every process is, by default, independent of other processes, the parallel flow will actually continue to work if the <a class=\"ahl-node-only\" data-ids=\"6ed338acd5d4f020\">state machine node</a> dies. \n\nThe serial flow will fail. It will stop working as soon as the <a class=\"ahl-node-only\" data-ids=\"a394711dc77a08fb\">state machine node</a> shuts down. The tcp in node might well still be taking connections but these connections will hang since there is no pathway to the <a class=\"ahl-node-only\" data-ids=\"a50b8524d3ad6351\">tcp out</a> node for it to respond to connections.\n\nDamn back to sleepless nights and on-call duty pagers ... or is there another way?\n\n## *All you need is ~~love~~ supervisors*\n\nTo paraphrase [The Beatles](https://en.wikipedia.org/wiki/All_You_Need_Is_Love), all you need is supervisors.\n\nSupervisors are an Erlang mechanism for creating processes that supervise other processes. If children processes go down, then a supervisor can be configured to restart that process or a group of processes. Supervisors can also be assigned limits so that process *aren't* restarted or that infinite restart loops are avoided. \n\nErlang-Red has implemented this mechanism visually using the supervisor node. The <a class=\"ahl-group-only\" data-ids=\"b2459a7ed42bbb57\">disconnect connections in serial & with supervisor</a> flow adds the <a class=\"ahl-node-only\" data-ids=\"9c50a2b367a6eb2b\">supervisor</a> node that supervises <a class=\"ahl-node-only\" data-ids=\"0e5588ba5e03c313\">state-machine node</a>. \n\n*(Again, it was copy, paste, change port number, add supervisor node and deploy the new flow - done. I immediately opened a telnet session and could test the new flow.)*\n\nSupervision should be extended to the tcp nodes and perhaps there are other vital components that also need supervision. But for this writeup, that will do!\n\n## What about using a supervisor with the parallel flow?\n\nAdding a supervisor to the parallel flow would have ensured that a state machine failure could be recovered from however it would not prevent a backlog of messages on the state machine node.\n\nBacklog would result in connections not being closed in a timely fashion. Any backlog of messages in the serial flow would result in bad response times but not in illegal activity.\n\n## Is it possible to supervise the supervisor?\n\n[Yes](https://flows.red-erik.org/f/e447b0048a5983b5). For a better sleep at night, use multiple supervisors supervising supervisors.\n\n","label":"[.breadboard] single connection using state machines","type":"tab"},{"h":82,"id":"e5c9a8daced2036d","name":"state machine modules","nodes":["2fb1c9e4acd00e7c"],"style":{"label":true},"type":"group","w":272,"x":61,"y":54.285715103149414,"z":"bff27e059752cb60"},{"h":473.6427993774414,"id":"54e4c3fae17a3580","name":"disconnect connections in parallel","nodes":["ce3d569a01e36814","b42afac9028901f4","1d162492dd79abb3","8ccba23ce4a6d1ec"],"style":{"label":true},"type":"group","w":1373.714210510254,"x":215.14273071289062,"y":181.00004959106445,"z":"bff27e059752cb60"},{"h":478.4999008178711,"id":"1029acfc1e365877","name":"disconnect connections in serial","nodes":["a50b8524d3ad6351","dc4a457fb4252964","e17b9ae7a1f0461d","f34d62c6405b4352"],"style":{"label":true},"type":"group","w":1646.2857055664062,"x":60.2857666015625,"y":727.7143402099609,"z":"bff27e059752cb60"},{"h":528.2857265472412,"id":"b2459a7ed42bbb57","name":"disconnect connections in serial & with supervisor","nodes":["3aade96baaa76948","0a472fabd3d01e82","4f54a8c419e2fb50","deeaf89f0c7b0895"],"style":{"label":true},"type":"group","w":1646.2857055664062,"x":28.2857666015625,"y":1320.0000267028809,"z":"bff27e059752cb60"},{"h":528.2857265472412,"id":"5b4cdce28e27bc8a","name":"disconnect connections in serial & with supervisor","nodes":["a853587a7f0e885a","492d4e04d10fbbc5","64d7937e17e371f8","0a8b9ce213fa00d7"],"style":{"label":true},"type":"group","w":1646.2857055664062,"x":45,"y":1935.4286155700684,"z":"bff27e059752cb60"},{"h":473.6427993774414,"id":"1ab5b451e17282f5","name":"disconnect connections in parallel","nodes":["72799ff1539cde4c","68994ebc98355d03","786555d5716d9faf","935519508fa3b706"],"style":{"label":true},"type":"group","w":1373.714210510254,"x":269,"y":2559,"z":"bff27e059752cb60"},{"h":473.6427993774414,"id":"4d0d1bc7cb6246fe","name":"disconnect connections in parallel","nodes":["66dc83858efcce28","922f664aff540ad0","665a5f7cf570b3bc","09fb534c73cc50e1"],"style":{"label":true},"type":"group","w":1373.714210510254,"x":177,"y":3089.3572006225586,"z":"bff27e059752cb60"},{"g":"54e4c3fae17a3580","h":188.28569793701172,"id":"1d162492dd79abb3","name":"enforce a single connection","nodes":["6ed338acd5d4f020","269ef88b6e5dfe87","64614c1426867215","d6116b5c531ce565"],"style":{"label":true},"type":"group","w":953.9999618530273,"x":470.28563690185547,"y":207.00004959106445,"z":"bff27e059752cb60"},{"g":"54e4c3fae17a3580","h":209.35718822479248,"id":"8ccba23ce4a6d1ec","name":"handle communication with a connection","nodes":["c0d9ca36b10a7a41","c01f45843fbf19e4","4ece615b2733e9e9","5d3db4e403b3db7b","f418dc8563c0be2a","b1b2bb8e2ca4589a"],"style":{"label":true},"type":"group","w":834.9999694824219,"x":430.71414947509766,"y":419.2856607437134,"z":"bff27e059752cb60"},{"g":"1029acfc1e365877","h":110.85710144042969,"id":"e17b9ae7a1f0461d","name":"enforce a single connection","nodes":["a394711dc77a08fb","216feb12291e096e","a60cbdd34ec7d4fc","17170a0e7c847f63"],"style":{"label":true},"type":"group","w":1192.571460723877,"x":309.4286766052246,"y":753.7143402099609,"z":"bff27e059752cb60"},{"g":"1029acfc1e365877","h":209.35718822479248,"id":"f34d62c6405b4352","name":"handle communication with a connection","nodes":["49b0663498a4eb84","5488428955c0dd92","3670ea0d392f6155","17c251b02ee74d23","ed230dfff61160c4","74ba18e32963446d"],"style":{"label":true},"type":"group","w":834.9999694824219,"x":269.8571891784668,"y":970.8570528030396,"z":"bff27e059752cb60"},{"g":"b2459a7ed42bbb57","h":160.6429271697998,"id":"4f54a8c419e2fb50","name":"enforce a single connection","nodes":["0e5588ba5e03c313","07d118b297f6a5ae","50ca60c518e61c49","239af23282477454","9c50a2b367a6eb2b"],"style":{"label":true},"type":"group","w":1192.571460723877,"x":277.4286766052246,"y":1346.0000267028809,"z":"bff27e059752cb60"},{"g":"b2459a7ed42bbb57","h":209.35718822479248,"id":"deeaf89f0c7b0895","name":"handle communication with a connection","nodes":["25c462c9b63df338","0feec528669881fd","b80607305404e13e","5d06d6740c0f4e8e","1c2253f326456499","42c250bc3a108052"],"style":{"label":true},"type":"group","w":834.9999694824219,"x":237.8571891784668,"y":1612.9285650253296,"z":"bff27e059752cb60"},{"g":"5b4cdce28e27bc8a","h":160.6429271697998,"id":"64d7937e17e371f8","name":"enforce a single connection","nodes":["50ce2b28345a619c","d1a1382711a7636d","10a8c5f7ccc94682","6c74135f1c47625c","fadad9401d24b26c"],"style":{"label":true},"type":"group","w":1192.571460723877,"x":294.1429100036621,"y":1961.4286155700684,"z":"bff27e059752cb60"},{"g":"5b4cdce28e27bc8a","h":209.35718822479248,"id":"0a8b9ce213fa00d7","name":"handle communication with a connection","nodes":["04609458a908429e","383728bdb3464bce","10a7b96d36a0a2e2","12fb3df6f265ee95","0395388a3498347f","bb9eb873d747b19b"],"style":{"label":true},"type":"group","w":834.9999694824219,"x":254.5714225769043,"y":2228.357153892517,"z":"bff27e059752cb60"},{"g":"1ab5b451e17282f5","h":188.28569793701172,"id":"786555d5716d9faf","name":"enforce a single connection","nodes":["ac5e4d70bfa19680","b776329d7a7c8dda","436f56b85aec083a","88ab39f5bc3a51fc"],"style":{"label":true},"type":"group","w":953.9999618530273,"x":524.1429061889648,"y":2585,"z":"bff27e059752cb60"},{"g":"1ab5b451e17282f5","h":209.35718822479248,"id":"935519508fa3b706","name":"handle communication with a connection","nodes":["3cbf83dbbe81af10","32800565125638b6","c77e5ba6ddc59118","186d8db74c31337c","0cb4597221503039","71c807026d20f222"],"style":{"label":true},"type":"group","w":834.9999694824219,"x":484.57141876220703,"y":2797.285611152649,"z":"bff27e059752cb60"},{"g":"4d0d1bc7cb6246fe","h":188.28569793701172,"id":"665a5f7cf570b3bc","name":"enforce a single connection","nodes":["b5877157b1b48f23","3795b3f368679801","371550625635407d","2414955e8a4dda69"],"style":{"label":true},"type":"group","w":953.9999618530273,"x":432.14290618896484,"y":3115.3572006225586,"z":"bff27e059752cb60"},{"g":"4d0d1bc7cb6246fe","h":209.35718822479248,"id":"09fb534c73cc50e1","name":"handle communication with a connection","nodes":["298031c45eedc624","bb15e4601fbbcead","5beb61cc792efe15","3c520e9858c5cb86","2c387185cb87ecec","60d44ad43dabf09f"],"style":{"label":true},"type":"group","w":834.9999694824219,"x":392.57141876220703,"y":3327.6428117752075,"z":"bff27e059752cb60"},{"action":"","from":"","g":"8ccba23ce4a6d1ec","id":"c0d9ca36b10a7a41","name":"send prompt>","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"prompt> ","tot":"str"}],"to":"","type":"change","wires":[["ce3d569a01e36814"]],"x":1099.7141189575195,"y":587.6428489685059,"z":"bff27e059752cb60"},{"base64":false,"beserver":"reply","end":false,"g":"54e4c3fae17a3580","host":"","id":"ce3d569a01e36814","name":"","port":"","tls":"","type":"tcp out","wires":[],"x":1512.8569412231445,"y":587.6428489685059,"z":"bff27e059752cb60"},{"checkall":"false","g":"8ccba23ce4a6d1ec","id":"c01f45843fbf19e4","name":"what payload?","outputs":4,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"exit","vt":"str"},{"t":"eq","v":"quit","vt":"str"},{"t":"cont","v":"hello","vt":"str"},{"t":"else"}],"type":"switch","wires":[["4ece615b2733e9e9"],["4ece615b2733e9e9"],["f418dc8563c0be2a"],["c0d9ca36b10a7a41"]],"x":875.1426849365234,"y":518.5713996887207,"z":"bff27e059752cb60"},{"action":"","from":"","g":"8ccba23ce4a6d1ec","id":"4ece615b2733e9e9","name":"quit and close connection","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"closed\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["ce3d569a01e36814"]],"x":1129.7141189575195,"y":461.4999713897705,"z":"bff27e059752cb60"},{"checkall":"false","g":"8ccba23ce4a6d1ec","id":"5d3db4e403b3db7b","name":"ignore closed connections","outputs":1,"property":"_session.status","propertyType":"msg","repair":false,"rules":[{"t":"neq","v":"closed","vt":"str"}],"type":"switch","wires":[["b1b2bb8e2ca4589a"]],"x":576.7141494750977,"y":460.2856607437134,"z":"bff27e059752cb60"},{"action":"","from":"","g":"8ccba23ce4a6d1ec","id":"f418dc8563c0be2a","name":"obtain name of user","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"\"hello, what is your name?\" & \"\\n\" & \"enter name> \"","tot":"jsonata"}],"to":"","type":"change","wires":[["ce3d569a01e36814"]],"x":1119.7141189575195,"y":524.5714101791382,"z":"bff27e059752cb60"},{"action":"","from":"","g":"8ccba23ce4a6d1ec","id":"b1b2bb8e2ca4589a","name":"remove newlines from payload","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"$replace($$.payload, \"\\n\",\"\")","tot":"jsonata"}],"to":"","type":"change","wires":[["c01f45843fbf19e4"]],"x":628.142707824707,"y":518.5713996887207,"z":"bff27e059752cb60"},{"emit_on_state_change":false,"g":"1d162492dd79abb3","id":"6ed338acd5d4f020","name":"","scope":["2fb1c9e4acd00e7c"],"type":"erlstatemachine","wires":[["64614c1426867215"]],"x":886.9998168945312,"y":260.00004959106445,"z":"bff27e059752cb60"},{"base64":false,"datamode":"stream","datatype":"utf8","g":"54e4c3fae17a3580","host":"","id":"b42afac9028901f4","name":"","newline":"","port":"2424","server":"server","tls":"","topic":"","trim":false,"type":"tcp in","wires":[["5d3db4e403b3db7b","269ef88b6e5dfe87"]],"x":301.1427307128906,"y":258.00006103515625,"z":"bff27e059752cb60"},{"action":"","from":"","g":"1d162492dd79abb3","id":"269ef88b6e5dfe87","name":"set action and payload \\n for the state machine","property":"","reg":false,"rules":[{"p":"action","pt":"msg","t":"set","to":"_session.status","tot":"msg"},{"p":"payload","pt":"msg","t":"set","to":"_session.id","tot":"msg"}],"to":"","type":"change","wires":[["6ed338acd5d4f020"]],"x":596.2856369018555,"y":260.00004959106445,"z":"bff27e059752cb60"},{"code":"-module(ensure_single_connection).\n\n-behaviour(gen_statem).\n\n-export([\n    start/0,\n    init/1,\n    callback_mode/0,\n    handle_event/4,\n    code_change/4,\n    terminate/3,\n    stop/0\n]).\n\ncallback_mode() -> handle_event_function.\n\n-define(KEEP_STATE(ReplyWith),\n    {keep_state, Data, [{reply, From, ReplyWith}]}\n).\n\n%% API.  This example uses a registered name name()\n%% and does not link to the caller.\nstart() ->\n    gen_statem:start({local, ?MODULE}, ?MODULE, [], []).\n\ninit([]) ->\n    State = disconnected,\n    Data = #{sessionid => none},\n    {ok, State, Data}.\n\n%% Mandatory callback functions\nstop() ->\n    gen_statem:stop(?MODULE).\nterminate(_Reason, _State, _Data) ->\n    void.\ncode_change(_Vsn, State, Data, _Extra) ->\n    {ok,State,Data}.\n\n%%\n%% handler function for state transistions\n%%\n\n\n%%\n%% ------------- Initiated actions\n%%\n%% Connection initiated and state is disconnected --> allow connection and\n%% store the SessionId associated with connection and move to state \"connected\".\nhandle_event(\n  {call, From},\n  {<<\"initiated\">>, SessionId},\n  disconnected,\n  #{ sessionid := none }\n) ->\n    {next_state, connected, #{sessionid => SessionId}, [{reply, From, <<\"ok\">>}]};\n\n%% Connection being initiated but state is already connected however SessionIds\n%% match so this is re-initiating the same connection --> ok\nhandle_event(\n  {call, From},\n  {<<\"initiated\">>, SessionId},\n  connected,\n  #{ sessionid := SessionId } = Data\n) ->\n    ?KEEP_STATE(<<\"ok\">>);\n\n%% Connection being initiated but state is already connected and SessionIds\n%% do not match --> not allowed. This is a fall through, if SessionIds did match\n%% then rule above would have matched.\nhandle_event({call, From}, {<<\"initiated\">>, _SessionId}, connected, Data) ->\n    ?KEEP_STATE(<<\"not_allowed\">>);\n\n%%\n%% ------------- Connected actions\n%%\n%% \"Connected\" actions is data being sent to server from client. If the data\n%% is being sent but the sessionid does not match, drop the connection. Else\n%% let the connection be - if we're connected and the session ids match.\n\n%% Data sent and session ids match --> ok\nhandle_event(\n  {call, From},\n  {<<\"connected\">>, SessionId},\n  connected,\n  #{ sessionid := SessionId } = Data\n) ->\n    ?KEEP_STATE(<<\"ok\">>);\n\n%% State is our current state is connected and data is being sent. The session\n%% IDs don't match --> not allowed\nhandle_event(\n  {call, From},\n  {<<\"connected\">>, _SessionId},\n  connected,\n  Data\n) ->\n    ?KEEP_STATE(<<\"not_allowed\">>);\n\n%% Data being sent but our current state is disconnected --> not allowed\nhandle_event({call, From}, {<<\"connected\">>, _SessionId}, disconnected, Data) ->\n    ?KEEP_STATE(<<\"not_allowed\">>);\n\n%%\n%% -------------- Closed action\n%%\n%% \"Closed\" action are generated when the connection was closed, either by the\n%% server or by the client.\n\n%% Current state is \"connected\" and the action is closed, the SessionIds match\n%% so the state becomese \"disconnected\" and session id is removed.\nhandle_event(\n  {call, From},\n  {<<\"closed\">>, SessionId},\n  connected,\n  #{ sessionid := SessionId }\n) ->\n    {next_state, disconnected, #{sessionid => none}, [{reply, From, <<\"ok\">>}]};\n\n%% Closed action, current state is \"connected\" and SessionIds do not match\n%% --> nothing to do, keep current state. No need to close a closed connection!\nhandle_event(\n  {call, From},\n  {<<\"closed\">>, SessionId},\n  connected,\n  Data\n) ->\n    ?KEEP_STATE(<<\"ok\">>);\n\n%% Current state is \"disconnected\" and a closed action happens --> do nothing.\nhandle_event({call, From}, {<<\"closed\">>, _SessionId}, disconnected, Data) ->\n    ?KEEP_STATE(<<\"ok\">>);\n\n%%\n%% Fall through.\nhandle_event({call, From} = EventType, Stiff, State, Data) ->\n    io:format(\"TEST (call): ~p ~p ~p ~p~n\",[EventType, Stiff, State, Data]),\n    ?KEEP_STATE(<<\"not_allowed\">>);\n\nhandle_event(EventType, Stiff, State, Data) ->\n    io:format(\"TEST : ~p ~p ~p ~p~n\",[EventType, Stiff, State, Data]),\n    {keep_state, Data}.\n","g":"e5c9a8daced2036d","id":"2fb1c9e4acd00e7c","module_name":"ensure_single_connection","name":"","type":"erlmodule","wires":[],"x":197,"y":95.28571510314941,"z":"bff27e059752cb60"},{"checkall":"false","g":"1d162492dd79abb3","id":"64614c1426867215","name":"close connection?","outputs":1,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"not_allowed","vt":"str"}],"type":"switch","wires":[["d6116b5c531ce565"]],"x":1167.713996887207,"y":260.00004959106445,"z":"bff27e059752cb60"},{"action":"","from":"","g":"1d162492dd79abb3","id":"d6116b5c531ce565","name":"close connection with \"too many \\n connections\" message","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"too many connections\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["ce3d569a01e36814"]],"x":1258.2855987548828,"y":342.2857475280762,"z":"bff27e059752cb60"},{"base64":false,"beserver":"reply","end":false,"g":"1029acfc1e365877","host":"","id":"a50b8524d3ad6351","name":"","port":"","tls":"","type":"tcp out","wires":[],"x":1630.5714721679688,"y":1143.4998989105225,"z":"bff27e059752cb60"},{"base64":false,"datamode":"stream","datatype":"utf8","g":"1029acfc1e365877","host":"","id":"dc4a457fb4252964","name":"","newline":"","port":"2525","server":"server","tls":"","topic":"","trim":false,"type":"tcp in","wires":[["216feb12291e096e"]],"x":146.2857666015625,"y":811.5714416503906,"z":"bff27e059752cb60"},{"emit_on_state_change":false,"g":"e17b9ae7a1f0461d","id":"a394711dc77a08fb","name":"","scope":["2fb1c9e4acd00e7c"],"type":"erlstatemachine","wires":[["a60cbdd34ec7d4fc"]],"x":726.1428565979004,"y":811.5714416503906,"z":"bff27e059752cb60"},{"action":"","from":"","g":"e17b9ae7a1f0461d","id":"216feb12291e096e","name":"set action and payload \\n for the state machine","property":"","reg":false,"rules":[{"p":"orig_payload","pt":"msg","t":"set","to":"payload","tot":"msg"},{"p":"action","pt":"msg","t":"set","to":"_session.status","tot":"msg"},{"p":"payload","pt":"msg","t":"set","to":"_session.id","tot":"msg"}],"to":"","type":"change","wires":[["a394711dc77a08fb"]],"x":435.4286766052246,"y":811.5714416503906,"z":"bff27e059752cb60"},{"checkall":"false","g":"e17b9ae7a1f0461d","id":"a60cbdd34ec7d4fc","name":"close connection?","outputs":2,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"not_allowed","vt":"str"},{"t":"else"}],"type":"switch","wires":[["17170a0e7c847f63"],["17c251b02ee74d23"]],"x":1006.8570365905762,"y":811.5714416503906,"z":"bff27e059752cb60"},{"action":"","from":"","g":"e17b9ae7a1f0461d","id":"17170a0e7c847f63","name":"close connection with \"too many \\n connections\" message","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"too many connections\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["a50b8524d3ad6351"]],"x":1336.0001373291016,"y":806.7143402099609,"z":"bff27e059752cb60"},{"action":"","from":"","g":"f34d62c6405b4352","id":"49b0663498a4eb84","name":"send prompt>","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"prompt> ","tot":"str"}],"to":"","type":"change","wires":[["a50b8524d3ad6351"]],"x":938.8571586608887,"y":1139.214241027832,"z":"bff27e059752cb60"},{"checkall":"false","g":"f34d62c6405b4352","id":"5488428955c0dd92","name":"what payload?","outputs":4,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"exit","vt":"str"},{"t":"eq","v":"quit","vt":"str"},{"t":"cont","v":"hello","vt":"str"},{"t":"else"}],"type":"switch","wires":[["3670ea0d392f6155"],["3670ea0d392f6155"],["ed230dfff61160c4"],["49b0663498a4eb84"]],"x":714.2857246398926,"y":1070.1427917480469,"z":"bff27e059752cb60"},{"action":"","from":"","g":"f34d62c6405b4352","id":"3670ea0d392f6155","name":"quit and close connection","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"closed\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["a50b8524d3ad6351"]],"x":968.8571586608887,"y":1013.0713634490967,"z":"bff27e059752cb60"},{"checkall":"false","g":"f34d62c6405b4352","id":"17c251b02ee74d23","name":"ignore closed connections","outputs":1,"property":"_session.status","propertyType":"msg","repair":false,"rules":[{"t":"neq","v":"closed","vt":"str"}],"type":"switch","wires":[["74ba18e32963446d"]],"x":415.8571891784668,"y":1011.8570528030396,"z":"bff27e059752cb60"},{"action":"","from":"","g":"f34d62c6405b4352","id":"ed230dfff61160c4","name":"obtain name of user","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"\"hello, what is your name?\" & \"\\n\" & \"enter name> \"","tot":"jsonata"}],"to":"","type":"change","wires":[["a50b8524d3ad6351"]],"x":958.8571586608887,"y":1076.1428022384644,"z":"bff27e059752cb60"},{"action":"","from":"","g":"f34d62c6405b4352","id":"74ba18e32963446d","name":"remove newlines from payload","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"orig_payload","tot":"msg"},{"p":"payload","pt":"msg","t":"set","to":"$replace($$.payload, \"\\n\",\"\")","tot":"jsonata"}],"to":"","type":"change","wires":[["5488428955c0dd92"]],"x":467.2857475280762,"y":1070.1427917480469,"z":"bff27e059752cb60"},{"base64":false,"beserver":"reply","end":false,"g":"b2459a7ed42bbb57","host":"","id":"3aade96baaa76948","name":"","port":"","tls":"","type":"tcp out","wires":[],"x":1598.5714721679688,"y":1785.5714111328125,"z":"bff27e059752cb60"},{"base64":false,"datamode":"stream","datatype":"utf8","g":"b2459a7ed42bbb57","host":"","id":"0a472fabd3d01e82","name":"","newline":"","port":"2626","server":"server","tls":"","topic":"","trim":false,"type":"tcp in","wires":[["07d118b297f6a5ae"]],"x":114.2857666015625,"y":1453.6429538726807,"z":"bff27e059752cb60"},{"emit_on_state_change":false,"g":"4f54a8c419e2fb50","id":"0e5588ba5e03c313","name":"","scope":["2fb1c9e4acd00e7c"],"type":"erlstatemachine","wires":[["50ca60c518e61c49"]],"x":694.1428565979004,"y":1453.6429538726807,"z":"bff27e059752cb60"},{"action":"","from":"","g":"4f54a8c419e2fb50","id":"07d118b297f6a5ae","name":"set action and payload \\n for the state machine","property":"","reg":false,"rules":[{"p":"orig_payload","pt":"msg","t":"set","to":"payload","tot":"msg"},{"p":"action","pt":"msg","t":"set","to":"_session.status","tot":"msg"},{"p":"payload","pt":"msg","t":"set","to":"_session.id","tot":"msg"}],"to":"","type":"change","wires":[["0e5588ba5e03c313"]],"x":403.4286766052246,"y":1453.6429538726807,"z":"bff27e059752cb60"},{"checkall":"false","g":"4f54a8c419e2fb50","id":"50ca60c518e61c49","name":"close connection?","outputs":2,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"not_allowed","vt":"str"},{"t":"else"}],"type":"switch","wires":[["239af23282477454"],["5d06d6740c0f4e8e"]],"x":974.8570365905762,"y":1453.6429538726807,"z":"bff27e059752cb60"},{"action":"","from":"","g":"4f54a8c419e2fb50","id":"239af23282477454","name":"close connection with \"too many \\n connections\" message","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"too many connections\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["3aade96baaa76948"]],"x":1304.0001373291016,"y":1448.785852432251,"z":"bff27e059752cb60"},{"action":"","from":"","g":"deeaf89f0c7b0895","id":"25c462c9b63df338","name":"send prompt>","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"prompt> ","tot":"str"}],"to":"","type":"change","wires":[["3aade96baaa76948"]],"x":906.8571586608887,"y":1781.285753250122,"z":"bff27e059752cb60"},{"checkall":"false","g":"deeaf89f0c7b0895","id":"0feec528669881fd","name":"what payload?","outputs":4,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"exit","vt":"str"},{"t":"eq","v":"quit","vt":"str"},{"t":"cont","v":"hello","vt":"str"},{"t":"else"}],"type":"switch","wires":[["b80607305404e13e"],["b80607305404e13e"],["1c2253f326456499"],["25c462c9b63df338"]],"x":682.2857246398926,"y":1712.214303970337,"z":"bff27e059752cb60"},{"action":"","from":"","g":"deeaf89f0c7b0895","id":"b80607305404e13e","name":"quit and close connection","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"closed\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["3aade96baaa76948"]],"x":936.8571586608887,"y":1655.1428756713867,"z":"bff27e059752cb60"},{"checkall":"false","g":"deeaf89f0c7b0895","id":"5d06d6740c0f4e8e","name":"ignore closed connections","outputs":1,"property":"_session.status","propertyType":"msg","repair":false,"rules":[{"t":"neq","v":"closed","vt":"str"}],"type":"switch","wires":[["42c250bc3a108052"]],"x":383.8571891784668,"y":1653.9285650253296,"z":"bff27e059752cb60"},{"action":"","from":"","g":"deeaf89f0c7b0895","id":"1c2253f326456499","name":"obtain name of user","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"\"hello, what is your name?\" & \"\\n\" & \"enter name> \"","tot":"jsonata"}],"to":"","type":"change","wires":[["3aade96baaa76948"]],"x":926.8571586608887,"y":1718.2143144607544,"z":"bff27e059752cb60"},{"action":"","from":"","g":"deeaf89f0c7b0895","id":"42c250bc3a108052","name":"remove newlines from payload","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"orig_payload","tot":"msg"},{"p":"payload","pt":"msg","t":"set","to":"$replace($$.payload, \"\\n\",\"\")","tot":"jsonata"}],"to":"","type":"change","wires":[["0feec528669881fd"]],"x":435.2857475280762,"y":1712.214303970337,"z":"bff27e059752cb60"},{"auto_shutdown":"never","child_restart":"permanent","child_shutdown":"infinite","child_shutdown_timeout":"0","child_type":"worker","g":"4f54a8c419e2fb50","id":"9c50a2b367a6eb2b","intensity":"100","name":"","period":"5","scope":["0e5588ba5e03c313"],"strategy":"one_for_one","supervisor_type":"static","type":"erlsupervisor","wires":[[]],"x":669,"y":1387.0000267028809,"z":"bff27e059752cb60"},{"base64":false,"beserver":"reply","end":false,"g":"5b4cdce28e27bc8a","host":"","id":"a853587a7f0e885a","name":"","port":"","tls":"","type":"tcp out","wires":[],"x":1615.2857055664062,"y":2401,"z":"bff27e059752cb60"},{"base64":false,"datamode":"stream","datatype":"utf8","g":"5b4cdce28e27bc8a","host":"","id":"492d4e04d10fbbc5","name":"","newline":"","port":"2626","server":"server","tls":"","topic":"","trim":false,"type":"tcp in","wires":[["d1a1382711a7636d"]],"x":131,"y":2069.071542739868,"z":"bff27e059752cb60"},{"emit_on_state_change":false,"g":"64d7937e17e371f8","id":"50ce2b28345a619c","name":"","scope":["2fb1c9e4acd00e7c"],"type":"erlstatemachine","wires":[["10a8c5f7ccc94682"]],"x":710.8570899963379,"y":2069.071542739868,"z":"bff27e059752cb60"},{"action":"","from":"","g":"64d7937e17e371f8","id":"d1a1382711a7636d","name":"set action and payload \\n for the state machine","property":"","reg":false,"rules":[{"p":"orig_payload","pt":"msg","t":"set","to":"payload","tot":"msg"},{"p":"action","pt":"msg","t":"set","to":"_session.status","tot":"msg"},{"p":"payload","pt":"msg","t":"set","to":"_session.id","tot":"msg"}],"to":"","type":"change","wires":[["50ce2b28345a619c"]],"x":420.1429100036621,"y":2069.071542739868,"z":"bff27e059752cb60"},{"checkall":"false","g":"64d7937e17e371f8","id":"10a8c5f7ccc94682","name":"close connection?","outputs":2,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"not_allowed","vt":"str"},{"t":"else"}],"type":"switch","wires":[["6c74135f1c47625c"],["12fb3df6f265ee95"]],"x":991.5712699890137,"y":2069.071542739868,"z":"bff27e059752cb60"},{"action":"","from":"","g":"64d7937e17e371f8","id":"6c74135f1c47625c","name":"close connection with \"too many \\n connections\" message","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"too many connections\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["a853587a7f0e885a"]],"x":1320.714370727539,"y":2064.2144412994385,"z":"bff27e059752cb60"},{"auto_shutdown":"never","child_restart":"permanent","child_shutdown":"infinite","child_shutdown_timeout":"0","child_type":"worker","g":"64d7937e17e371f8","id":"fadad9401d24b26c","intensity":"100","name":"","period":"5","scope":["50ce2b28345a619c"],"strategy":"one_for_one","supervisor_type":"static","type":"erlsupervisor","wires":[[]],"x":685.7142333984375,"y":2002.4286155700684,"z":"bff27e059752cb60"},{"action":"","from":"","g":"0a8b9ce213fa00d7","id":"04609458a908429e","name":"send prompt>","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"prompt> ","tot":"str"}],"to":"","type":"change","wires":[["a853587a7f0e885a"]],"x":923.5713920593262,"y":2396.7143421173096,"z":"bff27e059752cb60"},{"checkall":"false","g":"0a8b9ce213fa00d7","id":"383728bdb3464bce","name":"what payload?","outputs":4,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"exit","vt":"str"},{"t":"eq","v":"quit","vt":"str"},{"t":"cont","v":"hello","vt":"str"},{"t":"else"}],"type":"switch","wires":[["10a7b96d36a0a2e2"],["10a7b96d36a0a2e2"],["0395388a3498347f"],["04609458a908429e"]],"x":698.9999580383301,"y":2327.6428928375244,"z":"bff27e059752cb60"},{"action":"","from":"","g":"0a8b9ce213fa00d7","id":"10a7b96d36a0a2e2","name":"quit and close connection","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"closed\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["a853587a7f0e885a"]],"x":953.5713920593262,"y":2270.571464538574,"z":"bff27e059752cb60"},{"checkall":"false","g":"0a8b9ce213fa00d7","id":"12fb3df6f265ee95","name":"ignore closed connections","outputs":1,"property":"_session.status","propertyType":"msg","repair":false,"rules":[{"t":"neq","v":"closed","vt":"str"}],"type":"switch","wires":[["bb9eb873d747b19b"]],"x":400.5714225769043,"y":2269.357153892517,"z":"bff27e059752cb60"},{"action":"","from":"","g":"0a8b9ce213fa00d7","id":"0395388a3498347f","name":"obtain name of user","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"\"hello, what is your name?\" & \"\\n\" & \"enter name> \"","tot":"jsonata"}],"to":"","type":"change","wires":[["a853587a7f0e885a"]],"x":943.5713920593262,"y":2333.642903327942,"z":"bff27e059752cb60"},{"action":"","from":"","g":"0a8b9ce213fa00d7","id":"bb9eb873d747b19b","name":"remove newlines from payload","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"orig_payload","tot":"msg"},{"p":"payload","pt":"msg","t":"set","to":"$replace($$.payload, \"\\n\",\"\")","tot":"jsonata"}],"to":"","type":"change","wires":[["383728bdb3464bce"]],"x":451.9999809265137,"y":2327.6428928375244,"z":"bff27e059752cb60"},{"base64":false,"beserver":"reply","end":false,"g":"1ab5b451e17282f5","host":"","id":"72799ff1539cde4c","name":"","port":"","tls":"","type":"tcp out","wires":[],"x":1566.714210510254,"y":2965.6427993774414,"z":"bff27e059752cb60"},{"base64":false,"datamode":"stream","datatype":"utf8","g":"1ab5b451e17282f5","host":"","id":"68994ebc98355d03","name":"","newline":"","port":"2727","server":"server","tls":"","topic":"","trim":false,"type":"tcp in","wires":[["186d8db74c31337c","b776329d7a7c8dda"]],"x":355,"y":2636.000011444092,"z":"bff27e059752cb60"},{"emit_on_state_change":false,"g":"786555d5716d9faf","id":"ac5e4d70bfa19680","name":"","scope":["2fb1c9e4acd00e7c"],"type":"erlstatemachine","wires":[["436f56b85aec083a"]],"x":940.8570861816406,"y":2638,"z":"bff27e059752cb60"},{"action":"","from":"","g":"786555d5716d9faf","id":"b776329d7a7c8dda","name":"set action and payload \\n for the state machine","property":"","reg":false,"rules":[{"p":"action","pt":"msg","t":"set","to":"_session.status","tot":"msg"},{"p":"payload","pt":"msg","t":"set","to":"_session.id","tot":"msg"}],"to":"","type":"change","wires":[["ac5e4d70bfa19680"]],"x":650.1429061889648,"y":2638,"z":"bff27e059752cb60"},{"checkall":"false","g":"786555d5716d9faf","id":"436f56b85aec083a","name":"close connection?","outputs":1,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"not_allowed","vt":"str"}],"type":"switch","wires":[["88ab39f5bc3a51fc"]],"x":1221.5712661743164,"y":2638,"z":"bff27e059752cb60"},{"action":"","from":"","g":"786555d5716d9faf","id":"88ab39f5bc3a51fc","name":"close connection with \"too many \\n connections\" message","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"too many connections\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["72799ff1539cde4c"]],"x":1312.1428680419922,"y":2720.2856979370117,"z":"bff27e059752cb60"},{"action":"","from":"","g":"935519508fa3b706","id":"3cbf83dbbe81af10","name":"send prompt>","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"prompt> ","tot":"str"}],"to":"","type":"change","wires":[["72799ff1539cde4c"]],"x":1153.571388244629,"y":2965.6427993774414,"z":"bff27e059752cb60"},{"checkall":"false","g":"935519508fa3b706","id":"32800565125638b6","name":"what payload?","outputs":5,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"exit","vt":"str"},{"t":"eq","v":"quit","vt":"str"},{"t":"cont","v":"hello","vt":"str"},{"t":"else"},{"t":"eq","v":"","vt":"str"}],"type":"switch","wires":[["c77e5ba6ddc59118"],["c77e5ba6ddc59118"],["0cb4597221503039"],["3cbf83dbbe81af10"],[]],"x":928.9999542236328,"y":2896.5713500976562,"z":"bff27e059752cb60"},{"action":"","from":"","g":"935519508fa3b706","id":"c77e5ba6ddc59118","name":"quit and close connection","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"closed\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["72799ff1539cde4c"]],"x":1183.571388244629,"y":2839.499921798706,"z":"bff27e059752cb60"},{"checkall":"false","g":"935519508fa3b706","id":"186d8db74c31337c","name":"ignore closed connections","outputs":1,"property":"_session.status","propertyType":"msg","repair":false,"rules":[{"t":"neq","v":"closed","vt":"str"}],"type":"switch","wires":[["71c807026d20f222"]],"x":630.571418762207,"y":2838.285611152649,"z":"bff27e059752cb60"},{"action":"","from":"","g":"935519508fa3b706","id":"0cb4597221503039","name":"obtain name of user","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"\"hello, what is your name?\" & \"\\n\" & \"enter name> \"","tot":"jsonata"}],"to":"","type":"change","wires":[["72799ff1539cde4c"]],"x":1173.571388244629,"y":2902.5713605880737,"z":"bff27e059752cb60"},{"action":"","from":"","g":"935519508fa3b706","id":"71c807026d20f222","name":"remove newlines from payload","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"$replace($$.payload, \"\\n\",\"\")","tot":"jsonata"}],"to":"","type":"change","wires":[["32800565125638b6"]],"x":681.9999771118164,"y":2896.5713500976562,"z":"bff27e059752cb60"},{"base64":false,"beserver":"reply","end":false,"g":"4d0d1bc7cb6246fe","host":"","id":"66dc83858efcce28","name":"","port":"","tls":"","type":"tcp out","wires":[],"x":1474.714210510254,"y":3496,"z":"bff27e059752cb60"},{"base64":false,"datamode":"stream","datatype":"utf8","g":"4d0d1bc7cb6246fe","host":"","id":"922f664aff540ad0","name":"","newline":"","port":"2727","server":"server","tls":"","topic":"","trim":false,"type":"tcp in","wires":[["3c520e9858c5cb86","3795b3f368679801"]],"x":263,"y":3166.3572120666504,"z":"bff27e059752cb60"},{"emit_on_state_change":false,"g":"665a5f7cf570b3bc","id":"b5877157b1b48f23","name":"","scope":["2fb1c9e4acd00e7c"],"type":"erlstatemachine","wires":[["371550625635407d"]],"x":848.8570861816406,"y":3168.3572006225586,"z":"bff27e059752cb60"},{"action":"","from":"","g":"665a5f7cf570b3bc","id":"3795b3f368679801","name":"set action and payload \\n for the state machine","property":"","reg":false,"rules":[{"p":"action","pt":"msg","t":"set","to":"_session.status","tot":"msg"},{"p":"payload","pt":"msg","t":"set","to":"_session.id","tot":"msg"}],"to":"","type":"change","wires":[["b5877157b1b48f23"]],"x":558.1429061889648,"y":3168.3572006225586,"z":"bff27e059752cb60"},{"checkall":"false","g":"665a5f7cf570b3bc","id":"371550625635407d","name":"close connection?","outputs":1,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"not_allowed","vt":"str"}],"type":"switch","wires":[["2414955e8a4dda69"]],"x":1129.5712661743164,"y":3168.3572006225586,"z":"bff27e059752cb60"},{"action":"","from":"","g":"665a5f7cf570b3bc","id":"2414955e8a4dda69","name":"close connection with \"too many \\n connections\" message","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"too many connections\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["66dc83858efcce28"]],"x":1220.1428680419922,"y":3250.6428985595703,"z":"bff27e059752cb60"},{"action":"","from":"","g":"09fb534c73cc50e1","id":"298031c45eedc624","name":"send prompt>","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"prompt> ","tot":"str"}],"to":"","type":"change","wires":[["66dc83858efcce28"]],"x":1061.571388244629,"y":3496,"z":"bff27e059752cb60"},{"checkall":"false","g":"09fb534c73cc50e1","id":"bb15e4601fbbcead","name":"what payload?","outputs":5,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"exit","vt":"str"},{"t":"eq","v":"quit","vt":"str"},{"t":"cont","v":"hello","vt":"str"},{"t":"else"},{"t":"eq","v":"","vt":"str"}],"type":"switch","wires":[["5beb61cc792efe15"],["5beb61cc792efe15"],["2c387185cb87ecec"],["298031c45eedc624"],[]],"x":836.9999542236328,"y":3426.928550720215,"z":"bff27e059752cb60"},{"action":"","from":"","g":"09fb534c73cc50e1","id":"5beb61cc792efe15","name":"quit and close connection","property":"","reg":false,"rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"closed\" & \"\\n\"","tot":"jsonata"}],"to":"","type":"change","wires":[["66dc83858efcce28"]],"x":1091.571388244629,"y":3369.8571224212646,"z":"bff27e059752cb60"},{"checkall":"false","g":"09fb534c73cc50e1","id":"3c520e9858c5cb86","name":"ignore closed connections","outputs":1,"property":"_session.status","propertyType":"msg","repair":false,"rules":[{"t":"neq","v":"closed","vt":"str"}],"type":"switch","wires":[["60d44ad43dabf09f"]],"x":538.571418762207,"y":3368.6428117752075,"z":"bff27e059752cb60"},{"action":"","from":"","g":"09fb534c73cc50e1","id":"2c387185cb87ecec","name":"obtain name of user","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"\"hello, what is your name?\" & \"\\n\" & \"enter name> \"","tot":"jsonata"}],"to":"","type":"change","wires":[["66dc83858efcce28"]],"x":1081.571388244629,"y":3432.9285612106323,"z":"bff27e059752cb60"},{"action":"","from":"","g":"09fb534c73cc50e1","id":"60d44ad43dabf09f","name":"remove newlines from payload","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"$replace($$.payload, \"\\n\",\"\")","tot":"jsonata"}],"to":"","type":"change","wires":[["bb15e4601fbbcead"]],"x":589.9999771118164,"y":3426.928550720215,"z":"bff27e059752cb60"}]