testflows/213803d61ecfde3a/flows.json
[{"id":"213803d61ecfde3a","type":"tab","label":"[link nodes] mutliple links","disabled":false,"info":"","env":[]},{"id":"08bed11a90f30658","type":"link out","z":"213803d61ecfde3a","name":"link out 2","mode":"link","links":["2fb01662d00ebbef","74c42ab3a9c46a57","bdd3be43d56c30cc"],"x":326,"y":531.75,"wires":[]},{"id":"2fb01662d00ebbef","type":"link in","z":"213803d61ecfde3a","name":"link in 2","links":["08bed11a90f30658"],"x":528,"y":376,"wires":[["8177e80452165b92"]]},{"id":"74c42ab3a9c46a57","type":"link in","z":"213803d61ecfde3a","name":"link in 3","links":["08bed11a90f30658"],"x":528,"y":531.75,"wires":[["39e2443ec45c9725"]]},{"id":"bdd3be43d56c30cc","type":"link in","z":"213803d61ecfde3a","name":"link in 4","links":["08bed11a90f30658"],"x":528,"y":687.5,"wires":[["303bf66bdb5d5d20"]]},{"id":"98863df9469aa3b8","type":"inject","z":"213803d61ecfde3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":182,"y":531.75,"wires":[["08bed11a90f30658"]]},{"id":"8177e80452165b92","type":"ut-assert-success","z":"213803d61ecfde3a","name":"","count":1,"x":782.5714645385742,"y":298.1428608894348,"wires":[]},{"id":"39e2443ec45c9725","type":"ut-assert-success","z":"213803d61ecfde3a","name":"","count":1,"x":782.5714645385742,"y":521.1428608894348,"wires":[]},{"id":"303bf66bdb5d5d20","type":"ut-assert-success","z":"213803d61ecfde3a","name":"","count":1,"x":782.5714645385742,"y":744.6428608894348,"wires":[]}]