testflows/b1501de32c769cf2/flows.json
[{"disabled":false,"env":[],"id":"b1501de32c769cf2","info":"This test case covers the error if the property to be compared is a JSONata stanza and it raises an exception.\n\nThen no message is set and an exception is raised.","label":"[switch] raise exception if JSONata has exception","type":"tab"},{"h":332.5,"id":"b179a3729bc7c881","name":"no catch node to capture exception, exception pushed to debug panel","nodes":["acd59574afa50c69","e1619782ce85c87e","8ad67238a56a315e","0302ea142e5c8cab","02f8693eb7c07248","68c4b79eb9859c82","6364919d0c880add"],"style":{"label":true},"type":"group","w":681,"x":101,"y":389.5,"z":"b1501de32c769cf2"},{"h":362.5,"id":"fcc18875b3ace1c8","name":"catch node captures exception from switch","nodes":["b5e3a374eeb4b567","960b15d20cb7a574","2a8bbbc24db0f002","d8fe98dc98f31235","84b7e5e5e4cde7a6","25419f6581880e81","b41fb23447ec3fec","191245390479750d","80c9498f2856beb8"],"style":{"label":true},"type":"group","w":710,"x":91,"y":787,"z":"b1501de32c769cf2"},{"crontab":"","g":"b179a3729bc7c881","id":"acd59574afa50c69","name":"","once":false,"onceDelay":0.1,"payload":"hello world","payloadType":"str","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["e1619782ce85c87e"]],"x":207,"y":524,"z":"b1501de32c769cf2"},{"checkall":"true","g":"b179a3729bc7c881","id":"e1619782ce85c87e","name":"","outputs":3,"property":"$fromMillis()","propertyType":"jsonata","repair":false,"rules":[{"t":"eq","v":"$fromMillis()","vt":"jsonata"},{"t":"else"},{"t":"eq","v":"hello world","vt":"str"}],"type":"switch","wires":[["8ad67238a56a315e"],["02f8693eb7c07248"],["0302ea142e5c8cab"]],"x":433,"y":524,"z":"b1501de32c769cf2"},{"g":"b179a3729bc7c881","id":"8ad67238a56a315e","name":"","type":"ut-assert-failure","wires":[],"x":666,"y":430.5,"z":"b1501de32c769cf2"},{"g":"b179a3729bc7c881","id":"0302ea142e5c8cab","name":"","type":"ut-assert-failure","wires":[],"x":666,"y":570.5,"z":"b1501de32c769cf2"},{"g":"b179a3729bc7c881","id":"02f8693eb7c07248","name":"","type":"ut-assert-failure","wires":[],"x":666,"y":500.5,"z":"b1501de32c769cf2"},{"g":"b179a3729bc7c881","id":"68c4b79eb9859c82","inverse":false,"msgtype":"error","name":"","nodeid":"e1619782ce85c87e","scope":["e1619782ce85c87e"],"type":"ut-assert-debug","wires":[["6364919d0c880add"]],"x":416,"y":681,"z":"b1501de32c769cf2"},{"crontab":"","g":"fcc18875b3ace1c8","id":"b5e3a374eeb4b567","name":"","once":false,"onceDelay":0.1,"payload":"hello world","payloadType":"str","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["960b15d20cb7a574"]],"x":197,"y":1007,"z":"b1501de32c769cf2"},{"checkall":"true","g":"fcc18875b3ace1c8","id":"960b15d20cb7a574","name":"","outputs":3,"property":"$fromMillis()","propertyType":"jsonata","repair":false,"rules":[{"t":"eq","v":"$fromMillis()","vt":"jsonata"},{"t":"else"},{"t":"eq","v":"hello world","vt":"str"}],"type":"switch","wires":[["2a8bbbc24db0f002"],["84b7e5e5e4cde7a6"],["d8fe98dc98f31235"]],"x":435,"y":1006,"z":"b1501de32c769cf2"},{"g":"fcc18875b3ace1c8","id":"2a8bbbc24db0f002","name":"","type":"ut-assert-failure","wires":[],"x":705,"y":904.1666666666666,"z":"b1501de32c769cf2"},{"g":"fcc18875b3ace1c8","id":"d8fe98dc98f31235","name":"","type":"ut-assert-failure","wires":[],"x":705,"y":1056.5,"z":"b1501de32c769cf2"},{"g":"fcc18875b3ace1c8","id":"84b7e5e5e4cde7a6","name":"","type":"ut-assert-failure","wires":[],"x":705,"y":980.3333333333333,"z":"b1501de32c769cf2"},{"g":"fcc18875b3ace1c8","id":"25419f6581880e81","inverse":true,"msgtype":"error","name":"","nodeid":"960b15d20cb7a574","scope":["960b15d20cb7a574"],"type":"ut-assert-debug","wires":[["80c9498f2856beb8"]],"x":433,"y":1108.5,"z":"b1501de32c769cf2"},{"g":"fcc18875b3ace1c8","id":"b41fb23447ec3fec","name":"","scope":["960b15d20cb7a574"],"type":"catch","uncaught":false,"wires":[["191245390479750d"]],"x":391,"y":925,"z":"b1501de32c769cf2"},{"count":1,"g":"fcc18875b3ace1c8","id":"191245390479750d","name":"","type":"ut-assert-success","wires":[],"x":705,"y":828,"z":"b1501de32c769cf2"},{"g":"fcc18875b3ace1c8","id":"80c9498f2856beb8","name":"","type":"ut-assert-failure","wires":[],"x":705,"y":1108.5,"z":"b1501de32c769cf2"},{"g":"b179a3729bc7c881","id":"6364919d0c880add","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"debug.nodeid","pt":"msg","t":"eql","to":"e1619782ce85c87e","tot":"str"},{"p":"debug.type","pt":"msg","t":"eql","to":"error","tot":"str"},{"p":"payload['level']","pt":"msg","t":"eql","to":"20","tot":"num"},{"p":"payload.msg.error_msg","pt":"msg","t":"eql","to":"jsonata unsupported function: {fromMillis,[]}","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":676,"y":681,"z":"b1501de32c769cf2"}]