testflows/b1501de32c769cf2/flows.json
[
    {
        "id": "b1501de32c769cf2",
        "type": "tab",
        "label": "[switch] raise exception if JSONata has exception",
        "disabled": false,
        "info": "This test case covers the error if the property to be compared is a JSONata stanza and it raises an exception.\n\nThen no message is set and an exception is raised.",
        "env": []
    },
    {
        "id": "b5e3a374eeb4b567",
        "type": "inject",
        "z": "b1501de32c769cf2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello world",
        "payloadType": "str",
        "x": 368.66668701171875,
        "y": 440.3333282470703,
        "wires": [
            [
                "960b15d20cb7a574"
            ]
        ]
    },
    {
        "id": "960b15d20cb7a574",
        "type": "switch",
        "z": "b1501de32c769cf2",
        "name": "",
        "property": "$fromMillis()",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "$fromMillis()",
                "vt": "jsonata"
            },
            {
                "t": "else"
            },
            {
                "t": "eq",
                "v": "hello world",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 606.6666870117188,
        "y": 439.3333282470703,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b41fb23447ec3fec",
        "type": "catch",
        "z": "b1501de32c769cf2",
        "name": "",
        "scope": [
            "960b15d20cb7a574"
        ],
        "uncaught": false,
        "x": 562.6666870117188,
        "y": 358.3333282470703,
        "wires": [
            [
                "6447accf1c3889fb"
            ]
        ]
    },
    {
        "id": "6447accf1c3889fb",
        "type": "ut-assert-failure",
        "z": "b1501de32c769cf2",
        "name": "",
        "x": 848,
        "y": 351,
        "wires": []
    }
]