examples/92054e0dd22f14c6/flows.json
[{"id":"92054e0dd22f14c6","type":"tab","label":"[change] raises an exception if JSONata has exception","disabled":false,"info":"","env":[]},{"id":"be7509720427c5e1","type":"inject","z":"92054e0dd22f14c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":151,"y":460.25,"wires":[["505877ff88b69430"]]},{"id":"505877ff88b69430","type":"change","z":"92054e0dd22f14c6","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$fromMillis()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":423.5,"y":460.25,"wires":[["d3908bf20eb3a059"]]},{"id":"ad3e93188b1df7f9","type":"catch","z":"92054e0dd22f14c6","name":"","scope":null,"uncaught":false,"x":422.42859649658203,"y":403.4285717010498,"wires":[["498f4d61d11a6ad9"]]},{"id":"d3908bf20eb3a059","type":"ut-assert-failure","z":"92054e0dd22f14c6","name":"","x":706,"y":460.25,"wires":[]},{"id":"498f4d61d11a6ad9","type":"ut-assert-success","z":"92054e0dd22f14c6","name":"","count":1,"x":621,"y":272.5,"wires":[]}]