testflows/6ea4c6b373eeaa8d/flows.json
[{"id":"6ea4c6b373eeaa8d","type":"tab","label":"[filter] narrowband no topic","disabled":false,"info":"## Filter - narrow band mode\n\nmode `narrowbandEq` no topic","env":[]},{"id":"83bed288b0431f74","type":"group","z":"6ea4c6b373eeaa8d","name":"even if the first 20 is blocked, it sets the new value and hence the second and third 20 values are passed through","style":{"label":true},"nodes":["1d6080fae6ad4519","15c7213b8eb52088","1ba1fdee232ec418","d790523c46e61597","beca23435193270a","b96f1a632e1f3c83","c1d848dd0567aa11","d0e1bd0deef10b73","704c2db5c0a37d2a","bb3826d76cfe7e0e","6346b9c72a9ff5cd","1e810e4fd3eb5e3c","c09d66a8d77c1545","16311a8e9aa224c3","df7b4d91ea06d4e0","80be5f897c8e362c","bec39b5ab0c28235","c3f8a1ce19daee74","5169b9616d53149c","5f5834b7414b658d","8e3b9a42cdd258a5","8c4031bfe8039b99","d41bcda8b425dfe7","49913113317573c6"],"x":50.888858795166016,"y":97.94444131851196,"w":1911.9997825622559,"h":498.0555348396301},{"id":"43016d21293ad548","type":"group","z":"6ea4c6b373eeaa8d","name":"this is using the output valid and the 10 is set and the 20 does not reset that value hence only the 10 payloads are being passed through","style":{"label":true},"nodes":["9cd6f51b61c736fc","8f2e299f0845e11a","23a8acf4587c6828","afe075c936f6ed17","dcd269ed051e69c2","0ed87025e57bfbb2","d3832c08e040cf87","e9e581b6cfd500fc","5a4d360ea2254c4c","8798d5200ebd3081","e715256f55a60154","abd152886ee5ce5d","ba7c02d408c2d583","565e81a9452aec02","5142884b7d86e172","cd6855f2608df3bd","7c1a09975b795b14","749bf7b8e8fec8f6","07456bdec11c7764","be4f8544b21909c2","5b9ff85347e89e64","c5968730e3cb3ceb"],"x":50.888858795166016,"y":732.3784323632717,"w":2015.1111145019531,"h":599.9999752044678},{"id":"14c174e1bd25d12d","type":"group","z":"6ea4c6b373eeaa8d","name":"an initial value of 15 prevents the initial value of 10, after that 10 is set as value","style":{"label":true},"nodes":["1a77c9db67521812","539ae4172cdd075c","741aad1deb44232a","a7d00c4fde8af5b9","a61589161bb927d8","e558620551f304e3","26d2caa03b2af0fc","6ac55465529ba5d6","f0786e77781add38","8af64c4b25440acd","c83022db36c0634c","f38d705da331d301","092cd4641b230c22","91f2b37d40749b51","83dbdb981fa01fea","427a455ad1e4f7db","8349d39f1a06d948","9767139a84082b0c","e66ca7871b80b964","e13b326aee5ab1b5","5213954a4fac0e56","b6aa561929917a1e","423d719c3032ec37","e586ee790ffe5f47"],"x":50.888858795166016,"y":1468.756863772869,"w":1911.9997825622559,"h":498.0555348396301},{"id":"b1a1e1055c4f2e8f","type":"group","z":"6ea4c6b373eeaa8d","name":"initial value is 30 as output value means that all values are initial out of band","style":{"label":true},"nodes":["b22af29a2b9922a9","9a021663236e571c","ff92e96aa5cec0f3","2060ad3c3e864442","906ec8bfd3804981","b4fa323bc26d4889","a63c294a5a32188f","2cd1d5e1ba7a1e58","3e3dfcc3cf4e3916","d70d1702b5a45fb0","29e7ad86e1346834","298ec617265f1826","4ae4edc243720ad6","9d27ba7a3bd60b4a","0b46974473c62998","525d0d21a73e2f06","e136aabaa796fd86","877b56760b7b037f","8e44fb839cc7136b","0681fdb34d3183fb"],"x":50.888858795166016,"y":2103.190854817629,"w":1875.031795501709,"h":602.1450444459915},{"id":"1ec90a44cc5f68c2","type":"group","z":"6ea4c6b373eeaa8d","name":"negative values are treated absolutely - +/- so negative values are considered as positive values","style":{"label":true},"nodes":["3975322d460a3694","025ada74ebdfa042","22c2f08f1b3fba0b","94f5dacab9332979","68b64fd13c3d5817","1b0981c8abcb75ea","1437bbec9aadbe8f","0906f84eba132a81","f31587cb2aeea4d8","661e692bfe2c0ae8","727695a926c0e72a","0eb2c6527a8c0d7c","732a4c93bc07fbfb","1f031246f0f742dd","72f65c1632e7fdc2","9dc66c7585c9d2ec","445a495059eb7050","f0b93a929cf5105c","ddf3fd2bf513ec35","78ba73863f32219a","7dbd2f8c6e5d4e91","d6b7ef8ce339b337","c18b6548ae1fdc50","91927700d5bf69f8"],"x":50.888858795166016,"y":2841.71435546875,"w":1911.9997825622559,"h":498.0555348396301},{"id":"f3b35054d5d33e46","type":"group","z":"6ea4c6b373eeaa8d","name":"no gap value specified","style":{"label":true},"nodes":["3944ed8137b78d55","4819f33d6d4da629","0477dc8e99d79a9c","41caf36d601b16c5","ac4bf7cb17764f9e","8020fa172bf8e2e1","879e2f167ba2a1de","b7ac91c3303a4229","b4d0dd84071ea74b","f76da90c60f4ce07","b672e63574e9c49e","0224848fa3853706","35da725fa57537fa","8c6e0e0fe30a2771","835463ad05d7b563","1f261dd6d5235421","f6369283a50b1172"],"x":2272.888858795166,"y":2892.3332509994507,"w":1619.7783966064453,"h":485.05553579330444},{"id":"58a6d182ddd468d1","type":"group","z":"6ea4c6b373eeaa8d","name":"no gap value specified","style":{"label":true},"nodes":["af7b34f1dcf57d6d","883993bdb1f61268","6c6786a2ea7d1175","c00eb40b2842984c","7ce79f120d820145","c2d603bc10b4d3f0","199f85fb884d500f","d9adc08e660439a4","03df0417f71dd89e","2be25becbb1c6f3f","42c824d235c57449","8d89e76319c66989","12db70a21ae31bbe","bf40cd8d2cf1e1cf","f4b3baf1ae7ce018","1780a4d7372a5027","1811e68cc6dfc6f0"],"x":2272.888858795166,"y":100.66667127609253,"w":1566.444408416748,"h":486.7221918106079},{"id":"9fc43f43b7f46aa4","type":"group","z":"6ea4c6b373eeaa8d","name":"no gap specified","style":{"label":true},"nodes":["eb14f596d1e5813f","72a57e51e4536d11","672b65a37ea433d6","900d3652946c1567","a41111d54fc1debc","f9f002f698855c3c","21cf4c766d594158","a20299bc4f4a16f8","805fd0709ff1495a","d2129319e0e11395","9473cf92df1ffaa8","df999524034a16d3","e11d235c311cb0b8","71ec537309141288","52bcbcb9db4dcbd3","2275f884c383481f","59d2490c51fa276a","2e65b060d32c3647","5475bd47ac5644d3"],"x":2272.888858795166,"y":2124.7800261080265,"w":1863.1110801696777,"h":600.4783874750137},{"id":"80a6c2b0a6403452","type":"group","z":"6ea4c6b373eeaa8d","name":"no gap specified","style":{"label":true},"nodes":["0b3b4aa6d22c8f50","acc3f0318f79e166","f6fceaaea8898af8","f5e85a7388937c49","0f9e0de8863e6b18","c006cae8bc91eddb","70626564c061b095","5c51291afb4d3e78","9ce87f4af589d14f","07d8224645bbe4b8","ce3b6632e3c576d0","942c12bac56eef59","3b62d10ec4e65674","bb992bd16a4b3cd2","eedae49d5d374054","8732527db0304dfa","6c9a2a0b5e2f6eba"],"x":2272.888858795166,"y":1470.9829615950584,"w":1596.4443321228027,"h":485.05557107925415},{"id":"30f13a03f523fde1","type":"group","z":"6ea4c6b373eeaa8d","name":"no gap specified","style":{"label":true},"nodes":["be9be9400cf14538","998456c97b29d58d","14c6691a4962bf19","7ce9d3f03843762f","fa98fea2fbdaa898","7317636422cb5468","bc137fc93a326c98","da17b38fad688269","892ed31d6b6fffa4","39f538c7ca731976","eddcea78dcb8e98b","bf0e59569800ee6a","a14a21da49747439","b56462fc1392f319","4d7a3794fa66f84b","f4bf246055e2e4d0","172d77ccb8106bbf"],"x":2272.888858795166,"y":757.797028273344,"w":1709.7778282165527,"h":546.1110606193542},{"id":"1d6080fae6ad4519","type":"rbe","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"narrowband - no initial value, 10% compared to input value, > || ==","func":"narrowbandEq","gap":"10%","start":"","inout":"in","septopics":false,"property":"payload","topi":"topic","x":1118,"y":151.94444131851196,"wires":[["c09d66a8d77c1545","16311a8e9aa224c3","df7b4d91ea06d4e0","80be5f897c8e362c","49913113317573c6"]]},{"id":"15c7213b8eb52088","type":"inject","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":146.88885879516602,"y":151.94444131851196,"wires":[["1d6080fae6ad4519","1ba1fdee232ec418","beca23435193270a","c1d848dd0567aa11","704c2db5c0a37d2a","6346b9c72a9ff5cd","5169b9616d53149c","8e3b9a42cdd258a5"]]},{"id":"1ba1fdee232ec418","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":399.1110610961914,"y":208.33323860168457,"wires":[["d790523c46e61597"]]},{"id":"d790523c46e61597","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":208.33323860168457,"wires":[["1d6080fae6ad4519"]]},{"id":"beca23435193270a","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":399.1110610961914,"y":266.1110281944275,"wires":[["b96f1a632e1f3c83"]]},{"id":"b96f1a632e1f3c83","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":266.1110281944275,"wires":[["1d6080fae6ad4519"]]},{"id":"c1d848dd0567aa11","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":323.8888177871704,"wires":[["d0e1bd0deef10b73"]]},{"id":"d0e1bd0deef10b73","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":323.8888177871704,"wires":[["1d6080fae6ad4519"]]},{"id":"704c2db5c0a37d2a","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":381.66660737991333,"wires":[["bb3826d76cfe7e0e"]]},{"id":"bb3826d76cfe7e0e","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":381.66660737991333,"wires":[["1d6080fae6ad4519"]]},{"id":"6346b9c72a9ff5cd","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":439.44439697265625,"wires":[["1e810e4fd3eb5e3c"]]},{"id":"1e810e4fd3eb5e3c","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":439.44439697265625,"wires":[["1d6080fae6ad4519"]]},{"id":"c09d66a8d77c1545","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"6","x":1588.5553894042969,"y":211.1110767788357,"wires":[]},{"id":"16311a8e9aa224c3","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"10","tot":"num"}],"x":1598.5553894042969,"y":272.40737434669774,"wires":[[]]},{"id":"df7b4d91ea06d4e0","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"20","tot":"num"}],"x":1598.5553894042969,"y":333.7036719145598,"wires":[[]]},{"id":"80be5f897c8e362c","type":"switch","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1637.9999389648438,"y":151.94444131851196,"wires":[["bec39b5ab0c28235"],["c3f8a1ce19daee74"],["d41bcda8b425dfe7"]]},{"id":"bec39b5ab0c28235","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"3","x":1856.8886413574219,"y":138.94444131851196,"wires":[]},{"id":"c3f8a1ce19daee74","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"2","x":1856.8886413574219,"y":208.47220540046692,"wires":[]},{"id":"9cd6f51b61c736fc","type":"rbe","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"narrowband - no initial value, 10% compared to output value, > || ==","func":"narrowbandEq","gap":"10%","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1208,"y":830.6006756722927,"wires":[["ba7c02d408c2d583","565e81a9452aec02","5142884b7d86e172","5b9ff85347e89e64"]]},{"id":"8f2e299f0845e11a","type":"inject","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":146.88885879516602,"y":830.6006756722927,"wires":[["9cd6f51b61c736fc","23a8acf4587c6828","dcd269ed051e69c2","d3832c08e040cf87","5a4d360ea2254c4c","e715256f55a60154","7c1a09975b795b14","07456bdec11c7764"]]},{"id":"23a8acf4587c6828","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":479.1110610961914,"y":886.7117548882961,"wires":[["afe075c936f6ed17"]]},{"id":"afe075c936f6ed17","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720.2222290039062,"y":886.7117548882961,"wires":[["9cd6f51b61c736fc"]]},{"id":"dcd269ed051e69c2","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":439.1110610961914,"y":954.1561970015367,"wires":[["0ed87025e57bfbb2"]]},{"id":"0ed87025e57bfbb2","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":753.5555623372396,"y":954.1561970015367,"wires":[["9cd6f51b61c736fc"]]},{"id":"d3832c08e040cf87","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":409.1110610961914,"y":1021.6006391147773,"wires":[["e9e581b6cfd500fc"]]},{"id":"e9e581b6cfd500fc","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":786.888895670573,"y":1021.6006391147773,"wires":[["9cd6f51b61c736fc"]]},{"id":"5a4d360ea2254c4c","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":369.1110610961914,"y":1089.0450812280178,"wires":[["8798d5200ebd3081"]]},{"id":"8798d5200ebd3081","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820.2222290039064,"y":1089.0450812280178,"wires":[["9cd6f51b61c736fc"]]},{"id":"e715256f55a60154","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":349.1110610961914,"y":1156.4895233412583,"wires":[["abd152886ee5ce5d"]]},{"id":"abd152886ee5ce5d","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":853.5555623372397,"y":1156.4895233412583,"wires":[["9cd6f51b61c736fc"]]},{"id":"ba7c02d408c2d583","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","count":"4","x":1725.2220649719238,"y":900.3043477634588,"wires":[]},{"id":"565e81a9452aec02","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"10","tot":"num"}],"x":1726.8886909484863,"y":970.008019854625,"wires":[[]]},{"id":"5142884b7d86e172","type":"switch","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"10.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1718.0000495910645,"y":830.6006756722927,"wires":[["cd6855f2608df3bd"],["c5968730e3cb3ceb"]]},{"id":"cd6855f2608df3bd","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","count":"3","x":1947.444351196289,"y":773.3784323632717,"wires":[]},{"id":"5169b9616d53149c","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 23","rules":[{"p":"payload","pt":"msg","t":"set","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":497.22218656539917,"wires":[["5f5834b7414b658d"]]},{"id":"5f5834b7414b658d","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":497.22218656539917,"wires":[["1d6080fae6ad4519"]]},{"id":"8e3b9a42cdd258a5","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 22","rules":[{"p":"payload","pt":"msg","t":"set","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":554.9999761581421,"wires":[["8c4031bfe8039b99"]]},{"id":"8c4031bfe8039b99","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":554.9999761581421,"wires":[["1d6080fae6ad4519"]]},{"id":"d41bcda8b425dfe7","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"1","x":1846.8886413574219,"y":277.9999694824219,"wires":[]},{"id":"49913113317573c6","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"22","tot":"num"}],"x":1598.5553894042969,"y":394.9999694824219,"wires":[[]]},{"id":"7c1a09975b795b14","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 10.5","rules":[{"p":"payload","pt":"msg","t":"set","to":"10.5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":339.1110610961914,"y":1223.9339654544988,"wires":[["749bf7b8e8fec8f6"]]},{"id":"749bf7b8e8fec8f6","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":886.8888956705731,"y":1223.9339654544988,"wires":[["9cd6f51b61c736fc"]]},{"id":"07456bdec11c7764","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 23","rules":[{"p":"payload","pt":"msg","t":"set","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":309.1110610961914,"y":1291.3784075677395,"wires":[["be4f8544b21909c2"]]},{"id":"be4f8544b21909c2","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":920.2222290039062,"y":1291.3784075677395,"wires":[["9cd6f51b61c736fc"]]},{"id":"5b9ff85347e89e64","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"10.5","tot":"num"}],"x":1729.999771118164,"y":1039.7116919457912,"wires":[[]]},{"id":"c5968730e3cb3ceb","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","count":"1","x":1969.9999732971191,"y":836.3784533441067,"wires":[]},{"id":"1a77c9db67521812","type":"rbe","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"narrowband - initial value 15, 10% compared to input value, > || ==","func":"narrowbandEq","gap":"10%","start":"15","inout":"in","septopics":false,"property":"payload","topi":"topic","x":1118,"y":1522.756863772869,"wires":[["092cd4641b230c22","91f2b37d40749b51","83dbdb981fa01fea","427a455ad1e4f7db","e586ee790ffe5f47"]]},{"id":"539ae4172cdd075c","type":"inject","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":146.88885879516602,"y":1522.756863772869,"wires":[["1a77c9db67521812","741aad1deb44232a","a61589161bb927d8","26d2caa03b2af0fc","f0786e77781add38","c83022db36c0634c","e66ca7871b80b964","5213954a4fac0e56"]]},{"id":"741aad1deb44232a","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":399.1110610961914,"y":1579.1456610560417,"wires":[["a7d00c4fde8af5b9"]]},{"id":"a7d00c4fde8af5b9","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":1579.1456610560417,"wires":[["1a77c9db67521812"]]},{"id":"a61589161bb927d8","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":399.1110610961914,"y":1636.9234506487846,"wires":[["e558620551f304e3"]]},{"id":"e558620551f304e3","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":1636.9234506487846,"wires":[["1a77c9db67521812"]]},{"id":"26d2caa03b2af0fc","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":1694.7012402415276,"wires":[["6ac55465529ba5d6"]]},{"id":"6ac55465529ba5d6","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":1694.7012402415276,"wires":[["1a77c9db67521812"]]},{"id":"f0786e77781add38","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":1752.4790298342705,"wires":[["8af64c4b25440acd"]]},{"id":"8af64c4b25440acd","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":1752.4790298342705,"wires":[["1a77c9db67521812"]]},{"id":"c83022db36c0634c","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":1810.2568194270134,"wires":[["f38d705da331d301"]]},{"id":"f38d705da331d301","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":1810.2568194270134,"wires":[["1a77c9db67521812"]]},{"id":"092cd4641b230c22","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","count":"5","x":1588.5553894042969,"y":1581.9234992331928,"wires":[]},{"id":"91f2b37d40749b51","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"10","tot":"num"}],"x":1598.5553894042969,"y":1643.2197968010548,"wires":[[]]},{"id":"83dbdb981fa01fea","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"20","tot":"num"}],"x":1598.5553894042969,"y":1704.516094368917,"wires":[[]]},{"id":"427a455ad1e4f7db","type":"switch","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1637.9999389648438,"y":1522.756863772869,"wires":[["8349d39f1a06d948"],["9767139a84082b0c"],["423d719c3032ec37"]]},{"id":"8349d39f1a06d948","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","count":"2","x":1856.8886413574219,"y":1509.756863772869,"wires":[]},{"id":"9767139a84082b0c","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","count":"2","x":1856.8886413574219,"y":1579.284627854824,"wires":[]},{"id":"e66ca7871b80b964","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"payload = 23","rules":[{"p":"payload","pt":"msg","t":"set","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":1868.0346090197563,"wires":[["e13b326aee5ab1b5"]]},{"id":"e13b326aee5ab1b5","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":1868.0346090197563,"wires":[["1a77c9db67521812"]]},{"id":"5213954a4fac0e56","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"payload = 22","rules":[{"p":"payload","pt":"msg","t":"set","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":1925.8123986124992,"wires":[["b6aa561929917a1e"]]},{"id":"b6aa561929917a1e","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":1925.8123986124992,"wires":[["1a77c9db67521812"]]},{"id":"423d719c3032ec37","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","count":"1","x":1846.8886413574219,"y":1648.812391936779,"wires":[]},{"id":"e586ee790ffe5f47","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"22","tot":"num"}],"x":1598.5553894042969,"y":1765.812391936779,"wires":[[]]},{"id":"b22af29a2b9922a9","type":"rbe","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"narrowband - initial value 30, 10% compared to output value, > || ==","func":"narrowbandEq","gap":"10%","start":"30","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1328,"y":2144.190854817629,"wires":[["8e44fb839cc7136b","0681fdb34d3183fb"]]},{"id":"9a021663236e571c","type":"inject","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":146.88885879516602,"y":2144.190854817629,"wires":[["b22af29a2b9922a9","ff92e96aa5cec0f3","906ec8bfd3804981","a63c294a5a32188f","3e3dfcc3cf4e3916","29e7ad86e1346834","4ae4edc243720ad6","0b46974473c62998","e136aabaa796fd86"]]},{"id":"ff92e96aa5cec0f3","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":499.1110610961914,"y":2196.296097189188,"wires":[["2060ad3c3e864442"]]},{"id":"2060ad3c3e864442","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740.2222290039062,"y":2196.296097189188,"wires":[["b22af29a2b9922a9"]]},{"id":"906ec8bfd3804981","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":455.14510100228426,"y":2263.158926056964,"wires":[["b4fa323bc26d4889"]]},{"id":"b4fa323bc26d4889","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":778.297085898263,"y":2263.158926056964,"wires":[["b22af29a2b9922a9"]]},{"id":"a63c294a5a32188f","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":421.17914090837735,"y":2330.02175492474,"wires":[["2cd1d5e1ba7a1e58"]]},{"id":"2cd1d5e1ba7a1e58","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":816.3719427926198,"y":2330.02175492474,"wires":[["b22af29a2b9922a9"]]},{"id":"3e3dfcc3cf4e3916","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":397.21318081447043,"y":2396.884583792516,"wires":[["d70d1702b5a45fb0"]]},{"id":"d70d1702b5a45fb0","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":854.4467996869766,"y":2396.884583792516,"wires":[["b22af29a2b9922a9"]]},{"id":"29e7ad86e1346834","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":373.2472207205635,"y":2463.747412660292,"wires":[["298ec617265f1826"]]},{"id":"298ec617265f1826","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":892.5216565813334,"y":2463.747412660292,"wires":[["b22af29a2b9922a9"]]},{"id":"4ae4edc243720ad6","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 10.5","rules":[{"p":"payload","pt":"msg","t":"set","to":"10.5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":339.2812606266566,"y":2530.610241528068,"wires":[["9d27ba7a3bd60b4a"]]},{"id":"9d27ba7a3bd60b4a","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":930.5965134756902,"y":2530.610241528068,"wires":[["b22af29a2b9922a9"]]},{"id":"0b46974473c62998","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 23","rules":[{"p":"payload","pt":"msg","t":"set","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":305.3153005327497,"y":2597.473070395844,"wires":[["525d0d21a73e2f06"]]},{"id":"525d0d21a73e2f06","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":968.671370370047,"y":2597.473070395844,"wires":[["b22af29a2b9922a9"]]},{"id":"e136aabaa796fd86","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 31","rules":[{"p":"payload","pt":"msg","t":"set","to":"31","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":281.3493404388428,"y":2664.3358992636204,"wires":[["877b56760b7b037f"]]},{"id":"877b56760b7b037f","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1006.7462272644043,"y":2664.3358992636204,"wires":[["b22af29a2b9922a9"]]},{"id":"8e44fb839cc7136b","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","count":1,"x":1772.7779235839841,"y":2195.0501341606887,"wires":[]},{"id":"0681fdb34d3183fb","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"31","tot":"num"}],"x":1789.920654296875,"y":2144.190854817629,"wires":[[]]},{"id":"3975322d460a3694","type":"rbe","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"narrowband - no initial value, 10% compared to input value, > || ==","func":"narrowbandEq","gap":"10%","start":"","inout":"in","septopics":false,"property":"payload","topi":"topic","x":1118,"y":2895.71435546875,"wires":[["732a4c93bc07fbfb","1f031246f0f742dd","72f65c1632e7fdc2","9dc66c7585c9d2ec","91927700d5bf69f8"]]},{"id":"025ada74ebdfa042","type":"inject","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":146.88885879516602,"y":2895.71435546875,"wires":[["3975322d460a3694","22c2f08f1b3fba0b","68b64fd13c3d5817","1437bbec9aadbe8f","f31587cb2aeea4d8","727695a926c0e72a","ddf3fd2bf513ec35","7dbd2f8c6e5d4e91"]]},{"id":"22c2f08f1b3fba0b","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":399.1110610961914,"y":2952.1031527519226,"wires":[["94f5dacab9332979"]]},{"id":"94f5dacab9332979","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":2952.1031527519226,"wires":[["3975322d460a3694"]]},{"id":"68b64fd13c3d5817","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":399.1110610961914,"y":3009.8809423446655,"wires":[["1b0981c8abcb75ea"]]},{"id":"1b0981c8abcb75ea","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":3009.8809423446655,"wires":[["3975322d460a3694"]]},{"id":"1437bbec9aadbe8f","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"payload = -20","rules":[{"p":"payload","pt":"msg","t":"set","to":"-20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":399.1110610961914,"y":3067.6587319374084,"wires":[["0906f84eba132a81"]]},{"id":"0906f84eba132a81","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":3067.6587319374084,"wires":[["3975322d460a3694"]]},{"id":"f31587cb2aeea4d8","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"payload = -20","rules":[{"p":"payload","pt":"msg","t":"set","to":"-20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":399.1110610961914,"y":3125.4365215301514,"wires":[["661e692bfe2c0ae8"]]},{"id":"661e692bfe2c0ae8","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":3125.4365215301514,"wires":[["3975322d460a3694"]]},{"id":"727695a926c0e72a","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":3183.2143111228943,"wires":[["0eb2c6527a8c0d7c"]]},{"id":"0eb2c6527a8c0d7c","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":3183.2143111228943,"wires":[["3975322d460a3694"]]},{"id":"732a4c93bc07fbfb","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","count":"5","x":1588.5553894042969,"y":2954.880990929074,"wires":[]},{"id":"1f031246f0f742dd","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"10","tot":"num"}],"x":1598.5553894042969,"y":3016.177288496936,"wires":[[]]},{"id":"72f65c1632e7fdc2","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"-20","tot":"num"}],"x":1598.5553894042969,"y":3077.473586064798,"wires":[[]]},{"id":"9dc66c7585c9d2ec","type":"switch","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"-20","vt":"num"},{"t":"eq","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1637.9999389648438,"y":2895.71435546875,"wires":[["445a495059eb7050"],["f0b93a929cf5105c"],["c18b6548ae1fdc50"]]},{"id":"445a495059eb7050","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","count":"3","x":1856.8886413574219,"y":2882.71435546875,"wires":[]},{"id":"f0b93a929cf5105c","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","count":"1","x":1846.8886413574219,"y":2952.242119550705,"wires":[]},{"id":"ddf3fd2bf513ec35","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"payload = 23","rules":[{"p":"payload","pt":"msg","t":"set","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":3240.992100715637,"wires":[["78ba73863f32219a"]]},{"id":"78ba73863f32219a","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":3240.992100715637,"wires":[["3975322d460a3694"]]},{"id":"7dbd2f8c6e5d4e91","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"payload = 22","rules":[{"p":"payload","pt":"msg","t":"set","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.1110610961914,"y":3298.76989030838,"wires":[["d6b7ef8ce339b337"]]},{"id":"d6b7ef8ce339b337","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640.2222290039062,"y":3298.76989030838,"wires":[["3975322d460a3694"]]},{"id":"c18b6548ae1fdc50","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","count":"1","x":1846.8886413574219,"y":3021.76988363266,"wires":[]},{"id":"91927700d5bf69f8","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"22","tot":"num"}],"x":1598.5553894042969,"y":3138.76988363266,"wires":[[]]},{"id":"3944ed8137b78d55","type":"rbe","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"narrowband - no initial value, 10% compared to input value, > || ==","func":"narrowbandEq","gap":"","start":"","inout":"in","septopics":false,"property":"payload","topi":"topic","x":3340,"y":2933.3332509994507,"wires":[["f6369283a50b1172"]]},{"id":"4819f33d6d4da629","type":"inject","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":2368.888858795166,"y":2933.3332509994507,"wires":[["3944ed8137b78d55","0477dc8e99d79a9c","ac4bf7cb17764f9e","879e2f167ba2a1de","b4d0dd84071ea74b","b672e63574e9c49e","35da725fa57537fa","835463ad05d7b563"]]},{"id":"0477dc8e99d79a9c","type":"change","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":2621.1110610961914,"y":2989.7220492362976,"wires":[["41caf36d601b16c5"]]},{"id":"41caf36d601b16c5","type":"delay","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":2989.7220492362976,"wires":[["3944ed8137b78d55"]]},{"id":"ac4bf7cb17764f9e","type":"change","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":2621.1110610961914,"y":3047.4998388290405,"wires":[["8020fa172bf8e2e1"]]},{"id":"8020fa172bf8e2e1","type":"delay","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":3047.4998388290405,"wires":[["3944ed8137b78d55"]]},{"id":"879e2f167ba2a1de","type":"change","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"payload = -20","rules":[{"p":"payload","pt":"msg","t":"set","to":"-20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2621.1110610961914,"y":3105.2776284217834,"wires":[["b7ac91c3303a4229"]]},{"id":"b7ac91c3303a4229","type":"delay","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":3105.2776284217834,"wires":[["3944ed8137b78d55"]]},{"id":"b4d0dd84071ea74b","type":"change","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"payload = -20","rules":[{"p":"payload","pt":"msg","t":"set","to":"-20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2621.1110610961914,"y":3163.0554180145264,"wires":[["f76da90c60f4ce07"]]},{"id":"f76da90c60f4ce07","type":"delay","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":3163.0554180145264,"wires":[["3944ed8137b78d55"]]},{"id":"b672e63574e9c49e","type":"change","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":3220.8332076072693,"wires":[["0224848fa3853706"]]},{"id":"0224848fa3853706","type":"delay","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":3220.8332076072693,"wires":[["3944ed8137b78d55"]]},{"id":"35da725fa57537fa","type":"change","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"payload = 23","rules":[{"p":"payload","pt":"msg","t":"set","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":3278.610997200012,"wires":[["8c6e0e0fe30a2771"]]},{"id":"8c6e0e0fe30a2771","type":"delay","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":3278.610997200012,"wires":[["3944ed8137b78d55"]]},{"id":"835463ad05d7b563","type":"change","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"payload = 22","rules":[{"p":"payload","pt":"msg","t":"set","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":3336.388786792755,"wires":[["1f261dd6d5235421"]]},{"id":"1f261dd6d5235421","type":"delay","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":3336.388786792755,"wires":[["3944ed8137b78d55"]]},{"id":"af7b34f1dcf57d6d","type":"rbe","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"narrowband - no initial value, 10% compared to input value, > || ==","func":"narrowbandEq","gap":"","start":"","inout":"in","septopics":false,"property":"payload","topi":"topic","x":3340,"y":141.66667127609253,"wires":[["1811e68cc6dfc6f0"]]},{"id":"883993bdb1f61268","type":"inject","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":2368.888858795166,"y":141.66667127609253,"wires":[["af7b34f1dcf57d6d","6c6786a2ea7d1175","7ce79f120d820145","199f85fb884d500f","03df0417f71dd89e","42c824d235c57449","12db70a21ae31bbe","f4b3baf1ae7ce018"]]},{"id":"6c6786a2ea7d1175","type":"change","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":2621.1110610961914,"y":199.72212553024292,"wires":[["c00eb40b2842984c"]]},{"id":"c00eb40b2842984c","type":"delay","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":199.72212553024292,"wires":[["af7b34f1dcf57d6d"]]},{"id":"7ce79f120d820145","type":"change","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":2621.1110610961914,"y":257.49991512298584,"wires":[["c2d603bc10b4d3f0"]]},{"id":"c2d603bc10b4d3f0","type":"delay","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":257.49991512298584,"wires":[["af7b34f1dcf57d6d"]]},{"id":"199f85fb884d500f","type":"change","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":315.27770471572876,"wires":[["d9adc08e660439a4"]]},{"id":"d9adc08e660439a4","type":"delay","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":315.27770471572876,"wires":[["af7b34f1dcf57d6d"]]},{"id":"03df0417f71dd89e","type":"change","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":373.0554943084717,"wires":[["2be25becbb1c6f3f"]]},{"id":"2be25becbb1c6f3f","type":"delay","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":373.0554943084717,"wires":[["af7b34f1dcf57d6d"]]},{"id":"42c824d235c57449","type":"change","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":430.8332839012146,"wires":[["8d89e76319c66989"]]},{"id":"8d89e76319c66989","type":"delay","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":430.8332839012146,"wires":[["af7b34f1dcf57d6d"]]},{"id":"12db70a21ae31bbe","type":"change","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"payload = 23","rules":[{"p":"payload","pt":"msg","t":"set","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":488.6110734939575,"wires":[["bf40cd8d2cf1e1cf"]]},{"id":"bf40cd8d2cf1e1cf","type":"delay","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":488.6110734939575,"wires":[["af7b34f1dcf57d6d"]]},{"id":"f4b3baf1ae7ce018","type":"change","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"payload = 22","rules":[{"p":"payload","pt":"msg","t":"set","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":546.3888630867004,"wires":[["1780a4d7372a5027"]]},{"id":"1780a4d7372a5027","type":"delay","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":546.3888630867004,"wires":[["af7b34f1dcf57d6d"]]},{"id":"f6369283a50b1172","type":"ut-assert-failure","z":"6ea4c6b373eeaa8d","g":"f3b35054d5d33e46","name":"","x":3796.6672554016113,"y":2933.3332509994507,"wires":[]},{"id":"1811e68cc6dfc6f0","type":"ut-assert-failure","z":"6ea4c6b373eeaa8d","g":"58a6d182ddd468d1","name":"","x":3743.333267211914,"y":141.66667127609253,"wires":[]},{"id":"eb14f596d1e5813f","type":"rbe","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"narrowband - initial value 30, 10% compared to output value, > || ==","func":"narrowbandEq","gap":"","start":"30","inout":"out","septopics":false,"property":"payload","topi":"topic","x":3550,"y":2165.7800261080265,"wires":[["5475bd47ac5644d3"]]},{"id":"72a57e51e4536d11","type":"inject","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":2368.888858795166,"y":2165.7800261080265,"wires":[["eb14f596d1e5813f","672b65a37ea433d6","a41111d54fc1debc","21cf4c766d594158","805fd0709ff1495a","9473cf92df1ffaa8","e11d235c311cb0b8","52bcbcb9db4dcbd3","59d2490c51fa276a"]]},{"id":"672b65a37ea433d6","type":"change","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":2721.1110610961914,"y":2216.218611508608,"wires":[["900d3652946c1567"]]},{"id":"900d3652946c1567","type":"delay","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2962.2222290039062,"y":2216.218611508608,"wires":[["eb14f596d1e5813f"]]},{"id":"a41111d54fc1debc","type":"change","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":2677.1451010022843,"y":2283.081440376384,"wires":[["f9f002f698855c3c"]]},{"id":"f9f002f698855c3c","type":"delay","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3000.297085898263,"y":2283.081440376384,"wires":[["eb14f596d1e5813f"]]},{"id":"21cf4c766d594158","type":"change","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2643.179140908377,"y":2349.94426924416,"wires":[["a20299bc4f4a16f8"]]},{"id":"a20299bc4f4a16f8","type":"delay","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3038.37194279262,"y":2349.94426924416,"wires":[["eb14f596d1e5813f"]]},{"id":"805fd0709ff1495a","type":"change","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2619.2131808144704,"y":2416.807098111936,"wires":[["d2129319e0e11395"]]},{"id":"d2129319e0e11395","type":"delay","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3076.4467996869766,"y":2416.807098111936,"wires":[["eb14f596d1e5813f"]]},{"id":"9473cf92df1ffaa8","type":"change","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2595.2472207205637,"y":2483.669926979712,"wires":[["df999524034a16d3"]]},{"id":"df999524034a16d3","type":"delay","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3114.5216565813334,"y":2483.669926979712,"wires":[["eb14f596d1e5813f"]]},{"id":"e11d235c311cb0b8","type":"change","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"payload = 10.5","rules":[{"p":"payload","pt":"msg","t":"set","to":"10.5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2561.2812606266566,"y":2550.532755847488,"wires":[["71ec537309141288"]]},{"id":"71ec537309141288","type":"delay","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3152.5965134756902,"y":2550.532755847488,"wires":[["eb14f596d1e5813f"]]},{"id":"52bcbcb9db4dcbd3","type":"change","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"payload = 23","rules":[{"p":"payload","pt":"msg","t":"set","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2527.3153005327495,"y":2617.395584715264,"wires":[["2275f884c383481f"]]},{"id":"2275f884c383481f","type":"delay","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3190.671370370047,"y":2617.395584715264,"wires":[["eb14f596d1e5813f"]]},{"id":"59d2490c51fa276a","type":"change","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"payload = 31","rules":[{"p":"payload","pt":"msg","t":"set","to":"31","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2503.349340438843,"y":2684.2584135830402,"wires":[["2e65b060d32c3647"]]},{"id":"2e65b060d32c3647","type":"delay","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3228.7462272644043,"y":2684.2584135830402,"wires":[["eb14f596d1e5813f"]]},{"id":"5475bd47ac5644d3","type":"ut-assert-failure","z":"6ea4c6b373eeaa8d","g":"9fc43f43b7f46aa4","name":"","x":4039.9999389648438,"y":2165.7800261080265,"wires":[]},{"id":"0b3b4aa6d22c8f50","type":"rbe","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"narrowband - initial value 15, 10% compared to input value, > || ==","func":"narrowbandEq","gap":"","start":"15","inout":"in","septopics":false,"property":"payload","topi":"topic","x":3340,"y":1511.9829615950584,"wires":[["6c9a2a0b5e2f6eba"]]},{"id":"acc3f0318f79e166","type":"inject","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":2368.888858795166,"y":1511.9829615950584,"wires":[["0b3b4aa6d22c8f50","f6fceaaea8898af8","0f9e0de8863e6b18","70626564c061b095","9ce87f4af589d14f","ce3b6632e3c576d0","3b62d10ec4e65674","eedae49d5d374054"]]},{"id":"f6fceaaea8898af8","type":"change","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":2621.1110610961914,"y":1568.371795117855,"wires":[["f5e85a7388937c49"]]},{"id":"f5e85a7388937c49","type":"delay","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":1568.371795117855,"wires":[["0b3b4aa6d22c8f50"]]},{"id":"0f9e0de8863e6b18","type":"change","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":2621.1110610961914,"y":1626.149584710598,"wires":[["c006cae8bc91eddb"]]},{"id":"c006cae8bc91eddb","type":"delay","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":1626.149584710598,"wires":[["0b3b4aa6d22c8f50"]]},{"id":"70626564c061b095","type":"change","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":1683.927374303341,"wires":[["5c51291afb4d3e78"]]},{"id":"5c51291afb4d3e78","type":"delay","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":1683.927374303341,"wires":[["0b3b4aa6d22c8f50"]]},{"id":"9ce87f4af589d14f","type":"change","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":1741.7051638960838,"wires":[["07d8224645bbe4b8"]]},{"id":"07d8224645bbe4b8","type":"delay","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":1741.7051638960838,"wires":[["0b3b4aa6d22c8f50"]]},{"id":"ce3b6632e3c576d0","type":"change","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":1799.4829534888268,"wires":[["942c12bac56eef59"]]},{"id":"942c12bac56eef59","type":"delay","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":1799.4829534888268,"wires":[["0b3b4aa6d22c8f50"]]},{"id":"3b62d10ec4e65674","type":"change","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"payload = 23","rules":[{"p":"payload","pt":"msg","t":"set","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":1857.2607430815697,"wires":[["bb992bd16a4b3cd2"]]},{"id":"bb992bd16a4b3cd2","type":"delay","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":1857.2607430815697,"wires":[["0b3b4aa6d22c8f50"]]},{"id":"eedae49d5d374054","type":"change","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"payload = 22","rules":[{"p":"payload","pt":"msg","t":"set","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2611.1110610961914,"y":1915.0385326743126,"wires":[["8732527db0304dfa"]]},{"id":"8732527db0304dfa","type":"delay","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2862.2222290039062,"y":1915.0385326743126,"wires":[["0b3b4aa6d22c8f50"]]},{"id":"6c9a2a0b5e2f6eba","type":"ut-assert-failure","z":"6ea4c6b373eeaa8d","g":"80a6c2b0a6403452","name":"","x":3773.3331909179688,"y":1511.9829615950584,"wires":[]},{"id":"be9be9400cf14538","type":"rbe","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"narrowband - no initial value, 10% compared to output value, > || ==","func":"narrowbandEq","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":3430,"y":798.797028273344,"wires":[["172d77ccb8106bbf"]]},{"id":"998456c97b29d58d","type":"inject","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":2368.888858795166,"y":798.797028273344,"wires":[["be9be9400cf14538","14c6691a4962bf19","fa98fea2fbdaa898","bc137fc93a326c98","892ed31d6b6fffa4","eddcea78dcb8e98b","a14a21da49747439","4d7a3794fa66f84b"]]},{"id":"14c6691a4962bf19","type":"change","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":2701.1110610961914,"y":858.2414362132549,"wires":[["7ce9d3f03843762f"]]},{"id":"7ce9d3f03843762f","type":"delay","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2942.2222290039062,"y":858.2414362132549,"wires":[["be9be9400cf14538"]]},{"id":"fa98fea2fbdaa898","type":"change","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":2661.1110610961914,"y":925.6858783264955,"wires":[["7317636422cb5468"]]},{"id":"7317636422cb5468","type":"delay","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2975.5555623372397,"y":925.6858783264955,"wires":[["be9be9400cf14538"]]},{"id":"bc137fc93a326c98","type":"change","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2631.1110610961914,"y":993.1303204397361,"wires":[["da17b38fad688269"]]},{"id":"da17b38fad688269","type":"delay","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3008.888895670573,"y":993.1303204397361,"wires":[["be9be9400cf14538"]]},{"id":"892ed31d6b6fffa4","type":"change","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2591.1110610961914,"y":1060.5747625529766,"wires":[["39f538c7ca731976"]]},{"id":"39f538c7ca731976","type":"delay","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3042.2222290039062,"y":1060.5747625529766,"wires":[["be9be9400cf14538"]]},{"id":"eddcea78dcb8e98b","type":"change","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"payload = 20","rules":[{"p":"payload","pt":"msg","t":"set","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2571.1110610961914,"y":1128.019204666217,"wires":[["bf0e59569800ee6a"]]},{"id":"bf0e59569800ee6a","type":"delay","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3075.5555623372397,"y":1128.019204666217,"wires":[["be9be9400cf14538"]]},{"id":"a14a21da49747439","type":"change","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"payload = 10.5","rules":[{"p":"payload","pt":"msg","t":"set","to":"10.5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2561.1110610961914,"y":1195.4636467794576,"wires":[["b56462fc1392f319"]]},{"id":"b56462fc1392f319","type":"delay","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3108.888895670573,"y":1195.4636467794576,"wires":[["be9be9400cf14538"]]},{"id":"4d7a3794fa66f84b","type":"change","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"payload = 23","rules":[{"p":"payload","pt":"msg","t":"set","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2531.1110610961914,"y":1262.9080888926983,"wires":[["f4bf246055e2e4d0"]]},{"id":"f4bf246055e2e4d0","type":"delay","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3142.2222290039062,"y":1262.9080888926983,"wires":[["be9be9400cf14538"]]},{"id":"172d77ccb8106bbf","type":"ut-assert-failure","z":"6ea4c6b373eeaa8d","g":"30f13a03f523fde1","name":"","x":3886.6666870117188,"y":798.797028273344,"wires":[]}]