examples/d4ce58359ff6ff96/flows.json
[{"id":"d4ce58359ff6ff96","type":"tab","label":"[join] with parts until complete received","disabled":false,"info":"## Join working with parts attribute\n\nTest that join orders messages in order of index and that it stops collecting once a message with `complete = true` is received.\n\n","env":[]},{"id":"723f9634cfee5777","type":"inject","z":"d4ce58359ff6ff96","name":"","props":[{"p":"payload"},{"p":"total","v":"10","vt":"num"},{"p":"count","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":617,"y":319,"wires":[["816db7263abcdb30"]]},{"id":"816db7263abcdb30","type":"change","z":"d4ce58359ff6ff96","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"{ \"index\": $$.count  }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":620,"wires":[["c1af0f8c45b40629","c0e0abe01f7c5b0e"]]},{"id":"c0e0abe01f7c5b0e","type":"switch","z":"d4ce58359ff6ff96","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"$$.total","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":708,"y":944,"wires":[["1ef466f364d20c0c"],["b2bd49276c852f93"]]},{"id":"c1af0f8c45b40629","type":"join","z":"d4ce58359ff6ff96","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1265,"y":620,"wires":[["0741d2c3713e917d"]]},{"id":"1ef466f364d20c0c","type":"change","z":"d4ce58359ff6ff96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$random()","tot":"jsonata"},{"t":"set","p":"count","pt":"msg","to":"$$.count + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":948,"y":875,"wires":[["816db7263abcdb30"]]},{"id":"b2bd49276c852f93","type":"change","z":"d4ce58359ff6ff96","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":949,"wires":[["c1af0f8c45b40629"]]},{"id":"0741d2c3713e917d","type":"change","z":"d4ce58359ff6ff96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map( $$.payload, function($v) { $v.parts.index })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":675,"wires":[["2c9aabad813b20c4"]]},{"id":"2c9aabad813b20c4","type":"ut-assert-values","z":"d4ce58359ff6ff96","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[0,1,2,3,4,5,6,7,8,9,10,10]","tot":"json"}],"x":1691,"y":730,"wires":[[]]}]