examples/f19fdae0c02b4f03/flows.json
[
    {
        "id": "f19fdae0c02b4f03",
        "type": "tab",
        "label": "[filter] post if value changed",
        "disabled": false,
        "info": "## Filter Node - block unless value changes\n\n`rbe` mode with no topic\n\nrbe = Report by Exception \n\n",
        "env": [
            {
                "name": "ERED_PENDING",
                "value": "false",
                "type": "bool"
            }
        ]
    },
    {
        "id": "1fad26711775a40e",
        "type": "group",
        "z": "f19fdae0c02b4f03",
        "name": "property name is payload",
        "style": {
            "label": true
        },
        "nodes": [
            "ba56e9576baa4861",
            "9d20155046acc31d",
            "8543499ae5fd3576",
            "6bebc590dadbb889",
            "4a2e2509bb56578c",
            "de9e7db23aa445d4",
            "4ad5428bb1c2b43b"
        ],
        "x": 74.71431732177734,
        "y": 169.25000762939453,
        "w": 1429.5,
        "h": 301.625
    },
    {
        "id": "bcbd77613b58fd14",
        "type": "group",
        "z": "f19fdae0c02b4f03",
        "name": "property name is 'fubar'",
        "style": {
            "label": true
        },
        "nodes": [
            "93d6c55ad6d1226d",
            "6a895b8bf87276db",
            "59dce407eef8cca0",
            "1d0568738eeca121",
            "48147307210ff02d",
            "e55e7353f2bac7d8",
            "0ca2a03e246542f6"
        ],
        "x": 83.2857666015625,
        "y": 617.9464721679688,
        "w": 1409.5,
        "h": 301.625
    },
    {
        "id": "fd7e9b5411af529a",
        "type": "group",
        "z": "f19fdae0c02b4f03",
        "name": "initial value of one is passed through",
        "style": {
            "label": true
        },
        "nodes": [
            "efe7ba3be4543696",
            "67ab18c23e6c587b",
            "0b44e89a334f0d8a",
            "db5d759eb00cc309",
            "cf9d3c1218efdb76",
            "bc46ed8ef3228081",
            "ac89fbae93406c6b",
            "0766942615326863",
            "a97de0b6702f0df0",
            "477a74766db49b18",
            "fa0885e500e36329",
            "70cbcae5d6ecbd90"
        ],
        "x": 82,
        "y": 1100,
        "w": 1130,
        "h": 281
    },
    {
        "id": "5a6888198548f8a1",
        "type": "group",
        "z": "f19fdae0c02b4f03",
        "name": "respect reset message and allow the payload of 1 to go through twice",
        "style": {
            "label": true
        },
        "nodes": [
            "7f05cc05bd28ba55",
            "077dab67f1b3e189",
            "7f756373695c6370",
            "01f9ade51488b89b",
            "932d64cad9078ef8",
            "d153932e2569b829",
            "5580785faab157d1",
            "81db7508d0f3aeb5",
            "4fbd1b0bdd4d239b"
        ],
        "x": 75,
        "y": 1545,
        "w": 1130,
        "h": 249.5
    },
    {
        "id": "ba56e9576baa4861",
        "type": "rbe",
        "z": "f19fdae0c02b4f03",
        "g": "1fad26711775a40e",
        "name": "",
        "func": "rbe",
        "gap": "10%",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1035.7143173217773,
        "y": 429.87500762939453,
        "wires": [
            [
                "de9e7db23aa445d4",
                "4ad5428bb1c2b43b"
            ]
        ]
    },
    {
        "id": "9d20155046acc31d",
        "type": "inject",
        "z": "f19fdae0c02b4f03",
        "g": "1fad26711775a40e",
        "name": "",
        "props": [
            {
                "p": "counter",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170.71431732177734,
        "y": 429.87500762939453,
        "wires": [
            [
                "8543499ae5fd3576"
            ]
        ]
    },
    {
        "id": "8543499ae5fd3576",
        "type": "change",
        "z": "f19fdae0c02b4f03",
        "g": "1fad26711775a40e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "counter",
                "pt": "msg",
                "to": "$$.counter + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 616.7143173217773,
        "y": 429.87500762939453,
        "wires": [
            [
                "6bebc590dadbb889",
                "ba56e9576baa4861"
            ]
        ]
    },
    {
        "id": "6bebc590dadbb889",
        "type": "switch",
        "z": "f19fdae0c02b4f03",
        "g": "1fad26711775a40e",
        "name": "limit to 1000 messages",
        "property": "counter",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1000",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 616.7143173217773,
        "y": 210.25000762939453,
        "wires": [
            [
                "8543499ae5fd3576"
            ],
            [
                "4a2e2509bb56578c"
            ]
        ]
    },
    {
        "id": "4a2e2509bb56578c",
        "type": "change",
        "z": "f19fdae0c02b4f03",
        "g": "1fad26711775a40e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "11",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 855.7143249511719,
        "y": 316.8572082519531,
        "wires": [
            [
                "ba56e9576baa4861"
            ]
        ]
    },
    {
        "id": "de9e7db23aa445d4",
        "type": "ut-assert-values",
        "z": "f19fdae0c02b4f03",
        "g": "1fad26711775a40e",
        "name": "",
        "ignore_failure_if_succeed": true,
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            }
        ],
        "x": 1266.7143173217773,
        "y": 316.8572082519531,
        "wires": [
            []
        ]
    },
    {
        "id": "4ad5428bb1c2b43b",
        "type": "ut-assert-values",
        "z": "f19fdae0c02b4f03",
        "g": "1fad26711775a40e",
        "name": "",
        "ignore_failure_if_succeed": true,
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "11",
                "tot": "num"
            }
        ],
        "x": 1368.2143173217773,
        "y": 373.3661079406738,
        "wires": [
            []
        ]
    },
    {
        "id": "93d6c55ad6d1226d",
        "type": "rbe",
        "z": "f19fdae0c02b4f03",
        "g": "bcbd77613b58fd14",
        "name": "",
        "func": "rbe",
        "gap": "10%",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "fubar",
        "topi": "topic",
        "x": 1044.2857666015625,
        "y": 878.5714721679688,
        "wires": [
            [
                "e55e7353f2bac7d8",
                "0ca2a03e246542f6"
            ]
        ]
    },
    {
        "id": "6a895b8bf87276db",
        "type": "inject",
        "z": "f19fdae0c02b4f03",
        "g": "bcbd77613b58fd14",
        "name": "",
        "props": [
            {
                "p": "counter",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 179.2857666015625,
        "y": 878.5714721679688,
        "wires": [
            [
                "59dce407eef8cca0"
            ]
        ]
    },
    {
        "id": "59dce407eef8cca0",
        "type": "change",
        "z": "f19fdae0c02b4f03",
        "g": "bcbd77613b58fd14",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fubar",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "counter",
                "pt": "msg",
                "to": "$$.counter + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 625.2857666015625,
        "y": 878.5714721679688,
        "wires": [
            [
                "1d0568738eeca121",
                "93d6c55ad6d1226d"
            ]
        ]
    },
    {
        "id": "1d0568738eeca121",
        "type": "switch",
        "z": "f19fdae0c02b4f03",
        "g": "bcbd77613b58fd14",
        "name": "limit to 1000 messages",
        "property": "counter",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1000",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 625.2857666015625,
        "y": 658.9464721679688,
        "wires": [
            [
                "59dce407eef8cca0"
            ],
            [
                "48147307210ff02d"
            ]
        ]
    },
    {
        "id": "48147307210ff02d",
        "type": "change",
        "z": "f19fdae0c02b4f03",
        "g": "bcbd77613b58fd14",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fubar",
                "pt": "msg",
                "to": "11",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 864.285774230957,
        "y": 765.5536727905273,
        "wires": [
            [
                "93d6c55ad6d1226d"
            ]
        ]
    },
    {
        "id": "e55e7353f2bac7d8",
        "type": "ut-assert-values",
        "z": "f19fdae0c02b4f03",
        "g": "bcbd77613b58fd14",
        "name": "",
        "ignore_failure_if_succeed": true,
        "rules": [
            {
                "t": "eql",
                "p": "fubar",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            }
        ],
        "x": 1265.2857666015625,
        "y": 765.5536727905273,
        "wires": [
            []
        ]
    },
    {
        "id": "0ca2a03e246542f6",
        "type": "ut-assert-values",
        "z": "f19fdae0c02b4f03",
        "g": "bcbd77613b58fd14",
        "name": "",
        "ignore_failure_if_succeed": true,
        "rules": [
            {
                "t": "eql",
                "p": "fubar",
                "pt": "msg",
                "to": "11",
                "tot": "num"
            }
        ],
        "x": 1366.7857666015625,
        "y": 822.062572479248,
        "wires": [
            []
        ]
    },
    {
        "id": "efe7ba3be4543696",
        "type": "rbe",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 772,
        "y": 1141,
        "wires": [
            [
                "bc46ed8ef3228081",
                "ac89fbae93406c6b",
                "0766942615326863",
                "70cbcae5d6ecbd90"
            ]
        ]
    },
    {
        "id": "67ab18c23e6c587b",
        "type": "inject",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 178,
        "y": 1141,
        "wires": [
            [
                "efe7ba3be4543696",
                "a97de0b6702f0df0",
                "477a74766db49b18",
                "fa0885e500e36329"
            ]
        ]
    },
    {
        "id": "0b44e89a334f0d8a",
        "type": "delay",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 571,
        "y": 1197.5,
        "wires": [
            [
                "efe7ba3be4543696"
            ]
        ]
    },
    {
        "id": "db5d759eb00cc309",
        "type": "delay",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 576,
        "y": 1249.5,
        "wires": [
            [
                "efe7ba3be4543696"
            ]
        ]
    },
    {
        "id": "cf9d3c1218efdb76",
        "type": "delay",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 611,
        "y": 1308.5,
        "wires": [
            [
                "efe7ba3be4543696"
            ]
        ]
    },
    {
        "id": "bc46ed8ef3228081",
        "type": "ut-assert-values",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "",
        "ignore_failure_if_succeed": true,
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "x": 1076,
        "y": 1237,
        "wires": [
            []
        ]
    },
    {
        "id": "ac89fbae93406c6b",
        "type": "ut-assert-values",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "",
        "ignore_failure_if_succeed": true,
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "x": 1076,
        "y": 1288.5,
        "wires": [
            []
        ]
    },
    {
        "id": "0766942615326863",
        "type": "ut-assert-values",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "",
        "ignore_failure_if_succeed": true,
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "x": 1076,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a97de0b6702f0df0",
        "type": "change",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "payload = 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1197.5,
        "wires": [
            [
                "0b44e89a334f0d8a"
            ]
        ]
    },
    {
        "id": "477a74766db49b18",
        "type": "change",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "payload = 3 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 374,
        "y": 1249.5,
        "wires": [
            [
                "db5d759eb00cc309"
            ]
        ]
    },
    {
        "id": "fa0885e500e36329",
        "type": "change",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "payload = 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 356,
        "y": 1308.5,
        "wires": [
            [
                "cf9d3c1218efdb76"
            ]
        ]
    },
    {
        "id": "70cbcae5d6ecbd90",
        "type": "ut-assert-values",
        "z": "f19fdae0c02b4f03",
        "g": "fd7e9b5411af529a",
        "name": "",
        "ignore_failure_if_succeed": true,
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "x": 1076,
        "y": 1186,
        "wires": [
            []
        ]
    },
    {
        "id": "7f05cc05bd28ba55",
        "type": "rbe",
        "z": "f19fdae0c02b4f03",
        "g": "5a6888198548f8a1",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 765,
        "y": 1586,
        "wires": [
            [
                "4fbd1b0bdd4d239b"
            ]
        ]
    },
    {
        "id": "077dab67f1b3e189",
        "type": "inject",
        "z": "f19fdae0c02b4f03",
        "g": "5a6888198548f8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 171,
        "y": 1586,
        "wires": [
            [
                "7f05cc05bd28ba55",
                "d153932e2569b829",
                "5580785faab157d1",
                "81db7508d0f3aeb5"
            ]
        ]
    },
    {
        "id": "7f756373695c6370",
        "type": "delay",
        "z": "f19fdae0c02b4f03",
        "g": "5a6888198548f8a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 564,
        "y": 1642.5,
        "wires": [
            [
                "7f05cc05bd28ba55"
            ]
        ]
    },
    {
        "id": "01f9ade51488b89b",
        "type": "delay",
        "z": "f19fdae0c02b4f03",
        "g": "5a6888198548f8a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 584,
        "y": 1698,
        "wires": [
            [
                "7f05cc05bd28ba55"
            ]
        ]
    },
    {
        "id": "932d64cad9078ef8",
        "type": "delay",
        "z": "f19fdae0c02b4f03",
        "g": "5a6888198548f8a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 604,
        "y": 1753.5,
        "wires": [
            [
                "7f05cc05bd28ba55"
            ]
        ]
    },
    {
        "id": "d153932e2569b829",
        "type": "change",
        "z": "f19fdae0c02b4f03",
        "g": "5a6888198548f8a1",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 383,
        "y": 1642.5,
        "wires": [
            [
                "7f756373695c6370"
            ]
        ]
    },
    {
        "id": "5580785faab157d1",
        "type": "change",
        "z": "f19fdae0c02b4f03",
        "g": "5a6888198548f8a1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 371,
        "y": 1698,
        "wires": [
            [
                "01f9ade51488b89b"
            ]
        ]
    },
    {
        "id": "81db7508d0f3aeb5",
        "type": "change",
        "z": "f19fdae0c02b4f03",
        "g": "5a6888198548f8a1",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 359,
        "y": 1753.5,
        "wires": [
            [
                "932d64cad9078ef8"
            ]
        ]
    },
    {
        "id": "4fbd1b0bdd4d239b",
        "type": "ut-assert-values",
        "z": "f19fdae0c02b4f03",
        "g": "5a6888198548f8a1",
        "name": "",
        "ignore_failure_if_succeed": false,
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "x": 1069,
        "y": 1634,
        "wires": [
            []
        ]
    }
]