testflows/1ace9e051618db79/flows.json
[{"id":"1ace9e051618db79","type":"tab","label":"[inject] trigger after - does not trigger","disabled":false,"info":"## Inject trigger once fails\n\nbecause the test times out first.","env":[{"name":"ERED_TIMEOUT","value":"1","type":"num"}]},{"id":"b621b246f7700702","type":"inject","z":"1ace9e051618db79","name":"defaults to 0.1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"0.1 is default","payloadType":"str","x":371,"y":296,"wires":[["4d59ac65861fcfa1","d330f689df493d76"]]},{"id":"4d59ac65861fcfa1","type":"ut-assert-values","z":"1ace9e051618db79","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"0.1 is default","tot":"str"}],"x":666,"y":296,"wires":[[]]},{"id":"d330f689df493d76","type":"ut-assert-success","z":"1ace9e051618db79","name":"test times out, only one message","count":"1","x":678,"y":375,"wires":[]}]