testflows/1ace9e051618db79/flows.json
[
    {
        "id": "1ace9e051618db79",
        "type": "tab",
        "label": "[inject] trigger after - does not trigger",
        "disabled": false,
        "info": "## Inject trigger once fails\n\nbecause the test times out first.\n",
        "env": [
            {
                "name": "ERED_TIMEOUT",
                "value": "1",
                "type": "num"
            },
            {
                "name": "NRED_TIMEOUT",
                "value": "5",
                "type": "num"
            }
        ]
    },
    {
        "id": "e7556b99187b4fca",
        "type": "group",
        "z": "1ace9e051618db79",
        "g": "8aeabd155171a499",
        "name": "",
        "style": {
            "fill": "#ffffff",
            "label": true
        },
        "nodes": [
            "318593f63a7612e4"
        ],
        "x": 204.5,
        "y": 132,
        "w": 172,
        "h": 82
    },
    {
        "id": "8aeabd155171a499",
        "type": "group",
        "z": "1ace9e051618db79",
        "name": "",
        "style": {
            "fill": "#ff0000",
            "label": true
        },
        "nodes": [
            "e7556b99187b4fca"
        ],
        "x": 178.5,
        "y": 106,
        "w": 224,
        "h": 134
    },
    {
        "id": "b621b246f7700702",
        "type": "inject",
        "z": "1ace9e051618db79",
        "name": "defaults to 0.1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "11",
        "topic": "",
        "payload": "0.1 is default",
        "payloadType": "str",
        "x": 371,
        "y": 296,
        "wires": [
            [
                "4d59ac65861fcfa1",
                "d330f689df493d76"
            ]
        ]
    },
    {
        "id": "4d59ac65861fcfa1",
        "type": "ut-assert-values",
        "z": "1ace9e051618db79",
        "name": "",
        "ignore_failure_if_succeed": false,
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "0.1 is default",
                "tot": "str"
            }
        ],
        "x": 666,
        "y": 296,
        "wires": [
            []
        ]
    },
    {
        "id": "d330f689df493d76",
        "type": "ut-assert-success",
        "z": "1ace9e051618db79",
        "name": "test times out, only one message",
        "msglimit": "==",
        "count": "1",
        "x": 678,
        "y": 375,
        "wires": []
    },
    {
        "id": "318593f63a7612e4",
        "type": "comment",
        "z": "1ace9e051618db79",
        "g": "e7556b99187b4fca",
        "name": "WARNING",
        "info": "WARNING\n\nThis can fail because it's run with other tests that have a longer timeout. Hence the inject trigger is triggered before the test flow is removed again.",
        "x": 290.5,
        "y": 173,
        "wires": []
    }
]