testflows/24f35eaa8656755f/flows.json
[{"id":"24f35eaa8656755f","type":"tab","label":"[join] count overrides parts, complete overrides count","disabled":false,"info":"## Join node - count versus complete versus parts\n\nThe manual configuration of a join node has three different - and contra - configurations:\n\n- use existing parts\n- count number of messages\n- send when msg.complete \n\n(plus timeout but that overrides all three)\n\nWhat happens when all are configured?\n\nTurns out that count overrides parts meaning that even if all parts have been collected, no message is sent until all count number of messages have been received.\n\nWhen no count is sent, once all parts have been collected, a message is sent. Parts include an index and a count - total number of parts. That's what join uses to know when to send a message.\n\nFinally what happens if only five of six parts are sent and then a complete message is received?\n\nComplete overrides the count. There is a strange behaviour of count and complete, as described in the [forum](https://discourse.nodered.org/t/join-behaviour-count-v-use-parts-v-msg-complete/98573).\n\n## Bug?\n\nThis <a class=\"ahl-group-only\" data-ids=\"fdf58ceaaf3d5092\">complete with count: delete parts all six message is passed through - because count set</a> test is wrong for me since it should. It goes contra to the other version of this test which has no count set on join --> <a class=\"ahl-group-only\" data-ids=\"179e4fcf622e01c3\">complete: delete parts only one message is passed through</a> --> [forum question](https://discourse.nodered.org/t/join-behaviour-count-v-use-parts-v-msg-complete/98573).\n\n","env":[]},{"id":"a318aae3346ce941","type":"group","z":"24f35eaa8656755f","name":"count overrides parts","style":{"label":true},"nodes":["f5670d76d5031357","30836cba06c69338","f8b9cfebbb664159","425dde9f787ffd26"],"x":531.4999847412109,"y":882.0000009536743,"w":882.666690826416,"h":234.49999809265137},{"id":"116d97069bec298f","type":"group","z":"24f35eaa8656755f","name":"useparts and all messages are received, no count value","style":{"label":true},"nodes":["9503077d49cc60d7","2982947bd6af8e3b","7ce0af846e49451a","c2f0bb44b70b827b","5cc1131f202dc5d1","07ea68a857e26ec9","8daf8c0e47035fde"],"x":2974.5,"y":854.625,"w":1109,"h":233.25},{"id":"6f27bfe9e346065a","type":"group","z":"24f35eaa8656755f","name":"drop one mesages, no message sent since not all parts collected","style":{"label":true},"nodes":["0f8a3f2b81aa85d5","1af65c954a77bb28","f58685d92b26722a","5080099888e527e9","9639ca0f98b94d91"],"x":530.5,"y":515.5,"w":994.6666793823242,"h":255.5},{"id":"81a03d5aa2758c4f","type":"group","z":"24f35eaa8656755f","name":"use parts option is activated","style":{"label":true},"nodes":["179e4fcf622e01c3","3bcaaba6da95e125","fdf58ceaaf3d5092","c691ad76c434a610","3da8caf04f8d70b1"],"x":498.5,"y":1365.1666259765625,"w":3658.5,"h":1559.16650390625},{"id":"3beb5ed01f3c81c0","type":"group","z":"24f35eaa8656755f","name":"use parts option is deactivated","style":{"label":true},"nodes":["73032cc102b25ee8","52cf524a3eedf467","540751b4bf4e205b","a82df1c310484f0b","ce0322db6b889cbd"],"x":967.0000152587891,"y":3082.6666259765625,"w":3654.999984741211,"h":1559.16650390625},{"id":"179e4fcf622e01c3","type":"group","z":"24f35eaa8656755f","g":"81a03d5aa2758c4f","name":"complete: delete parts only one message is passed through","style":{"label":true},"nodes":["ad570f8d12aefcc3","b9443c4c6c253838","9fe62ee5f8674e95","f6b599e38483c2df","84f16f3a3289e391","95a5f1c8b0dec7b6","c3163e2025e52553","f28d11c703faecfe","352b3eafcc1a03be"],"x":524.5,"y":1405.5,"w":1750.5,"h":284.5},{"id":"3bcaaba6da95e125","type":"group","z":"24f35eaa8656755f","g":"81a03d5aa2758c4f","name":"complete: delete index and count, keep id and all 6 messages are passed out","style":{"label":true},"nodes":["c2b68619e457d88a","3d6f346ce82cfbcb","7d55b55a047d3146","dd85c189d23a939b","b4c72ff237ba91fb","b438ae6a6c9b4675","7d237ee99220d826","8db21a56aa1c9a1c","35c8057762b40f21"],"x":524.5,"y":1756.5,"w":1750.5,"h":342.5},{"id":"fdf58ceaaf3d5092","type":"group","z":"24f35eaa8656755f","g":"81a03d5aa2758c4f","name":"complete with count: delete parts all six message is passed through - because count set","style":{"label":true},"nodes":["a5fda4517a61a5f9","bb3ff31ed5c37b1f","8e149649df3247db","298f3a5094c4ca22","7c5ed0be18518db8","23ceb331ee550eac","7fdd90f41dd7c86c","fd78ac57a80dc9c1","e6bac61555f8fa9f"],"x":524.5,"y":2169.16650390625,"w":1750.5,"h":282.5},{"id":"c691ad76c434a610","type":"group","z":"24f35eaa8656755f","g":"81a03d5aa2758c4f","name":"complete with count: delete index and count, keep id and all 6 messages are passed out","style":{"label":true},"nodes":["2318dd410f668c71","44cb831e1a92a75c","a5d7c30de4c5b6ba","75fbb77401168f38","ddc6b5d197073384","c8ec01bbbb8fd49a","5b4df3e441a982fb","f85c866718ca6618","3071eab2640f8998"],"x":524.5,"y":2519.16650390625,"w":1750.5,"h":341.5},{"id":"3da8caf04f8d70b1","type":"group","z":"24f35eaa8656755f","g":"81a03d5aa2758c4f","name":"remove the parts.id - the association between messages being collected using useparts option","style":{"label":true},"nodes":["2b9f650f69cebdc0","d91ec4599d341556","4d039979b9882f0f","d3c63c02b95623c7"],"x":2331.166519165039,"y":1391.1666259765625,"w":1799.833480834961,"h":1507.16650390625},{"id":"73032cc102b25ee8","type":"group","z":"24f35eaa8656755f","g":"3beb5ed01f3c81c0","name":"complete: delete parts only one message is passed through","style":{"label":true},"nodes":["1428106a4c40cfaa","75bac84864847416","b89bb3bc28f26092","dafe42c2148478ce","6b8d628fad9b8934","61f556eb84050268","f466b57f791978f3","a9f9f67d9c83626f","bd9c2d3a9efa076b"],"x":993.0000152587891,"y":3123,"w":1734.999984741211,"h":284.5},{"id":"52cf524a3eedf467","type":"group","z":"24f35eaa8656755f","g":"3beb5ed01f3c81c0","name":"complete: delete index and count, keep id and all 6 messages are passed out","style":{"label":true},"nodes":["18e559f84e194e9c","c16caa404dbf2815","e30cf151a4f6cc46","4738debe0744ddca","7e2008759c924f8b","79dcd55875c338e4","1eade21c2dbcbb8d","968f33fc3dc0ea2c","3431754ec205bfb2"],"x":993.0000152587891,"y":3474,"w":1734.999984741211,"h":342.5},{"id":"540751b4bf4e205b","type":"group","z":"24f35eaa8656755f","g":"3beb5ed01f3c81c0","name":"complete with count: delete parts only one message is passed through","style":{"label":true},"nodes":["9634cde851e2a708","19203ce3f0175031","277f17ac464186fb","3289295f2219c1e8","7cd41835cf30233b","cd5e54b10aca7698","1dd6b869db26a5cb","8729c83068261549","7e675f00f0f7fe19"],"x":993.0000152587891,"y":3886.66650390625,"w":1734.999984741211,"h":282.5},{"id":"a82df1c310484f0b","type":"group","z":"24f35eaa8656755f","g":"3beb5ed01f3c81c0","name":"complete with count: delete index and count, keep id and all 6 messages are passed out","style":{"label":true},"nodes":["b8966a794a809c14","30f04bf173dd6c3c","29d7acf01eed55e5","d890015f8f0fb441","20e0786ac1859926","dbf4df1f2d6af858","07461013954d7411","83ceb937cc0d2fa4","48a83cc13acdd65a"],"x":993.0000152587891,"y":4236.66650390625,"w":1734.999984741211,"h":341.5},{"id":"ce0322db6b889cbd","type":"group","z":"24f35eaa8656755f","g":"3beb5ed01f3c81c0","name":"remove the parts.id - the association between messages being collected using useparts option","style":{"label":true},"nodes":["697464415adfd4fa","4268e4ac8183f8ad","2bb510ce7745a2a8","44dd23e1fbb7f530"],"x":2799.666534423828,"y":3108.6666259765625,"w":1796.3334655761719,"h":1507.16650390625},{"id":"2b9f650f69cebdc0","type":"group","z":"24f35eaa8656755f","g":"3da8caf04f8d70b1","name":"complete: delete index and count, keep id and all 6 messages are passed out","style":{"label":true},"nodes":["53e31831b541c3e3","0e84aca4578fa87d","227172cd85edd088","6816361952b8f4c4","6fc5f3723aa52588","817ae3dad2ae9e18","b30bfbfb06ba366b","edaccba2aa3f7023","c6b736ad41fdd063","15bb241cc3448c29"],"x":2357.166519165039,"y":1768.1666259765625,"w":1747.833480834961,"h":342.5},{"id":"d91ec4599d341556","type":"group","z":"24f35eaa8656755f","g":"3da8caf04f8d70b1","name":"complete with count: delete parts only one message is passed through","style":{"label":true},"nodes":["3405eb4792dc9c84","f669e8994abacbd7","3990861cfa89df37","2daadb07109f58a5","05eba6c8d343d540","d33b98089989e326","aec983a8dfa88a7d","f50d5a71eb2f8a5f","c2a5d65540dd8a19","95d5485c50f739a4"],"x":2357.166519165039,"y":2180.8331298828125,"w":1747.833480834961,"h":282.5},{"id":"4d039979b9882f0f","type":"group","z":"24f35eaa8656755f","g":"3da8caf04f8d70b1","name":"complete with count: delete index and count, keep id and all 6 messages are passed out","style":{"label":true},"nodes":["9b1b7a2e9344f73f","a342f46d4e9f3a22","f3cb907992a2249e","6066fb2c0d9c241d","ec32b5af45edf9e8","17144f2f74b3a0b4","208e468658f25a93","6e5ddad2ccb2fa7c","8c1bf5fa51412c57","2a0129ec84405d5f"],"x":2357.166519165039,"y":2530.8331298828125,"w":1747.833480834961,"h":341.5},{"id":"d3c63c02b95623c7","type":"group","z":"24f35eaa8656755f","g":"3da8caf04f8d70b1","name":"complete: delete parts only one message is passed through","style":{"label":true},"nodes":["241b4eabf15b404d","6f5a8583ecf26bb6","25a31a0d30decf0c","63a7d95991753b30","abf95853fc9c5a60","df6cf2939d469295","3ba2d9794765e58a","8078c2d7a5ae4390","928398f20545f484","5f8882d1d6113180"],"x":2357.166519165039,"y":1417.1666259765625,"w":1747.833480834961,"h":284.5},{"id":"697464415adfd4fa","type":"group","z":"24f35eaa8656755f","g":"ce0322db6b889cbd","name":"complete: delete index and count, keep id and all 6 messages are passed out","style":{"label":true},"nodes":["c72b35dde20a55d4","1baac5ca31085fdf","cde9bee243253e38","9809c4fc46a8250a","74d2aec664bf0cb1","2107363125be0fcc","c74919ff6fd46216","d996aa9d9ca4ed61","a33c858a056ee684","d466cb6ea0e4c6a1"],"x":2825.666534423828,"y":3485.6666259765625,"w":1744.3334655761719,"h":342.5},{"id":"4268e4ac8183f8ad","type":"group","z":"24f35eaa8656755f","g":"ce0322db6b889cbd","name":"complete with count: delete parts only one message is passed through","style":{"label":true},"nodes":["e8b89ff0a099653c","386a249dbe70465a","25da44fc0de3a334","12606bca76fb926d","c4aa4588f54647a6","8d87c010fa597e27","e6b5df75711ab404","c5db974037bdb611","452de55cb497a4b0","9b3add521b981e1e"],"x":2825.666534423828,"y":3898.3331298828125,"w":1744.3334655761719,"h":282.5},{"id":"2bb510ce7745a2a8","type":"group","z":"24f35eaa8656755f","g":"ce0322db6b889cbd","name":"complete with count: delete index and count, keep id and all 6 messages are passed out","style":{"label":true},"nodes":["debc716da98ed66e","781e2d413d5b7014","2d7169c956f5edad","2eeec1027ade123e","87cb3c88769d7ca5","7a3ecd7f9afa51a1","dcabf00bd2c4c2de","1c31af643eb37854","c6e462312c088fd9","cf925c8e8ee2a0ea"],"x":2825.666534423828,"y":4248.3331298828125,"w":1744.3334655761719,"h":341.5},{"id":"44dd23e1fbb7f530","type":"group","z":"24f35eaa8656755f","g":"ce0322db6b889cbd","name":"complete: delete parts only one message is passed through","style":{"label":true},"nodes":["230a844dc3519601","be504919be37098b","334d51bdf3bbf291","a719a8a2cd064fac","e8d7bae9f95d4906","44d04a22d1cba1b0","2280b1b9ab8cf89f","5c0926d3c99ff2e9","d501e9cfd61c48ea","dff66b1a60aa068f"],"x":2825.666534423828,"y":3134.6666259765625,"w":1744.3334655761719,"h":284.5},{"id":"f5670d76d5031357","type":"split","z":"24f35eaa8656755f","g":"a318aae3346ce941","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":884.5,"y":923.0000009536743,"wires":[["30836cba06c69338"]]},{"id":"30836cba06c69338","type":"join","z":"24f35eaa8656755f","g":"a318aae3346ce941","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"100","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1096.5,"y":1075.4999990463257,"wires":[["425dde9f787ffd26"]]},{"id":"f8b9cfebbb664159","type":"inject","z":"24f35eaa8656755f","g":"a318aae3346ce941","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":647.4999847412109,"y":1012.0000123977661,"wires":[["f5670d76d5031357"]]},{"id":"9503077d49cc60d7","type":"split","z":"24f35eaa8656755f","g":"116d97069bec298f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":3307.5,"y":895.625,"wires":[["2982947bd6af8e3b"]]},{"id":"2982947bd6af8e3b","type":"join","z":"24f35eaa8656755f","g":"116d97069bec298f","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3519.5,"y":1046.875,"wires":[["c2f0bb44b70b827b","5cc1131f202dc5d1","8daf8c0e47035fde"]]},{"id":"7ce0af846e49451a","type":"inject","z":"24f35eaa8656755f","g":"116d97069bec298f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":3090.5,"y":974.625,"wires":[["9503077d49cc60d7"]]},{"id":"425dde9f787ffd26","type":"ut-assert-failure","z":"24f35eaa8656755f","g":"a318aae3346ce941","name":"","x":1318.166675567627,"y":923.0000009536743,"wires":[]},{"id":"c2f0bb44b70b827b","type":"ut-assert-success","z":"24f35eaa8656755f","g":"116d97069bec298f","name":"","count":1,"x":3947.5,"y":1046.875,"wires":[]},{"id":"0f8a3f2b81aa85d5","type":"split","z":"24f35eaa8656755f","g":"6f27bfe9e346065a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":859.5,"y":620.5,"wires":[["5080099888e527e9"]]},{"id":"1af65c954a77bb28","type":"join","z":"24f35eaa8656755f","g":"6f27bfe9e346065a","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1238.5,"y":730,"wires":[["9639ca0f98b94d91"]]},{"id":"f58685d92b26722a","type":"inject","z":"24f35eaa8656755f","g":"6f27bfe9e346065a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":646.5,"y":704.5,"wires":[["0f8a3f2b81aa85d5"]]},{"id":"5080099888e527e9","type":"switch","z":"24f35eaa8656755f","g":"6f27bfe9e346065a","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1065.5,"y":556.5,"wires":[[],["1af65c954a77bb28"]]},{"id":"9639ca0f98b94d91","type":"ut-assert-failure","z":"24f35eaa8656755f","g":"6f27bfe9e346065a","name":"","x":1429.1666793823242,"y":568.1666951179504,"wires":[]},{"id":"ad570f8d12aefcc3","type":"split","z":"24f35eaa8656755f","g":"179e4fcf622e01c3","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":861.4999847412109,"y":1517.5,"wires":[["f6b599e38483c2df"]]},{"id":"b9443c4c6c253838","type":"join","z":"24f35eaa8656755f","g":"179e4fcf622e01c3","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1570.4999694824219,"y":1649,"wires":[["c3163e2025e52553"]]},{"id":"9fe62ee5f8674e95","type":"inject","z":"24f35eaa8656755f","g":"179e4fcf622e01c3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":640.5,"y":1569.5,"wires":[["ad570f8d12aefcc3"]]},{"id":"f6b599e38483c2df","type":"switch","z":"24f35eaa8656755f","g":"179e4fcf622e01c3","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1094.499984741211,"y":1453.5,"wires":[["84f16f3a3289e391"],["b9443c4c6c253838"]]},{"id":"84f16f3a3289e391","type":"change","z":"24f35eaa8656755f","g":"179e4fcf622e01c3","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570.4999694824219,"y":1446.5,"wires":[["95a5f1c8b0dec7b6"]]},{"id":"95a5f1c8b0dec7b6","type":"delay","z":"24f35eaa8656755f","g":"179e4fcf622e01c3","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1570.4999694824219,"y":1547.75,"wires":[["b9443c4c6c253838"]]},{"id":"c3163e2025e52553","type":"switch","z":"24f35eaa8656755f","g":"179e4fcf622e01c3","name":"payload size == 1","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1839,"y":1569.5,"wires":[["f28d11c703faecfe","352b3eafcc1a03be"]]},{"id":"f28d11c703faecfe","type":"ut-assert-success","z":"24f35eaa8656755f","g":"179e4fcf622e01c3","name":"","count":1,"x":2139,"y":1446.5,"wires":[]},{"id":"5cc1131f202dc5d1","type":"switch","z":"24f35eaa8656755f","g":"116d97069bec298f","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":3711.5,"y":955.625,"wires":[["07ea68a857e26ec9"]]},{"id":"07ea68a857e26ec9","type":"ut-assert-success","z":"24f35eaa8656755f","g":"116d97069bec298f","name":"","count":1,"x":3947.5,"y":899.625,"wires":[]},{"id":"c2b68619e457d88a","type":"split","z":"24f35eaa8656755f","g":"3bcaaba6da95e125","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":861.4999847412109,"y":1867.5,"wires":[["dd85c189d23a939b"]]},{"id":"3d6f346ce82cfbcb","type":"join","z":"24f35eaa8656755f","g":"3bcaaba6da95e125","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1570.4999694824219,"y":2058,"wires":[["7d237ee99220d826"]]},{"id":"7d55b55a047d3146","type":"inject","z":"24f35eaa8656755f","g":"3bcaaba6da95e125","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":640.5,"y":1936,"wires":[["c2b68619e457d88a"]]},{"id":"dd85c189d23a939b","type":"switch","z":"24f35eaa8656755f","g":"3bcaaba6da95e125","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1094.499984741211,"y":1804.5,"wires":[["b4c72ff237ba91fb"],["3d6f346ce82cfbcb"]]},{"id":"b4c72ff237ba91fb","type":"change","z":"24f35eaa8656755f","g":"3bcaaba6da95e125","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.index","pt":"msg","t":"delete"},{"p":"payload.count","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570.4999694824219,"y":1797.5,"wires":[["b438ae6a6c9b4675"]]},{"id":"b438ae6a6c9b4675","type":"delay","z":"24f35eaa8656755f","g":"3bcaaba6da95e125","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1570.4999694824219,"y":1931.875,"wires":[["3d6f346ce82cfbcb"]]},{"id":"7d237ee99220d826","type":"switch","z":"24f35eaa8656755f","g":"3bcaaba6da95e125","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1839,"y":1931.875,"wires":[["8db21a56aa1c9a1c","35c8057762b40f21"]]},{"id":"8db21a56aa1c9a1c","type":"ut-assert-success","z":"24f35eaa8656755f","g":"3bcaaba6da95e125","name":"","count":1,"x":2139,"y":1797.5,"wires":[]},{"id":"a5fda4517a61a5f9","type":"split","z":"24f35eaa8656755f","g":"fdf58ceaaf3d5092","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":861.4999847412109,"y":2279.16650390625,"wires":[["298f3a5094c4ca22"]]},{"id":"bb3ff31ed5c37b1f","type":"join","z":"24f35eaa8656755f","g":"fdf58ceaaf3d5092","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"100","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1570.4999694824219,"y":2410.66650390625,"wires":[["7fdd90f41dd7c86c"]]},{"id":"8e149649df3247db","type":"inject","z":"24f35eaa8656755f","g":"fdf58ceaaf3d5092","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":640.5,"y":2331.16650390625,"wires":[["a5fda4517a61a5f9"]]},{"id":"298f3a5094c4ca22","type":"switch","z":"24f35eaa8656755f","g":"fdf58ceaaf3d5092","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1094.499984741211,"y":2215.16650390625,"wires":[["7c5ed0be18518db8"],["bb3ff31ed5c37b1f"]]},{"id":"7c5ed0be18518db8","type":"change","z":"24f35eaa8656755f","g":"fdf58ceaaf3d5092","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"parts","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570.4999694824219,"y":2210.16650390625,"wires":[["23ceb331ee550eac"]]},{"id":"23ceb331ee550eac","type":"delay","z":"24f35eaa8656755f","g":"fdf58ceaaf3d5092","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1570.4999694824219,"y":2331.16650390625,"wires":[["bb3ff31ed5c37b1f"]]},{"id":"7fdd90f41dd7c86c","type":"switch","z":"24f35eaa8656755f","g":"fdf58ceaaf3d5092","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1839,"y":2331.16650390625,"wires":[["fd78ac57a80dc9c1","e6bac61555f8fa9f"]]},{"id":"fd78ac57a80dc9c1","type":"ut-assert-success","z":"24f35eaa8656755f","g":"fdf58ceaaf3d5092","name":"","count":1,"x":2139,"y":2210.16650390625,"wires":[]},{"id":"2318dd410f668c71","type":"split","z":"24f35eaa8656755f","g":"c691ad76c434a610","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":861.4999847412109,"y":2629.16650390625,"wires":[["75fbb77401168f38"]]},{"id":"44cb831e1a92a75c","type":"join","z":"24f35eaa8656755f","g":"c691ad76c434a610","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"200","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1570.4999694824219,"y":2819.66650390625,"wires":[["5b4df3e441a982fb"]]},{"id":"a5d7c30de4c5b6ba","type":"inject","z":"24f35eaa8656755f","g":"c691ad76c434a610","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":640.5,"y":2697.66650390625,"wires":[["2318dd410f668c71"]]},{"id":"75fbb77401168f38","type":"switch","z":"24f35eaa8656755f","g":"c691ad76c434a610","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1094.499984741211,"y":2565.16650390625,"wires":[["ddc6b5d197073384"],["44cb831e1a92a75c"]]},{"id":"ddc6b5d197073384","type":"change","z":"24f35eaa8656755f","g":"c691ad76c434a610","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"parts.index","pt":"msg"},{"t":"delete","p":"parts.count","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570.4999694824219,"y":2560.16650390625,"wires":[["c8ec01bbbb8fd49a"]]},{"id":"c8ec01bbbb8fd49a","type":"delay","z":"24f35eaa8656755f","g":"c691ad76c434a610","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1570.4999694824219,"y":2697.66650390625,"wires":[["44cb831e1a92a75c"]]},{"id":"5b4df3e441a982fb","type":"switch","z":"24f35eaa8656755f","g":"c691ad76c434a610","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1839,"y":2697.66650390625,"wires":[["f85c866718ca6618","3071eab2640f8998"]]},{"id":"f85c866718ca6618","type":"ut-assert-success","z":"24f35eaa8656755f","g":"c691ad76c434a610","name":"","count":1,"x":2139,"y":2560.16650390625,"wires":[]},{"id":"241b4eabf15b404d","type":"split","z":"24f35eaa8656755f","g":"d3c63c02b95623c7","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":2642.16650390625,"y":1553.1666259765625,"wires":[["928398f20545f484"]]},{"id":"6f5a8583ecf26bb6","type":"join","z":"24f35eaa8656755f","g":"d3c63c02b95623c7","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3403.166488647461,"y":1660.6666259765625,"wires":[["3ba2d9794765e58a"]]},{"id":"25a31a0d30decf0c","type":"inject","z":"24f35eaa8656755f","g":"d3c63c02b95623c7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":2473.166519165039,"y":1581.1666259765625,"wires":[["241b4eabf15b404d"]]},{"id":"63a7d95991753b30","type":"switch","z":"24f35eaa8656755f","g":"d3c63c02b95623c7","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2927.16650390625,"y":1465.1666259765625,"wires":[["abf95853fc9c5a60"],["6f5a8583ecf26bb6"]]},{"id":"abf95853fc9c5a60","type":"change","z":"24f35eaa8656755f","g":"d3c63c02b95623c7","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":3403.166488647461,"y":1458.1666259765625,"wires":[["df6cf2939d469295"]]},{"id":"df6cf2939d469295","type":"delay","z":"24f35eaa8656755f","g":"d3c63c02b95623c7","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3403.166488647461,"y":1559.4166259765625,"wires":[["6f5a8583ecf26bb6"]]},{"id":"3ba2d9794765e58a","type":"switch","z":"24f35eaa8656755f","g":"d3c63c02b95623c7","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":3671.666519165039,"y":1592.5833129882812,"wires":[["8078c2d7a5ae4390","5f8882d1d6113180"]]},{"id":"8078c2d7a5ae4390","type":"ut-assert-success","z":"24f35eaa8656755f","g":"d3c63c02b95623c7","name":"","count":1,"x":3969,"y":1458.1666259765625,"wires":[]},{"id":"53e31831b541c3e3","type":"split","z":"24f35eaa8656755f","g":"2b9f650f69cebdc0","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":2694.16650390625,"y":1916.1666259765625,"wires":[["c6b736ad41fdd063"]]},{"id":"0e84aca4578fa87d","type":"join","z":"24f35eaa8656755f","g":"2b9f650f69cebdc0","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3403.166488647461,"y":2069.6666259765625,"wires":[["b30bfbfb06ba366b"]]},{"id":"227172cd85edd088","type":"inject","z":"24f35eaa8656755f","g":"2b9f650f69cebdc0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":2473.166519165039,"y":1947.6666259765625,"wires":[["53e31831b541c3e3"]]},{"id":"6816361952b8f4c4","type":"switch","z":"24f35eaa8656755f","g":"2b9f650f69cebdc0","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2927.16650390625,"y":1816.1666259765625,"wires":[["6fc5f3723aa52588"],["0e84aca4578fa87d"]]},{"id":"6fc5f3723aa52588","type":"change","z":"24f35eaa8656755f","g":"2b9f650f69cebdc0","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.index","pt":"msg","t":"delete"},{"p":"payload.count","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":3403.166488647461,"y":1809.1666259765625,"wires":[["817ae3dad2ae9e18"]]},{"id":"817ae3dad2ae9e18","type":"delay","z":"24f35eaa8656755f","g":"2b9f650f69cebdc0","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3403.166488647461,"y":1943.5416259765625,"wires":[["0e84aca4578fa87d"]]},{"id":"b30bfbfb06ba366b","type":"switch","z":"24f35eaa8656755f","g":"2b9f650f69cebdc0","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":3671.666519165039,"y":1943.2708129882812,"wires":[["edaccba2aa3f7023","15bb241cc3448c29"]]},{"id":"edaccba2aa3f7023","type":"ut-assert-success","z":"24f35eaa8656755f","g":"2b9f650f69cebdc0","name":"","count":1,"x":3969,"y":1809.1666259765625,"wires":[]},{"id":"3405eb4792dc9c84","type":"split","z":"24f35eaa8656755f","g":"d91ec4599d341556","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":2692.16650390625,"y":2335.8331298828125,"wires":[["c2a5d65540dd8a19"]]},{"id":"f669e8994abacbd7","type":"join","z":"24f35eaa8656755f","g":"d91ec4599d341556","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"100","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3403.166488647461,"y":2422.3331298828125,"wires":[["aec983a8dfa88a7d"]]},{"id":"3990861cfa89df37","type":"inject","z":"24f35eaa8656755f","g":"d91ec4599d341556","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":2473.166519165039,"y":2342.8331298828125,"wires":[["3405eb4792dc9c84"]]},{"id":"2daadb07109f58a5","type":"switch","z":"24f35eaa8656755f","g":"d91ec4599d341556","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2927.16650390625,"y":2226.8331298828125,"wires":[["05eba6c8d343d540"],["f669e8994abacbd7"]]},{"id":"05eba6c8d343d540","type":"change","z":"24f35eaa8656755f","g":"d91ec4599d341556","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts","pt":"msg","t":"delete"},{"p":"payload","pt":"msg","t":"set","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3403.166488647461,"y":2221.8331298828125,"wires":[["d33b98089989e326"]]},{"id":"d33b98089989e326","type":"delay","z":"24f35eaa8656755f","g":"d91ec4599d341556","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3403.166488647461,"y":2342.8331298828125,"wires":[["f669e8994abacbd7"]]},{"id":"aec983a8dfa88a7d","type":"switch","z":"24f35eaa8656755f","g":"d91ec4599d341556","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":3671.666519165039,"y":2355.416534423828,"wires":[["f50d5a71eb2f8a5f","95d5485c50f739a4"]]},{"id":"f50d5a71eb2f8a5f","type":"ut-assert-success","z":"24f35eaa8656755f","g":"d91ec4599d341556","name":"","count":1,"x":3969,"y":2221.8331298828125,"wires":[]},{"id":"9b1b7a2e9344f73f","type":"split","z":"24f35eaa8656755f","g":"4d039979b9882f0f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":2694.16650390625,"y":2695.8330078125,"wires":[["8c1bf5fa51412c57"]]},{"id":"a342f46d4e9f3a22","type":"join","z":"24f35eaa8656755f","g":"4d039979b9882f0f","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"200","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3403.166488647461,"y":2831.3331298828125,"wires":[["208e468658f25a93"]]},{"id":"f3cb907992a2249e","type":"inject","z":"24f35eaa8656755f","g":"4d039979b9882f0f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":2473.166519165039,"y":2709.3331298828125,"wires":[["9b1b7a2e9344f73f"]]},{"id":"6066fb2c0d9c241d","type":"switch","z":"24f35eaa8656755f","g":"4d039979b9882f0f","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2927.16650390625,"y":2576.8331298828125,"wires":[["ec32b5af45edf9e8"],["a342f46d4e9f3a22"]]},{"id":"ec32b5af45edf9e8","type":"change","z":"24f35eaa8656755f","g":"4d039979b9882f0f","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.index","pt":"msg","t":"delete"},{"p":"parts.count","pt":"msg","t":"delete"},{"p":"payload","pt":"msg","t":"set","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3403.166488647461,"y":2571.8331298828125,"wires":[["17144f2f74b3a0b4"]]},{"id":"17144f2f74b3a0b4","type":"delay","z":"24f35eaa8656755f","g":"4d039979b9882f0f","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3403.166488647461,"y":2709.3331298828125,"wires":[["a342f46d4e9f3a22"]]},{"id":"208e468658f25a93","type":"switch","z":"24f35eaa8656755f","g":"4d039979b9882f0f","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":3671.666519165039,"y":2709.6665649414062,"wires":[["6e5ddad2ccb2fa7c","2a0129ec84405d5f"]]},{"id":"6e5ddad2ccb2fa7c","type":"ut-assert-success","z":"24f35eaa8656755f","g":"4d039979b9882f0f","name":"","count":1,"x":3969,"y":2571.8331298828125,"wires":[]},{"id":"928398f20545f484","type":"change","z":"24f35eaa8656755f","g":"d3c63c02b95623c7","name":"rm parts.id","rules":[{"p":"parts.id","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":2674.16650390625,"y":1494.83349609375,"wires":[["63a7d95991753b30"]]},{"id":"c6b736ad41fdd063","type":"change","z":"24f35eaa8656755f","g":"2b9f650f69cebdc0","name":"rm parts.id","rules":[{"p":"parts.id","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":2729.833251953125,"y":1847.833251953125,"wires":[["6816361952b8f4c4"]]},{"id":"c2a5d65540dd8a19","type":"change","z":"24f35eaa8656755f","g":"d91ec4599d341556","name":"rm parts.id","rules":[{"p":"parts.id","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":2741.5,"y":2266.5,"wires":[["2daadb07109f58a5"]]},{"id":"8c1bf5fa51412c57","type":"change","z":"24f35eaa8656755f","g":"4d039979b9882f0f","name":"rm parts.id","rules":[{"p":"parts.id","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":2739.5,"y":2617.5,"wires":[["6066fb2c0d9c241d"]]},{"id":"1428106a4c40cfaa","type":"split","z":"24f35eaa8656755f","g":"73032cc102b25ee8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":1330,"y":3235,"wires":[["dafe42c2148478ce"]]},{"id":"75bac84864847416","type":"join","z":"24f35eaa8656755f","g":"73032cc102b25ee8","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2038.999984741211,"y":3366.5,"wires":[["f466b57f791978f3"]]},{"id":"b89bb3bc28f26092","type":"inject","z":"24f35eaa8656755f","g":"73032cc102b25ee8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":1109.000015258789,"y":3287,"wires":[["1428106a4c40cfaa"]]},{"id":"dafe42c2148478ce","type":"switch","z":"24f35eaa8656755f","g":"73032cc102b25ee8","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1563,"y":3171,"wires":[["6b8d628fad9b8934"],["75bac84864847416"]]},{"id":"6b8d628fad9b8934","type":"change","z":"24f35eaa8656755f","g":"73032cc102b25ee8","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":2038.999984741211,"y":3164,"wires":[["61f556eb84050268"]]},{"id":"61f556eb84050268","type":"delay","z":"24f35eaa8656755f","g":"73032cc102b25ee8","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2038.999984741211,"y":3265.25,"wires":[["75bac84864847416"]]},{"id":"f466b57f791978f3","type":"switch","z":"24f35eaa8656755f","g":"73032cc102b25ee8","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":2307.500015258789,"y":3301,"wires":[["a9f9f67d9c83626f","bd9c2d3a9efa076b"]]},{"id":"a9f9f67d9c83626f","type":"ut-assert-success","z":"24f35eaa8656755f","g":"73032cc102b25ee8","name":"","count":1,"x":2592,"y":3164,"wires":[]},{"id":"18e559f84e194e9c","type":"split","z":"24f35eaa8656755f","g":"52cf524a3eedf467","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":1330,"y":3585,"wires":[["4738debe0744ddca"]]},{"id":"c16caa404dbf2815","type":"join","z":"24f35eaa8656755f","g":"52cf524a3eedf467","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2038.999984741211,"y":3775.5,"wires":[["1eade21c2dbcbb8d"]]},{"id":"e30cf151a4f6cc46","type":"inject","z":"24f35eaa8656755f","g":"52cf524a3eedf467","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":1109.000015258789,"y":3653.5,"wires":[["18e559f84e194e9c"]]},{"id":"4738debe0744ddca","type":"switch","z":"24f35eaa8656755f","g":"52cf524a3eedf467","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1563,"y":3522,"wires":[["7e2008759c924f8b"],["c16caa404dbf2815"]]},{"id":"7e2008759c924f8b","type":"change","z":"24f35eaa8656755f","g":"52cf524a3eedf467","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.index","pt":"msg","t":"delete"},{"p":"payload.count","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":2038.999984741211,"y":3515,"wires":[["79dcd55875c338e4"]]},{"id":"79dcd55875c338e4","type":"delay","z":"24f35eaa8656755f","g":"52cf524a3eedf467","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2038.999984741211,"y":3649.375,"wires":[["c16caa404dbf2815"]]},{"id":"1eade21c2dbcbb8d","type":"switch","z":"24f35eaa8656755f","g":"52cf524a3eedf467","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":2307.500015258789,"y":3650.6875,"wires":[["968f33fc3dc0ea2c","3431754ec205bfb2"]]},{"id":"968f33fc3dc0ea2c","type":"ut-assert-success","z":"24f35eaa8656755f","g":"52cf524a3eedf467","name":"","count":1,"x":2592,"y":3515,"wires":[]},{"id":"9634cde851e2a708","type":"split","z":"24f35eaa8656755f","g":"540751b4bf4e205b","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":1330,"y":3996.66650390625,"wires":[["3289295f2219c1e8"]]},{"id":"19203ce3f0175031","type":"join","z":"24f35eaa8656755f","g":"540751b4bf4e205b","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"100","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2038.999984741211,"y":4128.16650390625,"wires":[["1dd6b869db26a5cb"]]},{"id":"277f17ac464186fb","type":"inject","z":"24f35eaa8656755f","g":"540751b4bf4e205b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":1109.000015258789,"y":4048.66650390625,"wires":[["9634cde851e2a708"]]},{"id":"3289295f2219c1e8","type":"switch","z":"24f35eaa8656755f","g":"540751b4bf4e205b","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1563,"y":3932.66650390625,"wires":[["7cd41835cf30233b"],["19203ce3f0175031"]]},{"id":"7cd41835cf30233b","type":"change","z":"24f35eaa8656755f","g":"540751b4bf4e205b","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts","pt":"msg","t":"delete"},{"p":"payload","pt":"msg","t":"set","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2038.999984741211,"y":3927.66650390625,"wires":[["cd5e54b10aca7698"]]},{"id":"cd5e54b10aca7698","type":"delay","z":"24f35eaa8656755f","g":"540751b4bf4e205b","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2038.999984741211,"y":4048.66650390625,"wires":[["19203ce3f0175031"]]},{"id":"1dd6b869db26a5cb","type":"switch","z":"24f35eaa8656755f","g":"540751b4bf4e205b","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":2307.500015258789,"y":4045.333251953125,"wires":[["8729c83068261549","7e675f00f0f7fe19"]]},{"id":"8729c83068261549","type":"ut-assert-success","z":"24f35eaa8656755f","g":"540751b4bf4e205b","name":"","count":1,"x":2592,"y":3927.66650390625,"wires":[]},{"id":"b8966a794a809c14","type":"split","z":"24f35eaa8656755f","g":"a82df1c310484f0b","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":1330,"y":4346.66650390625,"wires":[["d890015f8f0fb441"]]},{"id":"30f04bf173dd6c3c","type":"join","z":"24f35eaa8656755f","g":"a82df1c310484f0b","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"200","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2038.999984741211,"y":4537.16650390625,"wires":[["07461013954d7411"]]},{"id":"29d7acf01eed55e5","type":"inject","z":"24f35eaa8656755f","g":"a82df1c310484f0b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":1109.000015258789,"y":4415.16650390625,"wires":[["b8966a794a809c14"]]},{"id":"d890015f8f0fb441","type":"switch","z":"24f35eaa8656755f","g":"a82df1c310484f0b","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1563,"y":4282.66650390625,"wires":[["20e0786ac1859926"],["30f04bf173dd6c3c"]]},{"id":"20e0786ac1859926","type":"change","z":"24f35eaa8656755f","g":"a82df1c310484f0b","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.index","pt":"msg","t":"delete"},{"p":"parts.count","pt":"msg","t":"delete"},{"p":"payload","pt":"msg","t":"set","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2038.999984741211,"y":4277.66650390625,"wires":[["dbf4df1f2d6af858"]]},{"id":"dbf4df1f2d6af858","type":"delay","z":"24f35eaa8656755f","g":"a82df1c310484f0b","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2038.999984741211,"y":4415.16650390625,"wires":[["30f04bf173dd6c3c"]]},{"id":"07461013954d7411","type":"switch","z":"24f35eaa8656755f","g":"a82df1c310484f0b","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":2307.500015258789,"y":4417.583251953125,"wires":[["83ceb937cc0d2fa4","48a83cc13acdd65a"]]},{"id":"83ceb937cc0d2fa4","type":"ut-assert-success","z":"24f35eaa8656755f","g":"a82df1c310484f0b","name":"","count":1,"x":2592,"y":4277.66650390625,"wires":[]},{"id":"c72b35dde20a55d4","type":"split","z":"24f35eaa8656755f","g":"697464415adfd4fa","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":3162.666519165039,"y":3633.6666259765625,"wires":[["a33c858a056ee684"]]},{"id":"1baac5ca31085fdf","type":"join","z":"24f35eaa8656755f","g":"697464415adfd4fa","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3871.66650390625,"y":3787.1666259765625,"wires":[["c74919ff6fd46216"]]},{"id":"cde9bee243253e38","type":"inject","z":"24f35eaa8656755f","g":"697464415adfd4fa","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":2941.666534423828,"y":3665.1666259765625,"wires":[["c72b35dde20a55d4"]]},{"id":"9809c4fc46a8250a","type":"switch","z":"24f35eaa8656755f","g":"697464415adfd4fa","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3395.666519165039,"y":3533.6666259765625,"wires":[["74d2aec664bf0cb1"],["1baac5ca31085fdf"]]},{"id":"74d2aec664bf0cb1","type":"change","z":"24f35eaa8656755f","g":"697464415adfd4fa","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.index","pt":"msg","t":"delete"},{"p":"payload.count","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":3871.66650390625,"y":3526.6666259765625,"wires":[["2107363125be0fcc"]]},{"id":"2107363125be0fcc","type":"delay","z":"24f35eaa8656755f","g":"697464415adfd4fa","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3871.66650390625,"y":3661.0416259765625,"wires":[["1baac5ca31085fdf"]]},{"id":"c74919ff6fd46216","type":"switch","z":"24f35eaa8656755f","g":"697464415adfd4fa","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":4140.166534423828,"y":3661.0208129882812,"wires":[["d996aa9d9ca4ed61","d466cb6ea0e4c6a1"]]},{"id":"d996aa9d9ca4ed61","type":"ut-assert-success","z":"24f35eaa8656755f","g":"697464415adfd4fa","name":"","count":1,"x":4434,"y":3526.6666259765625,"wires":[]},{"id":"a33c858a056ee684","type":"change","z":"24f35eaa8656755f","g":"697464415adfd4fa","name":"rm parts.id","rules":[{"p":"parts.id","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":3198.333267211914,"y":3565.333251953125,"wires":[["9809c4fc46a8250a"]]},{"id":"e8b89ff0a099653c","type":"split","z":"24f35eaa8656755f","g":"4268e4ac8183f8ad","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":3160.666519165039,"y":4053.3331298828125,"wires":[["452de55cb497a4b0"]]},{"id":"386a249dbe70465a","type":"join","z":"24f35eaa8656755f","g":"4268e4ac8183f8ad","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"100","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3871.66650390625,"y":4139.8331298828125,"wires":[["e6b5df75711ab404"]]},{"id":"25da44fc0de3a334","type":"inject","z":"24f35eaa8656755f","g":"4268e4ac8183f8ad","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":2941.666534423828,"y":4060.3331298828125,"wires":[["e8b89ff0a099653c"]]},{"id":"12606bca76fb926d","type":"switch","z":"24f35eaa8656755f","g":"4268e4ac8183f8ad","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3395.666519165039,"y":3944.3331298828125,"wires":[["c4aa4588f54647a6"],["386a249dbe70465a"]]},{"id":"c4aa4588f54647a6","type":"change","z":"24f35eaa8656755f","g":"4268e4ac8183f8ad","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts","pt":"msg","t":"delete"},{"p":"payload","pt":"msg","t":"set","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3871.66650390625,"y":3939.3331298828125,"wires":[["8d87c010fa597e27"]]},{"id":"8d87c010fa597e27","type":"delay","z":"24f35eaa8656755f","g":"4268e4ac8183f8ad","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3871.66650390625,"y":4060.3331298828125,"wires":[["386a249dbe70465a"]]},{"id":"e6b5df75711ab404","type":"switch","z":"24f35eaa8656755f","g":"4268e4ac8183f8ad","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":4140.166534423828,"y":4075.1665649414062,"wires":[["c5db974037bdb611","9b3add521b981e1e"]]},{"id":"c5db974037bdb611","type":"ut-assert-success","z":"24f35eaa8656755f","g":"4268e4ac8183f8ad","name":"","count":1,"x":4434,"y":3939.3331298828125,"wires":[]},{"id":"452de55cb497a4b0","type":"change","z":"24f35eaa8656755f","g":"4268e4ac8183f8ad","name":"rm parts.id","rules":[{"p":"parts.id","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":3210.000015258789,"y":3984,"wires":[["12606bca76fb926d"]]},{"id":"debc716da98ed66e","type":"split","z":"24f35eaa8656755f","g":"2bb510ce7745a2a8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":3162.666519165039,"y":4413.3330078125,"wires":[["c6e462312c088fd9"]]},{"id":"781e2d413d5b7014","type":"join","z":"24f35eaa8656755f","g":"2bb510ce7745a2a8","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"200","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3871.66650390625,"y":4548.8331298828125,"wires":[["dcabf00bd2c4c2de"]]},{"id":"2d7169c956f5edad","type":"inject","z":"24f35eaa8656755f","g":"2bb510ce7745a2a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":2941.666534423828,"y":4426.8331298828125,"wires":[["debc716da98ed66e"]]},{"id":"2eeec1027ade123e","type":"switch","z":"24f35eaa8656755f","g":"2bb510ce7745a2a8","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3395.666519165039,"y":4294.3331298828125,"wires":[["87cb3c88769d7ca5"],["781e2d413d5b7014"]]},{"id":"87cb3c88769d7ca5","type":"change","z":"24f35eaa8656755f","g":"2bb510ce7745a2a8","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.index","pt":"msg","t":"delete"},{"p":"parts.count","pt":"msg","t":"delete"},{"p":"payload","pt":"msg","t":"set","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3871.66650390625,"y":4289.3331298828125,"wires":[["7a3ecd7f9afa51a1"]]},{"id":"7a3ecd7f9afa51a1","type":"delay","z":"24f35eaa8656755f","g":"2bb510ce7745a2a8","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3871.66650390625,"y":4426.8331298828125,"wires":[["781e2d413d5b7014"]]},{"id":"dcabf00bd2c4c2de","type":"switch","z":"24f35eaa8656755f","g":"2bb510ce7745a2a8","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":4140.166534423828,"y":4448.916564941406,"wires":[["1c31af643eb37854","cf925c8e8ee2a0ea"]]},{"id":"1c31af643eb37854","type":"ut-assert-success","z":"24f35eaa8656755f","g":"2bb510ce7745a2a8","name":"","count":1,"x":4434,"y":4289.3331298828125,"wires":[]},{"id":"c6e462312c088fd9","type":"change","z":"24f35eaa8656755f","g":"2bb510ce7745a2a8","name":"rm parts.id","rules":[{"p":"parts.id","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":3208.000015258789,"y":4335,"wires":[["2eeec1027ade123e"]]},{"id":"230a844dc3519601","type":"split","z":"24f35eaa8656755f","g":"44dd23e1fbb7f530","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":3110.666519165039,"y":3270.6666259765625,"wires":[["d501e9cfd61c48ea"]]},{"id":"be504919be37098b","type":"join","z":"24f35eaa8656755f","g":"44dd23e1fbb7f530","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3871.66650390625,"y":3378.1666259765625,"wires":[["2280b1b9ab8cf89f"]]},{"id":"334d51bdf3bbf291","type":"inject","z":"24f35eaa8656755f","g":"44dd23e1fbb7f530","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6]","payloadType":"json","x":2941.666534423828,"y":3298.6666259765625,"wires":[["230a844dc3519601"]]},{"id":"a719a8a2cd064fac","type":"switch","z":"24f35eaa8656755f","g":"44dd23e1fbb7f530","name":"drop message 5","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3395.666519165039,"y":3182.6666259765625,"wires":[["e8d7bae9f95d4906"],["be504919be37098b"]]},{"id":"e8d7bae9f95d4906","type":"change","z":"24f35eaa8656755f","g":"44dd23e1fbb7f530","name":"","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":3871.66650390625,"y":3175.6666259765625,"wires":[["44d04a22d1cba1b0"]]},{"id":"44d04a22d1cba1b0","type":"delay","z":"24f35eaa8656755f","g":"44dd23e1fbb7f530","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3871.66650390625,"y":3276.9166259765625,"wires":[["be504919be37098b"]]},{"id":"2280b1b9ab8cf89f","type":"switch","z":"24f35eaa8656755f","g":"44dd23e1fbb7f530","name":"payload size == 6","property":"$count($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":4140.166534423828,"y":3310.3333129882812,"wires":[["5c0926d3c99ff2e9","dff66b1a60aa068f"]]},{"id":"5c0926d3c99ff2e9","type":"ut-assert-success","z":"24f35eaa8656755f","g":"44dd23e1fbb7f530","name":"","count":1,"x":4434,"y":3175.6666259765625,"wires":[]},{"id":"d501e9cfd61c48ea","type":"change","z":"24f35eaa8656755f","g":"44dd23e1fbb7f530","name":"rm parts.id","rules":[{"p":"parts.id","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":3142.666519165039,"y":3212.33349609375,"wires":[["a719a8a2cd064fac"]]},{"id":"352b3eafcc1a03be","type":"ut-assert-values","z":"24f35eaa8656755f","g":"179e4fcf622e01c3","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":2159,"y":1569.5,"wires":[[]]},{"id":"35c8057762b40f21","type":"ut-assert-values","z":"24f35eaa8656755f","g":"3bcaaba6da95e125","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":2159,"y":1931.875,"wires":[[]]},{"id":"e6bac61555f8fa9f","type":"ut-assert-values","z":"24f35eaa8656755f","g":"fdf58ceaaf3d5092","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":2159,"y":2331.16650390625,"wires":[[]]},{"id":"3071eab2640f8998","type":"ut-assert-values","z":"24f35eaa8656755f","g":"c691ad76c434a610","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":2159,"y":2697.66650390625,"wires":[[]]},{"id":"2a0129ec84405d5f","type":"ut-assert-values","z":"24f35eaa8656755f","g":"4d039979b9882f0f","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":3989,"y":2709.6665649414062,"wires":[[]]},{"id":"95d5485c50f739a4","type":"ut-assert-values","z":"24f35eaa8656755f","g":"d91ec4599d341556","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":3989,"y":2355.416534423828,"wires":[[]]},{"id":"15bb241cc3448c29","type":"ut-assert-values","z":"24f35eaa8656755f","g":"2b9f650f69cebdc0","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":3989,"y":1943.2708129882812,"wires":[[]]},{"id":"5f8882d1d6113180","type":"ut-assert-values","z":"24f35eaa8656755f","g":"d3c63c02b95623c7","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":3989,"y":1592.5833129882812,"wires":[[]]},{"id":"bd9c2d3a9efa076b","type":"ut-assert-values","z":"24f35eaa8656755f","g":"73032cc102b25ee8","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":2612,"y":3301,"wires":[[]]},{"id":"3431754ec205bfb2","type":"ut-assert-values","z":"24f35eaa8656755f","g":"52cf524a3eedf467","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":2612,"y":3650.6875,"wires":[[]]},{"id":"7e675f00f0f7fe19","type":"ut-assert-values","z":"24f35eaa8656755f","g":"540751b4bf4e205b","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":2612,"y":4045.333251953125,"wires":[[]]},{"id":"48a83cc13acdd65a","type":"ut-assert-values","z":"24f35eaa8656755f","g":"a82df1c310484f0b","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":2612,"y":4417.583251953125,"wires":[[]]},{"id":"cf925c8e8ee2a0ea","type":"ut-assert-values","z":"24f35eaa8656755f","g":"2bb510ce7745a2a8","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":4454,"y":4448.916564941406,"wires":[[]]},{"id":"9b3add521b981e1e","type":"ut-assert-values","z":"24f35eaa8656755f","g":"4268e4ac8183f8ad","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":4454,"y":4075.1665649414062,"wires":[[]]},{"id":"d466cb6ea0e4c6a1","type":"ut-assert-values","z":"24f35eaa8656755f","g":"697464415adfd4fa","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":4454,"y":3661.0208129882812,"wires":[[]]},{"id":"dff66b1a60aa068f","type":"ut-assert-values","z":"24f35eaa8656755f","g":"44dd23e1fbb7f530","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":4454,"y":3310.3333129882812,"wires":[[]]},{"id":"8daf8c0e47035fde","type":"ut-assert-values","z":"24f35eaa8656755f","g":"116d97069bec298f","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"parts","pt":"msg"}],"x":3967.5,"y":980,"wires":[[]]}]