testflows/0c35d269ca7178c6/flows.json
[{"disabled":false,"env":[{"name":"ERED_TIMEOUT","type":"num","value":"8"}],"id":"0c35d269ca7178c6","info":"## Function node and message completion\n\nWhen has a function node completed with a message?\n\nIf that message was successfully handled, no timeout or illegal exit.\n\n","label":"[function] supports completed node","type":"tab"},{"h":176.75,"id":"f20328830b376b23","name":"successfully handled message","nodes":["e854140ab6f0d21c","731d488b92cd68f1","b93f2509fb2a5bcc","55336fe53a868e93","6e9d36928e0ca025"],"style":{"label":true},"type":"group","w":740,"x":207,"y":223.5,"z":"0c35d269ca7178c6"},{"h":234,"id":"c165d28f8005d7c4","name":"time out - no complete notification","nodes":["0cdc8b8fcada2b64","084ee5f93fe80d0a","381a28ec2492ce63","aa5971bdea0f354c","1b7b76e14556c769","5a408c1c86dbbb6a","4b361478f333e8e2"],"style":{"label":true},"type":"group","w":1028,"x":207,"y":482.5,"z":"0c35d269ca7178c6"},{"h":234,"id":"db361fcb415409b2","name":"bad arith exception - no complete","nodes":["f5af604e178c08c0","4a8146bae13b5087","67c13f891a224fef","e1e0adb799026724","c6a558ec0e5e8ec9","9cd1030d04babc9d","3c162b8fa00c4058"],"style":{"label":true},"type":"group","w":1027,"x":208,"y":763.5,"z":"0c35d269ca7178c6"},{"finalize":"","func":"    Msg\n","g":"f20328830b376b23","id":"e854140ab6f0d21c","initialize":"","libs":[],"name":"function 2","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["6e9d36928e0ca025"]],"x":577,"y":359.25,"z":"0c35d269ca7178c6"},{"g":"f20328830b376b23","id":"731d488b92cd68f1","name":"","scope":["e854140ab6f0d21c"],"type":"complete","uncaught":false,"wires":[["55336fe53a868e93"]],"x":584,"y":264.5,"z":"0c35d269ca7178c6"},{"crontab":"","g":"f20328830b376b23","id":"b93f2509fb2a5bcc","name":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["e854140ab6f0d21c"]],"x":313,"y":359.25,"z":"0c35d269ca7178c6"},{"count":1,"g":"f20328830b376b23","id":"55336fe53a868e93","name":"","type":"ut-assert-success","wires":[],"x":848,"y":264.5,"z":"0c35d269ca7178c6"},{"count":1,"g":"f20328830b376b23","id":"6e9d36928e0ca025","name":"","type":"ut-assert-success","wires":[],"x":851,"y":359.25,"z":"0c35d269ca7178c6"},{"finalize":"","func":"timer:sleep(2_000)\n","g":"c165d28f8005d7c4","id":"0cdc8b8fcada2b64","initialize":"","libs":[],"name":"timeout - no complete","noerr":0,"outputs":1,"timeout":"1","type":"function","wires":[["1b7b76e14556c769"]],"x":617,"y":613.5,"z":"0c35d269ca7178c6"},{"g":"c165d28f8005d7c4","id":"084ee5f93fe80d0a","name":"","scope":["0cdc8b8fcada2b64"],"type":"complete","uncaught":false,"wires":[["aa5971bdea0f354c"]],"x":584,"y":523.5,"z":"0c35d269ca7178c6"},{"crontab":"","g":"c165d28f8005d7c4","id":"381a28ec2492ce63","name":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["0cdc8b8fcada2b64"]],"x":313,"y":613.5,"z":"0c35d269ca7178c6"},{"g":"c165d28f8005d7c4","id":"aa5971bdea0f354c","name":"","type":"ut-assert-failure","wires":[],"x":883,"y":523.5,"z":"0c35d269ca7178c6"},{"g":"c165d28f8005d7c4","id":"1b7b76e14556c769","name":"","type":"ut-assert-failure","wires":[],"x":890,"y":613.5,"z":"0c35d269ca7178c6"},{"g":"c165d28f8005d7c4","id":"5a408c1c86dbbb6a","inverse":false,"msgtype":"error","name":"","nodeid":"0cdc8b8fcada2b64","scope":["0cdc8b8fcada2b64"],"type":"ut-assert-debug","wires":[["4b361478f333e8e2"]],"x":729,"y":675.5,"z":"0c35d269ca7178c6"},{"finalize":"","func":"1 / 0 ","g":"db361fcb415409b2","id":"f5af604e178c08c0","initialize":"","libs":[],"name":"divide by zero error","noerr":0,"outputs":1,"timeout":"0","type":"function","wires":[["c6a558ec0e5e8ec9"]],"x":608,"y":894.5,"z":"0c35d269ca7178c6"},{"g":"db361fcb415409b2","id":"4a8146bae13b5087","name":"","scope":["f5af604e178c08c0"],"type":"complete","uncaught":false,"wires":[["e1e0adb799026724"]],"x":585,"y":804.5,"z":"0c35d269ca7178c6"},{"crontab":"","g":"db361fcb415409b2","id":"67c13f891a224fef","name":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["f5af604e178c08c0"]],"x":314,"y":894.5,"z":"0c35d269ca7178c6"},{"g":"db361fcb415409b2","id":"e1e0adb799026724","name":"","type":"ut-assert-failure","wires":[],"x":884,"y":804.5,"z":"0c35d269ca7178c6"},{"g":"db361fcb415409b2","id":"c6a558ec0e5e8ec9","name":"","type":"ut-assert-failure","wires":[],"x":891,"y":894.5,"z":"0c35d269ca7178c6"},{"g":"db361fcb415409b2","id":"9cd1030d04babc9d","inverse":false,"msgtype":"error","name":"","nodeid":"f5af604e178c08c0","scope":["f5af604e178c08c0"],"type":"ut-assert-debug","wires":[["3c162b8fa00c4058"]],"x":720,"y":956.5,"z":"0c35d269ca7178c6"},{"g":"c165d28f8005d7c4","id":"4b361478f333e8e2","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"debug.nodeid","pt":"msg","t":"eql","to":"0cdc8b8fcada2b64","tot":"str"},{"p":"payload['level']","pt":"msg","t":"eql","to":"20","tot":"num"},{"p":"payload.id","pt":"msg","t":"eql","to":"0cdc8b8fcada2b64","tot":"str"},{"p":"payload.name","pt":"msg","t":"eql","to":"timeout - no complete","tot":"str"},{"p":"payload.msg.error_msg","pt":"msg","t":"eql","to":"unexpected exit","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":1129,"y":675.5,"z":"0c35d269ca7178c6"},{"g":"db361fcb415409b2","id":"3c162b8fa00c4058","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"debug.nodeid","pt":"msg","t":"eql","to":"f5af604e178c08c0","tot":"str"},{"p":"payload['level']","pt":"msg","t":"eql","to":"20","tot":"num"},{"p":"payload.id","pt":"msg","t":"eql","to":"f5af604e178c08c0","tot":"str"},{"p":"payload.name","pt":"msg","t":"eql","to":"divide by zero error","tot":"str"},{"p":"payload.msg.error_msg","pt":"msg","t":"eql","to":"unexpected exit","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":1129,"y":956.5,"z":"0c35d269ca7178c6"}]