testflows/2a0abc9d995a9136/flows.json
[{"id":"2a0abc9d995a9136","type":"tab","label":"[.breadboard] Kafka test","disabled":false,"info":"","env":[{"name":"ERED_ONLY","value":"true","type":"bool"},{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"}]},{"id":"5e2fbd931647ab54","type":"ered-kafka-producer","z":"2a0abc9d995a9136","name":"","broker":"bba11b3e54ed911d","topic":"node-red","keytype":"buffer","valuetype":"buffer","advancedoptions":false,"acknowledge":"all","partition":"","headeritems":{},"key":"","responsetimeout":30000,"transactiontimeout":60000,"metadatamaxage":300000,"x":654,"y":305.5,"wires":[[],[]]},{"id":"7ec373c8b88d815d","type":"ered-kafka-consumer","z":"2a0abc9d995a9136","name":"","broker":"bba11b3e54ed911d","groupid":"","topic":"node-red","keytype":"buffer","valuetype":"buffer","advancedoptions":true,"autocommitinterval":5000,"autocommitthreshold":100,"sessiontimeout":30000,"rebalancetimeout":60000,"heartbeatinterval":3000,"metadatamaxage":300000,"maxbytesperpartition":1048576,"minbytes":1,"maxbytes":10485760,"maxwaittimeinms":5000,"frombeginning":true,"x":566,"y":486.5,"wires":[["6eb7687c1eefdd5e"],["7f9fcbea2c833382"]]},{"id":"674af0b10dd4a2b4","type":"inject","z":"2a0abc9d995a9136","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello from erlang red","payloadType":"str","x":283,"y":436,"wires":[["5e2fbd931647ab54"]]},{"id":"6eb7687c1eefdd5e","type":"debug","z":"2a0abc9d995a9136","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":true,"targetType":"full","statusVal":"","statusType":"auto","x":810,"y":404,"wires":[]},{"id":"7f9fcbea2c833382","type":"debug","z":"2a0abc9d995a9136","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":true,"targetType":"full","statusVal":"","statusType":"auto","x":813,"y":544,"wires":[]},{"id":"bba11b3e54ed911d","type":"ered-kafka-broker","name":"","brokers":"renderbox:9092","clientid":"erlang-red","connectiontimeout":3000,"requesttimeout":25000,"loglevel":"debug","auth":"none","tlscacert":"","tlsclientcert":"","tlsprivatekey":"","tlspassphrase":"","saslmechanism":"plain","saslssl":true,"saslselfsign":false,"advancedretry":false,"maxretrytime":30000,"initialretrytime":300,"factor":0.2,"multiplier":2,"retries":5}]