testflows/44f12f6e4a455084/flows.json
[{"id":"44f12f6e4a455084","type":"tab","label":"[http] POST & GET have different endpoints","disabled":false,"info":"Defining two endpoints for the same path but that differ by method should be supported.","env":[{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"},{"name":"ERED_TIMEOUT","value":"5","type":"num"}]},{"id":"1ee4966eef5be3c7","type":"http in","z":"44f12f6e4a455084","name":"","url":"/44f12f6e4a455084/example07/data","method":"get","upload":false,"swaggerDoc":"","x":477,"y":507,"wires":[["c1cfaca2395882ca","905f4a96866d216a","2fb697c68342967d"]]},{"id":"8b46873434c47c64","type":"http in","z":"44f12f6e4a455084","name":"","url":"/44f12f6e4a455084/example07/data","method":"post","upload":false,"swaggerDoc":"","x":472,"y":234.5,"wires":[["0660a9b61b2d2625","c1cfaca2395882ca","3f58a97eadc4d74a"]]},{"id":"0660a9b61b2d2625","type":"ut-assert-values","z":"44f12f6e4a455084","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"world","tot":"str"}],"x":1106,"y":96,"wires":[[]]},{"id":"2fb697c68342967d","type":"ut-assert-success","z":"44f12f6e4a455084","name":"","count":1,"x":1086,"y":511.5,"wires":[]},{"id":"3f58a97eadc4d74a","type":"ut-assert-success","z":"44f12f6e4a455084","name":"","count":1,"x":1086,"y":234.5,"wires":[]},{"id":"480f4d85fc71d2b2","type":"http request","z":"44f12f6e4a455084","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/44f12f6e4a455084/example07/data?p=world&p2=ddd","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":736,"y":843,"wires":[["8c7c8608c19cf1d0"]]},{"id":"d05bf163282c5908","type":"inject","z":"44f12f6e4a455084","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":102,"y":845,"wires":[["a4a6034b312d4597","c6a6f43aca748f8b"]]},{"id":"59a9432dc3b29d21","type":"http request","z":"44f12f6e4a455084","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/44f12f6e4a455084/example07/data","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":738,"y":902,"wires":[["09b5fc4621688fed"]]},{"id":"a4a6034b312d4597","type":"change","z":"44f12f6e4a455084","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":547,"y":843,"wires":[["480f4d85fc71d2b2"]]},{"id":"c6a6f43aca748f8b","type":"change","z":"44f12f6e4a455084","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"world","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":902,"wires":[["59a9432dc3b29d21"]]},{"id":"c1cfaca2395882ca","type":"http response","z":"44f12f6e4a455084","name":"","statusCode":"200","headers":{},"x":1076,"y":373,"wires":[]},{"id":"905f4a96866d216a","type":"ut-assert-values","z":"44f12f6e4a455084","name":"","rules":[{"p":"req.query.p","pt":"msg","t":"eql","to":"world","tot":"str"}],"x":1116,"y":650,"wires":[[]]},{"id":"8c7c8608c19cf1d0","type":"ut-assert-success","z":"44f12f6e4a455084","name":"","count":1,"x":1023,"y":800.5,"wires":[]},{"id":"09b5fc4621688fed","type":"ut-assert-success","z":"44f12f6e4a455084","name":"","count":1,"x":1030,"y":858.5,"wires":[]}]