testflows/55f105cfd894b06c/flows.json
[{"id":"55f105cfd894b06c","type":"tab","label":"[change] support underscores in binary, hex & octal values","disabled":false,"info":"## Support underscore\n\nA value such as `0b1010_1010_1010` should be valid. Along with `0xABCD_deff_1234`.\n\nThis isn't supported by the Node-RED flow editor and requires modification to the editor.\n","env":[{"name":"ERED_ONLY","value":"true","type":"bool"}]},{"id":"fde29456b71808f8","type":"change","z":"55f105cfd894b06c","name":"","rules":[{"t":"set","p":"binary_value","pt":"msg","to":"0b1101_1101_1111","tot":"num"},{"t":"set","p":"hex_value","pt":"msg","to":"0xABCD_1234_5674","tot":"num"},{"t":"set","p":"octal_value","pt":"msg","to":"0o072173_071","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":647,"y":364,"wires":[["67f864d3f39a1bcc"]]},{"id":"90d007f3ffee9ec6","type":"inject","z":"55f105cfd894b06c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":665,"y":446,"wires":[["fde29456b71808f8"]]},{"id":"67f864d3f39a1bcc","type":"ut-assert-values","z":"55f105cfd894b06c","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"binary_value","pt":"msg","to":"3551","tot":"num"},{"t":"eql","p":"hex_value","pt":"msg","to":"188897262065268","tot":"num"},{"t":"eql","p":"octal_value","pt":"msg","to":"15267385","tot":"num"}],"x":654,"y":276.5,"wires":[[]]}]