testflows/d61182e87a604efa/flows.json
[
    {
        "id": "d61182e87a604efa",
        "type": "tab",
        "label": "[mqtt] sending an integer should also work",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "NRED_PENDING",
                "value": "true",
                "type": "bool"
            }
        ]
    },
    {
        "id": "ee8339e78d86c381",
        "type": "group",
        "z": "d61182e87a604efa",
        "name": "",
        "style": {
            "fill": "#ff0000",
            "label": true
        },
        "nodes": [
            "39234a0243afaba2"
        ],
        "x": 554,
        "y": 93,
        "w": 364,
        "h": 134
    },
    {
        "id": "39234a0243afaba2",
        "type": "group",
        "z": "d61182e87a604efa",
        "g": "ee8339e78d86c381",
        "name": "",
        "style": {
            "fill": "#ffffff",
            "label": true
        },
        "nodes": [
            "510266169eb41755"
        ],
        "x": 580,
        "y": 119,
        "w": 312,
        "h": 82
    },
    {
        "id": "0b1677240ac7aa76",
        "type": "exec",
        "z": "d61182e87a604efa",
        "command": "mosquitto",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 322,
        "y": 319,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c99bfd2028220d49",
        "type": "inject",
        "z": "d61182e87a604efa",
        "name": "spin up mosquitto",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 303,
        "y": 246,
        "wires": [
            [
                "0b1677240ac7aa76"
            ]
        ]
    },
    {
        "id": "a8b8bf609a3f1928",
        "type": "inject",
        "z": "d61182e87a604efa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "123456789",
        "payloadType": "num",
        "x": 186,
        "y": 443,
        "wires": [
            [
                "aab34a4de1112b5b"
            ]
        ]
    },
    {
        "id": "cd145778333a2659",
        "type": "mqtt out",
        "z": "d61182e87a604efa",
        "name": "",
        "topic": "number",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7f5d1ea6113ca12f",
        "x": 211,
        "y": 565,
        "wires": []
    },
    {
        "id": "9b9bd5def9bf3159",
        "type": "mqtt in",
        "z": "d61182e87a604efa",
        "name": "",
        "topic": "number",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7f5d1ea6113ca12f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 739,
        "wires": [
            [
                "2f0eb5415c9029c0",
                "1ba8b109a808b8ab"
            ]
        ]
    },
    {
        "id": "342667808c89eb76",
        "type": "inject",
        "z": "d61182e87a604efa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "123456789.123456789",
        "payloadType": "num",
        "x": 503,
        "y": 447,
        "wires": [
            [
                "6f4c5200201c7926"
            ]
        ]
    },
    {
        "id": "3e55b3bd534e59d9",
        "type": "mqtt out",
        "z": "d61182e87a604efa",
        "name": "",
        "topic": "number",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7f5d1ea6113ca12f",
        "x": 488,
        "y": 569,
        "wires": []
    },
    {
        "id": "aab34a4de1112b5b",
        "type": "delay",
        "z": "d61182e87a604efa",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 184,
        "y": 504,
        "wires": [
            [
                "cd145778333a2659"
            ]
        ]
    },
    {
        "id": "6f4c5200201c7926",
        "type": "delay",
        "z": "d61182e87a604efa",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 493,
        "y": 509,
        "wires": [
            [
                "3e55b3bd534e59d9"
            ]
        ]
    },
    {
        "id": "2f0eb5415c9029c0",
        "type": "ut-assert-values",
        "z": "d61182e87a604efa",
        "name": "",
        "ignore_failure_if_succeed": true,
        "rules": [
            {
                "p": "payload",
                "pt": "msg",
                "t": "eql",
                "to": "1.23456789123456791043e+08",
                "tot": "str"
            }
        ],
        "x": 692,
        "y": 790,
        "wires": [
            []
        ]
    },
    {
        "id": "1ba8b109a808b8ab",
        "type": "ut-assert-values",
        "z": "d61182e87a604efa",
        "name": "",
        "ignore_failure_if_succeed": true,
        "rules": [
            {
                "p": "payload",
                "pt": "msg",
                "t": "eql",
                "to": "123456789",
                "tot": "str"
            }
        ],
        "x": 711,
        "y": 682,
        "wires": [
            []
        ]
    },
    {
        "id": "510266169eb41755",
        "type": "comment",
        "z": "d61182e87a604efa",
        "g": "39234a0243afaba2",
        "name": "Requires mosquitto is installed",
        "info": "",
        "x": 736,
        "y": 160,
        "wires": []
    },
    {
        "id": "7f5d1ea6113ca12f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]