testflows/d61182e87a604efa/flows.json
[{"disabled":false,"env":[],"id":"d61182e87a604efa","info":"","label":"[mqtt] sending an integer should also work","type":"tab"},{"addpay":"","append":"","command":"mosquitto","id":"0b1677240ac7aa76","name":"","oldrc":false,"timer":"","type":"exec","useSpawn":"false","winHide":false,"wires":[[],[],[]],"x":322,"y":319,"z":"d61182e87a604efa"},{"crontab":"","id":"c99bfd2028220d49","name":"spin up mosquitto","once":false,"onceDelay":0.1,"props":[],"repeat":"","topic":"","type":"inject","wires":[["0b1677240ac7aa76"]],"x":303,"y":246,"z":"d61182e87a604efa"},{"crontab":"","id":"a8b8bf609a3f1928","name":"","once":false,"onceDelay":0.1,"payload":"123456789","payloadType":"num","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["aab34a4de1112b5b"]],"x":186,"y":443,"z":"d61182e87a604efa"},{"broker":"7f5d1ea6113ca12f","contentType":"","correl":"","expiry":"","id":"cd145778333a2659","name":"","qos":"0","respTopic":"","retain":"false","topic":"number","type":"mqtt out","userProps":"","wires":[],"x":211,"y":565,"z":"d61182e87a604efa"},{"broker":"7f5d1ea6113ca12f","datatype":"auto-detect","id":"9b9bd5def9bf3159","inputs":0,"name":"","nl":false,"qos":"0","rap":true,"rh":0,"topic":"number","type":"mqtt in","wires":[["2f0eb5415c9029c0","1ba8b109a808b8ab"]],"x":340,"y":739,"z":"d61182e87a604efa"},{"crontab":"","id":"342667808c89eb76","name":"","once":false,"onceDelay":0.1,"payload":"123456789.123456789","payloadType":"num","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["6f4c5200201c7926"]],"x":503,"y":447,"z":"d61182e87a604efa"},{"broker":"7f5d1ea6113ca12f","contentType":"","correl":"","expiry":"","id":"3e55b3bd534e59d9","name":"","qos":"0","respTopic":"","retain":"false","topic":"number","type":"mqtt out","userProps":"","wires":[],"x":488,"y":569,"z":"d61182e87a604efa"},{"allowrate":false,"drop":false,"id":"aab34a4de1112b5b","name":"","nbRateUnits":"1","outputs":1,"pauseType":"delay","randomFirst":"1","randomLast":"5","randomUnits":"seconds","rate":"1","rateUnits":"second","timeout":"1","timeoutUnits":"seconds","type":"delay","wires":[["cd145778333a2659"]],"x":184,"y":504,"z":"d61182e87a604efa"},{"allowrate":false,"drop":false,"id":"6f4c5200201c7926","name":"","nbRateUnits":"1","outputs":1,"pauseType":"delay","randomFirst":"1","randomLast":"5","randomUnits":"seconds","rate":"1","rateUnits":"second","timeout":"1","timeoutUnits":"seconds","type":"delay","wires":[["3e55b3bd534e59d9"]],"x":493,"y":509,"z":"d61182e87a604efa"},{"id":"2f0eb5415c9029c0","ignore_failure_if_succeed":true,"name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"1.23456789123456791043e+08","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":692,"y":790,"z":"d61182e87a604efa"},{"id":"1ba8b109a808b8ab","ignore_failure_if_succeed":true,"name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"123456789","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":711,"y":682,"z":"d61182e87a604efa"},{"autoConnect":true,"autoUnsubscribe":true,"birthMsg":{},"birthPayload":"","birthQos":"0","birthRetain":"false","birthTopic":"","broker":"localhost","cleansession":true,"clientid":"","closeMsg":{},"closePayload":"","closeQos":"0","closeRetain":"false","closeTopic":"","id":"7f5d1ea6113ca12f","keepalive":60,"name":"","port":1883,"protocolVersion":4,"sessionExpiry":"","type":"mqtt-broker","userProps":"","usetls":false,"willMsg":{},"willPayload":"","willQos":"0","willRetain":"false","willTopic":""}]