testflows/89aeaeef64509bed/flows.json
[{"id":"89aeaeef64509bed","type":"tab","label":"[exec] async with noisy command","disabled":false,"info":"## Exec Asynchronised Nosiy Command\n\nRunning a noisy command `yes no` which generates reams and reams of `no\\n` strings.\n\nThe problem is that that output messages from the erlexec module uses the message queue and the timeout signal also uses the message queue.\n\nThe timeout signal does not make it through if the message queue is flooded with stdout content from the erlexec module.\n","env":[{"name":"ERED_PENDING","type":"bool","value":"false"}]},{"id":"bc5717bfbd9749c2","type":"exec","z":"89aeaeef64509bed","command":"yes no","addpay":"","append":"","useSpawn":"true","timer":"1","winHide":false,"oldrc":false,"name":"","x":502,"y":328,"wires":[["c522db99808fe7cc"],["d3aaa69286b0937c"],["5ec6494fa1d89df9"]]},{"id":"90108a732531aead","type":"inject","z":"89aeaeef64509bed","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":171,"y":328,"wires":[["bc5717bfbd9749c2"]]},{"id":"817071e65d91fe73","type":"ut-assert-success","z":"89aeaeef64509bed","name":"","count":"0","x":980,"y":183,"wires":[]},{"id":"5ec6494fa1d89df9","type":"ut-assert-success","z":"89aeaeef64509bed","name":"","count":1,"x":980,"y":342.625,"wires":[]},{"id":"c522db99808fe7cc","type":"join","z":"89aeaeef64509bed","name":"atleast","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":727,"y":267.5,"wires":[["817071e65d91fe73"]]},{"id":"d3aaa69286b0937c","type":"ut-assert-failure","z":"89aeaeef64509bed","name":"","x":1232,"y":328,"wires":[]}]