testflows/61142eb3e4e54eab/flows.json
[{"id":"61142eb3e4e54eab","type":"tab","label":"[split] work with binary data as string data","disabled":false,"info":"## Split\n\nSplit node worked with lists but now also binary data as string.","env":[]},{"id":"c82f30a56d1a660d","type":"group","z":"61142eb3e4e54eab","name":"tab","style":{"label":true},"nodes":["aa8d437abfb102c3","259c2437c90e9894","79ccf35012bdfc48","2f145767746512d9","426375d5dbd09656"],"x":130,"y":317,"w":297,"h":441},{"id":"56099cc47438c1d8","type":"group","z":"61142eb3e4e54eab","name":"newline","style":{"label":true},"nodes":["f2c8927f6a9bf66d","6ad09bfad9be496a","1e7f8905177e4a51","bbef69370ffefa7d","4870251dc3920d6e"],"x":524,"y":351,"w":269,"h":387},{"id":"1d7b7265606317fe","type":"group","z":"61142eb3e4e54eab","name":"slash-b","style":{"label":true},"nodes":["fba392e7c499fa3a","5e76c482452552f9","8dd97d7c8a42d1a3","7060502f466f75fb","27496740b8f0d9b5","f66b5dfddb7e379e"],"x":887,"y":358,"w":444,"h":386},{"id":"2a69db355acc618b","type":"group","z":"61142eb3e4e54eab","name":"carriage return","style":{"label":true},"nodes":["df4aea65eb3bb87d","0d40744d4078e8e6","15754917e9e1ddf4","c53c69fb06bf9bf2","280dd2d3b3482854","a34790bc9d32225c"],"x":1404,"y":366.5,"w":444,"h":386},{"id":"aa8d437abfb102c3","type":"split","z":"61142eb3e4e54eab","g":"c82f30a56d1a660d","name":"","splt":"\\t","spltType":"str","arraySplt":"0","arraySpltType":"len","stream":false,"addname":"","property":"payload","x":244,"y":447,"wires":[["79ccf35012bdfc48","2f145767746512d9"]]},{"id":"259c2437c90e9894","type":"template","z":"61142eb3e4e54eab","g":"c82f30a56d1a660d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"\t\ta   n\nb   b\t\t\nc \t  \nd   \n\te   \n                \n\t\td\t\td\t\td\n\t\t","output":"str","x":230,"y":358,"wires":[["aa8d437abfb102c3"]]},{"id":"0c59f7a51d772382","type":"inject","z":"61142eb3e4e54eab","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":899,"y":141,"wires":[["259c2437c90e9894","f2c8927f6a9bf66d","fba392e7c499fa3a","df4aea65eb3bb87d"]]},{"id":"f2c8927f6a9bf66d","type":"template","z":"61142eb3e4e54eab","g":"56099cc47438c1d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"one\ntwo\nthree\nfour\nfive\nsix\n","output":"str","x":610,"y":392,"wires":[["6ad09bfad9be496a"]]},{"id":"6ad09bfad9be496a","type":"split","z":"61142eb3e4e54eab","g":"56099cc47438c1d8","name":"","splt":"\\n","spltType":"str","arraySplt":"0","arraySpltType":"len","stream":false,"addname":"","property":"payload","x":628,"y":475,"wires":[["1e7f8905177e4a51","bbef69370ffefa7d"]]},{"id":"1e7f8905177e4a51","type":"join","z":"61142eb3e4e54eab","g":"56099cc47438c1d8","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":655,"y":637,"wires":[["4870251dc3920d6e"]]},{"id":"bbef69370ffefa7d","type":"ut-assert-success","z":"61142eb3e4e54eab","g":"56099cc47438c1d8","name":"","count":"7","x":686,"y":581,"wires":[]},{"id":"4870251dc3920d6e","type":"ut-assert-values","z":"61142eb3e4e54eab","g":"56099cc47438c1d8","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[\"one\", \"two\", \"three\", \"four\", \"five\", \"six\", \"\"]","tot":"json"}],"x":677,"y":697,"wires":[[]]},{"id":"79ccf35012bdfc48","type":"join","z":"61142eb3e4e54eab","g":"c82f30a56d1a660d","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":262,"y":640,"wires":[["426375d5dbd09656"]]},{"id":"2f145767746512d9","type":"ut-assert-success","z":"61142eb3e4e54eab","g":"c82f30a56d1a660d","name":"","count":"15","x":321,"y":574,"wires":[]},{"id":"426375d5dbd09656","type":"ut-assert-values","z":"61142eb3e4e54eab","g":"c82f30a56d1a660d","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[\"\",\"\",\"a   n\\nb   b\",\"\",\"\\nc \",\"  \\nd   \\n\",\"e   \\n                \\n\",\"\",\"d\",\"\",\"d\",\"\",\"d\\n\",\"\",\"\"]","tot":"json"}],"x":246,"y":717,"wires":[[]]},{"id":"fba392e7c499fa3a","type":"template","z":"61142eb3e4e54eab","g":"1d7b7265606317fe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"one\\btwo\\bthree\\bfour\\bfive\\bsix\n","output":"str","x":1023,"y":399,"wires":[["5e76c482452552f9"]]},{"id":"5e76c482452552f9","type":"change","z":"61142eb3e4e54eab","g":"1d7b7265606317fe","name":"replace slash-slash-b with slash-b","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace($$.payload, \"\\\\b\",\"\\b\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1053,"y":454,"wires":[["8dd97d7c8a42d1a3"]]},{"id":"8dd97d7c8a42d1a3","type":"split","z":"61142eb3e4e54eab","g":"1d7b7265606317fe","name":"","splt":"\\b","spltType":"str","arraySplt":"0","arraySpltType":"len","stream":false,"addname":"","property":"payload","x":1023,"y":533,"wires":[["7060502f466f75fb","27496740b8f0d9b5"]]},{"id":"7060502f466f75fb","type":"ut-assert-success","z":"61142eb3e4e54eab","g":"1d7b7265606317fe","name":"","count":"6","x":1225,"y":605,"wires":[]},{"id":"27496740b8f0d9b5","type":"join","z":"61142eb3e4e54eab","g":"1d7b7265606317fe","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1017,"y":618,"wires":[["f66b5dfddb7e379e"]]},{"id":"f66b5dfddb7e379e","type":"ut-assert-values","z":"61142eb3e4e54eab","g":"1d7b7265606317fe","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[\"one\",\"two\",\"three\",\"four\",\"five\",\"six\\n\"]","tot":"json"}],"x":1018,"y":703,"wires":[[]]},{"id":"df4aea65eb3bb87d","type":"template","z":"61142eb3e4e54eab","g":"2a69db355acc618b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"one\\rtwo\\rthree\\rfour\\rfive\\rsix","output":"str","x":1540,"y":407.5,"wires":[["0d40744d4078e8e6"]]},{"id":"0d40744d4078e8e6","type":"change","z":"61142eb3e4e54eab","g":"2a69db355acc618b","name":"carriage return","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace($$.payload, \"\\\\r\",\"\\r\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":462.5,"wires":[["15754917e9e1ddf4"]]},{"id":"15754917e9e1ddf4","type":"split","z":"61142eb3e4e54eab","g":"2a69db355acc618b","name":"","splt":"\\r","spltType":"str","arraySplt":"0","arraySpltType":"len","stream":false,"addname":"","property":"payload","x":1540,"y":541.5,"wires":[["c53c69fb06bf9bf2","280dd2d3b3482854"]]},{"id":"c53c69fb06bf9bf2","type":"ut-assert-success","z":"61142eb3e4e54eab","g":"2a69db355acc618b","name":"","count":"6","x":1742,"y":613.5,"wires":[]},{"id":"280dd2d3b3482854","type":"join","z":"61142eb3e4e54eab","g":"2a69db355acc618b","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1534,"y":626.5,"wires":[["a34790bc9d32225c"]]},{"id":"a34790bc9d32225c","type":"ut-assert-values","z":"61142eb3e4e54eab","g":"2a69db355acc618b","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[\"one\",[116,\"wo\"],[116,\"hree\"],[102,\"our\"],[102,\"ive\"],[115,\"ix\"]]","tot":"json"}],"x":1535,"y":711.5,"wires":[[]]}]