testflows/ad2bf1089481dcfb/flows.json
[{"id":"ad2bf1089481dcfb","type":"tab","label":"[trigger] extend timer","disabled":false,"info":"When a trigger message is sent, the trigger is reset and will wait another X seconds.\n","env":[{"name":"ERED_PENDING","type":"bool","value":"false"},{"name":"ERED_TIMEOUT","type":"num","value":"4"}]},{"id":"aece14fc14eafb1e","type":"trigger","z":"ad2bf1089481dcfb","name":"","op1":"","op2":"heartbeat","op1type":"nul","op2type":"str","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1082.0000114440918,"y":326.82139921188354,"wires":[["477c0cdb37cd3b7f"]]},{"id":"0179d6d83afa9622","type":"inject","z":"ad2bf1089481dcfb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":305.9997673034668,"y":326.82139921188354,"wires":[["24cee7a3968704f0","490463fb382d8ef0","34d6af786a311270","be8d70492217efe4","dd94912b1083bb41","5cf5cdd4bef69ab6","e49bb0c4d5475656","9d9c7d3681b48dd9","e333bc8e6aaba968"]]},{"id":"24cee7a3968704f0","type":"delay","z":"ad2bf1089481dcfb","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":599.1428833007812,"y":221.047607421875,"wires":[["aece14fc14eafb1e"]]},{"id":"490463fb382d8ef0","type":"delay","z":"ad2bf1089481dcfb","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":627.089273929596,"y":273.9345033168793,"wires":[["aece14fc14eafb1e"]]},{"id":"34d6af786a311270","type":"delay","z":"ad2bf1089481dcfb","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":655.0356645584106,"y":326.82139921188354,"wires":[["aece14fc14eafb1e"]]},{"id":"be8d70492217efe4","type":"delay","z":"ad2bf1089481dcfb","name":"","pauseType":"delay","timeout":"1100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":692.9820551872253,"y":379.7082951068878,"wires":[["aece14fc14eafb1e"]]},{"id":"dd94912b1083bb41","type":"delay","z":"ad2bf1089481dcfb","name":"","pauseType":"delay","timeout":"1400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740.92844581604,"y":432.5951910018921,"wires":[["aece14fc14eafb1e"]]},{"id":"5cf5cdd4bef69ab6","type":"delay","z":"ad2bf1089481dcfb","name":"","pauseType":"delay","timeout":"1800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":788.8748364448547,"y":485.48208689689636,"wires":[["aece14fc14eafb1e"]]},{"id":"e49bb0c4d5475656","type":"delay","z":"ad2bf1089481dcfb","name":"","pauseType":"delay","timeout":"2100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":836.8212270736694,"y":538.3689827919006,"wires":[["aece14fc14eafb1e"]]},{"id":"9d9c7d3681b48dd9","type":"delay","z":"ad2bf1089481dcfb","name":"","pauseType":"delay","timeout":"2400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":884.7676177024841,"y":591.2558786869049,"wires":[["aece14fc14eafb1e"]]},{"id":"e333bc8e6aaba968","type":"delay","z":"ad2bf1089481dcfb","name":"","pauseType":"delay","timeout":"2800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":932.7140083312988,"y":644.1427745819092,"wires":[["aece14fc14eafb1e"]]},{"id":"477c0cdb37cd3b7f","type":"ut-assert-success","z":"ad2bf1089481dcfb","name":"","count":1,"x":1314.9997673034668,"y":326.82139921188354,"wires":[]}]