testflows/51bfa9456b1745c0/flows.json
[{"id":"51bfa9456b1745c0","type":"tab","label":"[filter] ignore initial value","disabled":false,"info":"## Filter Node - ignore initial value\n\nmode `rbei` with **no** topic grouping","env":[]},{"id":"026f7ba779774f8a","type":"group","z":"51bfa9456b1745c0","name":"initial value of one isn't passed through","style":{"label":true},"nodes":["1c31ccbdd0ca019d","a0ada11602a931be","89545c20cbf6910e","73d7b68a95c8127a","2dbebf5ddc750166","1bf2654f308ef5f8","8b789d2849f4a32c","7ff8c7d31547b09e","26561d0daa7b0eb1","b941869cd2230edd","9c3d3e831642e3f5","9cfe1e03363b727d"],"x":58,"y":83,"w":1110,"h":249.5},{"id":"cb54627a53643afa","type":"group","z":"51bfa9456b1745c0","name":"respect the reset message and allow no data through","style":{"label":true},"nodes":["bef98832a0508b3c","af0b0f776d9b0416","225c36a12a0fb30a","1b4a2f47a4aba8c0","2add4ae8bea26031","d3e04b85690fed3b","1e2808189be13fd4","4c5dfdad9d41f265","be5ff44248ee6058","60300f7772c61018","0c75c5447a6e5902","d249e025b57df26d","957ab635377f6174"],"x":73,"y":380.5,"w":1071,"h":301.5},{"id":"1c31ccbdd0ca019d","type":"rbe","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","func":"rbei","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":748,"y":124,"wires":[["1bf2654f308ef5f8","8b789d2849f4a32c","7ff8c7d31547b09e","26561d0daa7b0eb1"]]},{"id":"a0ada11602a931be","type":"inject","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":154,"y":124,"wires":[["1c31ccbdd0ca019d","b941869cd2230edd","9c3d3e831642e3f5","9cfe1e03363b727d"]]},{"id":"89545c20cbf6910e","type":"delay","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":547,"y":180.5,"wires":[["1c31ccbdd0ca019d"]]},{"id":"73d7b68a95c8127a","type":"delay","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":567,"y":236,"wires":[["1c31ccbdd0ca019d"]]},{"id":"2dbebf5ddc750166","type":"delay","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":587,"y":291.5,"wires":[["1c31ccbdd0ca019d"]]},{"id":"1bf2654f308ef5f8","type":"ut-assert-values","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"2","tot":"num"}],"x":1052,"y":188,"wires":[[]]},{"id":"8b789d2849f4a32c","type":"ut-assert-values","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"3","tot":"num"}],"x":1052,"y":239.5,"wires":[[]]},{"id":"7ff8c7d31547b09e","type":"ut-assert-values","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"4","tot":"num"}],"x":1052,"y":291,"wires":[[]]},{"id":"26561d0daa7b0eb1","type":"ut-assert-success","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","count":"3","x":1043,"y":124,"wires":[]},{"id":"b941869cd2230edd","type":"change","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":366,"y":180.5,"wires":[["89545c20cbf6910e"]]},{"id":"9c3d3e831642e3f5","type":"change","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":354,"y":236,"wires":[["73d7b68a95c8127a"]]},{"id":"9cfe1e03363b727d","type":"change","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":342,"y":291.5,"wires":[["2dbebf5ddc750166"]]},{"id":"bef98832a0508b3c","type":"rbe","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","func":"rbei","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":763,"y":421.5,"wires":[["0c75c5447a6e5902","d249e025b57df26d","957ab635377f6174"]]},{"id":"af0b0f776d9b0416","type":"inject","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":169,"y":421.5,"wires":[["bef98832a0508b3c","d3e04b85690fed3b","1e2808189be13fd4","4c5dfdad9d41f265","60300f7772c61018"]]},{"id":"225c36a12a0fb30a","type":"delay","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":562,"y":477.5,"wires":[["bef98832a0508b3c"]]},{"id":"1b4a2f47a4aba8c0","type":"delay","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":590.6666666666666,"y":532,"wires":[["bef98832a0508b3c"]]},{"id":"2add4ae8bea26031","type":"delay","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":619.333333333333,"y":586.5,"wires":[["bef98832a0508b3c"]]},{"id":"d3e04b85690fed3b","type":"change","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":381,"y":477.5,"wires":[["225c36a12a0fb30a"]]},{"id":"1e2808189be13fd4","type":"change","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":356.33333333333326,"y":532,"wires":[["1b4a2f47a4aba8c0"]]},{"id":"4c5dfdad9d41f265","type":"change","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":331.66666666666663,"y":586.5,"wires":[["2add4ae8bea26031"]]},{"id":"be5ff44248ee6058","type":"delay","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":648,"y":641,"wires":[["bef98832a0508b3c"]]},{"id":"60300f7772c61018","type":"change","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"payload = 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":317,"y":641,"wires":[["be5ff44248ee6058"]]},{"id":"0c75c5447a6e5902","type":"ut-assert-success","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","count":"2","x":1038,"y":421.5,"wires":[]},{"id":"d249e025b57df26d","type":"ut-assert-values","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"2","tot":"num"}],"x":1011,"y":485,"wires":[[]]},{"id":"957ab635377f6174","type":"ut-assert-values","z":"51bfa9456b1745c0","g":"cb54627a53643afa","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"reset","pt":"msg","to":"true","tot":"bool"}],"x":1026.6666259765625,"y":551.6666259765625,"wires":[[]]}]