testflows/33227a66e95912d8/flows.json
[{"id":"33227a66e95912d8","type":"tab","label":"[split] binary type","disabled":false,"info":"## Split Binaries\n\nThis only works with fixed length splitting from 1 up.","env":[{"name":"ERED_PENDING","value":"false","type":"bool"}]},{"id":"912355267e7d6103","type":"junction","z":"33227a66e95912d8","x":965,"y":828,"wires":[["4bf80fa3e9b7ee04","288663567180f92b","9012c2d09633940e","bf5866ce0a0b43ad"]]},{"id":"536dccc8f17c486e","type":"junction","z":"33227a66e95912d8","x":950,"y":1349,"wires":[["16251505e58482f1","9d1fc186fc3ee3bf","84c9f3d3802522fb","5a7dcfc85f735c31"]]},{"id":"4c07ea2a8c42b306","type":"inject","z":"33227a66e95912d8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6,7,8,9,10,11,12]","payloadType":"bin","x":168.50006103515625,"y":823.5,"wires":[["1516f72eb09fabc7","5c1e92e1879b50eb","13e1ecef91c3da37"]]},{"id":"1516f72eb09fabc7","type":"split","z":"33227a66e95912d8","name":"split by fixed length of 1","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":625,"y":297,"wires":[["15fc707ebcc16673","298a8392ed07ab89"]]},{"id":"15fc707ebcc16673","type":"ut-assert-success","z":"33227a66e95912d8","name":"","count":"12","x":874,"y":146,"wires":[]},{"id":"298a8392ed07ab89","type":"join","z":"33227a66e95912d8","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":841,"y":409,"wires":[["319363e4553843b4"]]},{"id":"bcd6056a020f88f4","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[1,2,3,4,5,6,7,8,9,10,11,12]","tot":"bin"}],"x":1042,"y":560,"wires":[[]]},{"id":"319363e4553843b4","type":"function","z":"33227a66e95912d8","name":"convert list to binary","func":"#{ <<\"payload\">> := Payload } = Msg,\nMsg#{<<\"payload\">> => list_to_binary(Payload)}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":942,"y":483,"wires":[["bcd6056a020f88f4"]]},{"id":"5c1e92e1879b50eb","type":"split","z":"33227a66e95912d8","name":"split by a fixed length of 2","splt":"\\n","spltType":"str","arraySplt":"2","arraySpltType":"len","stream":false,"addname":"","property":"payload","x":625,"y":830,"wires":[["57dac4ea05c8b276","1ec5d6428b999420","912355267e7d6103"]]},{"id":"57dac4ea05c8b276","type":"ut-assert-success","z":"33227a66e95912d8","name":"","count":"6","x":888,"y":679,"wires":[]},{"id":"1ec5d6428b999420","type":"join","z":"33227a66e95912d8","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":855,"y":942,"wires":[["ab7c02ea7cdd68cb"]]},{"id":"e4f18bfc270df409","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[1,2,3,4,5,6,7,8,9,10,11,12]","tot":"bin"}],"x":1056,"y":1093,"wires":[[]]},{"id":"ab7c02ea7cdd68cb","type":"function","z":"33227a66e95912d8","name":"convert list to binary","func":"#{ <<\"payload\">> := Payload } = Msg,\nMsg#{<<\"payload\">> => list_to_binary(Payload)}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":956,"y":1016,"wires":[["e4f18bfc270df409"]]},{"id":"4bf80fa3e9b7ee04","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[1,2]","tot":"bin"}],"x":1150,"y":735.5,"wires":[[]]},{"id":"288663567180f92b","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[5,6]","tot":"bin"}],"x":1150,"y":793,"wires":[[]]},{"id":"9012c2d09633940e","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[7,8]","tot":"bin"}],"x":1150,"y":850.5,"wires":[[]]},{"id":"bf5866ce0a0b43ad","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[11,12]","tot":"bin"}],"x":1150,"y":908,"wires":[[]]},{"id":"13e1ecef91c3da37","type":"split","z":"33227a66e95912d8","name":"split by fixed length of 3","splt":"\\n","spltType":"str","arraySplt":"3","arraySpltType":"len","stream":false,"addname":"","property":"payload","x":625,"y":1351,"wires":[["73d25a1fbd2a8fc0","675f30044391b44d","536dccc8f17c486e"]]},{"id":"73d25a1fbd2a8fc0","type":"ut-assert-success","z":"33227a66e95912d8","name":"","count":"4","x":873,"y":1200,"wires":[]},{"id":"675f30044391b44d","type":"join","z":"33227a66e95912d8","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":840,"y":1463,"wires":[["b2dadd65967a7a5b"]]},{"id":"d86977a647e535c8","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[1,2,3,4,5,6,7,8,9,10,11,12]","tot":"bin"}],"x":1041,"y":1614,"wires":[[]]},{"id":"b2dadd65967a7a5b","type":"function","z":"33227a66e95912d8","name":"convert list to binary","func":"#{ <<\"payload\">> := Payload } = Msg,\nMsg#{<<\"payload\">> => list_to_binary(Payload)}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":941,"y":1537,"wires":[["d86977a647e535c8"]]},{"id":"16251505e58482f1","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[1,2,3]","tot":"bin"}],"x":1135,"y":1256.5,"wires":[[]]},{"id":"9d1fc186fc3ee3bf","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[4,5,6]","tot":"bin"}],"x":1135,"y":1314,"wires":[[]]},{"id":"84c9f3d3802522fb","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[7,8,9]","tot":"bin"}],"x":1135,"y":1371.5,"wires":[[]]},{"id":"5a7dcfc85f735c31","type":"ut-assert-values","z":"33227a66e95912d8","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[10,11,12]","tot":"bin"}],"x":1135,"y":1429,"wires":[[]]}]