testflows/72fbf0bdf8eacc7e/flows.json
[{"id":"72fbf0bdf8eacc7e","type":"tab","label":"[.breadboard] Diameter Authorisation Statemachine - Server","disabled":false,"info":"## Diameter Author/Authen Statemachine - Server\n\n```mermaid\n%% Generated by the Flow2UML Node @ https://flowhub.org/flow2uml\n%% change direction to LR for Node-RED left-to-right UML\nflowchart TB\n41649c893949bd22@{ shape: \"circle\", label: \"Start\" } -- \"AAR\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" } -- \"AAA; MULTI_ROUND_AUTH\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" } -- \"AAA; SUCCESS\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAR\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; SUCCESS\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; MULTI_ROUND_AUTH\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; AUTHORIZATION_REJECTED\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"RAR\" --> 641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"ASR\" --> 9482adf55132e602@{ shape: \"rounded\", label: \"Disconnected\" }\n9482adf55132e602@{ shape: \"rounded\", label: \"Disconnected\" } -- \"ASA\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n9482adf55132e602@{ shape: \"rounded\", label: \"Disconnected\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" } -- \"RAA; SUCCESS\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" } -- \"RAA; !SUCCESS\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n```\n","env":[{"name":"ERED_ONLY","value":"true","type":"bool"}]},{"id":"c0eb99130a3f7b9e","type":"group","z":"72fbf0bdf8eacc7e","name":"state machine definition","style":{"label":true},"nodes":["41649c893949bd22","4b9d114d09beb418","43f28daced65a485","81bc6eecdb17dee7","9482adf55132e602","641286613f05f45e"],"x":214,"y":116.5,"w":954,"h":602.375},{"id":"92455090c17f36d1","type":"group","z":"72fbf0bdf8eacc7e","name":"test: AAR - AAA (SUCCESS) - STR / start - idle - open - stop","style":{"label":true},"nodes":["6921f489716b2488","a542bafecf8edb61","7753a578084a9c6c","7ced67a9c5817563","ad9019c3a9076f43","4efe877a6548bd9d","f3b60177df506d8a","421b156f142a1974","602f322c771ae77e","1a44a19e6a5cbf85","e5c550f9a0bd6869","4cf46564070bdf77","9ae888b6d3b666ea","25d2836cb37ecf90","e6b383be9b39f6f3"],"x":209.6666259765625,"y":1609.333251953125,"w":1340,"h":580.666748046875},{"id":"05a27a8af28dddca","type":"group","z":"72fbf0bdf8eacc7e","name":"test: AAR - AAA (SUCCESS) - ASR - STR / start - idle - open - disconnected - stop","style":{"label":true},"nodes":["7321d0c1bac1620d","588956fd308c467e","869579b1f98c0698","1b4d047677f5fef4","10a3cfa9680845fb","e8e01469587ac077","deece9da733ae7c0","91bc3397d7ef5d79","2b169f86b4ccab91","e7b0390739d8730b","d60ce817c9c83271","bc9b5a3eba34b368","fdb1a2650b16c5d7","4c8129fb5f68f0e8","df8bd552df710adc","5e07206861ac6ea8"],"x":212.95233154296875,"y":2203.833251953125,"w":1320,"h":548.166748046875},{"id":"c48b9bce7005cf1c","type":"group","z":"72fbf0bdf8eacc7e","name":"test: AAR - AAA (SUCCESS) - ASR - ASA / start - idle - open - disconnected - idle","style":{"label":true},"nodes":["7cccb76fe2488f1d","653aa074e162e4e1","fe97a32d1870b162","a10c20363c17899a","8e031dbb38cd7315","4333ebcdb2d09e97","a8110fe39e06128a","1f3f46d3ea3aac6e","747d7bb7863b85b0","4421fc7d14209d6b","8bb9f224adea75d0","6ccaf6efcfddcd8e","a6927b1a67322acd","23e54bb747595917","4a5896cc88afc1db","cde3a8011e4737dd","16bfcddd3e0421c6","a1cc5125c9dc33e0"],"x":217,"y":2780.5,"w":1540,"h":558.5},{"id":"17b5b45fed15b398","type":"group","z":"72fbf0bdf8eacc7e","name":"test: AAR - AAA (SUCCESS) - RAR - RAA (SUCCESS) / start - idle - open - pending - open","style":{"label":true},"nodes":["e5a891ef63fc7a4c","0ca1b14656903f02","65cbedbb9463117c","178f0d65a8b866b2","cb4265fd6878b053","cf0f2c97b91fab85","522fa82d957e0570","ca2db5fbfb98235c","c7ec19102deb9b85","19ae58d3e0e0feac","5b1ec699eca75427","ead8474ce1be0b36","b8978bfbeb242e01","8efbbce165e2ce45","d33e118829648869","796fe1ba2df53bda","e3da4d3765dd9fb7","f858c15561bde289"],"x":225,"y":3378.5,"w":1540,"h":536.119218826294},{"id":"41649c893949bd22","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Start","shape":"circle","wirecfgs":[{"name":"AAR","id":"4b9d114d09beb418","arrow":"-->"}],"x":290,"y":157.5,"wires":[["4b9d114d09beb418"]],"icon":"font-awesome/fa-circle"},{"id":"4b9d114d09beb418","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Idle","shape":"rounded","wirecfgs":[{"name":"AAA; SUCCESS","id":"81bc6eecdb17dee7","arrow":"-->"},{"name":"AAA; MULTI_ROUND_AUTH","id":"4b9d114d09beb418","arrow":"-->"},{"name":"STR","id":"43f28daced65a485","arrow":"-->"}],"x":528,"y":157.5,"wires":[["43f28daced65a485","81bc6eecdb17dee7"]]},{"id":"43f28daced65a485","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Stop","shape":"dbl-circ","wirecfgs":[],"x":1092,"y":415.4375,"wires":[[]],"icon":"font-awesome/fa-stop-circle-o"},{"id":"81bc6eecdb17dee7","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Open","shape":"rounded","wirecfgs":[{"name":"ASR","id":"9482adf55132e602","arrow":"-->"},{"name":"AAR","id":"81bc6eecdb17dee7","arrow":"-->"},{"name":"AAA; SUCCESS","id":"81bc6eecdb17dee7","arrow":"-->"},{"name":"AAA; MULTI_ROUND_AUTH","id":"81bc6eecdb17dee7","arrow":"-->"},{"name":"RAR","id":"641286613f05f45e","arrow":"-->"},{"name":"AAA; AUTHORIZATION_REJECTED","id":"4b9d114d09beb418","arrow":"-->"},{"name":"STR","id":"43f28daced65a485","arrow":"-->"}],"x":528,"y":677.875,"wires":[["4b9d114d09beb418","43f28daced65a485","641286613f05f45e","9482adf55132e602"]]},{"id":"9482adf55132e602","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Disconnected","shape":"rounded","wirecfgs":[{"name":"ASA","id":"4b9d114d09beb418","arrow":"-->"},{"name":"STR","id":"43f28daced65a485","arrow":"-->"}],"x":855.5,"y":677.875,"wires":[["4b9d114d09beb418","43f28daced65a485"]]},{"id":"641286613f05f45e","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Pending","shape":"rounded","wirecfgs":[{"name":"RAA; SUCCESS","id":"81bc6eecdb17dee7","arrow":"-->"},{"name":"RAA; !SUCCESS","id":"4b9d114d09beb418","arrow":"-->"},{"name":"STR","id":"43f28daced65a485","arrow":"-->"}],"x":395,"y":415.4375,"wires":[["43f28daced65a485","81bc6eecdb17dee7","4b9d114d09beb418"]]},{"id":"694464d2db98d2b3","type":"erlmodule","z":"72fbf0bdf8eacc7e","name":"","module_name":"diameter_authorization_server","code":"-module(diameter_authorization_server).\n\n%%\n%%  APIs: https://www.erlang.org/doc/apps/stdlib/gen_statem.html\n%%\n\n-behaviour(gen_statem).\n\n-export([\n    start/0,\n    init/1,\n    callback_mode/0,\n    handle_event/4,\n    code_change/4,\n    terminate/3,\n    stop/0\n]).\n\n%% WARNING: state_functions are not supported by statemachine node.\n%% callback_mode() -> state_functions.\ncallback_mode() -> handle_event_function.\n\n-define(KEEP_STATE(ReplyWith),\n    {keep_state, Data, [{reply, From, ReplyWith}]}\n).\n\nstart() ->\n    gen_statem:start({local, ?MODULE}, ?MODULE, [], []).\n\nstop() ->\n    gen_statem:stop(?MODULE).\nterminate(_Reason, _State, _Data) ->\n    void.\ncode_change(_Vsn, State, Data, _Extra) ->\n    {ok, State, Data}.\n\n%% Initial state and data\ninit([]) ->\n    State = start, \n    Data = 0,\n    {ok,State,Data}.\n\n%%% handle event function\n\n\n\n%%\n%% Definition from 'Start' - #41649c893949bd22\n%%\n\nhandle_event(\n    {call, From},\n    <<\"AAR\">>,\n    start,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Idle' - #4b9d114d09beb418\n%%\n\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    idle,\n    Data\n) ->\n    {next_state, open, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"MULTI_ROUND_AUTH\">>},\n    idle,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    idle,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Open' - #81bc6eecdb17dee7\n%%\n\nhandle_event(\n    {call, From},\n    <<\"ASR\">>,\n    open,\n    Data\n) ->\n    {next_state, disconnected, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"AAR\">>,\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"MULTI_ROUND_AUTH\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"RAR\">>,\n    open,\n    Data\n) ->\n    {next_state, pending, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"AUTHORIZATION_REJECTED\">>},\n    open,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    open,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Disconnected' - #9482adf55132e602\n%%\n\nhandle_event(\n    {call, From},\n    <<\"ASA\">>,\n    disconnected,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    disconnected,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Pending' - #641286613f05f45e\n%%\n\nhandle_event(\n    {call, From},\n    {<<\"RAA\">>, <<\"SUCCESS\">>},\n    pending,\n    Data\n) ->\n    {next_state, open, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"RAA\">>, Success},\n    pending,\n    Data\n) when Success =/= <<\"SUCCESS\">> ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    pending,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Stop' - #43f28daced65a485\n%%\n\n%%\n%% Fall through.\nhandle_event({call, From} = _EventType, _Stiff, _State, Data) ->\n    ?KEEP_STATE(<<\"ignored\">>);\n\nhandle_event(_EventType, _Stiff, _State, Data) ->\n    {keep_state, Data}.\n","x":1112,"y":918.5,"wires":[]},{"id":"8e733456dffe73f3","type":"erlstatemachine","z":"72fbf0bdf8eacc7e","name":"","scope":["694464d2db98d2b3"],"emit_on_state_change":false,"x":1112,"y":1025.5,"wires":[["6f29a8e98f3729e4"]]},{"id":"abe0c8158d6ce41e","type":"inject","z":"72fbf0bdf8eacc7e","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":339,"y":882,"wires":[["8e733456dffe73f3"]]},{"id":"5c85a573a471d7f2","type":"inject","z":"72fbf0bdf8eacc7e","name":"AAA - Authorisation Refjected","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AUTHORIZATION_REJECTED","payloadType":"str","x":397.93943786621094,"y":1025.5759086608887,"wires":[["8e733456dffe73f3"]]},{"id":"8af836a3d6cd4f97","type":"inject","z":"72fbf0bdf8eacc7e","name":"AAA - Mutli Round trip authorisation","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MULTI_ROUND_AUTH","payloadType":"str","x":417.93943786621094,"y":1091.5759086608887,"wires":[["8e733456dffe73f3"]]},{"id":"290cb6ff792a156e","type":"inject","z":"72fbf0bdf8eacc7e","name":"AAA - Authorisation Successful","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SUCCESS","payloadType":"str","x":407.93943786621094,"y":1153.5759086608887,"wires":[["8e733456dffe73f3"]]},{"id":"38a44cda95dacdf5","type":"inject","z":"72fbf0bdf8eacc7e","name":"RAR - Re-Auth-Request","props":[{"p":"action","v":"RAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":513.7576141357422,"y":1277.303297996521,"wires":[["8e733456dffe73f3"]]},{"id":"43b459d45e59a06c","type":"inject","z":"72fbf0bdf8eacc7e","name":"ASR - Abort-Session-Request","props":[{"p":"action","v":"ASR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":563.1717427571615,"y":1328.5355319976807,"wires":[["8e733456dffe73f3"]]},{"id":"7391976f3b4f672e","type":"inject","z":"72fbf0bdf8eacc7e","name":"STA - Session Termination Answer","props":[{"p":"action","v":"STA","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":642.5858713785808,"y":1379.7677659988403,"wires":[["8e733456dffe73f3"]]},{"id":"6f29a8e98f3729e4","type":"debug","z":"72fbf0bdf8eacc7e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1391,"y":1091,"wires":[]},{"id":"e7c875ab3fc4dcf9","type":"inject","z":"72fbf0bdf8eacc7e","name":"STR - Session Termination Response","props":[{"p":"action","v":"STR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":752,"y":1431,"wires":[["8e733456dffe73f3"]]},{"id":"6921f489716b2488","type":"erlstatemachine","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","scope":["694464d2db98d2b3"],"emit_on_state_change":false,"x":767.6666259765625,"y":1791.833251953125,"wires":[["f3b60177df506d8a"]]},{"id":"a542bafecf8edb61","type":"inject","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":375.6666259765625,"y":1650.333251953125,"wires":[["6921f489716b2488"]]},{"id":"7753a578084a9c6c","type":"status","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","scope":["6921f489716b2488"],"x":687.6666259765625,"y":1872.333251953125,"wires":[["7ced67a9c5817563"]]},{"id":"7ced67a9c5817563","type":"switch","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"pending","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":1012.6666259765625,"y":2039.333251953125,"wires":[["421b156f142a1974"],["4efe877a6548bd9d"],["1a44a19e6a5cbf85"],["e6b383be9b39f6f3"],["25d2836cb37ecf90"]]},{"id":"ad9019c3a9076f43","type":"change","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"AAA - SUCCESS","rules":[{"t":"set","p":"action","pt":"msg","to":"AAA","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1296.6666259765625,"y":1717.333251953125,"wires":[["e5c550f9a0bd6869"]]},{"id":"4efe877a6548bd9d","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"open","count":1,"x":1256.6666259765625,"y":1979.7499389648438,"wires":[]},{"id":"f3b60177df506d8a","type":"switch","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","property":"_statem.state_curr","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1012.6666259765625,"y":1791.833251953125,"wires":[["ad9019c3a9076f43"],["602f322c771ae77e"],["9ae888b6d3b666ea"]]},{"id":"421b156f142a1974","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"idle","count":1,"x":1256.6666259765625,"y":1923.333251953125,"wires":[]},{"id":"602f322c771ae77e","type":"change","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"STR","rules":[{"t":"set","p":"action","pt":"msg","to":"STR","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1256.6666259765625,"y":1791.333251953125,"wires":[["e5c550f9a0bd6869"]]},{"id":"1a44a19e6a5cbf85","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"stop","count":1,"x":1256.6666259765625,"y":2036.1666259765625,"wires":[]},{"id":"e5c550f9a0bd6869","type":"link out","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"link out 1","mode":"link","links":["4cf46564070bdf77"],"x":1508.6666259765625,"y":1791.833251953125,"wires":[]},{"id":"4cf46564070bdf77","type":"link in","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"link in 1","links":["e5c550f9a0bd6869"],"x":482.6666259765625,"y":1791.833251953125,"wires":[["6921f489716b2488"]]},{"id":"9ae888b6d3b666ea","type":"ut-assert-values","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"ok","tot":"str"},{"t":"eql","p":"_statem.action","pt":"msg","to":"STR","tot":"str"},{"t":"eql","p":"_statem.state_curr","pt":"msg","to":"stop","tot":"str"},{"t":"eql","p":"_statem.state_prev","pt":"msg","to":"open","tot":"str"}],"x":1286.6666259765625,"y":1859.333251953125,"wires":[[]]},{"id":"7321d0c1bac1620d","type":"erlstatemachine","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","scope":["694464d2db98d2b3"],"emit_on_state_change":false,"x":770.9523315429688,"y":2386.333251953125,"wires":[["10a3cfa9680845fb"]]},{"id":"588956fd308c467e","type":"inject","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":378.95233154296875,"y":2244.833251953125,"wires":[["7321d0c1bac1620d"]]},{"id":"869579b1f98c0698","type":"status","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","scope":["7321d0c1bac1620d"],"x":688.0951271057129,"y":2471.118908882141,"wires":[["d60ce817c9c83271"]]},{"id":"1b4d047677f5fef4","type":"change","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"AAA - SUCCESS","rules":[{"t":"set","p":"action","pt":"msg","to":"AAA","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1276.6666259765625,"y":2291.833251953125,"wires":[["deece9da733ae7c0"]]},{"id":"10a3cfa9680845fb","type":"switch","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","property":"_statem.state_curr","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1016.9523315429688,"y":2386.333251953125,"wires":[["1b4d047677f5fef4"],["e7b0390739d8730b"],["e8e01469587ac077"],["2b169f86b4ccab91"]]},{"id":"e8e01469587ac077","type":"change","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"STR","rules":[{"t":"set","p":"action","pt":"msg","to":"STR","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1236.6666259765625,"y":2391.833251953125,"wires":[["deece9da733ae7c0"]]},{"id":"deece9da733ae7c0","type":"link out","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"link out 2","mode":"link","links":["91bc3397d7ef5d79"],"x":1491.9523315429688,"y":2391.833251953125,"wires":[]},{"id":"91bc3397d7ef5d79","type":"link in","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"link in 2","links":["deece9da733ae7c0"],"x":485.95233154296875,"y":2386.333251953125,"wires":[["7321d0c1bac1620d"]]},{"id":"2b169f86b4ccab91","type":"ut-assert-values","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"ok","tot":"str"},{"t":"eql","p":"_statem.action","pt":"msg","to":"STR","tot":"str"},{"t":"eql","p":"_statem.state_curr","pt":"msg","to":"stop","tot":"str"},{"t":"eql","p":"_statem.state_prev","pt":"msg","to":"disconnected","tot":"str"}],"x":1266.6666259765625,"y":2441.833251953125,"wires":[[]]},{"id":"e7b0390739d8730b","type":"change","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"ASR","rules":[{"t":"set","p":"action","pt":"msg","to":"ASR","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1236.6666259765625,"y":2341.833251953125,"wires":[["deece9da733ae7c0"]]},{"id":"7cccb76fe2488f1d","type":"erlstatemachine","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"","scope":["694464d2db98d2b3"],"emit_on_state_change":false,"x":775,"y":2972,"wires":[["8e031dbb38cd7315"]]},{"id":"653aa074e162e4e1","type":"inject","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":383,"y":2830.5,"wires":[["7cccb76fe2488f1d"]]},{"id":"fe97a32d1870b162","type":"status","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"","scope":["7cccb76fe2488f1d"],"x":692.1427955627441,"y":3056.785656929016,"wires":[["a6927b1a67322acd"]]},{"id":"a10c20363c17899a","type":"change","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"AAA - SUCCESS","rules":[{"t":"set","p":"action","pt":"msg","to":"AAA","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1509.71435546875,"y":2821.5,"wires":[["a8110fe39e06128a"]]},{"id":"8e031dbb38cd7315","type":"switch","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"","property":"_statem.state_curr","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1026,"y":2972,"wires":[["8bb9f224adea75d0"],["4421fc7d14209d6b"],["4333ebcdb2d09e97"],["6ccaf6efcfddcd8e"]]},{"id":"4333ebcdb2d09e97","type":"change","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"ASA","rules":[{"t":"set","p":"action","pt":"msg","to":"ASA","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360.7142944335938,"y":2977.5,"wires":[["a8110fe39e06128a"]]},{"id":"a8110fe39e06128a","type":"link out","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"link out 3","mode":"link","links":["1f3f46d3ea3aac6e"],"x":1716,"y":2977.5,"wires":[]},{"id":"1f3f46d3ea3aac6e","type":"link in","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"link in 3","links":["a8110fe39e06128a"],"x":490,"y":2972,"wires":[["7cccb76fe2488f1d"]]},{"id":"747d7bb7863b85b0","type":"ut-assert-values","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"ok","tot":"str"},{"t":"eql","p":"_statem.action","pt":"msg","to":"ASA","tot":"str"},{"t":"eql","p":"_statem.state_curr","pt":"msg","to":"idle","tot":"str"},{"t":"eql","p":"_statem.state_prev","pt":"msg","to":"disconnected","tot":"str"}],"x":1499.71435546875,"y":2873.5,"wires":[[]]},{"id":"4421fc7d14209d6b","type":"change","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"ASR","rules":[{"t":"set","p":"action","pt":"msg","to":"ASR","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360.7142944335938,"y":2927.5,"wires":[["a8110fe39e06128a"]]},{"id":"8bb9f224adea75d0","type":"switch","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"previous!= disconnected","property":"_statem.state_prev","propertyType":"msg","rules":[{"t":"neq","v":"disconnected","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1244,"y":2827.5,"wires":[["a10c20363c17899a"],["747d7bb7863b85b0"]]},{"id":"6ccaf6efcfddcd8e","type":"ut-assert-failure","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"","x":1382,"y":3031,"wires":[]},{"id":"e5a891ef63fc7a4c","type":"erlstatemachine","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"","scope":["694464d2db98d2b3"],"emit_on_state_change":false,"x":783,"y":3566,"wires":[["522fa82d957e0570"]]},{"id":"0ca1b14656903f02","type":"inject","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":391,"y":3424.5,"wires":[["e5a891ef63fc7a4c"]]},{"id":"65cbedbb9463117c","type":"status","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"","scope":["e5a891ef63fc7a4c"],"x":700.1427955627441,"y":3650.785656929016,"wires":[["178f0d65a8b866b2"]]},{"id":"178f0d65a8b866b2","type":"switch","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"pending","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":1029,"y":3776.7857208251953,"wires":[["ca2db5fbfb98235c"],["cf0f2c97b91fab85"],["8efbbce165e2ce45"],["796fe1ba2df53bda"],["b8978bfbeb242e01"]]},{"id":"cb4265fd6878b053","type":"change","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"AAA - SUCCESS","rules":[{"t":"set","p":"action","pt":"msg","to":"AAA","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1427.71435546875,"y":3419.5,"wires":[["19ae58d3e0e0feac"]]},{"id":"cf0f2c97b91fab85","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"open","count":"2","x":1258.7142944335938,"y":3729.5298047065735,"wires":[]},{"id":"522fa82d957e0570","type":"switch","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"","property":"_statem.state_curr","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"pending","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1029,"y":3566,"wires":[["cb4265fd6878b053"],["e3da4d3765dd9fb7"],["c7ec19102deb9b85"],["d33e118829648869"]]},{"id":"ca2db5fbfb98235c","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"idle","count":"1","x":1248.7142944335938,"y":3681.5,"wires":[]},{"id":"c7ec19102deb9b85","type":"change","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"RAA - SUCCESS","rules":[{"t":"set","p":"action","pt":"msg","to":"RAA","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1408.7142944335938,"y":3571.5,"wires":[["19ae58d3e0e0feac"]]},{"id":"19ae58d3e0e0feac","type":"link out","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"link out 4","mode":"link","links":["5b1ec699eca75427"],"x":1724,"y":3571.5,"wires":[]},{"id":"5b1ec699eca75427","type":"link in","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"link in 4","links":["19ae58d3e0e0feac"],"x":498,"y":3566,"wires":[["e5a891ef63fc7a4c"]]},{"id":"ead8474ce1be0b36","type":"change","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"ASR","rules":[{"t":"set","p":"action","pt":"msg","to":"RAR","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1489.71435546875,"y":3478.5,"wires":[["19ae58d3e0e0feac"]]},{"id":"b8978bfbeb242e01","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"pending","count":1,"x":1258.7142944335938,"y":3873.619218826294,"wires":[]},{"id":"8efbbce165e2ce45","type":"ut-assert-failure","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"stop","x":1248.7142944335938,"y":3777.559609413147,"wires":[]},{"id":"d33e118829648869","type":"ut-assert-failure","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"","x":1390,"y":3625,"wires":[]},{"id":"796fe1ba2df53bda","type":"ut-assert-failure","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"disconnected","x":1278.7142944335938,"y":3825.5894141197205,"wires":[]},{"id":"e3da4d3765dd9fb7","type":"switch","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"previous!= disconnected","property":"_statem.state_prev","propertyType":"msg","rules":[{"t":"neq","v":"pending","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1289,"y":3532,"wires":[["ead8474ce1be0b36"],["f858c15561bde289"]]},{"id":"f858c15561bde289","type":"ut-assert-values","z":"72fbf0bdf8eacc7e","g":"17b5b45fed15b398","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"ok","tot":"str"},{"t":"eql","p":"_statem.action","pt":"msg","to":"RAA","tot":"str"},{"t":"eql","p":"_statem.state_curr","pt":"msg","to":"open","tot":"str"},{"t":"eql","p":"_statem.state_prev","pt":"msg","to":"pending","tot":"str"},{"t":"eql","p":"_statem.payload","pt":"msg","to":"SUCCESS","tot":"str"}],"x":1517,"y":3522,"wires":[[]]},{"id":"a6927b1a67322acd","type":"switch","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"pending","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":1026,"y":3196,"wires":[["4a5896cc88afc1db"],["23e54bb747595917"],["cde3a8011e4737dd"],["16bfcddd3e0421c6"],["a1cc5125c9dc33e0"]]},{"id":"23e54bb747595917","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"open","count":"1","x":1243,"y":3144.7857093811035,"wires":[]},{"id":"4a5896cc88afc1db","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"idle","count":"2","x":1243,"y":3093.7142791748047,"wires":[]},{"id":"cde3a8011e4737dd","type":"ut-assert-failure","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"stop","x":1243,"y":3195.8571395874023,"wires":[]},{"id":"16bfcddd3e0421c6","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"disconnected","count":"0","x":1273,"y":3246.928569793701,"wires":[]},{"id":"a1cc5125c9dc33e0","type":"ut-assert-failure","z":"72fbf0bdf8eacc7e","g":"c48b9bce7005cf1c","name":"pending","x":1253,"y":3298,"wires":[]},{"id":"d60ce817c9c83271","type":"switch","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"pending","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":1016.9523315429688,"y":2609,"wires":[["bc9b5a3eba34b368"],["fdb1a2650b16c5d7"],["5e07206861ac6ea8"],["df8bd552df710adc"],["4c8129fb5f68f0e8"]]},{"id":"bc9b5a3eba34b368","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"idle","count":"1","x":1234,"y":2506.7142791748047,"wires":[]},{"id":"fdb1a2650b16c5d7","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"open","count":"1","x":1234,"y":2557.7857093811035,"wires":[]},{"id":"4c8129fb5f68f0e8","type":"ut-assert-failure","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"pending","x":1244,"y":2711,"wires":[]},{"id":"df8bd552df710adc","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"disconnected","count":"0","x":1264,"y":2659.928569793701,"wires":[]},{"id":"5e07206861ac6ea8","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"stop","count":"1","x":1234,"y":2608.8571395874023,"wires":[]},{"id":"e6b383be9b39f6f3","type":"ut-assert-failure","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"disconnected","x":1286.6666259765625,"y":2092.5833129882812,"wires":[]},{"id":"25d2836cb37ecf90","type":"ut-assert-failure","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"pending","x":1266.6666259765625,"y":2149,"wires":[]}]