testflows/a862ae412a70ded1/flows.json
[{"id":"a862ae412a70ded1","type":"tab","label":"[.jsonata] $substring functionality","disabled":false,"info":"","env":[]},{"id":"49c476a9b6c1a855","type":"inject","z":"a862ae412a70ded1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":406,"y":588,"wires":[["a8e0e2381ca08875"]]},{"id":"a8e0e2381ca08875","type":"change","z":"a862ae412a70ded1","name":"","rules":[{"t":"set","p":"sub_0_4","pt":"msg","to":"$substring(\"abcd1234\", 0, 4 )","tot":"jsonata"},{"t":"set","p":"sub_2","pt":"msg","to":"$substring(\"abcd1234\", 2)","tot":"jsonata"},{"t":"set","p":"sub_2_6","pt":"msg","to":"$substring(\"abcd1234\", 2, 6)","tot":"jsonata"},{"t":"set","p":"sub_neg_2_2","pt":"msg","to":"$substring(\"abcd1234\", -2, 2)","tot":"jsonata"},{"t":"set","p":"sub_neg_4_4","pt":"msg","to":"$substring(\"abcd1234\", -4, 4)","tot":"jsonata"},{"t":"set","p":"sub_2_4","pt":"msg","to":"$substring(\"abcd1234\", 2, 4)","tot":"jsonata"},{"t":"set","p":"sub_neg_2","pt":"msg","to":"$substring(\"abcd1234\", -2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":563,"y":697,"wires":[["47bf32caa773e385"]]},{"id":"47bf32caa773e385","type":"ut-assert-values","z":"a862ae412a70ded1","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"sub_0_4","pt":"msg","to":"abcd","tot":"str"},{"t":"eql","p":"sub_2","pt":"msg","to":"cd1234","tot":"str"},{"t":"eql","p":"sub_2_6","pt":"msg","to":"cd1234","tot":"str"},{"t":"eql","p":"sub_neg_2_2","pt":"msg","to":"34","tot":"str"},{"t":"eql","p":"sub_neg_4_4","pt":"msg","to":"1234","tot":"str"},{"t":"eql","p":"sub_2_4","pt":"msg","to":"cd12","tot":"str"},{"t":"eql","p":"sub_neg_2","pt":"msg","to":"34","tot":"str"}],"x":783,"y":822,"wires":[[]]}]