testflows/e1ced3b16782f7c8/flows.json
[{"id":"e1ced3b16782f7c8","type":"tab","label":"[junction] should just pass on the message","disabled":false,"info":"","env":[]},{"id":"5ec8639204379324","type":"junction","z":"e1ced3b16782f7c8","x":761.0000014305115,"y":494.71428632736206,"wires":[["601a75e7083fd44e","985135313ebea7b1"]]},{"id":"601a75e7083fd44e","type":"junction","z":"e1ced3b16782f7c8","x":1035,"y":495,"wires":[["ca29c4bd63cd344c","7f134138a938960c","4407397e88ab8eea"]]},{"id":"4407397e88ab8eea","type":"junction","z":"e1ced3b16782f7c8","x":1298.5714285714284,"y":498.5714285714285,"wires":[["b103f3998181ad9f","3fce3d16c4c69002"]]},{"id":"323c39235c019b84","type":"inject","z":"e1ced3b16782f7c8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":413,"y":330,"wires":[["5ec8639204379324"]]},{"id":"ca29c4bd63cd344c","type":"ut-assert-success","z":"e1ced3b16782f7c8","name":"","count":1,"x":1791,"y":283,"wires":[]},{"id":"b103f3998181ad9f","type":"ut-assert-success","z":"e1ced3b16782f7c8","name":"","count":1,"x":1791,"y":545.5,"wires":[]},{"id":"7f134138a938960c","type":"ut-assert-success","z":"e1ced3b16782f7c8","name":"","count":1,"x":1791,"y":808,"wires":[]},{"id":"985135313ebea7b1","type":"ut-assert-success","z":"e1ced3b16782f7c8","name":"","count":1,"x":968.5,"y":690,"wires":[]},{"id":"3fce3d16c4c69002","type":"ut-assert-success","z":"e1ced3b16782f7c8","name":"","count":1,"x":1595.7142715454102,"y":395.71427726745605,"wires":[]}]