testflows/5cf6aec7d688fce4/flows.json
[{"id":"5cf6aec7d688fce4","type":"tab","label":"[join] results are not ordered by index","disabled":false,"info":"## Use parts\n\nThe results of the join aren't ordered by index even if all elements are there.\n\nInstead the result array is in order of how the messages were received.","env":[]},{"id":"ad57d9e928c18549","type":"inject","z":"5cf6aec7d688fce4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]","payloadType":"json","x":584,"y":433,"wires":[["08adef1d3664f9c4"]]},{"id":"54918483794406a0","type":"change","z":"5cf6aec7d688fce4","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"(30 - $$.payload) * 50","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":715,"y":604,"wires":[["7fc13d5a8229a5fa"]]},{"id":"08adef1d3664f9c4","type":"split","z":"5cf6aec7d688fce4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":638,"y":523,"wires":[["54918483794406a0"]]},{"id":"7fc13d5a8229a5fa","type":"delay","z":"5cf6aec7d688fce4","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":767,"y":721,"wires":[["f79c0f543c48cae7"]]},{"id":"f79c0f543c48cae7","type":"join","z":"5cf6aec7d688fce4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":934,"y":810,"wires":[["73f719b2b2f74db6"]]},{"id":"73f719b2b2f74db6","type":"ut-assert-values","z":"5cf6aec7d688fce4","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0]","tot":"json"}],"x":1170,"y":831,"wires":[[]]}]