testflows/3e9e526b992d4c48/flows.json
[{"id":"3e9e526b992d4c48","type":"tab","label":"[.jsonata] ensure random is seeded","disabled":false,"info":"## Random should be Random\n\nErlang has uniform randomness for each new process. So seed the random number generator for each new process, i.e., node.\n\n## Setup\n\nGenerate four separate random msg ids, collect them together, reduce the array to the distinct ids and then count the number of members of the array.\n\nThis should be 4 - four distinct random message ids.\n","env":[]},{"id":"47a7327e713feea9","type":"inject","z":"3e9e526b992d4c48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":221.11119842529297,"y":367.7777805328369,"wires":[["2bda967f49af0883","1491a16261b1266c","8268a04009c474d6","ba3150011b29690e"]]},{"id":"2bda967f49af0883","type":"change","z":"3e9e526b992d4c48","name":"generate random msg id","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":521.1111602783203,"y":488.8889045715332,"wires":[["6ea268a1a07e64a7"]]},{"id":"1491a16261b1266c","type":"change","z":"3e9e526b992d4c48","name":"generate random msg id","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":521.1111602783203,"y":418.888916015625,"wires":[["6ea268a1a07e64a7"]]},{"id":"8268a04009c474d6","type":"change","z":"3e9e526b992d4c48","name":"generate random msg id","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":521.1111602783203,"y":337.7778015136719,"wires":[["6ea268a1a07e64a7"]]},{"id":"ba3150011b29690e","type":"change","z":"3e9e526b992d4c48","name":"generate random msg id","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":521.1111602783203,"y":261.1111145019531,"wires":[["6ea268a1a07e64a7"]]},{"id":"6ea268a1a07e64a7","type":"join","z":"3e9e526b992d4c48","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":847.7777777777777,"y":373.88888888888886,"wires":[["a4e8ed62edd1d483"]]},{"id":"a4e8ed62edd1d483","type":"change","z":"3e9e526b992d4c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$count($distinct($map($$.payload, function ($v) { $v.payload })))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":641.1111602783203,"y":723.3334541320801,"wires":[["87ced4050a118b2b"]]},{"id":"87ced4050a118b2b","type":"ut-assert-values","z":"3e9e526b992d4c48","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"4","tot":"num"}],"x":363.33335876464844,"y":1209.9999332427979,"wires":[[]]}]