testflows/f94db507552f4934/flows.json
[
    {
        "id": "f94db507552f4934",
        "type": "tab",
        "label": "[catch] deal with it yourself",
        "disabled": false,
        "info": "If the catch node is disabled, then a node has to do something by itself\n",
        "env": [
            {
                "name": "NRED_PENDING",
                "value": "true",
                "type": "bool"
            }
        ]
    },
    {
        "id": "9e18baf7e0889dad",
        "type": "catch",
        "z": "f94db507552f4934",
        "d": true,
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 361,
        "y": 467.25,
        "wires": [
            [
                "143c0ba573b8b6b8"
            ]
        ]
    },
    {
        "id": "d46005ed85071b3d",
        "type": "inject",
        "z": "f94db507552f4934",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 144,
        "y": 467.25,
        "wires": [
            [
                "44c66f81d4f45cc9",
                "8231e588c38b43cf"
            ]
        ]
    },
    {
        "id": "44c66f81d4f45cc9",
        "type": "file in",
        "z": "f94db507552f4934",
        "name": "this file does not exist",
        "filename": "this file does not exist",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 398,
        "y": 617,
        "wires": [
            [
                "582cb0e7df56cd98"
            ]
        ]
    },
    {
        "id": "8231e588c38b43cf",
        "type": "ut-assert-values",
        "z": "f94db507552f4934",
        "name": "",
        "rules": [
            {
                "p": "error",
                "pt": "msg",
                "t": "notset"
            }
        ],
        "x": 360,
        "y": 288,
        "wires": [
            []
        ]
    },
    {
        "id": "e2c4d5d899ec5ba9",
        "type": "ut-assert-debug",
        "z": "f94db507552f4934",
        "name": "",
        "scope": [
            "44c66f81d4f45cc9"
        ],
        "nodeid": "44c66f81d4f45cc9",
        "msgtype": "error",
        "inverse": false,
        "x": 547,
        "y": 692.5,
        "wires": [
            [
                "4776773f6dc5f3b9"
            ]
        ]
    },
    {
        "id": "143c0ba573b8b6b8",
        "type": "ut-assert-failure",
        "z": "f94db507552f4934",
        "name": "",
        "x": 631,
        "y": 467.25,
        "wires": []
    },
    {
        "id": "582cb0e7df56cd98",
        "type": "ut-assert-failure",
        "z": "f94db507552f4934",
        "name": "",
        "x": 682,
        "y": 559,
        "wires": []
    },
    {
        "id": "4776773f6dc5f3b9",
        "type": "ut-assert-values",
        "z": "f94db507552f4934",
        "name": "",
        "ignore_failure_if_succeed": false,
        "rules": [
            {
                "p": "payload.format",
                "pt": "msg",
                "t": "eql",
                "to": "object",
                "tot": "str"
            },
            {
                "p": "payload.name",
                "pt": "msg",
                "t": "eql",
                "to": "this file does not exist",
                "tot": "str"
            }
        ],
        "x": 921,
        "y": 692.5,
        "wires": [
            []
        ]
    }
]