testflows/eb447048178f6e16/flows.json
[
    {
        "id": "eb447048178f6e16",
        "type": "tab",
        "label": "[.jsonata] ensure that $millis() works",
        "disabled": false,
        "info": "$millis() is a NodeRED special that has special behaviour:\n\n> All invocations of $millis() within an evaluation of an expression will all return the same value.\n\nSo this test ensures that behaviour is covered.",
        "env": [
            {
                "name": "ERED_PENDING",
                "value": "false",
                "type": "bool"
            }
        ]
    },
    {
        "id": "6e4e7d888cabf325",
        "type": "inject",
        "z": "eb447048178f6e16",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"key\": $millis() - $millis() }",
        "payloadType": "jsonata",
        "x": 146,
        "y": 128.5,
        "wires": [
            [
                "11c4e9bc27404a44"
            ]
        ]
    },
    {
        "id": "11c4e9bc27404a44",
        "type": "ut-assert-values",
        "z": "eb447048178f6e16",
        "name": "",
        "ignore_failure_if_succeed": false,
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"key\": 0 }",
                "tot": "json"
            }
        ],
        "x": 577,
        "y": 128.5,
        "wires": [
            []
        ]
    },
    {
        "id": "e671799b9d0a12a2",
        "type": "inject",
        "z": "eb447048178f6e16",
        "name": "",
        "props": [
            {
                "p": "one",
                "v": "$millis()",
                "vt": "jsonata"
            },
            {
                "p": "pause",
                "v": "$flowContext(\"ddd\")",
                "vt": "jsonata"
            },
            {
                "p": "pause2",
                "v": "$flowContext(\"ddd1\")",
                "vt": "str"
            },
            {
                "p": "pause3",
                "v": "$flowContext(\"ddd2\")",
                "vt": "str"
            },
            {
                "p": "pause4",
                "v": "$flowContext(\"ddd3\")",
                "vt": "str"
            },
            {
                "p": "two",
                "v": "$millis()",
                "vt": "jsonata"
            },
            {
                "p": "three",
                "v": "$$.two - $$.one",
                "vt": "jsonata"
            },
            {
                "p": "should_be_zero",
                "v": "$reverse($split( $millis() & \" \" & $flowContext(\"ddd\") & \" \" & $millis() & \" \" & ($millis()  - $millis()), \" \"))[0]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 146,
        "y": 280,
        "wires": [
            [
                "c0da342d8ede7a27"
            ]
        ]
    },
    {
        "id": "c0da342d8ede7a27",
        "type": "ut-assert-values",
        "z": "eb447048178f6e16",
        "name": "",
        "ignore_failure_if_succeed": false,
        "rules": [
            {
                "t": "noteql",
                "p": "three",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "eql",
                "p": "should_be_zero",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "x": 540,
        "y": 280,
        "wires": [
            []
        ]
    }
]