testflows/eb447048178f6e16/flows.json
[
    {
        "id": "eb447048178f6e16",
        "type": "tab",
        "label": "[.jsonata] ensure that $millis() works",
        "disabled": false,
        "info": "$millis() is a NodeRED special that has special behaviour:\n\n> All invocations of $millis() within an evaluation of an expression will all return the same value.\n\nSo this test ensures that behaviour is covered.",
        "env": [
            {
                "name": "ERED_PENDING",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "NRED_PENDING",
                "value": "false",
                "type": "bool"
            }
        ]
    },
    {
        "id": "4305d2a6e180fe99",
        "type": "group",
        "z": "eb447048178f6e16",
        "g": "8d99a4ba3d02349a",
        "name": "",
        "style": {
            "fill": "#ffffff",
            "label": true
        },
        "nodes": [
            "a37d9d97bc0b6647"
        ],
        "x": 230.5,
        "y": 100,
        "w": 232,
        "h": 82
    },
    {
        "id": "8d99a4ba3d02349a",
        "type": "group",
        "z": "eb447048178f6e16",
        "name": "",
        "style": {
            "fill": "#ff0000",
            "label": true
        },
        "nodes": [
            "4305d2a6e180fe99"
        ],
        "x": 204.5,
        "y": 74,
        "w": 284,
        "h": 134
    },
    {
        "id": "6e4e7d888cabf325",
        "type": "inject",
        "z": "eb447048178f6e16",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"key\": $millis() - $millis() }",
        "payloadType": "jsonata",
        "x": 279,
        "y": 326.5,
        "wires": [
            [
                "11c4e9bc27404a44"
            ]
        ]
    },
    {
        "id": "11c4e9bc27404a44",
        "type": "ut-assert-values",
        "z": "eb447048178f6e16",
        "name": "",
        "ignore_failure_if_succeed": false,
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"key\": 0 }",
                "tot": "json"
            }
        ],
        "x": 710,
        "y": 326.5,
        "wires": [
            []
        ]
    },
    {
        "id": "e671799b9d0a12a2",
        "type": "inject",
        "z": "eb447048178f6e16",
        "name": "",
        "props": [
            {
                "p": "one",
                "v": "$millis()",
                "vt": "jsonata"
            },
            {
                "p": "pause",
                "v": "$flowContext(\"ddd\")",
                "vt": "jsonata"
            },
            {
                "p": "pause2",
                "v": "$flowContext(\"ddd1\")",
                "vt": "str"
            },
            {
                "p": "pause3",
                "v": "$flowContext(\"ddd2\")",
                "vt": "str"
            },
            {
                "p": "pause4",
                "v": "$flowContext(\"ddd3\")",
                "vt": "str"
            },
            {
                "p": "two",
                "v": "$millis()",
                "vt": "jsonata"
            },
            {
                "p": "three",
                "v": "$$.two - $$.one",
                "vt": "jsonata"
            },
            {
                "p": "should_be_zero",
                "v": "$reverse($split( $millis() & \" \" & $flowContext(\"ddd\") & \" \" & $millis() & \" \" & ($millis()  - $millis()), \" \"))[0]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 279,
        "y": 478,
        "wires": [
            [
                "c0da342d8ede7a27"
            ]
        ]
    },
    {
        "id": "c0da342d8ede7a27",
        "type": "ut-assert-values",
        "z": "eb447048178f6e16",
        "name": "",
        "ignore_failure_if_succeed": false,
        "rules": [
            {
                "t": "noteql",
                "p": "three",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "eql",
                "p": "should_be_zero",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "x": 673,
        "y": 478,
        "wires": [
            []
        ]
    },
    {
        "id": "a37d9d97bc0b6647",
        "type": "comment",
        "z": "eb447048178f6e16",
        "g": "4305d2a6e180fe99",
        "name": "Warning might fail",
        "info": "This is time depended test where steps in the second inject node need to take longer than a second. The point is to demostrate that $millis() is the same within one call but differs between separate calls.\n\nFor that, there a couple of $flowContext(..) calls that meant to take non-zero time, collectively they should hit at least one second. This isn't always the case, hence false negatives.",
        "x": 346.5,
        "y": 141,
        "wires": []
    }
]