examples/435d3b48dd0f462c/flows.json
[{"id":"435d3b48dd0f462c","type":"tab","label":"[split] silently ignore integer as a value to split","disabled":false,"info":"","env":[]},{"id":"82fcd9c8dd87117b","type":"inject","z":"435d3b48dd0f462c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1234","payloadType":"num","x":391,"y":637,"wires":[["2ea9e348f4cee16c"]]},{"id":"2ea9e348f4cee16c","type":"split","z":"435d3b48dd0f462c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":582,"y":719,"wires":[["eb852e656f0c2080"]]},{"id":"eb852e656f0c2080","type":"ut-assert-failure","z":"435d3b48dd0f462c","name":"","x":824,"y":719,"wires":[]}]