testflows/d17fb2553fe8013a/flows.json
[{"id":"d17fb2553fe8013a","type":"tab","label":"[trigger] initial example","disabled":false,"info":"Trigger node is triggered by an initial message and then triggers a second message.\n\n","env":[{"name":"ERED_TIMEOUT","value":"5","type":"num"}]},{"id":"469703f8c105f0e3","type":"trigger","z":"d17fb2553fe8013a","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":540.5,"y":556,"wires":[["653a627dfd6a4008","cd24ab10540f47fb"]]},{"id":"9fbaee16b9177eab","type":"trigger","z":"d17fb2553fe8013a","name":"","op1":"1","op2":"reset","op1type":"str","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"s","reset":"reset","bytopic":"all","topic":"topic","outputs":1,"x":343.5,"y":429,"wires":[["469703f8c105f0e3","e3130083fc4393a7"]]},{"id":"145960ef1fd08774","type":"inject","z":"d17fb2553fe8013a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":151,"y":321,"wires":[["9fbaee16b9177eab"]]},{"id":"653a627dfd6a4008","type":"trigger","z":"d17fb2553fe8013a","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":749,"y":694,"wires":[["46f16af544a8b248"]]},{"id":"46f16af544a8b248","type":"ut-assert-success","z":"d17fb2553fe8013a","name":"","count":"8","x":1120,"y":694,"wires":[]},{"id":"cd24ab10540f47fb","type":"ut-assert-success","z":"d17fb2553fe8013a","name":"","count":"4","x":983,"y":556,"wires":[]},{"id":"e3130083fc4393a7","type":"ut-assert-success","z":"d17fb2553fe8013a","name":"","count":"2","x":818,"y":429,"wires":[]}]