testflows/d97b4eeb4ce93f0b/flows.json
[{"id":"d97b4eeb4ce93f0b","type":"tab","label":"[function] supervisor interaction","disabled":false,"info":"## Function versus Supervisor Node - the battle of the Titans.\n\nHow to combine function nodes and supervisor nodes?\n\nBoth of these nodes create so many sub-processes, that it really is an Herculean effort to handle all possible uses cases. Just to think of a few:\n\n- Supervisor supervises two function nodes, one goes down and has \"one for all\" restart policy. The function nodes have spun up many processes because they generate a process per message. How to stop all these subprocesses of the function nodes?\n\n- Function node has timeout sent and times out. Does that mean the entire node fails and the supervisor should restart it? If there is no supervisor to restart the function node, what does it do then?\n\n## Scenarios\n\n- Without supervisor\n\n  - Function node timeouts out\n     - kill all subprocesses?\n     - does the node die?\n     - kill only the single function execution?","env":[{"name":"ERED_TIMEOUT","type":"num","value":"10"},{"name":"ERED_NOT_EUNIT","type":"bool","value":"true"}]},{"id":"6adce2d9100dbbc8","type":"group","z":"d97b4eeb4ce93f0b","name":"no supervisor","style":{"label":true},"nodes":["bc95ad55c8bf71e5","ecdb879db06be5b4","d0a2af3f953cd151","f4c1557ae869cd5d","69d38978303d7e16"],"x":299,"y":218.5,"w":697,"h":160.75},{"id":"04586e23cbceab99","type":"group","z":"d97b4eeb4ce93f0b","name":"restart one-for-one","style":{"label":true},"nodes":["aa4740bbcd60b01c","c8709d14b8a4779f","df8d703ede1b70d8","43d70610c6d0c6a3","e7ecae2332e26508","64bb065a9a7c72db"],"x":171,"y":632,"w":1027,"h":361.75},{"id":"bc95ad55c8bf71e5","type":"function","z":"d97b4eeb4ce93f0b","g":"6adce2d9100dbbc8","name":"function 1","func":"io:format( \"I was started with ~p~n\",[self()]),\ntimer:sleep(5_000),\nexit(self(), absolute_filaure)\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":647,"y":338.25,"wires":[["f4c1557ae869cd5d"]]},{"id":"ecdb879db06be5b4","type":"inject","z":"d97b4eeb4ce93f0b","g":"6adce2d9100dbbc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":405,"y":259.5,"wires":[["bc95ad55c8bf71e5","d0a2af3f953cd151"]]},{"id":"d0a2af3f953cd151","type":"function","z":"d97b4eeb4ce93f0b","g":"6adce2d9100dbbc8","name":"function 3","func":"io:format( \"I was started with timeout ~p~n\",[self()]),\ntimer:sleep(10_000),\nexit(self(), absolute_filaure)\n","outputs":1,"timeout":"5","noerr":0,"initialize":"","finalize":"","libs":[],"x":646,"y":259.5,"wires":[["69d38978303d7e16"]]},{"id":"aa4740bbcd60b01c","type":"inject","z":"d97b4eeb4ce93f0b","g":"04586e23cbceab99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":277,"y":868,"wires":[["c8709d14b8a4779f","df8d703ede1b70d8"]]},{"id":"c8709d14b8a4779f","type":"function","z":"d97b4eeb4ce93f0b","g":"04586e23cbceab99","name":"function with long running process - 5 second sleep and no node timeout","func":"io:format( \"I was started with as ~p with 5s sleep~n\",[self()]),\ntimer:sleep(5_000),\nio:format( \"Good morning, completed my sleep ~p ~n\",[self()]),\nMsg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":696,"y":952.75,"wires":[["e7ecae2332e26508"]]},{"id":"df8d703ede1b70d8","type":"function","z":"d97b4eeb4ce93f0b","g":"04586e23cbceab99","name":"function with timeout after two seconds","func":"io:format( \"I was started with timeout ~p~n\",[self()]),\ntimer:sleep(10_000),\nio:format( \"slept ten secons, now exiting~n\",[]),\nexit(self(), absolute_filaure)\n","outputs":1,"timeout":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":596,"y":782.75,"wires":[["64bb065a9a7c72db"]]},{"id":"43d70610c6d0c6a3","type":"erlsupervisor","z":"d97b4eeb4ce93f0b","g":"04586e23cbceab99","name":"","scope":["c8709d14b8a4779f","df8d703ede1b70d8"],"supervisor_type":"static","strategy":"one_for_one","auto_shutdown":"never","intensity":"5","period":"15","child_type":"worker","child_restart":"permanent","child_shutdown":"brutal_kill","child_shutdown_timeout":"0","x":549,"y":673,"wires":[[]]},{"id":"f4c1557ae869cd5d","type":"ut-assert-failure","z":"d97b4eeb4ce93f0b","g":"6adce2d9100dbbc8","name":"","x":900,"y":338.25,"wires":[]},{"id":"69d38978303d7e16","type":"ut-assert-failure","z":"d97b4eeb4ce93f0b","g":"6adce2d9100dbbc8","name":"","x":900,"y":259.5,"wires":[]},{"id":"e7ecae2332e26508","type":"ut-assert-success","z":"d97b4eeb4ce93f0b","g":"04586e23cbceab99","name":"","count":1,"x":1102,"y":952.75,"wires":[]},{"id":"64bb065a9a7c72db","type":"ut-assert-failure","z":"d97b4eeb4ce93f0b","g":"04586e23cbceab99","name":"","x":1102,"y":782.75,"wires":[]}]