testflows/1ac53952c6ec6ef6/flows.json
[{"id":"1ac53952c6ec6ef6","type":"tab","label":"[eventhandler] handle normal exits","disabled":false,"info":"## Parent process of event handler\n\nA followup of [eventhandler + supervisor](https://flows.red-erik.org/f/1c559e3b05c03dbd).\n\nWhat happens here is that the handler process dies, leaving the parent process alone.\n\n## Process tree\n\n```mermaid\n%% Generated by the Flow2UML Node @ https://flowhub.org/flow2uml\n%% change direction to LR for Node-RED left-to-right UML\nflowchart TB\n089557e075e89df5@{ shape: \"rect\", label: \"Event Handler Parent Process\" } -- \"Handler PID\" --> 8d8f80fbcdad0734@{ shape: \"rect\", label: \"event handler module\" }\n089557e075e89df5@{ shape: \"rect\", label: \"Event Handler Parent Process\" } -- \"Handler PID\" --> ab05ac8e6df89e27@{ shape: \"rect\", label: \"event handler module\" }\n089557e075e89df5@{ shape: \"rect\", label: \"Event Handler Parent Process\" } -- \"Handler PID\" --> 23a078dea3c59e5b@{ shape: \"rect\", label: \"event handler module\" }\n089557e075e89df5@{ shape: \"rect\", label: \"Event Handler Parent Process\" } -- \"Handler PID\" --> 2cca665c497a8fe9@{ shape: \"rect\", label: \"event handler module\" }\n65e338689e3ae5c4@{ shape: \"rect\", label: \"Event Handler Node Process\" } -- \"Monitored PID\" --> 089557e075e89df5@{ shape: \"rect\", label: \"Event Handler Parent Process\" }\nsubgraph \"gen_event\"\n089557e075e89df5\n2cca665c497a8fe9\n23a078dea3c59e5b\nab05ac8e6df89e27\n8d8f80fbcdad0734\nend\nsubgraph \"ered_node_erleventhandler.erl\"\n65e338689e3ae5c4\nend\n```\n\n","env":[]},{"id":"64295bd753dce298","type":"group","z":"1ac53952c6ec6ef6","name":"generate a_single_event events","style":{"label":true},"nodes":["61b50c2a9f5795af","824b4cde9aed4e05","6a70fec54efdd16f"],"x":60.66656494140625,"y":576.28564453125,"w":630.3334045410156,"h":160.70833110809326},{"id":"1eda784d2d663d5d","type":"erlmodule","z":"1ac53952c6ec6ef6","name":"","module_name":"kill_event_handler_process_1ac53952c6ec6ef6","code":"-module(kill_event_handler_process_1ac53952c6ec6ef6).\n\n-behaviour(gen_event).\n\n-export([\n    init/1,\n    handle_event/2,\n    handle_call/2,\n    handle_info/2,\n    terminate/2,\n    code_change/3\n]).\n\n-import(ered_nodes, [\n    send_msg_to_connected_nodes/2\n]).\n\ninit(_Args) ->\n    {ok, #{count => 1}}.\n\nhandle_event({<<\"a_single_event\">>, _Msg, #{ '_eventh_pid' := _HndlrParentPid} = _EventHandlerNodeDef}, #{ count := Count } = State) when Count > 5 ->\n    exit(self(), normal),\n    {ok, State#{ count => Count + 1 }};\n\nhandle_event({<<\"a_single_event\">>, Msg, EventHandlerNodeDef}, #{ count := Count } = State) ->\n    Msg2 = Msg#{ \n        <<\"handled\">> => <<\"a_single_event\">>, \n        <<\"count\">> => Count,\n        <<\"handler\">> => ?MODULE\n    },    \n    send_msg_to_connected_nodes(EventHandlerNodeDef, Msg2),\n    {ok, State#{ count => Count + 1 }};\n\nhandle_event(_Event, State) ->\n    {ok, State}.\n\nhandle_call(_Request, State) ->\n    {ok, ok, State}.\n\nhandle_info(_Info, State) ->\n    {ok, State}.\n\nterminate(Args, _State) ->\n    Args.\n\ncode_change(_OldVsn, State, _Extra) ->\n    {ok, State}.\n","x":981.3333129882812,"y":396.33331298828125,"wires":[]},{"id":"1513cd820077aff6","type":"inject","z":"1ac53952c6ec6ef6","name":"","props":[{"p":"msgcnt","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":241.6665678024292,"y":432.66671085357666,"wires":[["61b50c2a9f5795af"]]},{"id":"95907e91088b4356","type":"ut-assert-success","z":"1ac53952c6ec6ef6","name":"","count":"200","x":924.9999389648438,"y":788.53564453125,"wires":[]},{"id":"61a4cdfac5d39a49","type":"ut-assert-success","z":"1ac53952c6ec6ef6","name":"","count":"5","x":1400.9999389648438,"y":584.28564453125,"wires":[]},{"id":"d09f44ce56d905cb","type":"switch","z":"1ac53952c6ec6ef6","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":1163.4999389648438,"y":693.28564453125,"wires":[["045f3ee767e26adf"],["990ceae404002e02"],["9163047bbe8319d2"],["bf4e570d4adecbdf"],["7a961da99c9b40e4"]]},{"id":"045f3ee767e26adf","type":"ut-assert-success","z":"1ac53952c6ec6ef6","name":"","count":1,"x":1387.9999389648438,"y":666.78564453125,"wires":[]},{"id":"990ceae404002e02","type":"ut-assert-success","z":"1ac53952c6ec6ef6","name":"","count":1,"x":1387.9999389648438,"y":726.41064453125,"wires":[]},{"id":"9163047bbe8319d2","type":"ut-assert-success","z":"1ac53952c6ec6ef6","name":"","count":1,"x":1387.9999389648438,"y":786.03564453125,"wires":[]},{"id":"bf4e570d4adecbdf","type":"ut-assert-success","z":"1ac53952c6ec6ef6","name":"","count":1,"x":1387.9999389648438,"y":845.66064453125,"wires":[]},{"id":"7a961da99c9b40e4","type":"ut-assert-success","z":"1ac53952c6ec6ef6","name":"","count":1,"x":1387.9999389648438,"y":905.28564453125,"wires":[]},{"id":"61b50c2a9f5795af","type":"change","z":"1ac53952c6ec6ef6","g":"64295bd753dce298","name":"","rules":[{"p":"event","pt":"msg","t":"set","to":"a_single_event","tot":"str"},{"p":"msgcnt","pt":"msg","t":"set","to":"$$.msgcnt + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":422.99993896484375,"y":617.28564453125,"wires":[["824b4cde9aed4e05"]]},{"id":"824b4cde9aed4e05","type":"delay","z":"1ac53952c6ec6ef6","g":"64295bd753dce298","name":"","pauseType":"random","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":604.9999694824219,"y":692.9939756393433,"wires":[["6a70fec54efdd16f","db899227acbdda04","95907e91088b4356"]]},{"id":"6a70fec54efdd16f","type":"switch","z":"1ac53952c6ec6ef6","g":"64295bd753dce298","name":"stop after 200 messages","property":"msgcnt","propertyType":"msg","rules":[{"t":"lt","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":196.66656494140625,"y":695.9939756393433,"wires":[["61b50c2a9f5795af"]]},{"id":"db899227acbdda04","type":"erleventhandler","z":"1ac53952c6ec6ef6","name":"","handlers":[{"nodeid":"1eda784d2d663d5d","moduleterm":"","arg":""}],"x":917.4285278320312,"y":585.9999389648438,"wires":[["d09f44ce56d905cb","61a4cdfac5d39a49"]]}]