testflows/f38603a59963386c/flows.json
[{"id":"f38603a59963386c","type":"tab","label":"[http] request parses JSON conent","disabled":false,"info":"## Http Request node can parse JSON content\n\n","env":[{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"}]},{"id":"3db045d9441c2067","type":"http in","z":"f38603a59963386c","name":"","url":"/f38603a59963386c/data","method":"get","upload":false,"swaggerDoc":"","x":248,"y":287,"wires":[["1c4ecf7d781bf986"]]},{"id":"6828ebee7c35e67c","type":"http response","z":"f38603a59963386c","name":"","statusCode":"200","headers":{},"x":673,"y":269.75,"wires":[]},{"id":"1c4ecf7d781bf986","type":"template","z":"f38603a59963386c","name":"","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"{ \n    \"response\": \"{{{ payload.payload }}}\"\n}","output":"str","x":482,"y":225.75,"wires":[["6828ebee7c35e67c","924fb7de3244c1fd"]]},{"id":"56e1b0bcffdf1790","type":"http request","z":"f38603a59963386c","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:8080/f38603a59963386c/data","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":461,"y":430,"wires":[["52f8fb585533e4d2"]]},{"id":"eea53210a5993268","type":"inject","z":"f38603a59963386c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"payload\": \"payload\" }","payloadType":"json","x":291,"y":450,"wires":[["56e1b0bcffdf1790"]]},{"id":"52f8fb585533e4d2","type":"ut-assert-values","z":"f38603a59963386c","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload.response","pt":"msg","to":"payload","tot":"str"}],"x":701,"y":404.5,"wires":[[]]},{"id":"ab83480bcca60e6d","type":"ut-assert-values","z":"f38603a59963386c","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"{ \"response\": \"payload\" }","tot":"json"}],"x":752,"y":92.5,"wires":[[]]},{"id":"924fb7de3244c1fd","type":"json","z":"f38603a59963386c","name":"","property":"payload","action":"","pretty":false,"x":581,"y":153,"wires":[["ab83480bcca60e6d"]]}]