testflows/963265474ffd443b/flows.json
[{"disabled":false,"env":[{"name":"ERED_ONLY","type":"bool","value":"true"}],"id":"963265474ffd443b","info":"","label":"[.elixir] support basic module code","type":"tab"},{"crontab":"","id":"571e4daf846a8006","name":"","once":false,"onceDelay":0.1,"payload":"11","payloadType":"num","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["34ae86365c57eb65","0aac6be93a243378"]],"x":223,"y":491,"z":"963265474ffd443b"},{"code":"defmodule MyModule do\n  @typedoc \"This type\"\n  @typedoc since: \"1.1.0\"\n  @type t :: term\n\n  @doc \"Hello world\"\n  @doc since: \"1.1.0\"\n  def hello do\n    \"world\"\n  end\n\n  @doc \"\"\"\n  Sums `a` to `b`.\n  \"\"\"\n  def sum(a, b) do\n    a + b\n  end\n\n  def minus( c, d ) do \n    d - c\n  end\nend","id":"ab4986a24e578611","module_name":"MyModule","name":"","type":"elxmodule","wires":[],"x":370,"y":205,"z":"963265474ffd443b"},{"finalize":"","func":"#{ <<\"payload\">> := Payload } = Msg,\nMsg#{ <<\"payload\">> => 'Elixir.MyModule':minus('Elixir.MyModule':sum(123,Payload),1) }\n","id":"34ae86365c57eb65","initialize":"","libs":[],"name":"function 1","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["9c1a04aa4e37eb28"]],"x":382,"y":456,"z":"963265474ffd443b"},{"id":"9c1a04aa4e37eb28","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"-133","tot":"num"}],"type":"ut-assert-values","wires":[[]],"x":641,"y":386,"z":"963265474ffd443b"},{"finalize":"","func":"Msg#{ <<\"payload\">> => 'Elixir.MyModule':hello() }\n","id":"0aac6be93a243378","initialize":"","libs":[],"name":"function 2","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["412ccdda2ab5a0db"]],"x":382,"y":526,"z":"963265474ffd443b"},{"id":"412ccdda2ab5a0db","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"world","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":611,"y":596,"z":"963265474ffd443b"}]