testflows/b07b511dc8bb8339/flows.json
[{"disabled":false,"env":[],"id":"b07b511dc8bb8339","info":"file node generates an debug error if the file is not found (if there is no exception node to catch the error).\n\n","label":"[file in] error when file not found","type":"tab"},{"crontab":"","id":"87db000229f669f6","name":"","once":false,"onceDelay":0.1,"props":[],"repeat":"","topic":"","type":"inject","wires":[["2eadf75a9f6d2665"]],"x":180,"y":375,"z":"b07b511dc8bb8339"},{"allProps":false,"chunk":false,"encoding":"none","filename":"this path does not exist","filenameType":"str","format":"utf8","id":"2eadf75a9f6d2665","name":"","sendError":false,"type":"file in","wires":[[]],"x":379,"y":493.5,"z":"b07b511dc8bb8339"},{"id":"55ba978608c70bae","inverse":false,"msgtype":"error","name":"","nodeid":"2eadf75a9f6d2665","scope":["2eadf75a9f6d2665"],"type":"ut-assert-debug","wires":[["c95820e67d774c83"]],"x":536,"y":573.5,"z":"b07b511dc8bb8339"},{"id":"c95820e67d774c83","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"debug.nodeid","pt":"msg","t":"eql","to":"2eadf75a9f6d2665","tot":"str"},{"p":"debug.type","pt":"msg","t":"eql","to":"error","tot":"str"},{"p":"payload['level']","pt":"msg","t":"eql","to":"20","tot":"num"},{"p":"payload.format","pt":"msg","t":"eql","to":"object","tot":"str"},{"p":"payload.msg.error_msg","pt":"msg","t":"eql","to":"File Not Found: <<\"this path does not exist\">>","tot":"str"},{"p":"payload.id","pt":"msg","t":"eql","to":"2eadf75a9f6d2665","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":889,"y":573.5,"z":"b07b511dc8bb8339"}]