testflows/d5424657b497d5af/flows.json
[{"id":"d5424657b497d5af","type":"tab","label":"[join] useparts with count value","disabled":false,"info":"## Join use parts and have a count value\n\nJoin nodes with useparts and a count. \n\nWhat happens is that the count takes precedence and anything in the buffer is released when count number of messages are stored.\n\nThere is no ordering - apparently so this test is kept general so that it works with both Node-RED and Erlang-Red.\n","env":[{"name":"ERED_NOT_EUNIT","value":"false","type":"bool"},{"name":"ERED_TIMEOUT","value":"3","type":"num"}]},{"id":"11307cf4a9b10fe6","type":"junction","z":"d5424657b497d5af","x":64.88016104698181,"y":510.6828227043152,"wires":[["cfafe04483181051"]]},{"id":"9acd1f3ce1cf37d6","type":"junction","z":"d5424657b497d5af","x":1100.1112245321274,"y":507.5,"wires":[["06cb216ab4753e25","6bcfdc6d5a779021","3f708016d36cbb30","ac1d05fad19b8960","0c77fd2eadd48693"]]},{"id":"240944b37a31b134","type":"junction","z":"d5424657b497d5af","x":1030.9048258066177,"y":703.5,"wires":[["9acd1f3ce1cf37d6"]]},{"id":"802871299e0fcc7a","type":"junction","z":"d5424657b497d5af","x":996.3016264438629,"y":805.25,"wires":[["9acd1f3ce1cf37d6"]]},{"id":"f95627935185645a","type":"junction","z":"d5424657b497d5af","x":1065.5080251693726,"y":612,"wires":[["9acd1f3ce1cf37d6"]]},{"id":"06cb216ab4753e25","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":907,"wires":[["312444f3e25c9660","581653fae9c642f9"]]},{"id":"5c472564980558aa","type":"inject","z":"d5424657b497d5af","name":"start here","props":[{"p":"payload"},{"p":"total","v":"10","vt":"num"},{"p":"count","v":"0","vt":"num"},{"p":"partsid","v":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","vt":"jsonata"},{"p":"partsid2","v":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":121,"y":425,"wires":[["1ffc663255c4ddb5","677408e413fb4435"]]},{"id":"1ffc663255c4ddb5","type":"change","z":"d5424657b497d5af","name":"set parts with common parts id","rules":[{"p":"parts","pt":"msg","t":"set","to":"{ \"index\": $$.count, \"id\": $$.partsid }","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"20 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":507.5,"wires":[["11307cf4a9b10fe6","9acd1f3ce1cf37d6"]]},{"id":"cfafe04483181051","type":"switch","z":"d5424657b497d5af","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"$$.total","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":148,"y":900,"wires":[["f40923eadbd66bfc"],["0aa1822a75b6f217","e8a3765458609764"]]},{"id":"f40923eadbd66bfc","type":"change","z":"d5424657b497d5af","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$random()","tot":"jsonata"},{"p":"count","pt":"msg","t":"set","to":"$$.count + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":301.2221984863281,"y":703.5,"wires":[["1ffc663255c4ddb5","673f5f0ae8c80e1a","829828559518dc09","9830074fea15d96a"]]},{"id":"199df31856a0f4e9","type":"change","z":"d5424657b497d5af","name":"complete with no parts attribute","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":907,"wires":[["06cb216ab4753e25"]]},{"id":"6bcfdc6d5a779021","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":975.6166585286459,"wires":[["9b49d338c78a9c38","f356972cb88306dc"]]},{"id":"5a689fe9bb58cd03","type":"change","z":"d5424657b497d5af","name":"complete with parts containing the same parts id ","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.id","pt":"msg","t":"set","to":"partsid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":975.6166585286459,"wires":[["6bcfdc6d5a779021"]]},{"id":"3f708016d36cbb30","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":1044.2333170572917,"wires":[["eb019652bc20bca5","766f6d60f2e0347a"]]},{"id":"7ccb76c196f2f254","type":"change","z":"d5424657b497d5af","name":"complete with parts id that is different to the parts id used for messages","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"partsid","pt":"msg","t":"set","to":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","tot":"jsonata"},{"p":"parts.id","pt":"msg","t":"set","to":"partsid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1044.2333170572917,"wires":[["3f708016d36cbb30"]]},{"id":"673f5f0ae8c80e1a","type":"change","z":"d5424657b497d5af","name":"set parts without id","rules":[{"p":"parts","pt":"msg","t":"set","to":"{ \"index\": $$.count }","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"60 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":805.25,"wires":[["802871299e0fcc7a"]]},{"id":"ac1d05fad19b8960","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":1112.8499755859375,"wires":[["bfdfa3426b7a6bf2","5ba7a1100ab5b1f9"]]},{"id":"f1090c5f75b25a3d","type":"change","z":"d5424657b497d5af","name":"complete with a parts attribute that contains no id","rules":[{"p":"complete","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"parts.id","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1112.8499755859375,"wires":[["ac1d05fad19b8960"]]},{"id":"829828559518dc09","type":"change","z":"d5424657b497d5af","name":"remove parts attribute on message","rules":[{"p":"parts","pt":"msg","t":"delete"},{"p":"payload","pt":"msg","t":"set","to":"40 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":703.5,"wires":[["240944b37a31b134"]]},{"id":"0aa1822a75b6f217","type":"ut-assert-values","z":"d5424657b497d5af","name":"payload is 30","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"30","tot":"num"}],"x":560,"y":1222.222255706787,"wires":[[]]},{"id":"9830074fea15d96a","type":"change","z":"d5424657b497d5af","name":"set parts with common parts id - 2","rules":[{"p":"parts","pt":"msg","t":"set","to":"{ \"index\": $$.count, \"id\": $$.partsid2 }","tot":"jsonata"},{"p":"payload","pt":"msg","t":"set","to":"80 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":627,"y":612,"wires":[["f95627935185645a"]]},{"id":"677408e413fb4435","type":"ut-assert-values","z":"d5424657b497d5af","name":"partids do not equal","ignore_failure_if_succeed":false,"rules":[{"p":"partsid","pt":"msg","t":"noteql","to":"partsid2","tot":"msg"}],"x":588,"y":425,"wires":[[]]},{"id":"312444f3e25c9660","type":"ut-assert-success","z":"d5424657b497d5af","name":"","count":"6","x":1500.3333206176758,"y":812.0000047683716,"wires":[]},{"id":"581653fae9c642f9","type":"change","z":"d5424657b497d5af","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$count($map( $$.payload, function($v) { $v.payload }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500.3333206176758,"y":866.0000047683716,"wires":[["82a1a65de4b708f8"]]},{"id":"82a1a65de4b708f8","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"8","tot":"num"},{"t":"notset","p":"parts","pt":"msg"}],"x":1702.79736328125,"y":866.0000047683716,"wires":[[]]},{"id":"bfdfa3426b7a6bf2","type":"ut-assert-success","z":"d5424657b497d5af","name":"","count":"6","x":1500.3333206176758,"y":1190.0000047683716,"wires":[]},{"id":"eb019652bc20bca5","type":"ut-assert-success","z":"d5424657b497d5af","name":"","count":"6","x":1500.3333206176758,"y":1028.0000047683716,"wires":[]},{"id":"9b49d338c78a9c38","type":"ut-assert-success","z":"d5424657b497d5af","name":"","count":"6","x":1500.3333206176758,"y":920.0000047683716,"wires":[]},{"id":"f356972cb88306dc","type":"change","z":"d5424657b497d5af","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$count($map( $$.payload, function($v) { $v.payload }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500.3333206176758,"y":974.0000047683716,"wires":[["e281433eb1572031"]]},{"id":"766f6d60f2e0347a","type":"change","z":"d5424657b497d5af","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$count($map( $$.payload, function($v) { $v.payload }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500.3333206176758,"y":1082.0000047683716,"wires":[["83176f936fb89598"]]},{"id":"5ba7a1100ab5b1f9","type":"change","z":"d5424657b497d5af","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$count($map( $$.payload, function($v) { $v.payload }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500.3333206176758,"y":1136.0000047683716,"wires":[["e419a77f8a51197f"]]},{"id":"0c77fd2eadd48693","type":"ut-assert-success","z":"d5424657b497d5af","name":"","count":"41","x":1500.3333206176758,"y":507.5,"wires":[]},{"id":"e281433eb1572031","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"8","tot":"num"},{"t":"notset","p":"parts","pt":"msg"}],"x":1702.79736328125,"y":974.0000047683716,"wires":[[]]},{"id":"83176f936fb89598","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"8","tot":"num"},{"t":"notset","p":"parts","pt":"msg"}],"x":1702.79736328125,"y":1082.0000047683716,"wires":[[]]},{"id":"e419a77f8a51197f","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"8","tot":"num"},{"t":"notset","p":"parts","pt":"msg"}],"x":1702.79736328125,"y":1136.0000047683716,"wires":[[]]},{"id":"e8a3765458609764","type":"delay","z":"d5424657b497d5af","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":353,"y":928,"wires":[["f1090c5f75b25a3d","7ccb76c196f2f254","5a689fe9bb58cd03","199df31856a0f4e9"]]}]