examples/d206746f9f2594a6/flows.json
[{"id":"d206746f9f2594a6","type":"tab","label":"[.jsonata] $match operator","disabled":false,"info":"## Match operator \n\nMatch operator returns a strange object structure that needs emulation.\n\n```\n{ match: ...., index: ..., groups: ....}\n```\n\n## Implementation\n\nInitial ideas for implementation in Erlang:\n\n```erlang\n{ok, R} = re:compile(\"([0-9]+)([a-z]+)([0-9]+)([a-z]+)\").\nre:run( \"2e3e[[[121sad1121adsad1212asdsa1d2e3e3e3\", R, [{capture,all,binary}, global] ).\n```\n\nLimit specification is best handled afterwards since the `$match(...,...,limit)` limit specification is completely different to `match_limit` or `match_limit_recursion` of Erlang.\n\nAnnoyingly `{capture,all,index}` will provide the index value required in the returned value but will require splitting up the original string into subgroups. `{capture,all,binary}` will - on the other hand - do the string generation but will not return an index value which is important when matching patterns that generate the same results:\n\n```\n{match,[[{0,4},{0,1},{1,1},{2,1},{3,1}],\n        [{7,15},{7,3},{10,3},{13,4},{17,5}],\n        [{22,11},{22,4},{26,5},{31,1},{32,1}],\n        [{33,4},{33,1},{34,1},{35,1},{36,1}]]}\n```\n\nversus\n\n```\n{match,[[<<\"2e3e\">>,<<\"2\">>,<<\"e\">>,<<\"3\">>,<<\"e\">>],\n        [<<\"121sad1121adsad\">>,<<\"121\">>,<<\"sad\">>,<<\"1121\">>,<<\"adsad\">>],\n        [<<\"1212asdsa1d\">>,<<\"1212\">>,<<\"asdsa\">>,<<\"1\">>,<<\"d\">>],\n        [<<\"2e3e\">>,<<\"2\">>,<<\"e\">>,<<\"3\">>,<<\"e\">>]]}\n```\n\nNotice the first and last match are the same in `binary` type while differ in `index` type.\n\n","env":[]},{"id":"4905e5f02b195ba6","type":"group","z":"d206746f9f2594a6","name":"single match","style":{"label":true},"nodes":["98b18c5af8146a61","1eea7e04e60c18ac","7cfacf67d9b28298","dc1b70f8f2a049a4","d696f77e60c76b01","f360b06e20519e83","84d855910caf01c0","05c40113c6ebdc27","0fb5c190d7265d1c"],"x":413,"y":164,"w":790,"h":262},{"id":"8fc408e14ae8de20","type":"group","z":"d206746f9f2594a6","name":"multiple matches","style":{"label":true},"nodes":["9a8c8b4b03238ed1","75adb3dc1501ac2d","f4a1260fa190c6a8","bf97d126f19940be","b1b5664eba8481fa","cf73fab4c05d59d5"],"x":413,"y":477.91666666666663,"w":791,"h":157},{"id":"f8f4617e964963af","type":"group","z":"d206746f9f2594a6","name":"multiple matches with limits","style":{"label":true},"nodes":["09112c157fda9ec4","0e2aacad33f9220c","046b24e6cde38ddf","313d5b5a2269a018","5b2f66459388037f","12f441f2e5bd35ad","0dfe7c93e4ead0c4","c237412441ac0582","93cfd873566397b0","9a4f0ad2651584c0","c55cc9862a9c4037","10ded9482cb0080b","3c7b4cc25d59e6b2","325717ee44ded903"],"x":413,"y":686.8333333333333,"w":808,"h":321.33333333333337},{"id":"d7e359e0818ddf70","type":"group","z":"d206746f9f2594a6","name":"no match, matchresult not defined","style":{"label":true},"nodes":["0f6eb9e3d66c3cd9","dbcdd1c97d8e6696","5b2d7cc68771cdbf"],"x":413,"y":1060.0833333333333,"w":808,"h":82},{"id":"36b4c182a0c1898d","type":"group","z":"d206746f9f2594a6","name":"no match, the attribute is unset on the message object","style":{"label":true},"nodes":["45b7bc5ec4980eb5","f41ffc17d7e7b65f","9975e7e9f55e6696"],"x":413,"y":1194,"w":808,"h":82},{"id":"98b18c5af8146a61","type":"inject","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[[[123abc456def]]]","payloadType":"str","x":549,"y":205,"wires":[["1eea7e04e60c18ac"]]},{"id":"1eea7e04e60c18ac","type":"change","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":803,"y":205,"wires":[["7cfacf67d9b28298"]]},{"id":"7cfacf67d9b28298","type":"ut-assert-values","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":3,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1075,"y":205,"wires":[[]]},{"id":"dc1b70f8f2a049a4","type":"inject","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def]]]","payloadType":"str","x":539,"y":304,"wires":[["d696f77e60c76b01"]]},{"id":"d696f77e60c76b01","type":"change","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":803,"y":304,"wires":[["f360b06e20519e83"]]},{"id":"f360b06e20519e83","type":"ut-assert-values","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1075,"y":304,"wires":[[]]},{"id":"84d855910caf01c0","type":"inject","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def","payloadType":"str","x":531,"y":385,"wires":[["05c40113c6ebdc27"]]},{"id":"05c40113c6ebdc27","type":"change","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":805,"y":385,"wires":[["0fb5c190d7265d1c"]]},{"id":"0fb5c190d7265d1c","type":"ut-assert-values","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1077,"y":385,"wires":[[]]},{"id":"9a8c8b4b03238ed1","type":"inject","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def|||789ghi012jkl|||345mno678pqr||","payloadType":"str","x":509,"y":518.9166666666666,"wires":[["75adb3dc1501ac2d"]]},{"id":"75adb3dc1501ac2d","type":"change","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":803,"y":518.9166666666666,"wires":[["f4a1260fa190c6a8"]]},{"id":"f4a1260fa190c6a8","type":"ut-assert-values","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"[{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]},{\"match\":\"789ghi012jkl\",\"index\":15,\"groups\":[\"789\",\"ghi\",\"012\",\"jkl\"]},{\"match\":\"345mno678pqr\",\"index\":30,\"groups\":[\"345\",\"mno\",\"678\",\"pqr\"]}]","tot":"json"}],"x":1075,"y":518.9166666666666,"wires":[[]]},{"id":"bf97d126f19940be","type":"inject","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def|||7d9ghi012jkl|||345mno678pqr||","payloadType":"str","x":512,"y":593.9166666666666,"wires":[["b1b5664eba8481fa"]]},{"id":"b1b5664eba8481fa","type":"change","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":806,"y":593.9166666666666,"wires":[["cf73fab4c05d59d5"]]},{"id":"cf73fab4c05d59d5","type":"ut-assert-values","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"[{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]},{\"match\":\"7d9ghi\",\"index\":15,\"groups\":[\"7\",\"d\",\"9\",\"ghi\"]},{\"match\":\"345mno678pqr\",\"index\":30,\"groups\":[\"345\",\"mno\",\"678\",\"pqr\"]}]","tot":"json"}],"x":1078,"y":593.9166666666666,"wires":[[]]},{"id":"09112c157fda9ec4","type":"inject","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def|||789ghi012jkl|||345mno678pqr||","payloadType":"str","x":510,"y":727.8333333333333,"wires":[["0e2aacad33f9220c"]]},{"id":"0e2aacad33f9220c","type":"change","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"match limit is 2","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,2)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":783,"y":727.8333333333333,"wires":[["046b24e6cde38ddf"]]},{"id":"046b24e6cde38ddf","type":"ut-assert-values","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"[{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]},{\"match\":\"789ghi012jkl\",\"index\":15,\"groups\":[\"789\",\"ghi\",\"012\",\"jkl\"]}]","tot":"json"}],"x":1075,"y":727.8333333333333,"wires":[[]]},{"id":"313d5b5a2269a018","type":"inject","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def|||7d9ghi012jkl|||345mno678pqr||","payloadType":"str","x":513,"y":802.8333333333333,"wires":[["5b2f66459388037f"]]},{"id":"5b2f66459388037f","type":"change","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"match limit is 1","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,1)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":783,"y":802.8333333333333,"wires":[["12f441f2e5bd35ad"]]},{"id":"12f441f2e5bd35ad","type":"ut-assert-values","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1075,"y":802.8333333333333,"wires":[[]]},{"id":"0f6eb9e3d66c3cd9","type":"inject","z":"d206746f9f2594a6","g":"d7e359e0818ddf70","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"str","x":509,"y":1101.0833333333333,"wires":[["dbcdd1c97d8e6696"]]},{"id":"dbcdd1c97d8e6696","type":"change","z":"d206746f9f2594a6","g":"d7e359e0818ddf70","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":803,"y":1101.0833333333333,"wires":[["5b2d7cc68771cdbf"]]},{"id":"5b2d7cc68771cdbf","type":"ut-assert-values","z":"d206746f9f2594a6","g":"d7e359e0818ddf70","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"matchresult","pt":"msg"}],"x":1085,"y":1101.0833333333333,"wires":[[]]},{"id":"0dfe7c93e4ead0c4","type":"inject","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def|||7d9ghi012jkl|||345mno678pqr||","payloadType":"str","x":509,"y":858.1666666666666,"wires":[["c237412441ac0582"]]},{"id":"c237412441ac0582","type":"change","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"match limit is 0","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,0)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":783,"y":858.1666666666666,"wires":[["93cfd873566397b0"]]},{"id":"93cfd873566397b0","type":"ut-assert-values","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"matchresult","pt":"msg"}],"x":1085,"y":858.1666666666666,"wires":[[]]},{"id":"9a4f0ad2651584c0","type":"inject","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def|||7d9ghi012jkl|||345mno678pqr||","payloadType":"str","x":509,"y":916.6666666666666,"wires":[["c55cc9862a9c4037"]]},{"id":"c55cc9862a9c4037","type":"change","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"match limit is -1","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,-1)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":783,"y":916.6666666666666,"wires":[["3c7b4cc25d59e6b2"]]},{"id":"10ded9482cb0080b","type":"catch","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","scope":["c55cc9862a9c4037"],"uncaught":false,"x":753,"y":967.1666666666666,"wires":[["325717ee44ded903"]]},{"id":"3c7b4cc25d59e6b2","type":"ut-assert-failure","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","x":1045,"y":916.6666666666666,"wires":[]},{"id":"325717ee44ded903","type":"ut-assert-success","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","count":1,"x":1045,"y":967.1666666666666,"wires":[]},{"id":"45b7bc5ec4980eb5","type":"inject","z":"d206746f9f2594a6","g":"36b4c182a0c1898d","name":"","props":[{"p":"payload"},{"p":"matchresult","v":"somevalue","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"str","x":509,"y":1235,"wires":[["f41ffc17d7e7b65f"]]},{"id":"f41ffc17d7e7b65f","type":"change","z":"d206746f9f2594a6","g":"36b4c182a0c1898d","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":803,"y":1235,"wires":[["9975e7e9f55e6696"]]},{"id":"9975e7e9f55e6696","type":"ut-assert-values","z":"d206746f9f2594a6","g":"36b4c182a0c1898d","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"notset","p":"matchresult","pt":"msg"}],"x":1085,"y":1235,"wires":[[]]}]