testflows/36846ad6698e1bc0/flows.json
[{"disabled":false,"env":[{"name":"NODE_RED_DIVERGENT","type":"bool","value":"true"}],"id":"36846ad6698e1bc0","info":"","label":"[switch] post debug on JSONata exception","type":"tab"},{"h":354.5,"id":"68fc7da02e4ce9da","name":"catch captures exception","nodes":["83ab1354d90466f0","e9aa1d82d093db52","8d0e6a588bc579ce","915116870214bc0f","1466e3dcc32f09f6","5756ca28703729dc","5973bb0d4b1948b1","67fd7857fbebca0f"],"style":{"label":true},"type":"group","w":910,"x":8,"y":828,"z":"36846ad6698e1bc0"},{"h":383,"id":"0e4b83838b47f758","name":"no catch node to capture the exception","nodes":["9f0163ae195dc699","6dcf13bd6d4133a1","1a2dc9cdead129cb","4a51dd50369e9361","287121aac37d559b","4928acc9d0bc81a2"],"style":{"label":true},"type":"group","w":1030,"x":31,"y":362.5,"z":"36846ad6698e1bc0"},{"g":"68fc7da02e4ce9da","h":138,"id":"5973bb0d4b1948b1","name":"Node-RED diverge","nodes":["0dfefb756493e5d9","1bb2357cf149aeb0"],"style":{"color":"#9363b7","fill":"#bfdbef","label":true},"type":"group","w":192,"x":700,"y":1018.5,"z":"36846ad6698e1bc0"},{"g":"0e4b83838b47f758","h":144,"id":"287121aac37d559b","name":"Node-RED Diverge","nodes":["93eda421738039cf","6ff441e31fe3209a"],"style":{"color":"#9363b7","fill":"#bfdbef","label":true},"type":"group","w":192,"x":600,"y":512.5,"z":"36846ad6698e1bc0"},{"crontab":"","g":"0e4b83838b47f758","id":"9f0163ae195dc699","name":"","once":false,"onceDelay":0.1,"payload":"hello world","payloadType":"str","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["6dcf13bd6d4133a1"]],"x":137,"y":553.5,"z":"36846ad6698e1bc0"},{"checkall":"true","g":"0e4b83838b47f758","id":"6dcf13bd6d4133a1","name":"property uses broken jsonata","outputs":3,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"$fromMillis()","vt":"jsonata"},{"t":"else"},{"t":"eq","v":"hello world","vt":"str"}],"type":"switch","wires":[["1a2dc9cdead129cb"],["93eda421738039cf"],["6ff441e31fe3209a"]],"x":415,"y":553.5,"z":"36846ad6698e1bc0"},{"g":"0e4b83838b47f758","id":"1a2dc9cdead129cb","name":"","type":"ut-assert-failure","wires":[],"x":696,"y":403.5,"z":"36846ad6698e1bc0"},{"g":"0e4b83838b47f758","id":"4a51dd50369e9361","inverse":false,"msgtype":"error","name":"","nodeid":"6dcf13bd6d4133a1","scope":["6dcf13bd6d4133a1"],"type":"ut-assert-debug","wires":[["4928acc9d0bc81a2"]],"x":387,"y":704.5,"z":"36846ad6698e1bc0"},{"count":1,"g":"287121aac37d559b","id":"93eda421738039cf","name":"","type":"ut-assert-success","wires":[],"x":696,"y":553.5,"z":"36846ad6698e1bc0"},{"count":1,"g":"287121aac37d559b","id":"6ff441e31fe3209a","name":"","type":"ut-assert-success","wires":[],"x":696,"y":615.5,"z":"36846ad6698e1bc0"},{"crontab":"","g":"68fc7da02e4ce9da","id":"83ab1354d90466f0","name":"","once":false,"onceDelay":0.1,"payload":"hello world","payloadType":"str","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["e9aa1d82d093db52"]],"x":114,"y":944,"z":"36846ad6698e1bc0"},{"checkall":"true","g":"68fc7da02e4ce9da","id":"e9aa1d82d093db52","name":"broken property jsonata","outputs":3,"property":"payload","propertyType":"msg","repair":false,"rules":[{"t":"eq","v":"$fromMillis()","vt":"jsonata"},{"t":"else"},{"t":"eq","v":"hello world","vt":"str"}],"type":"switch","wires":[["8d0e6a588bc579ce"],["0dfefb756493e5d9"],["1bb2357cf149aeb0"]],"x":393,"y":996,"z":"36846ad6698e1bc0"},{"g":"68fc7da02e4ce9da","id":"8d0e6a588bc579ce","name":"","type":"ut-assert-failure","wires":[],"x":792,"y":946.5,"z":"36846ad6698e1bc0"},{"g":"68fc7da02e4ce9da","id":"915116870214bc0f","inverse":true,"msgtype":"error","name":"","nodeid":"e9aa1d82d093db52","scope":["e9aa1d82d093db52"],"type":"ut-assert-debug","wires":[["67fd7857fbebca0f"]],"x":411,"y":1066.5,"z":"36846ad6698e1bc0"},{"count":1,"g":"5973bb0d4b1948b1","id":"0dfefb756493e5d9","name":"","type":"ut-assert-success","wires":[],"x":796,"y":1059.5,"z":"36846ad6698e1bc0"},{"count":1,"g":"5973bb0d4b1948b1","id":"1bb2357cf149aeb0","name":"","type":"ut-assert-success","wires":[],"x":796,"y":1115.5,"z":"36846ad6698e1bc0"},{"g":"68fc7da02e4ce9da","id":"1466e3dcc32f09f6","name":"","scope":["e9aa1d82d093db52"],"type":"catch","uncaught":false,"wires":[["5756ca28703729dc"]],"x":384,"y":926,"z":"36846ad6698e1bc0"},{"count":1,"g":"68fc7da02e4ce9da","id":"5756ca28703729dc","name":"","type":"ut-assert-success","wires":[],"x":793,"y":869,"z":"36846ad6698e1bc0"},{"g":"68fc7da02e4ce9da","id":"67fd7857fbebca0f","name":"","type":"ut-assert-failure","wires":[],"x":408,"y":1131,"z":"36846ad6698e1bc0"},{"g":"0e4b83838b47f758","id":"4928acc9d0bc81a2","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"debug.nodeid","pt":"msg","t":"eql","to":"6dcf13bd6d4133a1","tot":"str"},{"p":"payload['level']","pt":"msg","t":"eql","to":"20","tot":"num"},{"p":"payload.msg.error_msg","pt":"msg","t":"eql","to":"jsonata unsupported function: {fromMillis,[]}","tot":"str"},{"p":"payload.name","pt":"msg","t":"eql","to":"property uses broken jsonata","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":955,"y":704,"z":"36846ad6698e1bc0"}]