testflows/89037ea76353a89a/flows.json
[{"id":"89037ea76353a89a","type":"tab","label":"[captureio] collect io from state machine node","disabled":false,"info":"## CaptureIO and State Machine behaviour\n\n","env":[]},{"id":"42b2a9bde0098cf6","type":"group","z":"89037ea76353a89a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fc81aa12732e390c","1bc244ccf3d34159"],"x":495.25,"y":549.75,"w":620.75,"h":82},{"id":"44abca6571491b88","type":"erlmodule","z":"89037ea76353a89a","name":"","module_name":"captureio_statem_test_89037ea76353a89a","code":"-module(captureio_statem_test_89037ea76353a89a).\n\n%%\n%%  APIs: https://www.erlang.org/doc/apps/stdlib/gen_statem.html\n%%\n\n-behaviour(gen_statem).\n\n-export([\n    start/0,\n    init/1,\n    callback_mode/0,\n    handle_event/4,\n    code_change/4,\n    terminate/3,\n    stop/0\n]).\n\n%% WARNING: state_functions are not supported by statemachine node.\n%% callback_mode() -> state_functions.\ncallback_mode() -> handle_event_function.\n\n-define(KEEP_STATE(ReplyWith),\n    {keep_state, Data, [{reply, From, ReplyWith}]}\n).\n\nstart() ->\n    gen_statem:start({local, ?MODULE}, ?MODULE, [], []).\n\nstop() ->\n    gen_statem:stop(?MODULE).\nterminate(_Reason, _State, _Data) ->\n    void.\ncode_change(_Vsn, State, Data, _Extra) ->\n    {ok, State, Data}.\n\n%% Initial state and data\ninit([]) ->\n    State = off, \n    Data = 0,\n    {ok,State,Data}.\n\n%%% handle event function\n\nhandle_event(\n  {call, From},\n  <<\"push\">>,\n  off,\n  Data\n) ->\n    io:format( \"node moved from off to on\" ),\n    {next_state, on, Data + 1, [{reply, From, <<\"ok\">>}]};\n\nhandle_event(\n  {call, From},\n  <<\"push\">>,\n  on,\n  Data\n) ->\n    io:format( \"node moved from on to off\" ),\n    {next_state, off, Data, [{reply, From, <<\"ok\">>}]};\n\nhandle_event(\n  {call, From},\n  <<\"get_count\">>,\n  _CurrState,\n  Data\n) ->\n    {keep_state, Data, [{reply, From, Data}]};\n\n%%\n%% Fall through.\nhandle_event({call, From} = EventType, Stiff, State, Data) ->\n    io:format(\"TEST fell through (call): ~p ~p ~p ~p~n\",[EventType, Stiff, State, Data]),\n    ?KEEP_STATE(<<\"not_allowed\">>);\n\nhandle_event(EventType, Stiff, State, Data) ->\n    io:format(\"TEST : ~p ~p ~p ~p~n\",[EventType, Stiff, State, Data]),\n    {keep_state, Data}.\n","x":705.75,"y":501,"wires":[]},{"id":"fc81aa12732e390c","type":"erlstatemachine","z":"89037ea76353a89a","g":"42b2a9bde0098cf6","name":"","scope":["44abca6571491b88"],"emit_on_state_change":false,"x":701.25,"y":590.75,"wires":[[]]},{"id":"1bc244ccf3d34159","type":"erlcaptureio","z":"89037ea76353a89a","g":"42b2a9bde0098cf6","name":"","scope":["fc81aa12732e390c"],"x":1020,"y":590.75,"wires":[["44233601e9fbf401","952117a0471704f3"]]},{"id":"952117a0471704f3","type":"ut-assert-values","z":"89037ea76353a89a","name":"on to off","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"captureio.source.id","pt":"msg","to":"fc81aa12732e390c","tot":"str"},{"t":"eql","p":"payload","pt":"msg","to":"node moved from on to off","tot":"str"}],"x":1233.75,"y":529.375,"wires":[[]]},{"id":"44233601e9fbf401","type":"ut-assert-values","z":"89037ea76353a89a","name":"off to on","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"captureio.source.id","pt":"msg","to":"fc81aa12732e390c","tot":"str"},{"t":"eql","p":"payload","pt":"msg","to":"node moved from off to on","tot":"str"}],"x":1257.5,"y":590.75,"wires":[[]]},{"id":"01268a547737cc13","type":"delay","z":"89037ea76353a89a","name":"","pauseType":"delay","timeout":"123","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":344,"y":590.75,"wires":[["fc81aa12732e390c"]]},{"id":"8ca43aa9261c2b87","type":"inject","z":"89037ea76353a89a","name":"","props":[{"p":"action","v":"push","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":224,"y":498,"wires":[["fc81aa12732e390c","01268a547737cc13"]]}]