testflows/f5bdafa844f6d280/flows.json
[{"id":"f5bdafa844f6d280","type":"tab","label":"[catch] uncaught catches ","disabled":false,"info":"Uncaught catches only catch excepions that aren't already caught.\n\nPending becauae the \"selected nodes only\" feature of the catch node hasn't been implemented - at time of writing.","env":[{"name":"ERED_PENDING","type":"bool","value":"true"}]},{"id":"385a1085229c5831","type":"inject","z":"f5bdafa844f6d280","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":137,"y":282,"wires":[["503c81f7e885111e"]]},{"id":"503c81f7e885111e","type":"file in","z":"f5bdafa844f6d280","name":"","filename":"this file does not exist","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":500,"y":783,"wires":[[]]},{"id":"3ebca46b2672d8b9","type":"catch","z":"f5bdafa844f6d280","name":"","scope":["385a1085229c5831","7c6006ce89d47526"],"uncaught":false,"x":422,"y":626,"wires":[["524bfaf6bc0dd8c3"]]},{"id":"7c6006ce89d47526","type":"catch","z":"f5bdafa844f6d280","name":"","scope":null,"uncaught":true,"x":340,"y":303,"wires":[["26b2e2cf956fca2a"]]},{"id":"8e08942c40cdf979","type":"catch","z":"f5bdafa844f6d280","name":"","scope":["503c81f7e885111e"],"uncaught":false,"x":367,"y":470,"wires":[["e7bf5cca912c9349"]]},{"id":"26b2e2cf956fca2a","type":"ut-assert-failure","z":"f5bdafa844f6d280","name":"","x":604,"y":227,"wires":[]},{"id":"e7bf5cca912c9349","type":"ut-assert-success","z":"f5bdafa844f6d280","name":"","count":1,"x":608,"y":405,"wires":[]},{"id":"524bfaf6bc0dd8c3","type":"ut-assert-failure","z":"f5bdafa844f6d280","name":"","x":684,"y":541,"wires":[]}]