testflows/084fb0fc954b7156/flows.json
[{"id":"084fb0fc954b7156","type":"tab","label":"[join] manual config w/ count & nested property name","disabled":false,"info":"Join should also handled nested property names.","env":[]},{"id":"8948c193b946b0ff","type":"junction","z":"084fb0fc954b7156","x":263.76970052719116,"y":543.6267687082291,"wires":[["782f7d5e5d547b63"]]},{"id":"bc4077f4dd04d17e","type":"inject","z":"084fb0fc954b7156","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"status\":{\"text\":1}},{\"status\":{\"text\":2}},{\"status\":{\"text\":3}},{\"status\":{\"text\":4}}]","payloadType":"json","x":95,"y":388,"wires":[["8948c193b946b0ff"]]},{"id":"782f7d5e5d547b63","type":"split","z":"084fb0fc954b7156","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":416,"y":319,"wires":[["703b790b65d4dc3f","cc0351c3ea4d9378"]]},{"id":"703b790b65d4dc3f","type":"join","z":"084fb0fc954b7156","name":"","mode":"custom","build":"array","property":"payload.status.text","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":657,"y":480,"wires":[["bc6a6f437c51bc0a"]]},{"id":"cc0351c3ea4d9378","type":"ut-assert-success","z":"084fb0fc954b7156","name":"","count":"4","x":904.5,"y":321.5,"wires":[]},{"id":"bc6a6f437c51bc0a","type":"ut-assert-values","z":"084fb0fc954b7156","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[1,2,3,4]","tot":"json"}],"x":896,"y":437.5,"wires":[[]]}]