testflows/b7ebaf91f4d66ab3/flows.json
[{"id":"b7ebaf91f4d66ab3","type":"tab","label":"[sort] array of objects","disabled":false,"info":"## Sort array of objects by a key","env":[]},{"id":"8cbd3cd11d938e68","type":"inject","z":"b7ebaf91f4d66ab3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[2,3,1,5]","payloadType":"json","x":324,"y":452,"wires":[["3edd50e5458728b0"]]},{"id":"3edd50e5458728b0","type":"split","z":"b7ebaf91f4d66ab3","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":463.5,"y":533.5,"wires":[["edcbe18a0077ea3f"]]},{"id":"237c6c56e74be69b","type":"delay","z":"b7ebaf91f4d66ab3","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"100","randomLast":"500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":812.5,"y":696.5,"wires":[["0cc98e7228d1f79a"]]},{"id":"edcbe18a0077ea3f","type":"change","z":"b7ebaf91f4d66ab3","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"(10 - $$.payload) * 100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":633,"y":615,"wires":[["237c6c56e74be69b"]]},{"id":"0cc98e7228d1f79a","type":"join","z":"b7ebaf91f4d66ab3","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":969,"y":732,"wires":[["0cfa6d86a742e1e3","526b5f1f3749e006","0c2fc6289f715a8b","67966ea7e18c3578"]]},{"id":"0cfa6d86a742e1e3","type":"sort","z":"b7ebaf91f4d66ab3","name":"sort by jsonata expression","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"$$.parts.index","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":1191,"y":790.5,"wires":[["1de3e0a59941f078"]]},{"id":"1de3e0a59941f078","type":"change","z":"b7ebaf91f4d66ab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map($$.payload, function($v) { $v.payload })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1617,"y":790.5,"wires":[["786f3fe684c9c0b7"]]},{"id":"786f3fe684c9c0b7","type":"ut-assert-values","z":"b7ebaf91f4d66ab3","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[2,3,1,5]","tot":"json"}],"x":1626,"y":870,"wires":[[]]},{"id":"526b5f1f3749e006","type":"sort","z":"b7ebaf91f4d66ab3","name":"sort by element value","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":1171,"y":677.5,"wires":[["8790c16501b7e530"]]},{"id":"5bcd8de6fcfd8dcb","type":"ut-assert-values","z":"b7ebaf91f4d66ab3","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[1,2,3,5]","tot":"json"}],"x":1799,"y":738,"wires":[[]]},{"id":"8790c16501b7e530","type":"change","z":"b7ebaf91f4d66ab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map($$.payload, function($v) { $v.payload })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1765,"y":677.5,"wires":[["5bcd8de6fcfd8dcb"]]},{"id":"0c2fc6289f715a8b","type":"sort","z":"b7ebaf91f4d66ab3","name":"sort by element value - descending","order":"descending","as_num":false,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":1212,"y":546,"wires":[["2d46436dc37e887b"]]},{"id":"2abc7c79d94695d6","type":"ut-assert-values","z":"b7ebaf91f4d66ab3","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[5,3,2,1]","tot":"json"}],"x":1680,"y":606.5,"wires":[[]]},{"id":"2d46436dc37e887b","type":"change","z":"b7ebaf91f4d66ab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map($$.payload, function($v) { $v.payload })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1646,"y":546,"wires":[["2abc7c79d94695d6"]]},{"id":"67966ea7e18c3578","type":"sort","z":"b7ebaf91f4d66ab3","name":"sort by jsonata expression","order":"descending","as_num":false,"target":"payload","targetType":"msg","msgKey":"$$.parts.index","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":1197,"y":934,"wires":[["ffab3a063c56307b"]]},{"id":"ffab3a063c56307b","type":"change","z":"b7ebaf91f4d66ab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map($$.payload, function($v) { $v.payload })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1503,"y":934,"wires":[["4066c936f23bfcc7"]]},{"id":"4066c936f23bfcc7","type":"ut-assert-values","z":"b7ebaf91f4d66ab3","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[5,1,3,2]","tot":"json"}],"x":1512,"y":1013.5,"wires":[[]]}]