testflows/2c1c291ec8466bfb/flows.json
[{"id":"2c1c291ec8466bfb","type":"tab","label":"[switch] handle is true & is false","disabled":false,"info":"is true and is false don't define a 'vt' value in the rules array.","env":[]},{"id":"df64fa283794dbd0","type":"group","z":"2c1c291ec8466bfb","name":"check all rules","style":{"label":true},"nodes":["f3ff3fb8e5a5233d","90bf899b1b283ef3","2df6eb472353eeb4","5110eafcb0ea3c84","30878a80d301c223","4e1bed9d6512c107","a1979a2fbdbdc311","98e547987fd0d576","4c85c9dbb8862690","e62dbe3ae1aa9a54","116438ba60e1c60e","3c10ae11064d059d","3e8615b8e8fbfa3b","470ac6f1873c44a9","b01e4b28953f2995","a4c90beddc5d410b"],"x":118,"y":142.5,"w":720,"h":650},{"id":"8d8f3ff0741eabae","type":"group","z":"2c1c291ec8466bfb","name":"stop after the first match","style":{"label":true},"nodes":["11f18c0585d94862","e8a4c54d550a3b31","3b9fc46622564fcd","ae50ecb0ab98fca7","2d66e60ae4c4389d","2d886eef0588493a","544846b7748e9e93","c50c8c28b801d988","13e68ab3758bedc7","b03db1e395c4b3f2"],"x":321,"y":825.5,"w":659,"h":406},{"id":"f3ff3fb8e5a5233d","type":"inject","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":214,"y":313,"wires":[["90bf899b1b283ef3"]]},{"id":"90bf899b1b283ef3","type":"switch","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"true"},{"t":"false"},{"t":"true"},{"t":"else"},{"t":"true"}],"checkall":"true","repair":false,"outputs":6,"x":396,"y":313,"wires":[["3c10ae11064d059d"],["2df6eb472353eeb4"],["b01e4b28953f2995"],["3e8615b8e8fbfa3b"],["a4c90beddc5d410b"],["470ac6f1873c44a9"]]},{"id":"2df6eb472353eeb4","type":"ut-assert-success","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","count":1,"x":639,"y":233.9,"wires":[]},{"id":"5110eafcb0ea3c84","type":"inject","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":250,"y":621,"wires":[["30878a80d301c223"]]},{"id":"30878a80d301c223","type":"switch","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"is false","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"false"},{"t":"true"},{"t":"false"},{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":491,"y":621,"wires":[["116438ba60e1c60e"],["4e1bed9d6512c107"],["e62dbe3ae1aa9a54"],["a1979a2fbdbdc311"],["4c85c9dbb8862690"],["98e547987fd0d576"]]},{"id":"4e1bed9d6512c107","type":"ut-assert-success","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","count":1,"x":742,"y":544.3,"wires":[]},{"id":"11f18c0585d94862","type":"inject","z":"2c1c291ec8466bfb","g":"8d8f3ff0741eabae","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":417,"y":929.75,"wires":[["e8a4c54d550a3b31"]]},{"id":"e8a4c54d550a3b31","type":"switch","z":"2c1c291ec8466bfb","g":"8d8f3ff0741eabae","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"true"}],"checkall":"false","repair":false,"outputs":3,"x":627,"y":929.75,"wires":[["3b9fc46622564fcd"],["13e68ab3758bedc7"],["b03db1e395c4b3f2"]]},{"id":"3b9fc46622564fcd","type":"ut-assert-success","z":"2c1c291ec8466bfb","g":"8d8f3ff0741eabae","name":"","count":1,"x":839,"y":866.5,"wires":[]},{"id":"ae50ecb0ab98fca7","type":"inject","z":"2c1c291ec8466bfb","g":"8d8f3ff0741eabae","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":452,"y":1125.75,"wires":[["2d66e60ae4c4389d"]]},{"id":"2d66e60ae4c4389d","type":"switch","z":"2c1c291ec8466bfb","g":"8d8f3ff0741eabae","name":"is false","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"false"},{"t":"true"}],"checkall":"false","repair":false,"outputs":3,"x":648,"y":1125.75,"wires":[["2d886eef0588493a"],["544846b7748e9e93"],["c50c8c28b801d988"]]},{"id":"2d886eef0588493a","type":"ut-assert-success","z":"2c1c291ec8466bfb","g":"8d8f3ff0741eabae","name":"","count":1,"x":884,"y":1061.5,"wires":[]},{"id":"544846b7748e9e93","type":"ut-assert-failure","z":"2c1c291ec8466bfb","g":"8d8f3ff0741eabae","name":"","x":884,"y":1126,"wires":[]},{"id":"c50c8c28b801d988","type":"ut-assert-failure","z":"2c1c291ec8466bfb","g":"8d8f3ff0741eabae","name":"","x":884,"y":1190.5,"wires":[]},{"id":"13e68ab3758bedc7","type":"ut-assert-failure","z":"2c1c291ec8466bfb","g":"8d8f3ff0741eabae","name":"","x":839,"y":931,"wires":[]},{"id":"b03db1e395c4b3f2","type":"ut-assert-failure","z":"2c1c291ec8466bfb","g":"8d8f3ff0741eabae","name":"","x":839,"y":995.5,"wires":[]},{"id":"a1979a2fbdbdc311","type":"ut-assert-success","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","count":1,"x":742,"y":647.8999999999999,"wires":[]},{"id":"98e547987fd0d576","type":"ut-assert-failure","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","x":742,"y":751.5,"wires":[]},{"id":"4c85c9dbb8862690","type":"ut-assert-failure","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","x":742,"y":699.6999999999998,"wires":[]},{"id":"e62dbe3ae1aa9a54","type":"ut-assert-failure","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","x":742,"y":596.0999999999999,"wires":[]},{"id":"116438ba60e1c60e","type":"ut-assert-success","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","count":1,"x":742,"y":492.5,"wires":[]},{"id":"3c10ae11064d059d","type":"ut-assert-success","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","count":1,"x":639,"y":183.5,"wires":[]},{"id":"3e8615b8e8fbfa3b","type":"ut-assert-success","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","count":1,"x":639,"y":334.7,"wires":[]},{"id":"470ac6f1873c44a9","type":"ut-assert-success","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","count":1,"x":639,"y":435.5,"wires":[]},{"id":"b01e4b28953f2995","type":"ut-assert-failure","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","x":639,"y":284.3,"wires":[]},{"id":"a4c90beddc5d410b","type":"ut-assert-failure","z":"2c1c291ec8466bfb","g":"df64fa283794dbd0","name":"","x":639,"y":385.09999999999997,"wires":[]}]