testflows/b1430ea37ba7cc19/flows.json
[{"disabled":false,"env":[],"id":"b1430ea37ba7cc19","info":"Support splitting arrays into individual messages.","label":"[split] array split","type":"tab"},{"crontab":"","id":"c1c38aa4d0414028","name":"","once":false,"onceDelay":0.1,"props":[{"p":"filename","v":"priv/testdata/test.json","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["b7c961b3b85b547f"]],"x":202,"y":282,"z":"b1430ea37ba7cc19"},{"action":"obj","id":"5f1d1ba7663ee141","name":"","pretty":false,"property":"payload","type":"json","wires":[["2b905cbffa421be6"]],"x":493,"y":487,"z":"b1430ea37ba7cc19"},{"field":"payload","fieldType":"msg","format":"handlebars","id":"b7c961b3b85b547f","name":"","output":"str","syntax":"plain","template":"[\n    {\n        \"id\": \"9e7ccc97f80d9afb\",\n        \"type\": \"tab\",\n        \"label\": \"[file in] will accept file name from msg obj\",\n        \"disabled\": false,\n        \"info\": \"A file name can also be dynamic and be taken from the msg object passed to the file in node.\",\n        \"env\": []\n    },\n    {\n        \"id\": \"3de9bd2926669640\",\n        \"type\": \"inject\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"props\": [\n            {\n                \"p\": \"filename\",\n                \"v\": \"priv/testdata/helloworld.txt\",\n                \"vt\": \"str\"\n            }\n        ],\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"onceDelay\": 0.1,\n        \"topic\": \"\",\n        \"x\": 128,\n        \"y\": 400,\n        \"wires\": [\n            [\n                \"e89d0c894d08b485\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"e89d0c894d08b485\",\n        \"type\": \"file in\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"filename\": \"filename\",\n        \"filenameType\": \"msg\",\n        \"format\": \"utf8\",\n        \"chunk\": false,\n        \"sendError\": false,\n        \"encoding\": \"none\",\n        \"allProps\": false,\n        \"x\": 325,\n        \"y\": 498.5,\n        \"wires\": [\n            [\n                \"e0f13216032f1fe6\",\n                \"e36810e4203e8306\",\n                \"05c8dee92f3f6768\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"e0f13216032f1fe6\",\n        \"type\": \"ut-assert-values\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"rules\": [\n            {\n                \"t\": \"mth\",\n                \"p\": \"payload\",\n                \"pt\": \"msg\",\n                \"to\": \"hello world\",\n                \"tot\": \"str\"\n            }\n        ],\n        \"x\": 577,\n        \"y\": 396,\n        \"wires\": [\n            []\n        ]\n    },\n    {\n        \"id\": \"e36810e4203e8306\",\n        \"type\": \"debug\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"debug 1\",\n        \"active\": true,\n        \"tosidebar\": true,\n        \"console\": false,\n        \"tostatus\": false,\n        \"complete\": \"false\",\n        \"statusVal\": \"\",\n        \"statusType\": \"auto\",\n        \"x\": 542,\n        \"y\": 611,\n        \"wires\": []\n    },\n    {\n        \"id\": \"2b511c22a8ddb371\",\n        \"type\": \"ut-assert-debug\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"nodeid\": \"e89d0c894d08b485\",\n        \"msgtype\": \"normal\",\n        \"inverse\": true,\n        \"x\": 232,\n        \"y\": 544.5,\n        \"wires\": []\n    },\n    {\n        \"id\": \"05c8dee92f3f6768\",\n        \"type\": \"ut-assert-success\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"x\": 629,\n        \"y\": 496.5,\n        \"wires\": []\n    },\n    {\n        \"id\": \"3d9780925fed909b\",\n        \"type\": \"ut-assert-debug\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"nodeid\": \"e36810e4203e8306\",\n        \"msgtype\": \"normal\",\n        \"inverse\": false,\n        \"x\": 661,\n        \"y\": 653,\n        \"wires\": []\n    }\n]","type":"template","wires":[["5f1d1ba7663ee141"]],"x":337,"y":399,"z":"b1430ea37ba7cc19"},{"accumulate":false,"build":"array","count":"8","id":"cf681ad132ea44c5","joiner":"\\n","joinerType":"str","key":"topic","mode":"custom","name":"","property":"","propertyType":"full","reduceExp":"","reduceFixup":"","reduceInit":"","reduceInitType":"","reduceRight":false,"timeout":"","type":"join","useparts":false,"wires":[["76f7ebd0ea18f879","3412312ba43c16d6"]],"x":779,"y":671.5,"z":"b1430ea37ba7cc19"},{"addname":"","arraySplt":1,"arraySpltType":"len","id":"2b905cbffa421be6","name":"","property":"payload","splt":"\\n","spltType":"str","stream":false,"type":"split","wires":[["cf681ad132ea44c5"]],"x":630,"y":561.5,"z":"b1430ea37ba7cc19"},{"count":1,"id":"76f7ebd0ea18f879","name":"","type":"ut-assert-success","wires":[],"x":950,"y":762.5,"z":"b1430ea37ba7cc19"},{"action":"","from":"","id":"3412312ba43c16d6","name":"","property":"","reg":false,"rules":[{"p":"payload","pt":"msg","t":"set","to":"$count($$.payload)","tot":"jsonata"}],"to":"","type":"change","wires":[["b71cba83e2e7a1fc"]],"x":957,"y":563,"z":"b1430ea37ba7cc19"},{"id":"b71cba83e2e7a1fc","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"8","tot":"num"}],"type":"ut-assert-values","wires":[[]],"x":1232.7143096923828,"y":563,"z":"b1430ea37ba7cc19"}]