testflows/9f7351d7a7304584/flows.json
[
    {
        "id": "9f7351d7a7304584",
        "type": "tab",
        "label": "[file in] warning if no file name is defined",
        "disabled": false,
        "info": "Debug warning but no exception.",
        "env": []
    },
    {
        "id": "cdbabcb6b51061f9",
        "type": "inject",
        "z": "9f7351d7a7304584",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 174,
        "y": 320,
        "wires": [
            [
                "6fbffd6301651ed1"
            ]
        ]
    },
    {
        "id": "6fbffd6301651ed1",
        "type": "file in",
        "z": "9f7351d7a7304584",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 383,
        "y": 510.5,
        "wires": [
            []
        ]
    },
    {
        "id": "086ad03d0ae1781c",
        "type": "catch",
        "z": "9f7351d7a7304584",
        "name": "",
        "scope": [
            "6fbffd6301651ed1"
        ],
        "uncaught": false,
        "x": 458.3332824707031,
        "y": 434.9999752044678,
        "wires": [
            [
                "623be432456a2b70"
            ]
        ]
    },
    {
        "id": "623be432456a2b70",
        "type": "ut-assert-failure",
        "z": "9f7351d7a7304584",
        "name": "",
        "x": 806.6666259765625,
        "y": 438.33331298828125,
        "wires": []
    }
]