testflows/9f7351d7a7304584/flows.json
[{"disabled":false,"env":[],"id":"9f7351d7a7304584","info":"","label":"[file in] warning if no file name is defined","type":"tab"},{"crontab":"","id":"cdbabcb6b51061f9","name":"","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"","type":"inject","wires":[["6fbffd6301651ed1"]],"x":174,"y":320,"z":"9f7351d7a7304584"},{"allProps":false,"chunk":false,"encoding":"none","filename":"","filenameType":"str","format":"utf8","id":"6fbffd6301651ed1","name":"","sendError":false,"type":"file in","wires":[[]],"x":383,"y":510.5,"z":"9f7351d7a7304584"},{"id":"28e29547e7ce42ff","inverse":false,"msgtype":"warning","name":"","nodeid":"6fbffd6301651ed1","scope":["6fbffd6301651ed1"],"type":"ut-assert-debug","wires":[["975c78138d7a4e7e"]],"x":581,"y":406.5,"z":"9f7351d7a7304584"},{"id":"975c78138d7a4e7e","ignore_failure_if_succeed":false,"name":"","rules":[{"p":"debug.nodeid","pt":"msg","t":"eql","to":"6fbffd6301651ed1","tot":"str"},{"p":"debug.type","pt":"msg","t":"eql","to":"warning","tot":"str"},{"p":"payload['level']","pt":"msg","t":"eql","to":"30","tot":"num"},{"p":"payload.id","pt":"msg","t":"eql","to":"6fbffd6301651ed1","tot":"str"},{"p":"payload.msg","pt":"msg","t":"eql","to":"No file specified","tot":"str"},{"p":"payload.name","pt":"msg","t":"eql","to":"file in","tot":"str"}],"type":"ut-assert-values","wires":[[]],"x":854,"y":333,"z":"9f7351d7a7304584"}]