testflows/51870a76d1aaf67a/flows.json
[{"id":"51870a76d1aaf67a","type":"tab","label":"[link nodes] _linkSource support","disabled":false,"info":"_linkSource attribute is added to the msg when a link call node calls a link in node.\n\nthe link out at the end (in return mode) has to parse that array and send a response to all link call nodes. the _linkSource value is an array of:\n\n```\n{\n    id: \"c4f776e68f0f41316070f4515aae\"\n    node: \"4e1eb4eaffc03a7e\"\n}\n```\n\nthe id can be ignored but the `node` value is the id of the link call node.\n\nA link call node represents a special message becausaae I can't send it a `{incoming,..}` message since that will retrigger the call to link in node....\n\n","env":[]},{"id":"3e05a804bf89cb28","type":"link in","z":"51870a76d1aaf67a","name":"test for linkSource","links":[],"x":482,"y":296.5,"wires":[["e7141bf3a361eeb0","0d635baeb63d1435"]]},{"id":"4e1eb4eaffc03a7e","type":"link call","z":"51870a76d1aaf67a","name":"","links":["3e05a804bf89cb28"],"linkType":"static","timeout":"30","x":482,"y":525,"wires":[["7c9eb5cc91fa37f7"]]},{"id":"e7141bf3a361eeb0","type":"link out","z":"51870a76d1aaf67a","name":"link out 141","mode":"return","links":[],"x":699,"y":296.5,"wires":[]},{"id":"7c5207249ee2f6ba","type":"inject","z":"51870a76d1aaf67a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":244,"y":525,"wires":[["4e1eb4eaffc03a7e"]]},{"id":"7c9eb5cc91fa37f7","type":"ut-assert-success","z":"51870a76d1aaf67a","name":"","count":1,"x":768,"y":424,"wires":[]},{"id":"0d635baeb63d1435","type":"ut-assert-success","z":"51870a76d1aaf67a","name":"","count":1,"x":684,"y":119,"wires":[]}]