examples/def45a46c8f4da72/flows.json
[{"id":"def45a46c8f4da72","type":"tab","label":"[change] support nested array indicies - setting & getting & deleting","disabled":false,"info":"# Mix of arrays and maps\n\nNode-RED is capable of mixing array indexing and object access, that looks like this:\n\n```\n{ \"payload\":\n    {\n        \"key\": [1, { \n                \"key2\": \"value\"\n            }, 2]\n    }\n}\n```\n\nusing `payload.key.1.key2` gives `value`. Notice that Node-RED is zero-based indexing while Erlang is 1-based indexing, so Erlang-Red is also zero-based array indexing.\n\nAlso using `payload.key[1].key2` gives the same result.\n","env":[]},{"id":"8e7e96a0c1e99381","type":"change","z":"def45a46c8f4da72","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"array\":[0,1,{\"object\":[2,3,4,{\"object\":[1,\"value\"]}]}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":394,"y":267.75,"wires":[["73219477661f5439","ddcaad6d8312acc9"]]},{"id":"8786ac5c99bc630a","type":"inject","z":"def45a46c8f4da72","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":168,"y":267.75,"wires":[["8e7e96a0c1e99381"]]},{"id":"73219477661f5439","type":"change","z":"def45a46c8f4da72","name":"","rules":[{"t":"set","p":"payload.array.2.object.3.object[1]","pt":"msg","to":"another value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":704,"y":374,"wires":[["daa01ebcac168a76"]]},{"id":"ddcaad6d8312acc9","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload.array.2.object.3.object[1]","pt":"msg","to":"value","tot":"str"}],"x":767,"y":267.75,"wires":[[]]},{"id":"daa01ebcac168a76","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload.array.2.object.3.object[1]","pt":"msg","to":"another value","tot":"str"}],"x":1138,"y":374,"wires":[[]]},{"id":"d47b9afc87fabbc7","type":"inject","z":"def45a46c8f4da72","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"key\":[1,{\"key2\":\"value\"},2]}","payloadType":"json","x":148.9998779296875,"y":1251.5,"wires":[["74223d795e20a998"]]},{"id":"74223d795e20a998","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload.key.1.key2","pt":"msg","to":"value","tot":"str"},{"t":"eql","p":"payload.key[1]key2","pt":"msg","to":"value","tot":"str"}],"x":593,"y":1251.5,"wires":[[]]},{"id":"0f3d2b3850c0c0f5","type":"inject","z":"def45a46c8f4da72","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"key\":[1,{\"key2\":\"value\"},2]}","payloadType":"json","x":173.9998779296875,"y":615.6666259765625,"wires":[["85d50336ac74421a","bb4883d647e0e5bf","d688949350faac2c","fad65bdddd44ca96"]]},{"id":"85d50336ac74421a","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload.key.1.key2","pt":"msg","to":"value","tot":"str"},{"t":"eql","p":"payload.key[1]key2","pt":"msg","to":"value","tot":"str"}],"x":436.9998779296875,"y":706.6666259765625,"wires":[[]]},{"id":"bb4883d647e0e5bf","type":"change","z":"def45a46c8f4da72","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.key[1]key2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":435.9998779296875,"y":566.1666259765625,"wires":[["4c398127f83f23d4"]]},{"id":"4c398127f83f23d4","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"value","tot":"str"}],"x":680.9998779296875,"y":529.1666259765625,"wires":[[]]},{"id":"d688949350faac2c","type":"change","z":"def45a46c8f4da72","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.key[1]\"key2\"","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":439.9998779296875,"y":657.6666259765625,"wires":[["90a1cd0d45f01204"]]},{"id":"90a1cd0d45f01204","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"value","tot":"str"}],"x":680.9998779296875,"y":706.6666259765625,"wires":[[]]},{"id":"fad65bdddd44ca96","type":"change","z":"def45a46c8f4da72","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.key[1]\"key2\"","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":436.9998779296875,"y":616.7916259765625,"wires":[["e5587f694f6fe23e"]]},{"id":"e5587f694f6fe23e","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"value","tot":"str"}],"x":680.9998779296875,"y":616.7916259765625,"wires":[[]]},{"id":"3a2b56a823d9a8a9","type":"inject","z":"def45a46c8f4da72","name":"","props":[{"p":"payload"},{"p":"key['ddd']fubar","v":"dd","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"key\":[1,{\"key2\":\"value\"},2]}","payloadType":"json","x":148.9998779296875,"y":835.6666259765625,"wires":[["aeb560f5e49b2232"]]},{"id":"aeb560f5e49b2232","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"key['ddd'].fubar","pt":"msg","to":"dd","tot":"str"}],"x":553,"y":835.6666259765625,"wires":[[]]},{"id":"eefd0c391f0c76cd","type":"inject","z":"def45a46c8f4da72","name":"","props":[{"p":"payload"},{"p":"key[\"ddd\"]fubar[\"d\"]123","v":"dd","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"key\":[1,{\"key2\":\"value\"},2]}","payloadType":"json","x":148.9998779296875,"y":953.1666259765625,"wires":[["cb9c2c9149ee6ea0"]]},{"id":"cb9c2c9149ee6ea0","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"key.ddd.fubar.d[\"123\"]","pt":"msg","to":"dd","tot":"str"}],"x":533,"y":953.1666259765625,"wires":[[]]},{"id":"ead155777d4076f5","type":"inject","z":"def45a46c8f4da72","name":"","props":[{"p":"payload"},{"p":"key[\"ddd\"]fubar[\"d\"].123.12","v":"dd","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"key\":[1,{\"key2\":\"value\"},2]}","payloadType":"json","x":148.9998779296875,"y":1046.1666259765625,"wires":[["d0f7c4c768a41267"]]},{"id":"d0f7c4c768a41267","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"key.ddd.fubar.d[123][\"12\"]","pt":"msg","to":"dd","tot":"str"}],"x":523,"y":1046.1666259765625,"wires":[[]]},{"id":"d6c3015c98fba655","type":"inject","z":"def45a46c8f4da72","name":"","props":[{"p":"key[\"ddd\"]fubar[\"d\"].123.12.23","v":"dd","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":148.9998779296875,"y":1157.1666345596313,"wires":[["1c1106d3968ebc2e"]]},{"id":"1c1106d3968ebc2e","type":"ut-assert-values","z":"def45a46c8f4da72","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"key.ddd.fubar.d[123][12][\"23\"]","pt":"msg","to":"dd","tot":"str"}],"x":513,"y":1157.1666345596313,"wires":[[]]}]